{
  requires = ( MAIN );

  publicResources = (
  );

  factories = {
  };
  
  classes = {
    SOGoRootPage = {
      superclass  = "SoComponent";
      protectedBy = "View";
      defaultRoles = {
        "View" = ( "Authenticated", "FreeBusy" );
      };
    };
    SOGoUserFolder = {
      superclass  = "SOGoFolder";
      protectedBy = "HomePage Access";
      defaultRoles = {
        "Homepage Access" = ( "Owner", "Assistant", "Delegate", "FreeBusy" );
        "WebDAV Access" = ( "Owner", "Assistant", "Delegate", "FreeBusy" );
        "Access Contents Information" = ( "Owner", "Assistant", "Delegate",
                                          "FreeBusy" );
      };
    };
    SOGoFolder = {
      superclass    = "SOGoObject";
      protectedBy = "Access Contents Information";
      defaultRoles = {
        "Add Documents, Images, and Files" = ( "Owner", "Delegate" );
        "View"          = ( "Owner", "Delegate", "Assistant" );
        "WebDAV Access" = ( "Owner", "Delegate", "Assistant" );
        "Access Contents Information" = ( "Owner", "Assistant", "Delegate" );
        "ReadAcls" = ( "Owner", "Delegate", "Assistant" );
        "SaveAcls" = ( "Owner" );
      };
    };
    SOGoGroupsFolder = {
      superclass    = "SOGoObject";
      protectedBy = "View";
    };
    SOGoGroupFolder = {
      superclass    = "SOGoObject";
      protectedBy = "View";
    };
    SOGoCustomGroupFolder = {
      superclass = "SOGoGroupFolder";
      protectedBy = "View";
    };
  };

  categories = {
    SOGo = { // TODO: move decls to class
      methods = {
        index = { 
          protectedBy = "View";
          pageName    = "SOGoRootPage"; 
        };
        GET = { // more or less a hack, see README of dbd
          protectedBy = "View";
          pageName    = "SOGoRootPage"; 
        };
      };
    };
    SOGoRootPage = {
    };
    SOGoUserFolder = {
      methods = {
        view = { 
          protectedBy = "HomePage Access";
          pageName    = "SOGoUserHomePage"; 
        };
        edit = { 
          protectedBy = "HomePage Access";
          pageName    = "SOGoUserHomePage"; 
          actionName  = "saveInternetAccessState";
        };
        /*
          GET = { // more or less a hack, see README of dbd
            protectedBy = "HomePage Access";
            pageName    = "SOGoUserHomePage"; 
          };
        */
      };
    };
    SOGoGroupsFolder = {
      methods = {
        index = { 
          protectedBy = "View";
          pageName    = "SOGoGroupsPage"; 
        };
      };
    };
    SOGoGroupFolder = {
      methods = {
        index = { 
          protectedBy = "View";
          pageName    = "SOGoGroupPage"; 
        };
      };
    };
    SOGoFreeBusyObject = {
      methods = {
        ajaxRead = { 
          protectedBy = "View";
          pageName = "SOGoUserHomePage"; 
          actionName = "readFreeBusy";
        };
      };
    };
    SOGoCustomGroupFolder = {
      methods = {
      };
    };
  };
}
