{
  requires = ( MAIN );

  publicResources = (
  );

  factories = {
  };
  
  classes = {
    SOGoRootPage = {
      superclass  = "SoComponent";
      protectedBy = "View";
      defaultRoles = {
        "View" = ( "Authenticated", "FreeBusy" );
      };
    };
    SOGoFolder = {
      superclass = "SOGoObject";
      protectedBy = "<public>";
      defaultAccess = "allow";
      defaultRoles = {
        "Add Documents, Images, and Files" = ( "Owner", "ObjectCreator" );
        "View" = ( "Owner", "AuthorizedSubscriber" );
        "Access Contents Information" = ( "Owner", "ObjectViewer", "AuthorizedSubscriber" );
	"Change Images And Files"  = ( "Owner", "ObjectEditor" );
        "WebDAV Access" = ( "Owner", "AuthorizedSubscriber" );
        "ReadAcls" = ( "Owner", "AuthorizedSubscriber" );
        "SaveAcls" = ( "Owner" );
        "Delete Objects" = ( "Owner", "ObjectEraser" );
      };
    };
  };

  categories = {
    SOGo = { // TODO: move decls to class
      methods = {
        index = { 
          protectedBy = "View";
          pageName    = "SOGoRootPage"; 
        };
        GET = { // more or less a hack, see README of dbd
          protectedBy = "View";
          pageName    = "SOGoRootPage"; 
        };
      };
    };
    SOGoRootPage = {
    };
    SOGoUserFolder = {
      methods = {
        view = {
          protectedBy = "View";
          pageName    = "SOGoUserHomePage";
        };
      };
    };
    SOGoGroupsFolder = {
      methods = {
        index = { 
          protectedBy = "View";
          pageName    = "SOGoGroupsPage"; 
        };
      };
    };
    SOGoGroupFolder = {
      methods = {
        index = { 
          protectedBy = "View";
          pageName    = "SOGoGroupPage"; 
        };
      };
    };
    SOGoFreeBusyObject = {
      methods = {
        ajaxRead = { 
          protectedBy = "View";
          pageName = "SOGoUserHomePage"; 
          actionName = "readFreeBusy";
        };
      };
    };
    SOGoCustomGroupFolder = {
      methods = {
      };
    };
  };
}
