/* ZideStore UI Stylesheet */

/* common stuff */

body {
  color:            #000000;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        10pt;
  background-color: #FFFFFF;
  margin:           0px;
  margin-top:       0px;
  margin-bottom:    0px;
  margin-left:      0px;
  margin-right:     0px;
}

a:link {
  color:       #0033CC;
  font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}
a:visited {
  color:       #660066;
  font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}
a:hover {
  color:       #FF0000;
  font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
}

.linecolor {
  background-color: #06348B;
}

font.defaultfont {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        8pt;
  color:            #000000;
}

.window_label {
  color:            #06348b;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        12pt;
  font-weight:      bold;
}


/* tabs */

.tab {
  color:            #000000;
  background-color: #e8e8e0;
  font-size:        10pt;
  text-decoration:  none;
  width:            100px; 
  height:           22px;
  border-top:       1px solid #06348b;
  border-right:     1px solid #06348b;
}

.tab a {
  color:            #000000;
  border:           none;
  text-decoration:  none;
}

.tab_selected {
  color:            #000000;
  background-color: #f5f5e9;
  font-size:        10pt;
  text-decoration:  none;
  font-weight:      bold;
  width:            100px; 
  height:           22px;
  border-top:       1px solid #06348b;
  border-right:     1px solid #06348b;
}

.tab_selected a {
  color:            #000000;
  border:           none;
  text-decoration:  none;
}

.tabview_body {
  background-color: #f5f5e9;
}


/* buttons */

.button_auto_env {
  height:           16px;
  text-align:       center;
  vertical-align:   middle;
  padding:          0px 0px 0px 0px;
  margin:           0px 0px 0px 0px;
  overflow:         hidden;
}

.button_auto_env a {
  text-decoration:  none;
  color:            #000000;
}

.button_auto_env a:hover {
  text-decoration:  underline;
  color:            #ff0000;
}

.button_auto {
  height:           20px;
  border-style:     outset;
  border-color:     #DDDDDD;
  border-width:     2px;
  color:            #000000;
  background-color: #e8e8e0;
  font-size:        8pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  text-decoration:  none;
  text-color:       #000000;
  text-align:       center;
  vertical-align:   middle;
  padding-left:     5px;
  padding-right:    5px;
  padding-top:      1px;
  padding-bottom:   1px;
  overflow:         hidden;
}


/* header */

div#header {
  margin-left:  5px;
  margin-right: 5px;
  padding:      0;
  border-bottom: 1px solid #000000;
}
div#header img.headerlogo {
  float:  right; 
  width:  182px; 
  height: 30px;
}

div#header div#headerhistory {
  font-size:   11px;
  color:       #000000;
  margin:      0px;
  padding-top: 18px;
  height:      12px;
}
div#header a, div#header span {
  margin:      0px;
}
div#header span#navtitle {
  font-weight: bold;
}
div#header a:hover {
  text-decoration: none;
}

/* the dock */

a.skydockfont {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        8pt;
  color:            #06348B;
}
font.skydockfont {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        8pt;
  color:            #06348B;
}
font.skydockfont_inactiveMail {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        8pt;
  color:            #CCCCCC;
  font-weight:      bold;
}
font.skydockfont_newMail {
  text-decoration:  none;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        8pt;
  color:            #06348B;
  font-weight:      bold;
}
table.skytextdocktable {
  padding:        0px;
  table-layout:   auto;
}
