/// card.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-
@import 'extends';

md-card {
  overflow: hidden;

  md-card-content {
    order: 1;
    transition: $swift-ease-in-out;
  }

  &.md-default-theme {
    background-color: sg-color($sogoPaper, 50);
  }
}
