/// card.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-
@import 'extends';

md-card {

  md-card-content {
    overflow-y: auto;
    transition: $swift-ease-in-out;
  }

  // Collapsed/expanded states for cards in ACL editor
  &.sg-collapsed, &.sg-expanded {
    transition: $swift-ease-in-out;
    transition-delay: 0s;
    > .md-button {
      margin: 0;
      flex-direction: row;
    }
    .md-icon-button {
      transition: $swift-linear;
      transition-delay: 0.2s;
      opacity: 1;
      &.ng-hide {
        transition: $swift-linear;
        opacity: 0;
      }
    }
    md-card-content {
      order: 1;
      transition: $swift-ease-in-out;
      transition-delay: 0.1s;
      max-height: 500px;
      &.ng-hide {
        max-height: 0;
        padding-bottom: 0;
        padding-top: 0;
      }
    }
  }

  &.sg-collapsed {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  &.sg-expanded {
    @extend .md-whiteframe-z2;
    margin: 0 0 1px 0;
    &-remove {
      transition-delay: 0.5s;
    }
  }

  .md-button {
    .sg-tile-content {
      text-align: left;
      text-transform: none;
    }
  }
}
