@import 'extends';

$card-margin: 8px !default;
$card-box-shadow: $whiteframe-shadow-z1 !default;

md-card {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: sg-color($sogoPaper, 50);

  box-shadow: $card-box-shadow;

  > img {
    order: 0;
    width: 100%;
  }

  md-card-content {
    order: 1;
    transition: $swift-ease-in-out;
  }
}
