/// card.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-
@import 'extends';

md-card {
  overflow: hidden;

  md-card-content {
    order: 1;
    transition: $swift-ease-in-out;
  }

  &.md-default-theme {
    background-color: sg-color($sogoPaper, 50);
  }

  &.sg-collapsed {
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
    > .md-button {
      margin: 0;
    }
  }

  &.sg-expanded {
    margin-left: 0;
    margin-right: 0;
  }

  .md-button {
    .sg-tile-content {
      text-align: left;
      text-transform: none;
    }
  }
}
