///
/// @filename _extends.scss
/// @project SOGo
/// @version 3.alpha
/// @module icon
///
/// Imports Material Design Iconic Font 1.0.1 from Bower components for extends
/// Sources must be imported here to prevent overrides by updates
/// The source scss MUST be customized it contains mixin that caused dammages
/// if not compiled in a specific order
/// todo : build with grunt
///
//@import "../../../angular-material/src/components/icon/icon.scss";
@import "../../../bower_components/material-design-iconic-font/scss/_variables";
// variables in source are not defaulted, we MUST override here
// relative (to css) path for src fonts
$md-font-path: "../fonts";
// Set style directive prefix to "md-icon-"
$md-css-prefix: md-icon;
@import "../../../bower_components/material-design-iconic-font/scss/_mixins";
//@import "../../../bower_components/material-design-iconic-font/scss/_path"; // Overiden with base64 src
@import "../../../bower_components/material-design-iconic-font/scss/_core";
@import "../../../bower_components/material-design-iconic-font/scss/_sizes";
@import "../../../bower_components/material-design-iconic-font/scss/_border";
@import "../../../bower_components/material-design-iconic-font/scss/_pulled";
@import "../../../bower_components/material-design-iconic-font/scss/_spinned";
@import "../../../bower_components/material-design-iconic-font/scss/_rotated";
@import "../../../bower_components/material-design-iconic-font/scss/_icons";