///
///
/// @filename _icon.scss
/// @project SOGo
/// @version 3.alpha
///
/// Main icon module file extends Bower component
///
///

@import 'extends';
/**
  MD-ICONS
  Usage: place Material Design Iconic Font icons on almost any elemnt using the Prefix md-icon
  and the icon's name (http://zavoloklom.github.io/material-design-iconic-font/icons.html)
  exemple : <i class="md-icon-more-horiz></i>

  To increase icon sizes relative to their container, append lg, 2x, 3x, 4x, or 5x to the icon class.
  exemple : <i class="md-icon-more-horiz-2x></i>

  To arbitrarily rotate and flip icons, use the md-icon-rotate-* and md-icon-flip-* classes.

  Other features at : http://zavoloklom.github.io/material-design-iconic-font/examples.html
*/



