/// _base_style.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-


main {
  background-color: $background-base-color;
}

// Utility class to add padding on containers
// Because of the border-box sizing model, padding can affect width specialy
// in nested containers
.sg-padded {
  padding-left: $mg;
  padding-right: $mg;
}

.sg-logo {
  background-image: url("../img/sogo-full.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 7 * $bl;
  min-width: 18 * $bl;
  //optical adjustement
  transform: translateY(-10%);
}
