/**
 *
 * @filename _base_styles.scss
 * @project SOGo
 * @version 3.alpha
 *
 * Define basic general styles for base elements
 *
 *
 */


main {
  background-color: sg-color($sogoPaper, 200);
  padding-bottom: $toolbar-height; // padding to compensate for the bottom bar
}

.sg-logo {
  background-image: url("../img/sogo-full.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin: $bl 0 0 $mg;
  height: 7 * $bl;
  min-width: 18 * $bl;
}
