[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.animate-show {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white; }

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  display: block !important; }

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px; }

.reveal-modal .close-reveal-modal:hover {
  color: #aaa; }

._selected {
  /* -webkit-border-radius: 2px; */
  /*    -moz-border-radius: 2px; */
  /*         border-radius: 2px; */ }
