@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-wn3us4');
	src:url('../fonts/icomoon.eot?#iefix-wn3us4') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-wn3us4') format('woff'),
		url('../fonts/icomoon.ttf?-wn3us4') format('truetype'),
		url('../fonts/icomoon.svg?-wn3us4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ion-alert-circled:before {
	content: "\f100";
}
.icon-ion-android-calendar:before {
	content: "\f2d1";
}
.icon-ion-android-call:before {
	content: "\f2d2";
}
.icon-ion-android-camera:before {
	content: "\f2d3";
}
.icon-ion-android-checkmark:before {
	content: "\f2d5";
}
.icon-ion-android-close:before {
	content: "\f2d7";
}
.icon-ion-android-earth:before {
	content: "\f2df";
}
.icon-ion-android-inbox:before {
	content: "\f2e5";
}
.icon-ion-android-information:before {
	content: "\f2e6";
}
.icon-ion-android-location:before {
	content: "\f2ea";
}
.icon-ion-android-more:before {
	content: "\f2ee";
}
.icon-ion-android-printer:before {
	content: "\f2f1";
}
.icon-ion-android-search:before {
	content: "\f2f5";
}
.icon-ion-android-send:before {
	content: "\f2f6";
}
.icon-ion-android-star:before {
	content: "\f2fc";
}
.icon-ion-android-system-back:before {
	content: "\f2ff";
}
.icon-ion-archive:before {
	content: "\f102";
}
.icon-ion-calendar:before {
	content: "\f117";
}
.icon-ion-checkmark-circled:before {
	content: "\f120";
}
.icon-ion-checkmark-round:before {
	content: "\f121";
}
.icon-ion-checkmark:before {
	content: "\f122";
}
.icon-ion-clipboard:before {
	content: "\f127";
}
.icon-ion-close-round:before {
	content: "\f129";
}
.icon-ion-close:before {
	content: "\f12a";
}
.icon-ion-compose:before {
	content: "\f12c";
}
.icon-ion-document:before {
	content: "\f12f";
}
.icon-ion-drag:before {
	content: "\f130";
}
.icon-ion-earth:before {
	content: "\f276";
}
.icon-ion-edit:before {
	content: "\f2bf";
}
.icon-ion-email:before {
	content: "\f132";
}
.icon-ion-folder:before {
	content: "\f139";
}
.icon-ion-forward:before {
	content: "\f13a";
}
.icon-ion-grid:before {
	content: "\f13f";
}
.icon-ion-image:before {
	content: "\f147";
}
.icon-ion-ios7-at-outline:before {
	content: "\f156";
}
.icon-ion-ios7-at:before {
	content: "\f157";
}
.icon-ion-ios7-bookmarks-outline:before {
	content: "\f15c";
}
.icon-ion-ios7-bookmarks:before {
	content: "\f15d";
}
.icon-ion-ios7-calendar-outline:before {
	content: "\f162";
}
.icon-ion-ios7-calendar:before {
	content: "\f163";
}
.icon-ion-ios7-checkmark-outline:before {
	content: "\f16d";
}
.icon-ion-ios7-close-empty:before {
	content: "\f2bd";
}
.icon-ion-ios7-close-outline:before {
	content: "\f2bb";
}
.icon-ion-ios7-compose-outline:before {
	content: "\f17d";
}
.icon-ion-ios7-compose:before {
	content: "\f17e";
}
.icon-ion-ios7-contact-outline:before {
	content: "\f17f";
}
.icon-ion-ios7-contact:before {
	content: "\f180";
}
.icon-ion-ios7-email-outline:before {
	content: "\f186";
}
.icon-ion-ios7-email:before {
	content: "\f187";
}
.icon-ion-ios7-filing-outline:before {
	content: "\f18c";
}
.icon-ion-ios7-filing:before {
	content: "\f18d";
}
.icon-ion-ios7-flag-outline:before {
	content: "\f190";
}
.icon-ion-ios7-flag:before {
	content: "\f191";
}
.icon-ion-ios7-folder-outline:before {
	content: "\f192";
}
.icon-ion-ios7-folder:before {
	content: "\f193";
}
.icon-ion-ios7-location-outline:before {
	content: "\f1a5";
}
.icon-ion-ios7-location:before {
	content: "\f1a6";
}
.icon-ion-ios7-more:before {
	content: "\f1b4";
}
.icon-ion-ios7-paperplane:before {
	content: "\f1ba";
}
.icon-ion-ios7-people:before {
	content: "\f1c0";
}
.icon-ion-ios7-person:before {
	content: "\f1c2";
}
.icon-ion-ios7-plus:before {
	content: "\f1cb";
}
.icon-ion-ios7-redo-outline:before {
	content: "\f1d2";
}
.icon-ion-ios7-redo:before {
	content: "\f1d3";
}
.icon-ion-ios7-refresh-empty:before {
	content: "\f1d4";
}
.icon-ion-ios7-reload:before {
	content: "\f28e";
}
.icon-ion-ios7-telephone-outline:before {
	content: "\f1e5";
}
.icon-ion-ios7-trash-outline:before {
	content: "\f1eb";
}
.icon-ion-ios7-trash:before {
	content: "\f1ec";
}
.icon-ion-ios7-upload-outline:before {
	content: "\f1f1";
}
.icon-ion-ios7-upload:before {
	content: "\f1f2";
}
.icon-ion-link:before {
	content: "\f1fe";
}
.icon-ion-location:before {
	content: "\f1ff";
}
.icon-ion-log-in:before {
	content: "\f29e";
}
.icon-ion-log-out:before {
	content: "\f29f";
}
.icon-ion-map:before {
	content: "\f203";
}
.icon-ion-minus-circled:before {
	content: "\f207";
}
.icon-ion-minus-round:before {
	content: "\f208";
}
.icon-ion-more:before {
	content: "\f20b";
}
.icon-ion-navicon-round:before {
	content: "\f20d";
}
.icon-ion-navicon:before {
	content: "\f20e";
}
.icon-ion-paper-airplane:before {
	content: "\f2c3";
}
.icon-ion-paperclip:before {
	content: "\f20f";
}
.icon-ion-person-add:before {
	content: "\f211";
}
.icon-ion-person-stalker:before {
	content: "\f212";
}
.icon-ion-person:before {
	content: "\f213";
}
.icon-ion-plus-round:before {
	content: "\f217";
}
.icon-ion-pricetag:before {
	content: "\f2aa";
}
.icon-ion-pricetags:before {
	content: "\f2ab";
}
.icon-ion-refresh:before {
	content: "\f21c";
}
.icon-ion-reply-all:before {
	content: "\f21d";
}
.icon-ion-reply:before {
	content: "\f21e";
}
.icon-ion-search:before {
	content: "\f21f";
}
.icon-ion-share:before {
	content: "\f220";
}
.icon-ion-trash-a:before {
	content: "\f252";
}
.icon-ion-trash-b:before {
	content: "\f253";
}
.icon-undo:before {
	content: "\e608";
}
.icon-pen:before {
	content: "\e609";
}
.icon-earth:before {
	content: "\e60f";
}
.icon-minus:before {
	content: "\e614";
}
.icon-plus:before {
	content: "\e617";
}
.icon-cancel:before {
	content: "\e618";
}
.icon-trash:before {
	content: "\e619";
}
.icon-user:before {
	content: "\e61a";
}
.icon-users:before {
	content: "\e61b";
}
.icon-pencil:before {
	content: "\e61c";
}
.icon-image:before {
	content: "\e61d";
}
.icon-book:before {
	content: "\e61e";
}
.icon-file:before {
	content: "\e61f";
}
.icon-file2:before {
	content: "\e620";
}
.icon-tag:before {
	content: "\e621";
}
.icon-tags:before {
	content: "\e622";
}
.icon-phone:before {
	content: "\e623";
}
.icon-address-book:before {
	content: "\e624";
}
.icon-notebook:before {
	content: "\e625";
}
.icon-envelop:before {
	content: "\e626";
}
.icon-location:before {
	content: "\e627";
}
.icon-location2:before {
	content: "\e628";
}
.icon-history:before {
	content: "\e629";
}
.icon-calendar:before {
	content: "\e62a";
}
.icon-undo2:before {
	content: "\e62b";
}
.icon-user3:before {
	content: "\e62c";
}
.icon-users3:before {
	content: "\e62d";
}
.icon-cog:before {
	content: "\e62e";
}
.icon-remove:before {
	content: "\e62f";
}
.icon-remove2:before {
	content: "\e630";
}
.icon-switch:before {
	content: "\e631";
}
.icon-signup:before {
	content: "\e632";
}
.icon-menu:before {
	content: "\e600";
}
.icon-menu2:before {
	content: "\e601";
}
.icon-earth3:before {
	content: "\e633";
}
.icon-flag:before {
	content: "\e634";
}
.icon-attachment:before {
	content: "\e635";
}
.icon-bookmark:before {
	content: "\e636";
}
.icon-star:before {
	content: "\e637";
}
.icon-star2:before {
	content: "\e638";
}
.icon-warning:before {
	content: "\e639";
}
.icon-notification:before {
	content: "\e63a";
}
.icon-info:before {
	content: "\e63b";
}
.icon-cancel-circle:before {
	content: "\e63c";
}
.icon-checkmark-circle:before {
	content: "\e63d";
}
.icon-close:before {
	content: "\e63e";
}
.icon-checkmark:before {
	content: "\e63f";
}
.icon-minus3:before {
	content: "\e640";
}
.icon-plus3:before {
	content: "\e641";
}
.icon-radio-checked:before {
	content: "\e642";
}
.icon-radio-unchecked:before {
	content: "\e643";
}
.icon-mail:before {
	content: "\e644";
}
.icon-mail2:before {
	content: "\e645";
}
.icon-twitter:before {
	content: "\e646";
}
.icon-github:before {
	content: "\e647";
}
.icon-search2:before {
	content: "\e648";
}
.icon-add2:before {
	content: "\e649";
}
.icon-subtract:before {
	content: "\e64a";
}
.icon-exclamation:before {
	content: "\e64b";
}
.icon-question:before {
	content: "\e64c";
}
.icon-close3:before {
	content: "\e64d";
}
.icon-envelope:before {
	content: "\e64e";
}
.icon-calendar2:before {
	content: "\e64f";
}
.icon-hyperlink:before {
	content: "\e650";
}
.icon-trash3:before {
	content: "\e651";
}
.icon-attachment2:before {
	content: "\e652";
}
.icon-user4:before {
	content: "\e653";
}
.icon-users4:before {
	content: "\e654";
}
.icon-pin:before {
	content: "\e655";
}
.icon-pin-alt:before {
	content: "\e656";
}
.icon-office:before {
	content: "\e60a";
}
.icon-link:before {
	content: "\e60b";
}
.icon-happy:before {
	content: "\e60c";
}
.icon-envelope2:before {
	content: "\e681";
}
.icon-arrow-left:before {
	content: "\e60e";
}
.icon-phone2:before {
	content: "\e657";
}
.icon-mail3:before {
	content: "\e658";
}
.icon-paperplane:before {
	content: "\e659";
}
.icon-pencil2:before {
	content: "\e65a";
}
.icon-paperclip:before {
	content: "\e65b";
}
.icon-reply:before {
	content: "\e602";
}
.icon-reply-all:before {
	content: "\e603";
}
.icon-forward:before {
	content: "\e604";
}
.icon-user5:before {
	content: "\e65c";
}
.icon-users5:before {
	content: "\e65d";
}
.icon-vcard:before {
	content: "\e605";
}
.icon-location3:before {
	content: "\e65e";
}
.icon-share:before {
	content: "\e606";
}
.icon-star3:before {
	content: "\e65f";
}
.icon-star4:before {
	content: "\e660";
}
.icon-link2:before {
	content: "\e661";
}
.icon-book2:before {
	content: "\e662";
}
.icon-earth4:before {
	content: "\e663";
}
.icon-checkmark3:before {
	content: "\e664";
}
.icon-cross:before {
	content: "\e665";
}
.icon-minus4:before {
	content: "\e666";
}
.icon-plus4:before {
	content: "\e667";
}
.icon-cross2:before {
	content: "\e668";
}
.icon-minus5:before {
	content: "\e669";
}
.icon-plus5:before {
	content: "\e66a";
}
.icon-cross3:before {
	content: "\e66b";
}
.icon-minus6:before {
	content: "\e66c";
}
.icon-plus6:before {
	content: "\e66d";
}
.icon-info2:before {
	content: "\e66e";
}
.icon-warning2:before {
	content: "\e66f";
}
.icon-ccw:before {
	content: "\e670";
}
.icon-list:before {
	content: "\e607";
}
.icon-trash4:before {
	content: "\e671";
}
.icon-disk:before {
	content: "\e672";
}
.icon-bookmark2:before {
	content: "\e673";
}
.icon-bookmarks:before {
	content: "\e674";
}
.icon-arrow-left2:before {
	content: "\e675";
}
.icon-arrow-down:before {
	content: "\e676";
}
.icon-arrow-up:before {
	content: "\e677";
}
.icon-arrow-right:before {
	content: "\e678";
}
.icon-arrow-left22:before {
	content: "\e679";
}
.icon-arrow-down2:before {
	content: "\e67a";
}
.icon-arrow-up2:before {
	content: "\e67b";
}
.icon-uniE67C:before {
	content: "\e67c";
}
.icon-more:before {
	content: "\e67d";
}
.icon-cc-by:before {
	content: "\e67e";
}
.icon-ccw2:before {
	content: "\e67f";
}
.icon-back:before {
	content: "\e60d";
}
.icon-ellipsis:before {
	content: "\e680";
}
