/* TODO : remplacer par Google Web font loader (https://developers.google.com/fonts/docs/webfont_loader) */

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/ubuntu-b.eot');
    src: url('../fonts/ubuntu-b.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-b.woff2') format('woff2'),
         url('../fonts/ubuntu-b.woff') format('woff'),
         url('../fonts/ubuntu-b.ttf') format('truetype'),
         url('../fonts/ubuntu-b.svg#ubuntubold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/ubuntu-m.eot');
    src: url('../fonts/ubuntu-m.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-m.woff2') format('woff2'),
         url('../fonts/ubuntu-m.woff') format('woff'),
         url('../fonts/ubuntu-m.ttf') format('truetype'),
         url('../fonts/ubuntu-m.svg#ubuntumedium') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/ubuntu-l.eot');
    src: url('../fonts/ubuntu-l.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-l.woff2') format('woff2'),
         url('../fonts/ubuntu-l.woff') format('woff'),
         url('../fonts/ubuntu-l.ttf') format('truetype'),
         url('../fonts/ubuntu-l.svg#ubuntulight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntu';
    src: url('ubuntu-li.eot');
    src: url('ubuntu-li.eot?#iefix') format('embedded-opentype'),
         url('ubuntu-li.woff2') format('woff2'),
         url('ubuntu-li.woff') format('woff'),
         url('ubuntu-li.ttf') format('truetype'),
         url('ubuntu-li.svg#ubuntulight_italic') format('svg');
    font-weight: 300;
    font-style: italic;

}

@font-face {
    font-family: 'ubuntu';
    src: url('ubuntu-bi.eot');
    src: url('ubuntu-bi.eot?#iefix') format('embedded-opentype'),
         url('ubuntu-bi.woff2') format('woff2'),
         url('ubuntu-bi.woff') format('woff'),
         url('ubuntu-bi.ttf') format('truetype'),
         url('ubuntu-bi.svg#ubuntubold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'ubuntu';
    src: url('ubuntu-mi.eot');
    src: url('ubuntu-mi.eot?#iefix') format('embedded-opentype'),
         url('ubuntu-mi.woff2') format('woff2'),
         url('ubuntu-mi.woff') format('woff'),
         url('ubuntu-mi.ttf') format('truetype'),
         url('ubuntu-mi.svg#ubuntumedium_italic') format('svg');
    font-weight: 500;
    font-style: italic;

}

@font-face {
    font-family: 'ubuntu';
    src: url('ubuntu-r.eot');
    src: url('ubuntu-r.eot?#iefix') format('embedded-opentype'),
         url('ubuntu-r.woff2') format('woff2'),
         url('ubuntu-r.woff') format('woff'),
         url('ubuntu-r.ttf') format('truetype'),
         url('ubuntu-r.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntu';
    src: url('ubuntu-ri.eot');
    src: url('ubuntu-ri.eot?#iefix') format('embedded-opentype'),
         url('ubuntu-ri.woff2') format('woff2'),
         url('ubuntu-ri.woff') format('woff'),
         url('ubuntu-ri.ttf') format('truetype'),
         url('ubuntu-ri.svg#ubuntuitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}