config.make
tags
*._*
*/obj/
*._*
*/*/obj/
*/*/*/obj/
*/*/*.SOGo/
*.sax
*.wox/
*.swp
SoObjects/SOGo/SOGo.framework/
SoObjects/SOGo/derived_src/
Tests/*/config.py
UI/WebServerResources/.bowerrc
UI/WebServerResources/js/vendor/
UI/WebServerResources/bower_components/
UI/WebServerResources/node_modules/
UI/WebServerResources/scss/.sass-cache/
*.pyc
._*
Documentation/*.docbook
Documentation/*.pdf
.idea
