{
  requires = {
    classes = (
      { name = NSObject; }
    );
  };

  provides = {
    WOxElemBuilder = (
      { name = "SOGoElementsBuilder"; },
    );
    
    WODynamicElements = (
      { name = "SOGoIEConditional"; },
    );
    
    classes = (
      { name = "SOGoElementsBuilder"; },
    );
  };
}
