/// _view.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-

@import 'LoginUI.scss';
@import 'MailerUI.scss';
@import 'ContactsUI.scss';
@import 'MessageEditorUI';
@import 'SchedulerUI';

.view[layout=row],
.view.layout-row {
  max-height: 100%;
}

// We make intensive use of the list/detail view pattern, here are some base
// definitions for this
// ----------------------------------------------------------------------------

// Variables
$listView-width: grid-step(6) !global;
$detailView-width: grid-step(8) !global;

//[id="messagesList"] {
//  flex: 0 0 $listView-width;
//
//}
//
//[id ="contactsList"] {
//  flex: 0 1 $listView-width;
//  min-width: ($listView-width - ($pitch * 2));
//}

[class|="view"] {
  position: relative;

}

.view-list {
  z-index: ($z-index-view - 1);
  min-width: ($listView-width - ($pitch * 2));
  @include at(md){
    @include flex-col(md, 7, 1, 1);
    min-width: ($pitch * 3);
  }
  @include from(lg) {
    @include flex-col(lg, 6, 1, 0);
  }
  @include to(sm) {
    width: 100%;
    min-width: 100%;
  }
}

.view-detail {
  z-index: $z-index-view;
  overflow-x: hidden;
  background-color: transparent;
  @include at(md) {
    @include flex-col(md, 9);
    margin: 0;

  }
  @include from(lg) {
    @include flex-col(lg, 10, 2, 1);
    margin: 0;

  }

  // No animation on medium to large screens
  @include from(md) {
    .viewer {
      position: absolute;
      left: 0;
      right: 0;
      max-width: 100%;
//      transform: translate3d(0, 0, 0);
//      transition: all 0.5s $swift-ease-in-out-timing-function;
//      &.ng-enter {
//        transform: translate(-105%, 0);
//        &.ng-enter-active {
//          transform: translate(0, 0);
//          transition-delay: 0.5s;
//        }
//      }
//      &.ng-leave {
//        transition-delay: 0;
//        transition-duration: 0.1s;
//        transform: translate(0, 0);
//        &.ng-leave-active {
//          transition-delay: 0.1s;
//          transition-duration: 0.4s;
//          transform: translate(-105%, 100%);
//        }
//      }
    }
  }

  // On small screens, the view slides from the right and takes all screen place
  @include to(sm) {
    position: absolute;
    width: 100%;
    min-width: 100%;
    top: $toolbar-tall-height;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.5s $swift-ease-in-out-timing-function;
    &.sg-close {
      transform: translateX(100%);
    }
    &.ng-leave {
      &.ng-leave-active {
        transform: translateX(100%);
      }
    }
    &.ng-enter {
      transition: all 0.5s $swift-ease-in-out-timing-function;
      transform: translateX(100%);
      &.ng-enter-active {
        transform: translateX(0);
      }
    }
  }
}
