///
/// @filename _views.scss
/// @project SOGo
/// @version 3.alpha
/// @module views
///
///

@import 'MailerUI.scss';
// @import 'ContactsUI.scss';
@import 'MessageEditorUI';

.view[layout=row] {
  max-height: 100%;
}