/// AdministrationUI.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-

[ui-view="administration"] {
  [id="usersList"] > md-list {
    // Since the users list doesn't use the virtual repeater, force the vertical scroll
    position: absolute;
    top: $touch-zone-width;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    overflow-y: auto;

    .sg-folder .md-button {
      // Buttons in list-item to view the ACLs of a user's folder
      @extend .sg-no-wrap;
      flex: 1 1 auto;
      text-align: left;
      text-transform: none;
    }
  }

  .view-detail {
    @include from(md) {
      .viewer {
        // Leave space for a tall toolbar
        top: $toolbar-tall-height;
      }
    }
  }
}
