/*! ContactUI.scss */

[id ="contactsList"] {
  flex: 0 0 $listView-width;
}

[id = "contactsList"] .sg-md-subheader {
  transform: translateY(-100%); // Compensate the container top-margin
}
// md is overqualifying, we have to do the same to override
md-content[ui-view="card"] {
  background-color: sg-color($sogoPaper, 200);
}

// md is overqualifying, we have to do the same to override
md-card.viewer {
  width: $detailView-width;
}

// Contact editor
// ----------------------------------------------------------------------------
