/*! ContactUI.scss */

[id ="contactsList"] {
  flex: 0 1 $listView-width;
  min-width: ($listView-width - ($pitch * 2));
}

[id = "contactsList"] .sg-md-subheader {
  transform: translateY(-100%); // Compensate the container top-margin
}
// md is overqualifying, we have to do the same to override
md-content[ui-view="card"] {
  margin: 0 auto;
  background-color: sg-color($sogoPaper, 200);
}

// md is overqualifying, we have to do the same to override
md-card.viewer {
  min-width: ($detailView-width - ($pitch * 2));
}

// Contact editor
// ----------------------------------------------------------------------------
