/*! ContactUI.scss */

[id="contactsList"] {
  width: $messageList-width;
  max-width:$messageList-width;
  flex: 1 0 auto;
}

[id = "contactsList"] .sg-md-subheader {
  transform: translateY(-100%); // Compensate the container top-margin
}
// md is overqualifying, we have to do the same to override
md-content[data-ui-view="card"] {
  background-color: sg-color($sogoPaper, 200);
}