/// LoginUI.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-

[ui-view="login"] > md-content {
  width: grid-step(5);
}

[id=logo] img {
  max-width: 100%;
}

.sg-login {
  .md-button.md-raised {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 48px;
  }
  md-icon {
    color: #526261;
  }
  md-input-container.md-input-invalid > md-icon {
    color: red;
  }
  md-input-container.md-icon-float {
    margin-bottom: 10px;
  }
  md-select {
    margin-left: 14px;
    margin-top: 10px;
  }
}