/// LoginUI.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-



[ui-view="login"] > md-content {
  width: grid-step(5);
}

[id=logo] img {
  max-width: 100%;
}

label.login-lang {
  margin: 0 $bl $bl 0;
}
