/// MailerUI.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-

// Message view header
// Could be made into a more generic component
// ----------------------------------------------------------------------------
.msg-header {
//  padding-bottom: $mg; We should add a padding class to preserve genericity
}

[id="messagesList"] .sg-md-subheader {
  transform: translateY(-100%); // Compensate the container top-margin
}

.unread {
  .#{$md}-subhead-multi,
  .#{$md}-body-multi {
    font-weight: $sg-font-medium;
  }
  .msg-date {
    color: sg-color($sogoBlue, 600);
  }
}

.msg-header-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: stretch;
  justify-content: flex-start;
}

.msg-body {
  padding-top: $mg;
}

.msg-date {
  text-align: right;
}
// sg-md title don't fit in message headers
.sg-md-title-msg {
  @extend .sg-md-title;
  margin: 0;
  margin-bottom: $line;
  white-space: normal;
  font-weight: $sg-font-regular;
}

.mailer_mailcontent {
  @extend .sg-md-body-multi;
}
//$total-columns: 13;
//$column-gutter: 0;

//#pageContent {
//    //@include grid-row($behavior: nest);
//
//    #mailboxesList {
//        position: absolute;
//        top: $topbar-height;
//        bottom: 0;
//        background-color: #333;
//        @include grid-column($columns:13); //, $collapse:true);
//        @media #{$medium-up} {
//            @include grid-column($columns:3);
//        }
//        .newItemsToolbar {
//            margin-top: rem-calc(6);
//            text-align: center;
//            text-transform: uppercase;
//        }
//        .scrollView {
//            position: absolute;
//            overflow: auto;
//            overflow-x: hidden;
//            top: $topbar-height;
//            bottom: 0;
//            right: 0;
//            left: 0;
//            label {
//                padding-right: 0;
//                button {
//                    float: right;
//                    background-color: transparent;
//                    padding: 0;
//                    margin: 0;
//                    width: 32px;
//                }
//            }
//        }
//        .buttonsToolbar {
//            border-top: $off-canvas-link-border-bottom;
//            position: absolute;
//            bottom: 0px;
//            width: 100%;
//        }
//    }
//
//    #messagesList, #messageEditor {
//        position: absolute;
//        overflow: auto;
//        overflow-x: hidden;
//        top: $topbar-height;
//        bottom: 0;
//        left: 23.07692%;
//    }
//    #messagesList {
//        background-color: $f-dropdown-list-hover-bg;
//        @include grid-column($columns:13);
//        @media #{$medium-up} {
//            @include grid-column($columns:4);
//        }
//        ul {
//            margin: 0;
//            padding: 5px 0;
//            li {
//                list-style-type: none;
//                //border-bottom: $topbar-divider-border-bottom;
//                width: 100%;
//                height: 56px;
//                float: left;
//                clear: left;
//                //border: 2px solid #fff;
//                //-webkit-border-radius: 4px;
//                //-moz-border-radius: 4px;
//                //border-radius: 4px;
//                //transition: all 300ms ease;
//                background-color: $f-dropdown-list-hover-bg;
//                transition: background 300ms ease;
//                a {
//                    display: block;
//                    color: #666;
//                    //border-bottom: 1px dotted #ddd;
//                    //width: 100%;
//                    //font-size: $table-row-font-size;
//                    //line-height: $table-line-height;
//                    line-height: rem-calc(24);
//                    padding: $table-head-padding;
//                    //padding: rem-calc(8 10 18);
//                    //margin: 0 rem-calc(12);
//                    .name {
//                        margin: 0;
//                        //font-size: $table-head-font-size;
//                        //color: $table-head-font-color;
//                        font-weight: $table-head-font-weight;
//                    }
//                    div {
//                        overflow: hidden;
//                        white-space: nowrap;
//                    }
//                    span {
//                        font-weight: normal;
//                        font-size: smaller;
//                    }
//                    &._selected {
//                        background-color: #fff;
//                    }
//                }
//                &.unread {
//                    a {
//                        .name,
//                        .subject {
//                            color: $table-head-font-color;
//                            /* font-weight: $table-head-font-weight; */
//                        }
//                    }
//                }
//                &:hover,
//                &:active {
//                    background-color: #fff;
//                }
//            }
//        }
//    }
//    #messageView {
//        position: absolute;
//        top: $topbar-height;
//        bottom: 0;
//        left: 53.8461507692%;
//        overflow: auto;
//        overflow-x: hidden;
//        border-left: $topbar-divider-border-bottom;
//        padding: $table-head-padding;
//        padding-top: 0;
//        @include grid-column($columns:13);
//        @media #{$medium-up} {
//            @include grid-column($columns:6);
//        }
//        h1, h2, h3, h4, h5, h6 {
//            margin: 0;
//            padding-top: rem-calc(12);
//        }
//        h1 {
//            margin-bottom: 0;
//        }
//        h2 {
//            font-weight: lighter;
//        }
//        .header {
//            background-color: $secondary-color;
//            padding-left: rem-calc(12);
//            padding-right: rem-calc(12);
//            padding-bottom: 0.2em;
//            h1, h2, h4, h6 {
//                color: #fff;
//            }
//            .label {
//                background-color: transparent;
//                border: 1px solid $primary-color;
//                border: 1px solid scale-color($primary-color, $lightness: 52%);
//                color: $primary-color;
//                color: scale-color($primary-color, $lightness: 52%);
//            }
//            .flags {
//                float: right;
//            }
//        }
//            /*
//                +-----------------------------------------------+
//                + .attr (13)                                    |
//                |+-------------+-------------------------------+|
//                || .key (4)    | .value (9)                    ||
//                |+-------------+-------------------------------+|
//                +-----------------------------------------------+
//            */
//            .attr {
//                @include grid-row($behavior:collapse);
//                .key {
//                    @include grid-column($columns:4);
//                    label {
//                        color: #999;
//                        margin-right: rem-calc(12);
//                    }
//                }
//                .value {
//                    @include grid-column($columns:9);
//                    &.single {
//                        @include grid-column($offset: 4, $columns:9);
//                    }
//                    div {
//                        a {
//                            color: #666;
//                            margin-left: 0.2em;
//                            &:hover {
//                                color: #000;
//                            }
//                        }
//                    }
//                }
//            }
//            .buttonsToolbar {
//                margin-bottom: rem-calc(12);
//                background-color: #eee;
//                border-top: 2px solid #ddd;
//                .button {
//                    margin: 0.4em;
//                    &.alert {
//                        //display: $button-display;
//                        color: #fff;
//                    }
//                }
//            }
//
//            .mailer_mailcontent {
//                background-color: #fff;
//                padding: .5em;
//                overflow: auto;
//                .mailer_mailcontent TABLE {
//                    table-layout: auto;
//                }
//            }
//
//    }
//    #messageEditor {
//        right: 0;
//        textarea {
//            height: 20em;
//        }
//    }
//}
//
//h1 {
//    font-weight: lighter;
//}
//
//.buttonsToolbar {
//    text-align: right;
//    .button {
//        margin-bottom: 0;
//        font-size: 1.0em;
//    }
//    .folders-list & {
//        background-color: $tabbar-bg;
//        background-color: $off-canvas-bg;
//        text-align: center;
//        .button {
//            background-color: $tabbar-bg;
//            font-size: 1.5em;
//            transition: color 300ms ease;
//            color: scale-color($tabbar-bg, $lightness: 52%);
//            &:focus, &:hover {
//                color: $primary-color;
//                color: #fff;
//                //background-color: scale-color($tabbar-bg, $lightness: 13%);
//            }
//        }
//    }
//}
