////
/// SOGo
/// Version: #{}
/// Module: 
/// Main definitions for 
////

[id=messageEditor] {
  width: (13 * $pitch + $mg); // 13 cols + 1margin for scrollbar
  margin: 0 auto;
  overflow: auto;
  height: 100%;
  background-color: sg-color($sogoPaper, 50);
  transform: translateY(-1 * $pitch);
  z-index: 40;
  box-shadow: $whiteframe-shadow-z1;
}
.buttonsToolbar {
  padding: $mg 0;
  button {
    min-width: 5em;
    margin: 1em 0 1em 1em;
  }
}
// CKE is overqualifying... let's use an ID
#cke_content,
textarea.ck-editor{
  margin-top: $mg;
}
// Plain text editor
[id=messageEditor] textarea {
  width: 100%;
  min-height: grid-step(3);
  margin-top: $mg;
}