{
  "__cvs__" = "$Id: bundle-info.plist,v 1.1 2003/11/24 01:24:40 helge Exp $";

  requires = {
    bundleManagerVersion = 1;
    classes = (
      { name = NSObject;    }
    );
  };

  provides = {
    classes = (
      { name = CommonUIProduct;       },
      { name = UIxComponent;          },
      { name = UIxPageFrame;          },
    );

    WOComponents = (
      { name = UIxPageFrame;  },
    );
  };
}
