{
  requires = ( MAIN, Mailer );

  publicResources = (
    calendar.css,
    uix.css,
    menu_logo_top.gif,
    line_left.gif,
    line_stretch.gif,
    line_right.gif,
    box_topleft.gif,
    box_top.gif,
    box_topright.gif,
    box_left.gif,
    box_right.gif,
    box_botleft.gif,
    box_bottom.gi88f,
    box_botright.gif,
    tab_selected.gif,
    tab_.gif,
    corner_right.gif,
    closewindow.gif,
    OGoLogo.gif,
    upward_sorted.gif,
    downward_sorted.gif,
    non_sorted.gif
  );
  
  factories = {
  };

  categories = {
    SOGoUserLogin = {
      methods = {
	logoff = {
          protectedBy = "View";
          pageName    = "UIxUserLogoff";
          actionName  = "logoffUser";
	}
      };
    };
    SOGoObject = {
      methods = {
      };
    };
  };
}
