{ /* -*-java-*- */
  requires = ( MAIN, Mailer );
  
  publicResources = (
		     calendar.css,
		     uix.css,
		     menu_logo_top.gif,
		     line_left.gif,
		     line_stretch.gif,
		     line_right.gif,
		     box_topleft.gif,
		     box_top.gif,
		     box_topright.gif,
		     box_left.gif,
		     box_right.gif,
		     box_botleft.gif,
		     box_bottom.gif,
		     box_botright.gif,
		     tab_selected.gif,
		     tab_.gif,
		     corner_right.gif,
		     closewindow.gif,
		     OGoLogo.gif,
		     upward_sorted.gif,
		     downward_sorted.gif,
		     non_sorted.gif
		     );

  factories = {
  };

  categories = {
    SOGoObject = {
      methods = {
	addUserInAcls = { 
	  protectedBy = "SaveAcls";
	  actionClass = "UIxObjectActions";
	  actionName  = "addUserInAcls";
	};
	removeUserFromAcls = { 
	  protectedBy = "SaveAcls";
	  actionClass = "UIxObjectActions";
	  actionName  = "removeUserFromAcls";
	};
	acls = {
	  protectedBy = "ReadAcls";
	  pageName    = "UIxAclEditor";
	};
	saveAcls = {
	  protectedBy = "SaveAcls";
	  pageName    = "UIxAclEditor";
	  actionName  = "saveAcls";
	};
	userRights = {
	  protectedBy = "ReadAcls";
	  pageName    = "UIxUserRightsEditor";
	};
	saveUserRights = {
	  protectedBy = "ReadAcls";
	  pageName    = "UIxUserRightsEditor";
	  actionName = "saveUserRights";
	};
      };
    };
    SOGoParentFolder = {
      methods = {
	createFolder = {
	  protectedBy = "View";
	  actionClass = "UIxParentFolderActions";
	  actionName = "createFolder";
	};
      };
    };
    SOGoGCSFolder = {
      methods = {
	subscribe = {
	  protectedBy = "<public>";
	  actionClass = "UIxFolderActions";
	  actionName = "subscribe";
	};
	unsubscribe = {
	  protectedBy = "<public>";
	  actionClass = "UIxFolderActions";
	  actionName = "unsubscribe";
	};
	canAccessContent = {
	  protectedBy = "<public>";
	  actionClass = "UIxFolderActions";
	  actionName = "canAccessContent";
	};
	activateFolder = {
	  protectedBy = "<public>";
	  actionClass = "UIxFolderActions";
	  actionName = "activateFolder";
	};
	deactivateFolder = {
	  protectedBy = "<public>";
	  actionClass = "UIxFolderActions";
	  actionName  = "deactivateFolder";
	};
	deleteFolder = {
	  protectedBy = "SaveAcls"; /* a hack to force "owner" */
	  actionClass = "UIxFolderActions";
	  actionName  = "deleteFolder";
	};
	renameFolder = {
	  protectedBy = "SaveAcls";
	  actionClass = "UIxFolderActions";
	  actionName  = "renameFolder";
	};
	batchDelete = {
	  protectedBy = "Delete Objects";
	  actionClass = "UIxFolderActions";
	  actionName  = "batchDelete";
	};
      };
    };
  };
}
