{
  requires = ( MAIN );

  publicResources = (
  );

  factories = {
  };
  
  classes = {
    SOGoMailBaseObject = {
      superclass    = "SOGoObject";
    };

    SOGoMailAccounts = {
      superclass    = "SOGoMailBaseObject";
      defaultRoles = {
        "Add Documents, Images, and Files" = ( "Owner", "Delegate" );
        "View"          = ( "Owner", "Delegate", "Assistant" );
        "WebDAV Access" = ( "Owner", "Delegate", "Assistant" );
        "Access Contents Information" = ( "Owner", "Assistant", "Delegate" );
        "ReadAcls" = ( "Owner", "Delegate", "Assistant" );
        "SaveAcls" = ( "Owner" );
      };
    };

    SOGoMailAccount = {
      superclass    = "SOGoMailBaseObject";
      defaultRoles = {
        "Add Folders" = ( "Owner", "Delegate" );
        "Add Documents, Images, and Files" = ( "Owner", "Delegate" );
        "View"          = ( "Owner", "Delegate", "Assistant" );
        "WebDAV Access" = ( "Owner", "Delegate", "Assistant" );
        "Access Contents Information" = ( "Owner", "Assistant", "Delegate" );
        "ReadAcls" = ( "Owner", "Delegate", "Assistant" );
        "SaveAcls" = ( "Owner" );
      };
    };
    SOGoSharedMailAccount = {
      superclass    = "SOGoMailAccount";
    };

    SOGoMailFolder = {
      superclass    = "SOGoMailBaseObject";
      defaultRoles = {
        "Add Folders" = ( "Owner", "Delegate" );
        "Add Documents, Images, and Files" = ( "Owner", "Delegate" );
        "View"          = ( "Owner", "Delegate", "Assistant" );
        "WebDAV Access" = ( "Owner", "Delegate", "Assistant" );
        "Access Contents Information" = ( "Owner", "Assistant", "Delegate" );
        "ReadAcls" = ( "Owner", "Delegate", "Assistant" );
        "SaveAcls" = ( "Owner" );
      };
    };
    SOGoSharedInboxFolder = {
      superclass    = "SOGoMailFolder";
    };

    SOGoTrashFolder = {
      superclass    = "SOGoMailFolder";
    };

    SOGoMailObject = {
      superclass    = "SOGoMailBaseObject";
    };
    
    SOGoMailBodyPart = {
      superclass    = "SOGoMailBaseObject";
    };
    SOGoImageMailBodyPart = {
      superclass    = "SOGoMailBodyPart";
    };
    SOGoMessageMailBodyPart = {
      superclass    = "SOGoMailBodyPart";
    };
    SOGoCalendarMailBodyPart = {
      superclass    = "SOGoMailBodyPart";
    };
    SOGoVCardMailBodyPart = {
      superclass    = "SOGoMailBodyPart";
    };

    SOGoDraftsFolder = {
      superclass    = "SOGoMailBaseObject";
    };
    SOGoDraftObject = {
      superclass    = "SOGoMailBaseObject";
    };
  };
}
