@import "settings";

//$primary-color: #75B4BF;
//$topbar-link-bg-active: #75B4BF;
//$topbar-bg-color: $primary-color;
$module-color: #75B4BF;
$module-color: #C6C543;
$module-color: #6F5A73; // purple
$module-secondary-color: #8EC588; // light green
$module-secondary-color: #3D792A; // green
$module-secondary-color: #B996BF;
$module-secondary-color: #B59BB9; // light purple
$module-light-color: #F7ECFF;
$topbar-bg-color: $module-color;
$topbar-link-bg-active-hover: scale-color($module-secondary-color, $lightness: -14%);
$topbar-link-bg-active: $module-secondary-color;
$topbar-link-bg-hover: scale-color($module-color, $lightness: -14%);
//$topbar-link-font-size: rem-calc(12);

//$off-canvas-link-text-size: rem-calc(12);

//$table-head-font-size: rem-calc(12);
//$table-row-font-size: rem-calc(12);

@import "foundation";
//@import "foundation/components/grid";
//@import "foundation/components/dropdown", "foundation/components/offcanvas", "foundation/components/top-bar";
//@import "toolbars";

@mixin off-canvas-list {
    list-style-type: none;
    padding:0;
    margin:0;
    display: table;
    width: 100%;

    li {
        /*
           +-----------------------------------------------+
           + li                                            |
           |+------+-----------------------------+--------+|
           || i    | form                        | span   ||
           |+------+-----------------------------+--------+|
           +-----------------------------------------------+
       */
        display: table-row;
        transition: background 300ms ease;
        width: 100%;
        label {
            display: block;
            padding: $off-canvas-label-padding;
            color: $off-canvas-label-color;
            text-transform: $off-canvas-label-text-transform;
            font-size: $off-canvas-label-font-size;
            font-weight: $off-canvas-label-font-weight;
            background: $off-canvas-label-bg;
            border-top: $off-canvas-label-border-top;
            border-bottom: $off-canvas-label-border-bottom;
            margin: $off-canvas-label-margin;
        }
        >* {
            display: table-cell;
            padding: $off-canvas-link-padding;
            color: $off-canvas-link-color;
            border-bottom: $off-canvas-link-border-bottom;
            //vertical-align: middle;
        }
        .icon {
            //vertical-align: middle; // causes glitch when selecting row
            width: 2em;
        }
        form {
            margin: 0;
            padding-left: 0;
            padding-right: 0;
            * {
                color: $off-canvas-link-color;
                display: block;
                width: 100%;
                padding: 0;
                //padding-left: $off-canvas-link-padding;
            }
            input {
                border: 0;
                color: #333 !important;
                font-size: 1rem;
                height: $off-canvas-link-padding/2+1rem;
                margin: 0;
            }
        }
        &:hover {
            background: scale-color($tabbar-bg, $lightness: -30%);
        }
        &._selected {
            background-color: #242424 !important;
            border: 0 !important;
            * {
                color: #eee;
            }
        }
    }
}

$total-columns: 13;
$column-gutter: 0;

.folders-list {
    @include off-canvas-wrap();
    ul {
        @include off-canvas-list();
    }
}

.card-picture {
    display: inline-block;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color: $input-disabled-bg;
    text-align: center;
    vertical-align: center;
    border: 1px solid $input-disabled-bg;
    margin-right: 1em;
    margin-left: 5px;
    i {
        font-size: 42px;
        line-height: 36px;
    }
}

#pageContent {
    @include grid-row($behavior: nest);

    #newListDrop {
        a {
            text-transform: uppercase;
            &.tiny {
                @include button-size($padding:$button-tny);
            }
        }
    }

    #addressbooksList {
        position: absolute;
        overflow: auto;
        overflow-x: hidden;
        top: $topbar-height;
        bottom: 0;
        background-color: #333;
        @include grid-column($columns:13); //, $collapse:true);
        @media #{$medium-up} {
            @include grid-column($columns:3);
        }
        .newItemsToolbar {
            margin-top: rem-calc(6);
            text-align: center;
            text-transform: uppercase;
        }
    }

    #rightPanel {
        #contactsList {
            position: absolute;
            overflow: auto;
            overflow-x: hidden;
            top: $topbar-height;
            bottom: 0;
            left: 23.07692%;
            background-color: $f-dropdown-list-hover-bg;
            @include grid-column($columns:13);
            @media #{$medium-up} {
                @include grid-column($columns:5);
            }
            ul {
                margin: 0;
                padding: 5px 0;
                li {
                    list-style-type: none;
                    //border-bottom: $topbar-divider-border-bottom;
                    width: 100%;
                    float: left;
                    clear: left;
                    //border: 2px solid #fff;
                    //-webkit-border-radius: 4px;
                    //-moz-border-radius: 4px;
                    //border-radius: 4px;
                    //transition: all 300ms ease;
                    background-color: $f-dropdown-list-hover-bg;
                    transition: background 300ms ease;
                    a {
                        display: block;
                        color: #666;
                        //border-bottom: 1px dotted #ddd;
                        //width: 100%;
                        //font-size: $table-row-font-size;
                        //line-height: $table-line-height;
                        line-height: rem-calc(24);
                        padding: $table-head-padding;
                        //padding: rem-calc(8 10 18);
                        //margin: 0 rem-calc(12);
                        .name {
                            margin: 0;
                            //font-size: $table-head-font-size;
                            color: $table-head-font-color;
                            font-weight: $table-head-font-weight;
                        }
                    }
                    &:hover, &:active {
                        background-color: $f-dropdown-list-hover-bg;
                        //background-color: scale-color($f-dropdown-list-hover-bg, $lightness: 28%);
                        background-color: #fff;
                    }
                    &._selected, &._selected span {
                        //background-color: $module-light-color;
                        //background-color: $sub-nav-active-bg-hover;
                        //background-color: $f-dropdown-list-hover-bg;
                        background-color: $module-color;
                        background-color: #fff;
                        //color: $module-color;
                        //color: $module-secondary-color;
                        .name {
                            //color: #fff;
                        }
                    }
                }
            }
        }
        #contactView {
            position: absolute;
            top: $topbar-height;
            bottom: 0;
            left: 61.53846%;
            overflow: auto;
            overflow-x: hidden;
            border-left: $topbar-divider-border-bottom;
            padding: $table-head-padding;
            padding-top: 0;
            @include grid-column($columns:13);
            @media #{$medium-up} {
                @include grid-column($columns:5);
            }
            h1, h2, h3, h4, h5, h6 {
                margin-left: rem-calc(12);
                margin-top: 0;
            }
            h1 {
                margin-bottom: 0;
            }
            ul {
                font-size: $form-label-font-size;
            }
            .label {
                margin-left: rem-calc(3);
            }
            .header {
                background-color: $secondary-color;
                padding-bottom: 0.2em;
                h1, h6 {
                    color: #fff;
                }
                .label {
                    background-color: transparent;
                    border: 1px solid $primary-color;
                    border: 1px solid scale-color($primary-color, $lightness: 52%);
                    color: $primary-color;
                    color: scale-color($primary-color, $lightness: 52%);
                }
            }
            .section {
                border-bottom: 1px solid #ddd;
                margin: 0 rem-calc(12) rem-calc(12) rem-calc(12);
                padding-bottom: rem-calc(12);
            }
            /*
                +-----------------------------------------------+
                + .attr (13)                                    |
                |+-------------+-------------------------------+|
                || .key (4)    | .value (9)                    ||
                |+-------------+-------------------------------+|
                +-----------------------------------------------+
            */
            .attr {
                @include grid-row($behavior:collapse);
                .key {
                    @include grid-column($columns:4);
                    label {
                        color: #999;
                        margin-right: rem-calc(12);
                    }
                }
                .value {
                    @include grid-column($columns:9);
                    &.single {
                        @include grid-column($offset: 4, $columns:9);
                    }
                    div {
                        a {
                            color: #666;
                            margin-left: 0.2em;
                            &:hover {
                                color: #000;
                            }
                        }
                    }
                }
            }
            .buttonsToolbar {
                margin-bottom: rem-calc(12);
                background-color: #eee;
                border-top: 2px solid #ddd;
                .button {
                    margin: 0.4em;
                    &.alert {
                        //display: $button-display;
                        color: #fff;
                    }
                }
            }
            .viewer {
                .value {
                    div, a, address, ul, span {
                        line-height: $form-label-line-height;
                        margin-left: rem-calc(12);
                    }
                }
            }
            .editor {
                .section {
                    border-bottom: 0;
                }
                /*
                +-----------------------------------------------+
                + .attr (13)                                    |
                |+-------------+-------------------------------+|
                |+ .action (1) | .key (4) | .value (8)         ||
                |+-------------+-------------------------------+|
                +-----------------------------------------------+
               */
                .attr {
                    .action {
                        @include grid-column($columns:1);
                        padding-left: rem-calc(6);
                    }
                    .key {
                        @include grid-column($columns:4);
                    }
                    .value {
                        @include grid-column($columns:8);
                        padding-right: rem-calc(6);
                        &.compact {
                            margin-bottom: $form-spacing;
                            input {
                                margin-bottom: 0;
                            }
                        }
                        &.single {
                            @include grid-column($offset: 5, $columns:8);
                        }
                    }
                }
            }
        }
    }
}

#modalACL {
    height: 60vh;
    >ul {
        @include block-grid(2);
    }
    padding: 0;
    ul.aclUsers {
        @include block-grid(
            $per-row: 1,
            $spacing: $block-grid-default-spacing,
            $base-style: false
        );
        height: 85%;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding: 0;
        margin: 0;
        li {
            padding: 0;
            padding-top: 5px;
            line-height: 45px;
            background-color: $f-dropdown-list-hover-bg;
            transition: background 300ms ease;
            &:hover, &:active {
                         background-color: $f-dropdown-list-hover-bg;
                         background-color: #fff;
                     }
            &._selected, &._selected span {
                background-color: $module-color;
                background-color: #fff;
            }
            .subscriptionArea {
                float: right;
                padding-right: 5px;
            }
        }
    }
    #bottomTable {
        width: 100%;
        margin: 0;
        border: none;
        #td_1 {
            padding: 0;
            width:100%;
            i {
                position: absolute;
                padding-top: 10px;
                padding-left: 8px;
            }
            input {
                padding-left: 20px;
                margin: 0;
            }
        }
        #td_2 {
            padding: 0;
            margin: 0;
            float: right;
            white-space: nowrap;
            button {
                margin: 0;
            }
        }
    }
    #AccessRightList {
        border: 1px solid black;
        height: 100%;
        padding: 0;
        .title {
            background-color: #54B948;
            line-height: 75px;
            color: white;
            padding-left: 0.5em;
        }
        ul {
            @include block-grid(
                $per-row: 1,
                $spacing: $block-grid-default-spacing,
                $base-style: false
            );
            li {
                padding: 5px;
                margin-left: 5px;
            }
        }
    }
}
#aclButtons {
    margin: 0px;
    padding:0;
    float: right;
    button {
        margin: 0;
    }
}

.buttonsToolbar {
    text-align: right;
    .button {
        margin-bottom: 0;
        font-size: 1.0em;
    }
    .folders-list & {
        background-color: $tabbar-bg;
        background-color: $off-canvas-bg;
        text-align: center;
        .button {
            background-color: $tabbar-bg;
            font-size: 1.5em;
            transition: color 300ms ease;
            color: scale-color($tabbar-bg, $lightness: 52%);
            &:focus, &:hover {
                color: $primary-color;
                color: #fff;
                //background-color: scale-color($tabbar-bg, $lightness: 13%);
            }
        }
    }
}

.searchToolbar {
    @include grid-row($behavior:collapse);
    .input-content {
        @include grid-column($offset:0, $columns:11);
        .input-search {
            //display: flex;
            display: table;
            width: 100%;
            background-color: $input-bg-color;
            border: $input-border-width $input-border-style $input-border-color;
            @include radius($input-border-radius);
            box-shadow: $input-box-shadow;
            margin: 5px;
            i {
                display: table-cell;
                //min-width: rem-calc(24);
                width: rem-calc(24);
                color: $clearing-caption-font-color;
                font-size: rem-calc(18);
                line-height: rem-calc(32);
                padding-left: $form-spacing;
                vertical-align: middle;
            }
            input {
                display: table-cell;
                //transition: all 300ms ease;
                //background-color: $secondary-color;
                background-color: transparent;
                border: 0;
                box-shadow: none;
                margin-bottom: 0;
                /* &:focus { */
                /*      border: 1px solid blue; */
                /* } */
            }
        }
    }
    .input-options {
        @include grid-column($columns:2);
        .button {
            color: $input-disabled-bg;
            background-color: transparent;
            //line-height: 3.5em;
        }
    }
}

.alert-bg {
    color: #ccc;
    font-size: 24px;
    text-align: center;
    i {
        display: block;
        font-size: 48px;
        margin: 12px;
    }
}

.button {
    &.icon {
        background-color: transparent;
        color: $primary-color;
        padding: 0;
        @include button-size($padding:$button-tny,$full-width:true);
    }
    &.alert {
        color: $alert-color;
    }
    &.outline {
        background-color: transparent;
        border-width: 1px;
        &.secondary {
            color: $secondary-color;
            &:hover {
                color: $button-font-color;
            }
        }
    }
}

.f-dropdown {
    width: auto;
    max-width: 300px;
    white-space: nowrap;
    &.icons-dropdown {
        height: inherit;
        //background-color: $primary-color;
        .button {
            margin: 0;
            padding: $f-dropdown-list-padding;
            border-color: $primary-color;
            //color: scale-color($secondary-color, $lightness: 52%);
            color: #fff;    
        }
        background-color: $primary-color;
        border-color: $primary-color;
        &:before {
            border-color: transparent transparent $primary-color transparent;
        }
    }
}

address {
    font-style: normal;
}

h1 {
    font-weight: lighter;
}

input.ng-dirty.ng-invalid {
    border-color: $alert-color !important;
    color: $alert-color !important;
}

