@import "ionic/ionic";

.list-clear {
    .list {
        border-top: 1px solid $item-light-border;
        ion-item {
            border: 0;
            &, a {
                padding-top: 5px !important;
                padding-bottom: 5px !important;
            }
            address {
                margin-bottom: 5px !important;
            }
        }
    }
}

ion-content {
    a {
        &.button {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}

ion-item {
    small {
        display: block;
        color: $positive;
    }
    .list-clear & {
    }
}