@import "ionic";

.ion-plus-circled {
    color: $balanced;
}

.button {
    &.button-icon {
        &.button-assertive {
            color: $assertive;
        }
        &.button-small {
            &.icon:before {
                font-size: $button-small-icon-size;
            }
        }
    }
}

.list-clear {
    > .list {
        border-top: 1px solid $item-light-border;
        > ion-item {
            border: 0;
            &, a {
                padding-top: 5px !important;
                padding-bottom: 5px !important;
            }
            address {
                margin-bottom: 5px !important;
            }
        }
    }
}

ion-content {
    a {
        &.button {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    .list-address {
        &, .list {
            border-left: $item-border-width solid $item-default-border;
        }
        ion-item {
            border: 0;
            padding-left: 2px !important;
            padding-right: 0px;
            &.item-input {
                input {
                    flex: 1 0 120px;
                }
            }
        }
    }
}

ion-item {
    small {
        display: block;
        color: $positive !important;
    }
}
/* Additional styles */

.label {
    @extend .button-small;
    @include button-style($button-dark-bg, $button-dark-border, $button-dark-active-bg, $button-dark-active-border, $button-dark-text);
    @include button-clear($button-dark-bg);
    @include button-outline($button-dark-bg);
    border-radius: 4px;
    margin-left: 4px;
}

.subtitle {
    margin-left: 5px;
    margin-top: 5px;
    color:#4a87ee;
    line-height: initial;
    font-size: 120%;
    text-shadow: 1px #145fd7;
}

.popover {
}

