@import "settings";

//$primary-color: #75B4BF;
//$topbar-link-bg-active: #75B4BF;
//$topbar-bg-color: $primary-color;
$module-color: #75B4BF;
$module-color: #C6C543;
$module-color: #6F5A73;
$module-secondary-color: #8EC588; // light green
$module-secondary-color: #3D792A; // green
$module-secondary-color: #B996BF;
$module-secondary-color: #B59BB9; // SOGo green
$module-light-color: #F7ECFF;
$topbar-bg-color: $module-color;
$topbar-link-bg-active-hover: scale-color($module-secondary-color, $lightness: -14%);
$topbar-link-bg-active: $module-secondary-color;
$topbar-link-bg-hover: scale-color($module-color, $lightness: -14%);
//$topbar-link-font-size: rem-calc(12);

//$off-canvas-link-text-size: rem-calc(12);

//$table-head-font-size: rem-calc(12);
//$table-row-font-size: rem-calc(12);

@import "foundation";
//@import "foundation/components/grid";
//@import "foundation/components/dropdown", "foundation/components/offcanvas", "foundation/components/top-bar";
//@import "toolbars";

@mixin off-canvas-list {
    list-style-type: none;
    padding:0;
    margin:0;
    display: table;
    width: 100%;

    li {
        /*
           +-----------------------------------------------+
           + li                                            |
           |+------+-----------------------------+--------+|
           || i    | form                        | span   ||
           |+------+-----------------------------+--------+|
           +-----------------------------------------------+
       */
        display: table-row;
        transition: background 300ms ease;
        width: 100%;
        label {
            display: block;
            padding: $off-canvas-label-padding;
            color: $off-canvas-label-color;
            text-transform: $off-canvas-label-text-transform;
            font-size: $off-canvas-label-font-size;
            font-weight: $off-canvas-label-font-weight;
            background: $off-canvas-label-bg;
            border-top: $off-canvas-label-border-top;
            border-bottom: $off-canvas-label-border-bottom;
            margin: $off-canvas-label-margin;
        }
        >* {
            display: table-cell;
            padding: $off-canvas-link-padding;
            color: $off-canvas-link-color;
            border-bottom: $off-canvas-link-border-bottom;
            //vertical-align: middle;
        }
        .icon {
            //vertical-align: middle; // causes glitch when selecting row
            width: 2em;
        }
        form {
            margin: 0;
            padding-left: 0;
            padding-right: 0;
            * {
                color: $off-canvas-link-color;
                display: block;
                width: 100%;
                padding: 0;
                //padding-left: $off-canvas-link-padding;
            }
            input {
                border: 0;
                color: #333 !important;
                font-size: 1rem;
                height: $off-canvas-link-padding/2+1rem;
                margin: 0;
            }
        }
        &:hover {
            background: scale-color($tabbar-bg, $lightness: -30%);
        }
        &._selected {
            background-color: #242424 !important;
            border: 0 !important;
            * {
                color: #eee;
            }
        }
    }
}

$total-columns: 13;
$column-gutter: 0;

#pageContent {
    #mainMenu {
        position: absolute;
        overflow: auto;
        overflow-x: hidden;
        top: $topbar-height;
        bottom: 0;
        background-color: #333;
        @include grid-column($columns:13); //, $collapse:true);
        @media #{$medium-up} {
            @include grid-column($columns:3);
        }
        ul {
            margin: 0;
            list-style-type: none;
            li {
                color: rgba(255, 255, 255, 0.7);
                line-height: 50px;
                padding-left: 10px;

                &:hover, &:active {
                    background-color: #242424 !important;
                    color: white;
                }
                &._selected {
                    background-color: $module-color;
                    background-color: #fff;
                }
                i {
                    margin-right: 10px;
                }
            }
        }
    }

    #container {
        position: absolute;
        top: $topbar-height;
        background-color: #eeeeee;
        bottom: 0;
        left: 23%;
        overflow: auto;
        overflow-x: hidden;
        border-left: $topbar-divider-border-bottom;
        @include grid-column($columns:13);
        @media #{$medium-up} {
            @include grid-column($columns:10);
        }
        #viewer {
            padding: 10px;
            height: 100%;
            #generalOptionsView, #calendarOptionsView, #addressbookOptionsView, #mailOptionsView {
                height: inherit;
            }
            table {
                width: 100%;
                height: inherit;
                margin: 0;
                .td_1 {
                    text-align: right;
                    font-weight: bold;
                    width: 20%;
                }
                select, input {
                    margin: 0;
                }

            }
            .submitButton {
                margin: 0;
                float: right;
                border-radius: 3px;
            }
        }
    }
}
