/*! _button.scss */
///
/// Project SOGo
/// Version 3.alpha
/// Component button
///
/// Definitions for button extends
///
@import 'extends';

// Buttons for the sidenav folder tree
// ------------------------------------
sg-folder-tree .md-button {
  outline: none;
  color: inherit;
  font-size: sg-size(button);
  padding: 0;
  -webkit-font-smoothing: auto;

}
.sg-active .md-button {
  color: sg-color($sogoBlue, 800);
}