/* dbd UI Stylesheet */

body {
  color:            #000000;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        10pt;
  background-color: #FFFFFF;
  margin:           0px;
  margin-top:       0px;
  margin-bottom:    0px;
  margin-left:      0px;
  margin-right:     0px;
}

a:link {
  color:       #0033CC;
  font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}
a:visited {
  color:       #660066;
  font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}
a:hover {
  color:       #FF0000;
  font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
}
