/// chips.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-
@import 'extends';

// Remove the line under the tags of the message viewer
md-chips {
  &.sg-readonly {
    .md-chips {
      box-shadow: none;
      &.md-focused {
        box-shadow: none;
      }
      .md-chip-content {
        max-width: initial; // fix bug in ng-material
      }
    }
  }
}