///
/// @filename _extends.scss
/// @project SOGo
/// @version 3.alpha
/// @module bottombar
///
/// botttombar extends
///

md-toolbar.sg-bottombar { // overclafied to compensate for the injected css
  @extends md-toolbar;

  background-color:$bottombar-color;
  position: fixed;
  bottom: 0px;
  left: 0px;
  // todo : implement a setting map and a getter for every z-index
  // NiceToHave : implement init map and function
  z-index: 100;
}