///
///
/// @filename _bottombar.scss
/// @project SOGo
/// @version 3.alpha
///
/// Main botttombar module file define style for component bottombar, manly an extension of bottombar
///
///

@import 'components/toolbar/toolbar.scss';  // todo : remove when settings are done
@import "mixins";
@import "extends";
// -----------------------------------------
