/// subheader.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-
@import 'extends';

$sg-subheader-padding-top-bottom: ($subheader-padding - ($icon-button-height - $subheader-font-size)/2);
$sg-subheader-padding-left-right: $baseline-grid;


.sg-md-subheader {
  &--with-icon ._md-subheader-inner,
  &--with-secondary-icon ._md-subheader-inner {
    line-height: $sg-avatar-width + ($sg-subheader-padding-top-bottom)*2;
    padding: ($subheader-padding - ($icon-button-height - $subheader-font-size)/2) $baseline-grid;
    padding: 0;
    padding-left: $subheader-padding;
  }
  &--with-icon ._md-subheader-inner {
    padding-left: 0;
  }
  &--fixed {
    position: fixed;
    z-index: auto;
    padding: $baseline-grid $baseline-grid $baseline-grid $layout-gutter-width;
    background-color: transparent;
  }
  &--static {
    position: static;
    z-index: auto;
    padding: $baseline-grid $baseline-grid $baseline-grid $layout-gutter-width;
    background-color: transparent;
    font-size: $sg-font-size-2;
    font-weight: $sg-font-medium;
  }
}
