/// subheader.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-
@import 'extends';

$sg-subheader-padding-top-bottom: ($subheader-padding - ($icon-button-height - $subheader-font-size)*0.5);
$sg-subheader-padding-left-right: $baseline-grid;


.md-subheader-wrapper:not(.md-sticky-no-effect).md-sticky-clone {
  // Increase the z-index of sticky subheaders so it always appear above
  // seconday buttons of list items.
  // See z-index changes in custom list.scss.
  z-index: $z-index-sidenav;
}

.sg-md-subheader {
  &--with-icon .md-subheader-inner,
  &--with-secondary-icon .md-subheader-inner {
    line-height: $sg-avatar-width + ($sg-subheader-padding-top-bottom)*2;
    padding: 0;
    padding-left: $subheader-padding;
  }
  &--with-icon .md-subheader-inner {
    padding-left: 0;
  }
  &--fixed {
    position: fixed;
    z-index: auto;
    padding: $baseline-grid $baseline-grid $baseline-grid $layout-gutter-width;
    background-color: transparent;
  }
  &--static {
    position: static;
    z-index: auto;
    padding: $baseline-grid $baseline-grid $baseline-grid $layout-gutter-width;
    background-color: transparent;
    font-size: $sg-font-size-2;
    font-weight: $sg-font-medium;
  }
}
