@import "extends";

// sgColorPicker directive
.sg-color-picker {
  md-grid-tile {
    border-radius: 25%;
    &:hover:not(.selected),
    &:active:not(.selected) {
      cursor: pointer;
      transform: scale(1.5);
    }
    &.selected {
      background-color: transparent !important;
      md-icon {
        display: inline-block;
        font-size: 32px;
        margin: 0;
      }
    }
    md-icon {
      display: none;
    }
  }
}

// sgToggleGrid directive
[sg-toggle-grid] {
  md-grid-tile {
    border-radius: 5%;
    &.iconButton {
      &:hover {
        background-color: sg-color($sogoBlue, 600);
        color: #fff;
        cursor: pointer;
      }
    }
    &.sg-active, &.sg-active:hover {
      background-color: sg-color($sogoBlue, 300);
      color: #fff;
    }
  }
}