@import "extends";

$sg-grid-border-width-focused: 2px;

// sgToggleGrid directive
[sg-toggle-grid] {
  md-grid-tile {
    &.sg-icon-button {
      @extend .md-button;
      // Overwrite some styles of .md-button
      border: 1px solid sg-color($sogoBlue, 300);
      border-radius: 5%;
      color: sg-color($sogoBlue, 600);
      min-height: auto;
      position: absolute;
    }
    &.sg-active {
      background-color: sg-color($sogoBlue, 300);
      color: #fff;
    }
  }
}
