{ /* -*-javascript-*- */
  requires = ( MAIN, MainUI, CommonUI );

  publicResources = (
  );

  factories = {
  };

  categories = {
     SOGoUserFolder = {
	slots = {
	   toolbar = {
	      protectedBy = "View";
	      value = "UIxPreferences.toolbar";
	   };
	};
	methods = {
	   preferences = {
	      protectedBy = "View";
	      pageName = "UIxPreferences";
	   };
	   identities = {
	      protectedBy = "View";
	      pageName = "UIxIdentities";
	   };
	   jsonDefaults = {
	      protectedBy = "View";
	      actionClass = "UIxJSONPreferences";
	      actionName = "jsonDefaults";
	   };
	   jsonSettings = {
	      protectedBy = "View";
	      actionClass = "UIxJSONPreferences";
	      actionName = "jsonSettings";
	   };
	};
     };
  };
}
