{
  requires = ( MAIN, CommonUI );

  publicResources = (
    previous_week.gif,
    next_week.gif,
    icon_apt_chart.gif,
    icon_apt_overview.gif,
    icon_apt_chart_inactive.gif,
    icon_apt_overview_inactive.gif,
    icon_apt_column_view.gif,
    icon_apt_list.gif,
    icon_apt_list_inactive.gif
  );

  factories = {
  };

  categories = {
    SxAppointmentFolder = {
      methods = {
        "weekoverview" = { 
          protectedBy = "View";
          pageName    = "UIxCalWeekOverview"; 
        };
        "weekchartview" = { 
          protectedBy = "View";
          pageName    = "UIxCalWeekOverview"; 
        };
        "weeklistview" = { 
          protectedBy = "View";
          pageName    = "UIxCalWeekOverview"; 
        };
        "weekcolumnview" = { 
          protectedBy = "View";
          pageName    = "UIxCalWeekOverview"; 
        };
        "weekprintview" = { 
          protectedBy = "View";
          pageName    = "UIxCalWeekOverview"; 
        };
        "monthoverview" = { 
          protectedBy = "View";
          pageName    = "UIxCalMonthOverview"; 
        };
        "new" = { 
          protectedBy = "View";
          pageName    = "UIxAppointmentEditor"; 
        };
      };
    };

    SxAppointment = {
      methods = {
        "view" = { 
          protectedBy = "View";
          pageName    = "UIxAppointmentView"; 
        };
        "edit" = { 
          protectedBy = "View";
          pageName    = "UIxAppointmentEditor"; 
        };
        "save" = { 
          protectedBy = "View";
          pageName    = "UIxAppointmentEditor"; 
          actionName  = "save";
        };
      };
    };
  };
}
