// Import from sources for extends
// -------------------------------
@import "../../angular-material/src/core/style/layout";

// Utility classes to compensate for the the xml mandatory attribute values
// ------------------------------------------------------------------------
$selectors: layout, layout-sm, layout-gt-sm, layout-md, layout-gt-md, layout-lg, layout-gt-lg,
layout-align,layout-align-sm, layout-align-gt-sm, layout-align-md, layout-align-gt-md, layout-align-lg, layout-align-gt-lg,
layout-padding,
layout-margin,
layout-wrap,
layout-fill,
flex, flex-sm, flex-gt-sm, flex-md, flex-gt-md, flex-lg, flex-gt-lg, hide, hide-sm, hide-gt-sm, hide-md, hide-gt-md, hide-lg, hide-gt-lg, show, show-sm, show-gt-sm, show-md, show-gt-md, show-lg, show-gt-lg;

@include attributesToClasses($selectors);
.md-flex {
  flex: 1 1 auto;
}

@for $i from 1 to 20 {
  .cols-#{$i} {
  max-width: grid-step($i);
  flex: 1 1 auto;
  }
  .cols-#{$i}.spacer {
    width: grid-step($i);
  }
}

// Rows are included in padded containers, margins are used for vertical spacing
// ----------------------------------------------------------------------------
[layout="row"].md-layout-margin {
  margin-right: 0;
  margin-left: 0;
}
