/// print.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-

// Common print media stylesheet
// See https://github.com/angular/material/issues/1747

@media print {

  html, body {
    height: auto !important;
    min-height: auto !important;
    max-height: none !important;
    overflow: visible !important;
  }

  // Don't print some components
  md-autocomplete,
  md-sidenav,
  md-card-actions,
  md-fab-speed-dial,
  .md-open-menu-container,
  .md-chip-remove-container,
  .toolbar-main,
  .view-list,
  .view-detail .sg-reversible.sg-flip .sg-face,
  .view-detail .sg-reversible:not(.sg-flip) .sg-back,
  .sg-no-print
   {
    display: none !important;
  }

  // Horizontal flex layout must be ignored for element that could spawn multiple pages
  .view[layout="row"],
  section > div[layout="row"],
  .msg-body > [layout="row"],
  .mailer_mailcontent[layout="row"] {
    display: block !important;
    max-height: none !important;
    position: relative !important;
  }

  // Ignore layout-fill style
  [layout-fill] {
    height: auto !important;
  }

  // Content must be visible to be printed on multiple pages
  main,
  section,
  md-content,
  md-card,
  md-card-content,
  md-card-content pre,
  .view-detail,
  .view-detail .sg-reversible,
  .view-detail .sg-reversible:not(.sg-flip) .sg-face,
  .view-detail .sg-reversible.sg-flip .sg-back {
    display: block !important;
    height: auto !important;
    min-height: auto !important;
    overflow: visible !important;
    position: relative !important;
    min-width: 100%; // compensate for flex display
  }

  // Remove shadow from Cards
  md-card {
    box-shadow: none !important;
  }
}
