@import "extends";

md-select {
  margin-bottom: 2px;
  margin-right: $bl;
}

// Try to align select labels with other input components
[layout="row"] {
  .md-select-label {
    padding-top: 4px;
  }
}

// angular material overqualifies, so we are
md-select.md-default-theme.sg-toolbar-sort {
  margin: 0 $bl 4px 0;
  color: $colorWhite;

  md-select-label.md-select-label {
    border: none;
    color: inherit;
  }
}

md-select.md-default-theme.sg-logout {
  margin-top: $bl;
  color: $colorWhite;

  // angular material overqualifies, so we are
  md-select-label.md-select-label,
  md-select-label.md-select-label.md-placeholder,
  md-select-label.md-select-label * {
    border: none;
    color: $colorWhite;
  }

}