////
/// SOGo
/// Version: #{$Version}
/// Module: autoScrollList
/// Main definitions for autoScrollList
////
@import 'extends';

// The only selector for vs-repeat lists is this id, we use attributes selector to
// avoid overspecifying
// todo: create new classes and refactor templates markup
[id='messagesList'] {
  border-top: 44px solid transparent;   // padding for the header.subheader,
  border-bottom: 2px solid transparent; //close to a hack
  z-index: 10;

  md-item-content {
    padding: $layout-gutter-width;
  }
  .sg-md-subhead-solo {
    margin: 0;
  }
}
.sg-tile-content {
  padding: 0 0 0 $layout-gutter-width;
  .sg-md-subhead-multi,
  .sg-md-subhead-solo {
    margin: 0;
  }
  .sg-md-body-multi {
    margin: 0;
  }
  a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
