{
  requires = ( MAIN );

  publicResources = (
  );

  factories = {
  };
  
  classes = {
    SOGoAppointmentFolder = {
      superclass    = "SOGoFolder";
      defaultRoles = {
        "Add Documents, Images, and Files" = ( "Owner", "Delegate" );
        "View"          = ( "Owner", "Delegate", "Assistant" );
        "WebDAV Access" = ( "Owner", "Delegate", "Assistant" );
        "FreeBusyLookup" = ( "Owner", "Delegate", "Assistant", "FreeBusyLookup" );
        "Access Contents Information" = ( "Owner", "Assistant", "Delegate" );
      };
    };

    SOGoGroupAppointmentFolder = {
      superclass    = "SOGoAppointmentFolder";
    };

    SOGoAppointmentObject = {
      superclass    = "SOGoContentObject";
      defaultRoles = {
        "View" = ( "Owner", "Delegate", "Organizer" );
      };
    };

    SOGoTaskObject = {
      superclass    = "SOGoContentObject";
      defaultRoles = {
        "View"          = ( "Owner", "Delegate", "Organizer" );
      };
    };
    SOGoFreeBusyObject = {
      superclass    = "SOGoContentObject";
      protectedBy = "View";
      defaultRoles = {
        "View" = ( "Authenticated", "FreeBusy" );
        "WebDAV Access" = ( "Authenticated", "FreeBusy" );
      };
    };
  };
}
