{
  requires = ( MAIN );

  publicResources = (
  );

  factories = {
  };
  
  classes = {
    SOGoAppointmentFolder = {
      superclass    = "SOGoFolder";
    };

    SOGoGroupAppointmentFolder = {
      superclass    = "SOGoAppointmentFolder";
    };

    SOGoAppointmentObject = {
      superclass    = "SOGoContentObject";
    };

    SOGoTaskObject = {
      superclass    = "SOGoContentObject";
    };

    SOGoFreeBusyObject = {
      superclass    = "SOGoContentObject";
    };
  };
}
