{
  requires = ( MAIN );

  publicResources = (
  );

  factories = {
  };
  
  classes = {
    SOGoAppointmentFolders = {
      superclass = "SOGoParentFolder";
    };
    SOGoWebAppointmentFolder = {
        superclass = "SOGoGCSFolder";
        defaultRoles = {
            "Access Contents Information" = ( "Owner", "PublicResponder", "PublicModifier", "PublicViewer", "PublicDAndTViewer", "PrivateResponder", "PrivateModifier", "PrivateViewer", "PrivateDAndTViewer", "ConfidentialResponder", "ConfidentialModifier", "ConfidentialViewer", "ConfidentialDAndTViewer" );
            "ViewWholePublicRecords" = ( "Owner", "PublicResponder", "PublicModifier", "PublicViewer" );
            "ViewWholePrivateRecords" = ( "Owner", "PrivateResponder", "PrivateModifier", "PrivateViewer" );
            "ViewWholeConfidentialRecords" = ( "Owner", "ConfidentialResponder", "ConfidentialModifier", "ConfidentialViewer" );
            "ViewDAndTOfPublicRecords" = ( "Owner", "PublicDAndTViewer" );
            "ViewDAndTOfPrivateRecords" = ( "Owner", "PrivateDAndTViewer" );
            "ViewDAndTOfConfidentialRecords" = ( "Owner", "ConfidentialDAndTViewer" );
            "ModifyPublicRecords" = ( );
            "ModifyPrivateRecords" = ( );
            "ModifyConfidentialRecords" = ( );
            "RespondToPublicRecords" = ( );
            "RespondToPrivateRecords" = ( );
            "RespondToConfidentialRecords" = ( );
        };
    };
    SOGoAppointmentFolder = {
      superclass = "SOGoGCSFolder";
      defaultRoles = {
/*        "FreeBusyLookup" = ( "Owner", "FreeBusy", "AuthorizedSubscriber" );  */
	"Access Contents Information" = ( "Owner", "PublicResponder", "PublicModifier", "PublicViewer", "PublicDAndTViewer", "PrivateResponder", "PrivateModifier", "PrivateViewer", "PrivateDAndTViewer", "ConfidentialResponder", "ConfidentialModifier", "ConfidentialViewer", "ConfidentialDAndTViewer" );
	"ViewWholePublicRecords" = ( "Owner", "PublicResponder", "PublicModifier", "PublicViewer" );
	"ViewDAndTOfPublicRecords" = ( "Owner", "PublicDAndTViewer" );
	"ModifyPublicRecords" = ( "Owner", "PublicModifier" );
	"RespondToPublicRecords" = ( "Owner", "PublicModifier", "PublicResponder" );
	"ViewWholePrivateRecords" = ( "Owner", "PrivateResponder", "PrivateModifier", "PrivateViewer" );
	"ViewDAndTOfPrivateRecords" = ( "Owner", "PrivateDAndTViewer" );
	"ModifyPrivateRecords" = ( "Owner", "PrivateModifier" );
	"RespondToPrivateRecords" = ( "Owner", "PrivateModifier", "PrivateResponder" );
	"ViewWholeConfidentialRecords" = ( "Owner", "ConfidentialResponder", "ConfidentialModifier", "ConfidentialViewer" );
	"ViewDAndTOfConfidentialRecords" = ( "Owner", "ConfidentialDAndTViewer" );
	"ModifyConfidentialRecords" = ( "Owner", "ConfidentialModifier" );
	"RespondToConfidentialRecords" = ( "Owner", "ConfidentialModifier", "ConfidentialResponder" );
      };
    };
//     SOGoGroupAppointmentFolder = {
//       superclass = "SOGoAppointmentFolder";
//     };
    SOGoCalendarComponent = {
      superclass = "SOGoContentObject";
      defaultRoles = {
	"ViewAllComponent" = ( "Owner", "Organizer", "Participant", "ComponentModifier", "ComponentResponder", "ComponentViewer" );
	"ViewDAndT" = ( "Organizer", "Participant", "ComponentDAndTViewer" );
	"ModifyComponent" = ( "Owner", "ComponentModifier", "ObjectEditor" );
	"RespondToComponent" = ( "Owner", "ComponentModifier", "ComponentResponder" );
	"Access Object" = ( "Owner", "Organizer", "ObjectCreator", "ObjectEraser", "Participant", "ComponentModifier", "ComponentResponder", "ComponentViewer", "ComponentDAndTViewer" );
	"Change Images and Files" = ( "Owner", "Organizer", "ComponentModifier", "ComponentResponder", "ObjectEditor" );
      	"Access Contents Information" = ( "Owner", "Organizer", "Participant", "ComponentModifier", "ComponentResponder", "ComponentViewer", "ComponentDAndTViewer" );
        "WebDAV Access" = ( "Owner", "Organizer", "ObjectCreator", "ObjectEraser", "Participant", "ComponentModifier", "ComponentResponder", "ComponentViewer", "ComponentDAndTViewer" );
      };
    };
    SOGoAppointmentObject = {
      superclass = "SOGoCalendarComponent";
    };
    SOGoTaskObject = {
      superclass = "SOGoCalendarComponent";
    };
    SOGoComponentOccurence = {
      superclass = "SOGoObject";
      protectedBy = "Access Object";
      defaultRoles = {
	"ViewAllComponent" = ( "Owner", "Organizer", "Participant", "ComponentModifier", "ComponentResponder", "ComponentViewer" );
	"ViewDAndT" = ( "Organizer", "Participant", "ComponentDAndTViewer" );
	"ModifyComponent" = ( "Owner", "ComponentModifier" );
	"RespondToComponent" = ( "Participant", "ComponentModifier", "ComponentResponder" );
	"Access Object" = ( "Owner", "Organizer", "Participant", "ComponentModifier", "ComponentResponder", "ComponentViewer", "ComponentDAndTViewer" );
	"Change Images and Files" = ( "Owner", "Organizer", "ComponentModifier", "ComponentResponder" );
      	"Access Contents Information" = ( "Owner", "Organizer", "Participant", "ComponentModifier", "ComponentResponder", "ComponentViewer", "ComponentDAndTViewer" );
        "WebDAV Access" = ( "Owner", "Organizer", "Participant", "ComponentModifier", "ComponentResponder", "ComponentViewer", "ComponentDAndTViewer" );
      };
    };
    SOGoAppointmentOccurence = {
      superclass = "SOGoComponentOccurence";
    };
    SOGoTaskOccurence = {
      superclass = "SOGoComponentOccurence";
    };
    SOGoFreeBusyObject = {
      superclass = "SOGoContentObject";
      protectedBy = "Access Contents Information";
      defaultRoles = {
	"Access Contents Information" = ( "Owner", "Authenticated" );
        "WebDAV Access" = ( "Owner", "Authenticated" );
      };
    };
  };
}
