{
    WOWorkersCount = 1;
    SxVMemLimit = 384;
    WOLogFile = "/var/log/sogo/sogo.log";
    WOPidFile = "/var/run/sogo/sogo.pid";

    NGImap4ConnectionStringSeparator = "/";

    SOGoZipPath = "/usr/bin/zip";

    WOUseRelativeURLs = YES;
    WOMessageUseUTF8 = YES;
    WOParsersUseUTF8 = YES;
    NGUseUTF8AsURLEncoding = YES;

    SOGoCacheCleanupInterval = 300.0;
    SOGoMemcachedHost = "localhost";
    SOGoMemcachedPort = 11211;

    SOGoUIxDebugEnabled = NO;

    SOGoLDAPContactInfoAttribute = "description";

    SOGoMailingMechanism = "sendmail";
    SOGoSMTPServer = "localhost";
    SOGoMailSpoolPath = "/tmp";

    SOGoWebAccessEnabled = YES;
    SOGoCalendarDAVAccessEnabled = YES;
    SOGoAddressBookDAVAccessEnabled = YES;

    SOGoLoginModule = "Mail";
    SOGoLanguage = "English";
    SOGoSupportedLanguages = ( "Czech", "Welsh", "English", "Spanish",
                               "French", "German", "Italian", "Hungarian",
                               "Dutch", "BrazilianPortuguese", "Russian",
                               "Ukrainian", "Swedish");

    SOGoTimeZone = "UTC";

    SOGoDayStartTime = "8";
    SOGoDayEndTime = "18";
    SOGoTimeFormat = "%H:%M";

    SOGoIMAPServer = "localhost";
    SOGoFirstDayOfWeek = 0;
    SOGoFirstWeekOfYear = "January1";

    SOGoMailDomain = "localhost";
    SOGoMailMessageCheck = "manually";
    SOGoMailMessageForwarding = "inline";
    SOGoMailReplyPlacement = "below";
    SOGoMailSignaturePlacement = "below";
    SOGoMailPollingIntervals = ( 1, 2, 5, 10, 20, 30, 60 );
    SOGoMailComposeMessageType = "text";
    SOGoMailListViewColumnsOrder = ( "Flagged", "Attachment", "Subject",
                                     "From", "Unread", "Date", "Priority",
                                     "Size" );

    SOGoSentFolderName = "Sent";
    SOGoDraftsFolderName = "Drafts";
    SOGoTrashFolderName = "Trash";

    SOGoCalendarDefaultCategoryColor = "#aaa";
    SOGoCalendarShouldDisplayWeekend = YES;
    SOGoFreeBusyDefaultInterval = ( 7, 7 );

    SOGoReminderEnabled = YES;
    SOGoRemindWithASound = YES;
}
