{
    WOWorkersCount = 1;
    WOListenQueueSize = 5;
    SxVMemLimit = 384;
    WOLogFile = "/var/log/sogo/sogo.log";
    WOPidFile = "/var/run/sogo/sogo.pid";
    WOHTTPAdaptorCapitalizeHeaders = YES;
    WOPort = "127.0.0.1:20000";

    NGImap4ConnectionStringSeparator = "/";
    NGImap4ConnectionGroupIdPrefix = "$";
    NGImap4DisableIMAP4Pooling = YES;

    SOGoZipPath = "/usr/bin/zip";

    SOGoEncryptionKey = "MySOGoEncryptionKey";
    SOGoSieveFolderEncoding = "UTF-7";

    WOUseRelativeURLs = YES;
    WOMessageUseUTF8 = YES;
    WOParsersUseUTF8 = YES;
    NGUseUTF8AsURLEncoding = YES;

    SOGoCacheCleanupInterval = 300.0;
    SOGoMemcachedHost = "localhost";

    SOGoUIxDebugEnabled = NO;

    SOGoLDAPContactInfoAttribute = "description";

    SOGoMailingMechanism = "sendmail";
    SOGoSMTPServer = "localhost";
    SOGoMailSpoolPath = "/var/spool/sogo";

    SOGoWebAccessEnabled = YES;
    SOGoCalendarDAVAccessEnabled = YES;
    SOGoAddressBookDAVAccessEnabled = YES;
    SOGoEnableDomainBasedUID = NO;

    SOGoLoginModule = "Mail";
    SOGoLanguage = "English";
    SOGoSupportedLanguages = ( "Arabic", "Catalan", "Czech", "Dutch", "Danish", "Welsh", "English",
                               "SpanishSpain", "SpanishArgentina", "Finnish", "French", "German",
                               "Icelandic", "Italian", "Hungarian", "BrazilianPortuguese",
                               "NorwegianBokmal", "NorwegianNynorsk", "Polish", "Russian", "Slovak",
                               "Ukrainian", "Swedish" );

    SOGoTimeZone = "UTC";
    SOGoDayStartTime = "8";
    SOGoDayEndTime = "18";
    SOGoTimeFormat = "%H:%M";
    SOGoFirstDayOfWeek = 0;
    SOGoFirstWeekOfYear = "January1";

    SOGoIMAPServer = "localhost";
    SOGoMailDomain = "localhost";
    SOGoSelectedAddressBook = "collected";
    SOGoRefreshViewCheck = "manually";
    SOGoMailMessageForwarding = "inline";
    SOGoMailReplyPlacement = "below";
    SOGoMailSignaturePlacement = "below";
    SOGoRefreshViewIntervals = ( 1, 2, 5, 10, 20, 30, 60 );
    SOGoMailComposeMessageType = "text";
    SOGoMailListViewColumnsOrder = ( "Thread", "Flagged", "Attachment", "Subject",
                                     "From", "Unread", "Date", "Priority",
                                     "Size" );
    SOGoSentFolderName = "Sent";
    SOGoDraftsFolderName = "Drafts";
    SOGoTrashFolderName = "Trash";

    SOGoMailAutoSave = "5";

    SOGoCalendarDefaultCategoryColor = "#aaa";
    SOGoCalendarShouldDisplayWeekend = YES;
    SOGoCalendarEventsDefaultClassification = "PUBLIC";
    SOGoCalendarTasksDefaultClassification = "PUBLIC";
    SOGoCalendarDefaultReminder = "NONE";

    SOGoFreeBusyDefaultInterval = ( 7, 7 );

    SOGoSearchMinimumWordLength = 2;

    SOGoMailLabelsColors = {
        $label1 = ("Important", "#FF0000");
        $label2 = ("Work", "#FF9900");
        $label3 = ("Personal", "#009900");
        $label4 = ("To Do", "#3333FF");
        $label5 = ("Later", "#993399");
    };
    
    SOGoSubscriptionFolderFormat = "%{FolderName} (%{UserName} <%{Email}>)";
}
