{
    WOWorkersCount = 1;
    WOListenQueueSize = 5;
    SxVMemLimit = 384;
    WOLogFile = "/var/log/sogo/sogo.log";
    WOPidFile = "/var/run/sogo/sogo.pid";
    WOHTTPAdaptorCapitalizeHeaders = YES;
    WOPort = "127.0.0.1:20000";
    SOGoXSRFValidationEnabled = NO;

    NGImap4ConnectionStringSeparator = "/";
    NGImap4ConnectionGroupIdPrefix = "$";
    NGImap4DisableIMAP4Pooling = YES;

    SOGoZipPath = "/usr/bin/zip";

    SOGoEncryptionKey = "MySOGoEncryptionKey";
    SOGoSieveFolderEncoding = "UTF-7";

    WOUseRelativeURLs = YES;
    WOMessageUseUTF8 = YES;
    WOParsersUseUTF8 = YES;
    NGUseUTF8AsURLEncoding = YES;

    SOGoCacheCleanupInterval = 300.0;
    SOGoMemcachedHost = "localhost";

    SOGoUIxDebugEnabled = NO;

    SOGoLDAPContactInfoAttribute = "description";

    SOGoMailingMechanism = "sendmail";
    SOGoSMTPServer = "localhost";
    SOGoMailSpoolPath = "/var/spool/sogo";

    SOGoWebAccessEnabled = YES;
    SOGoCalendarDAVAccessEnabled = YES;
    SOGoAddressBookDAVAccessEnabled = YES;
    SOGoEnableDomainBasedUID = NO;

    SOGoLoginModule = "Mail";
    SOGoLanguage = "English";
    SOGoSupportedLanguages = (
        "Arabic",
        "Basque",
        "BrazilianPortuguese",
        "Catalan",
        "ChineseTaiwan",
        "Croatian",
        "Czech",
        "Danish",
        "Dutch",
        "English",
        "Finnish",
        "French",
        "German",
        "Hebrew",
        "Hungarian",
        "Icelandic",
        "Italian",
        "Lithuanian",
        "Macedonian",
        "NorwegianBokmal",
        "NorwegianNynorsk",
        "Polish",
        "Portuguese",
        "Russian",
        "Serbian",
        "Slovak",
        "Slovenian",
        "SpanishArgentina",
        "SpanishSpain",
        "Swedish",
        "TurkishTurkey",
        "Ukrainian",
        "Welsh"
    );

    SOGoTimeZone = "UTC";
    SOGoDayStartTime = "8";
    SOGoDayEndTime = "18";
    SOGoTimeFormat = "%H:%M";
    SOGoFirstDayOfWeek = 0;
    SOGoFirstWeekOfYear = "January1";
    SOGoShortDateFormat = "%d-%b-%y";
    SOGoLongDateFormat = "%A, %B %d, %Y";
    SOGoExternalAvatarsEnabled = YES;
    SOGoGravatarEnabled = NO;
    SOGoAlternateAvatar = "none";

    SOGoIMAPServer = "localhost";
    SOGoMailDomain = "localhost";
    SOGoSelectedAddressBook = "collected";
    SOGoRefreshViewCheck = "manually";
    SOGoMailMessageForwarding = "inline";
    SOGoMailReplyPlacement = "below";
    SOGoMailSignaturePlacement = "below";
    SOGoRefreshViewIntervals = ( 1, 2, 5, 10, 20, 30, 60 );
    SOGoMailComposeMessageType = "text";
    SOGoMailListViewColumnsOrder = ( "Thread", "Flagged", "Attachment", "Subject",
                                     "From", "Unread", "Date", "Priority",
                                     "Size" );
    SOGoSentFolderName = "Sent";
    SOGoDraftsFolderName = "Drafts";
    SOGoTrashFolderName = "Trash";
    SOGoJunkFolderName = "Junk";
    SOGoMailComposeMessageType = "html";
    SOGoMailComposeFontSize = "0";
    SOGoMailDisplayRemoteInlineImages = "never";

    SOGoMailAutoSave = "5";

    SOGoCalendarShouldDisplayWeekend = YES;
    SOGoCalendarEventsDefaultClassification = "PUBLIC";
    SOGoCalendarTasksDefaultClassification = "PUBLIC";
    SOGoCalendarDefaultReminder = "NONE";
    SOGoDefaultCalendar = "selected";
    SOGoFreeBusyDefaultInterval = ( 7, 7 );

    SOGoSelectedAddressBook = "personal";

    SOGoSearchMinimumWordLength = 2;

    SOGoMailLabelsColors = {
        $label1 = ("Important", "#FF0000");
        $label2 = ("Work", "#FF9900");
        $label3 = ("Personal", "#009900");
        $label4 = ("To Do", "#3333FF");
        $label5 = ("Later", "#993399");
    };

    SOGoCalendarCategories = (
        "Customer",
        "Calls",
        "Favorites",
        "Meeting",
        "Ideas",
        "Miscellaneous",
        "Birthday",
        "Anniversary",
        "Vacation",
        "Travel",
        "Projects",
        "Suppliers",
        "Gifts",
        "Clients",
        "Issues",
        "Business",
        "Holidays",
        "Personal",
        "Status",
        "Competition",
        "Follow up",
        "Public Holiday"
    );

    SOGoCalendarCategoriesColors = {
        "Customer" = "#CCCCCC";
        "Calls" = "#FFCC33";
        "Favorites" = "#CCCCCC";
        "Meeting" = "#CCCCCC";
        "Ideas" = "#CCCCCC";
        "Miscellaneous" = "#CCCCCC";
        "Birthday" = "#CCCCCC";
        "Anniversary" = "#CCCCCC";
        "Vacation" = "#CCCCCC";
        "Travel" = "#CCCCCC";
        "Projects" = "#CCCCCC";
        "Suppliers" = "#CCCCCC";
        "Gifts" = "#CCCCCC";
        "Clients" = "#CCCCCC";
        "Issues" = "#CCCCCC";
        "Business" = "#CCCCCC";
        "Holidays" = "#CCCCCC";
        "Personal" = "#CCCCCC";
        "Status" = "#CCCCCC";
        "Competition" = "#CCCCCC";
        "Follow up" = "#CCCCCC";
        "Public Holiday" = "#CCCCCC";
    };

    SOGoSubscriptionFolderFormat = "%{FolderName} (%{UserName} <%{Email}>)";
}
