{ /* -*-java-*- */
  requires = ( MAIN );

  publicResources = (
  );

  factories = {
  };

  categories = {
    SOGoHTMLMailBodyPart = {
      methods = {
	view = {
          protectedBy = "View";
	  pageName = "UIxMailPartExternalHTMLViewer";
	};
      };
    };
    SOGoCalendarMailBodyPart = {
      methods = {
        accept = {
          protectedBy = "View";
          actionClass = "UIxMailPartICalActions";
          actionName  = "accept";
        };
        decline = {
          protectedBy = "View";
          actionClass = "UIxMailPartICalActions";
          actionName  = "decline";
        };
	updateUserStatus = {
          protectedBy = "View";
          actionClass = "UIxMailPartICalActions";
          actionName  = "updateUserStatus";
	};
	/*        tentative = {
          protectedBy = "View";
          actionClass = "UIxMailPartICalAction";
          actionName  = "markTentative";
	  }; */
        addToCalendar = {
          protectedBy = "View";
          actionClass = "UIxMailPartICalActions";
          actionName  = "addToCalendar";
        };
        deleteFromCalendar = {
          protectedBy = "View";
          actionClass = "UIxMailPartICalActions";
          actionName  = "deleteFromCalendar";
	};
      };
    };
  };
}
