{ /* -*- Mode: java; indent-tabs-mode: nil; c-basic-offset: 2 -*- */
  requires = ( MAIN, Mailer, Appointments );

  publicResources = (
);

  factories = {
  };

  categories = {
    SOGoHTMLMailBodyPart = {
      methods = {
        view = {
          protectedBy = "View";
          pageName = "UIxMailPartExternalHTMLViewer";
        };
      };
    };
    SOGoCalendarMailBodyPart = {
      methods = {
        accept = {
          protectedBy = "View";
          actionClass = "UIxMailPartICalActions";
          actionName  = "accept";
        };
        decline = {
          protectedBy = "View";
          actionClass = "UIxMailPartICalActions";
          actionName  = "decline";
        };
        tentative = {
          protectedBy = "View";
          actionClass = "UIxMailPartICalActions";
          actionName  = "tentative";
        };
        delegate = {
          protectedBy = "View";
          actionClass = "UIxMailPartICalActions";
          actionName  = "delegate";
        };
        updateUserStatus = {
          protectedBy = "View";
          actionClass = "UIxMailPartICalActions";
          actionName  = "updateUserStatus";
        };
        /*        tentative = {
                  protectedBy = "View";
                  actionClass = "UIxMailPartICalAction";
                  actionName  = "markTentative";
                  }; */
        addToCalendar = {
          protectedBy = "View";
          actionClass = "UIxMailPartICalActions";
          actionName  = "addToCalendar";
        };
        deleteFromCalendar = {
          protectedBy = "View";
          actionClass = "UIxMailPartICalActions";
          actionName  = "deleteFromCalendar";
        };
      };
    };
  };
}
