////
/// SOGo
/// Version: #{$Version}
/// Module: List
/// Main definitions for List
////
@import 'extends';
.sg {
  &-tile-content {
    @extend .md-tile-content;
    margin-left: $layout-gutter-width; // dirty fix for vs-repeat damages
    .name  {
      margin: $list-h3-margin;
      font-weight: $list-h3-font-weight;
      font-size: $list-h3-font-size;
    }
    .subject {
      margin: $list-h4-margin;
      font-weight: $list-h4-font-weight;
      font-size: $list-h4-font-size;
      // dirty fix for vs-repeat damages
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    p {
      margin: $list-p-margin;
      font-size: $list-p-font-size;
    }
  }
}

// The right tile for a list item.
// ----------------------------------------------------------------------------
.md-tile-right {
  padding-right: $item-padding-right;
}
// The right tile for a list item (avatar container)
// ----------------------------------------------------------------------------
.md-tile-left {
  border-radius: 100%;
  min-height: 56px;
}
