////
/// SOGo
/// Version: #{$Version}
/// Module: List
/// Main definitions for List
////
@import 'extends';
.sg {
  &-tile-content {
    @extend .md-tile-content;
    .name  {
      margin: $list-h3-margin;
      font-weight: $list-h3-font-weight;
      font-size: $list-h3-font-size;
    }
    .subject {
      margin: $list-h4-margin;
      font-weight: $list-h4-font-weight;
      font-size: $list-h4-font-size;
      // dirty fix for vs-repeat damages
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    p {
      margin: $list-p-margin;
      font-size: $list-p-font-size;
    }
  }
}

// The right tile for a list item.
// ----------------------------------------------------------------------------
.md-tile-right {
  padding-right: $item-padding-right;
}
// The right tile for a list item (avatar container)
// ----------------------------------------------------------------------------

.md-tile-left,
.md-tile-right {
  border-radius: 100%;
  padding: $layout-gutter-width;
  width: $sg-md-grid-pitch + $baseline-grid;
  height: $sg-md-grid-pitch + $baseline-grid;
  background-clip: content-box;
  margin-left: -$layout-gutter-width;
}
.md-tile-right {
  margin-right: -$layout-gutter-width;
}
.md-tile-left:before {
  content: "\f251";
  font-family: 'Material Design Iconic Font';
  font-size: 40px;
  color: rgba(0, 0, 0, 0.26);
}