#!/usr/bin/make -f
# -*- makefile -*-
export DH_VERBOSE=1
# export DH_OPTIONS="-p sogo"

config.make: configure
	dh_testdir
	./configure

#Architecture
build: build-arch build-indep

build-arch: build-arch-stamp
build-arch-stamp:  config.make 
#	 Add here commands to compile the arch part of the package.
	$(MAKE)
	touch $@

build-indep: build-indep-stamp
build-indep-stamp:  config.make 
#	 Add here commands to compile the indep part of the package.
#	$(MAKE) doc
	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp 
	if [ -f config.make ]; then make clean; fi
	dh_clean 

install: install-arch
install-indep:
	dh_testdir
	dh_testroot
	dh_prep -i
	dh_installdirs -i
	dh_install -i

install-arch: build-arch
	dh_testdir
	dh_testroot
	dh_prep -i
#	dh_installdirs -s

	$(MAKE) DESTDIR=$(CURDIR)/debian/tmp GNUSTEP_INSTALLATION_DOMAIN=SYSTEM install
	mkdir -p debian/tmp/etc/default
	cp Scripts/sogo-default debian/tmp/etc/default/sogo
	cp Scripts/sogod-wrapper debian/tmp/usr/sbin/sogod-wrapper
	mkdir -p debian/tmp/usr/share/lintian/overrides
	cp debian/sogo.overrides debian/tmp/usr/share/lintian/overrides/sogo
	cp Apache/SOGo-debian.conf /etc/apache2/conf.d/SOGo.conf

binary-indep: build-indep install-indep

# Build architecture dependant packages using the common target.
binary-arch: build-arch install-arch
	dh_testdir
	dh_testroot
	dh_installinit -r
	dh_installlogrotate
	dh_installcron
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_install
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch
.PHONY: build clean binary-indep binary-arch binary install install-indep install-arch 
