@import 'extends';

md-toolbar {
  // todo: create variables scaled z-index
  box-shadow: none;
  font-size: initial;
}

.md-toolbar-tools.md-toolbar-tools-top {
  padding-top: $mg;
}

.md-toolbar-tools.md-toolbar-tools-bottom {
  height: (5 * $line);
  max-height: (5 * $line);
}

header {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  display: flex;
}
hgroup {
  align-items: center;
  flex: 1 1 auto;
  &h3 {
    margin-bottom: 0;
  }
}
.toolbar-main .md-button {
  color: inherit;
  font-size: sg-size(headline);
}

.sg-toolbar-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  &-1 {
    order: 1;
    max-width: $listView-width;
  }
  &-2 {
    order: 2;
  }
  &-3 {
    order: 3;
  }
}
