@import 'extends';

md-toolbar {
  z-index: 20;
  box-shadow: none;
}
.md-toolbar-tools.md-toolbar-tools-bottom {
  height: (5 * $line);
  max-height: (5 * $line);
}
header {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  display: flex;
}
hgroup {
  align-items: center;
  flex: 1 1 auto;
  &h3 {
    margin-bottom: 0;
  }
}
.toolbar-main .md-button {
  color: inherit;
  font-size: sg-size(headline);
}
.sg-icon-bar {
  font-size: $sg-font-size-3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0 $mg;
    }
.sg-icon-bar *.button {
  display: block;
}
.sg-toolbar-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  &-1 {
    order: 1;
    max-width: $listView-width;
  }
  &-2 {
    order: 2;
  }
  &-3 {
    order: 3;
  }
}


