{
  requires = ( MAIN, CommonUI, Contacts );

  publicResources = (
  );

  factories = {
  };

  categories = {
    SOGoContactFolders = {
      methods = {
        view = {
          protectedBy = "View";
          pageName    = "UIxContactFoldersView"; 
        };
        new = {
          protectedBy = "View";
          pageName    = "UIxContactFoldersView"; 
          actionName  = "new";
        };
        scheduler-contacts = {
          protectedBy = "View";
          pageName    = "UIxContactFoldersView"; 
          actionName  = "selectForScheduler";
        };
        mailer-contacts = {
          protectedBy = "View";
          pageName    = "UIxContactFoldersView"; 
          actionName  = "selectForMailer";
        };
      };
    };

    SOGoContactGCSFolder = {
      slots = {
        toolbar = {
          protectedBy = "View";
          value = "SOGoContactFolder.toolbar";
        };
      };
      methods = {
        view = {
          protectedBy = "View";
          pageName    = "UIxContactsListView"; 
        };
        new = { 
          protectedBy = "View";
          pageName    = "UIxContactEditor"; 
          actionName  = "new";
        };
        scheduler-contacts = {
          protectedBy = "View";
          pageName    = "UIxContactsSchedulerSelection";
        };
        mailer-contacts = {
          protectedBy = "View";
          pageName    = "UIxContactsMailerSelection";
        };
      };
    };

    SOGoContactLDAPFolder = {
      slots = {
        toolbar = {
          protectedBy = "View";
          value = "SOGoContactFolder.toolbar";
        };
      };
      methods = {
        view = {
          protectedBy = "View";
          pageName    = "UIxContactsListView"; 
        };
        new = { 
          protectedBy = "View";
          pageName    = "UIxContactEditor"; 
          actionName  = "new";
        };
      };
    };

    SOGoContactGCSEntry = {
      methods = {
        view = { 
          protectedBy = "View";
          pageName    = "UIxContactView"; 
        };
        delete = { 
          protectedBy = "View";
          pageName    = "UIxContactView"; 
          actionName  = "delete";
        };
        edit = { 
          protectedBy = "View";
          pageName    = "UIxContactEditor"; 
        };
        save = { 
          protectedBy = "View";
          pageName    = "UIxContactEditor"; 
          actionName  = "save";
        };
        write = { 
          protectedBy = "View";
          pageName    = "UIxContactEditor"; 
          actionName  = "write";
        };
        vcard = { 
          protectedBy = "View";
          pageName    = "UIxContactView"; 
          actionName  = "vcard";
        };
      };
    };

    SOGoContactLDAPEntry = {
      methods = {
        view = { 
          protectedBy = "View";
          pageName    = "UIxContactView"; 
        };
        delete = { 
          protectedBy = "View";
          pageName    = "UIxContactView"; 
          actionName  = "delete";
        };
        edit = { 
          protectedBy = "View";
          pageName    = "UIxContactEditor"; 
        };
        save = { 
          protectedBy = "View";
          pageName    = "UIxContactEditor"; 
          actionName  = "save";
        };
        write = { 
          protectedBy = "View";
          pageName    = "UIxContactEditor"; 
          actionName  = "write";
        };
        vcard = { 
          protectedBy = "View";
          pageName    = "UIxContactView"; 
          actionName  = "vcard";
        };
      };
    };
  };
}
