{
  requires = ( MAIN );

  publicResources = (
  );

  factories = {
  };
  
  classes = {
    SOGoContactFolders = {
      superclass    = "SOGoObject";

      protectedBy   = "View";
      defaultAccess = "allow"; /* I think this affects key lookup */
      defaultRoles = {
        "View"          = "Authenticated";
        "WebDAV Access" = "Owner";
      };
    };

    SOGoContactGCSFolder = {
      superclass    = "SOGoFolder";

      protectedBy   = "View";
      defaultAccess = "allow"; /* I think this affects key lookup */
      defaultRoles = {
        "View"          = "Authenticated";
        "WebDAV Access" = "Owner";
      };
    };

    SOGoContactGCSEntry = {
      superclass    = "SOGoContentObject";

      protectedBy   = "View";
      defaultAccess = "allow"; /* I think this affects key lookup */
      defaultRoles = {
        "View"          = "Authenticated";
        "WebDAV Access" = "Owner";
      };

      methods = {
      };
    };

    SOGoContactLDAPFolder = {
      superclass    = "SOGoFolder";

      protectedBy   = "View";
      defaultAccess = "allow"; /* I think this affects key lookup */
      defaultRoles = {
        "View"          = "Authenticated";
        "WebDAV Access" = "Owner";
      };
    };

    SOGoContactLDAPEntry = {
      superclass    = "SOGoContentObject";

      protectedBy   = "View";
      defaultAccess = "allow"; /* I think this affects key lookup */
      defaultRoles = {
        "View"          = "Authenticated";
        "WebDAV Access" = "Owner";
      };

      methods = {
      };
    };
  };
}
