{
  requires = ( MAIN );

  publicResources = (
  );

  factories = {
  };
  
  classes = {
    SOGoContactFolders = {
      superclass  = "SOGoFolder";
      protectedBy = "<public>";
      defaultAccess = "allow";
      defaultRoles = {
        "View" = ( "Owner" );
      };
    };

    SOGoContactGCSFolder = {
      superclass    = "SOGoFolder";
    };

    SOGoContactGCSEntry = {
      superclass    = "SOGoContentObject";
      defaultRoles = {
        "View" = ( "Owner", "Delegate", "Organizer", "Authenticated" );
      };
    };

    SOGoContactLDAPFolder = {
      superclass    = "SOGoFolder";
    };

    SOGoContactLDAPEntry = {
      superclass    = "SOGoContentObject";
      defaultRoles = {
        "View" = ( "Owner", "Delegate", "Organizer", "Authenticated" );
      };
    };
  };
}
