DIV#helpDialog
{
    width: 300px;
}

DIV#helpDialog H3
{
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

DIV#helpDialog DIV DIV
{
    border: 0;
    margin: 0;
    padding: 0;
}

DIV#helpDialog P.button
{
    margin: 0;
    padding: 0 0 5px 0;
    text-align: right;
}

DIV#verticalDragHandle
{
    cursor: e-resize;
    top: 6em;
    left: 15em;
    width: 5px;
    bottom: 0px;
}

.titlediv
{ 
    vertical-align: bottom;
    padding-top: 14px;
    padding-left: 6px;
}

DIV#administrationModules
{
    position: absolute;
    top: 9em;
    left: 0;
    width: 15em;
    bottom: 2px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

DIV#administrationModules UL
{
    display: block;
    list-style-type: none;
    list-style-image: none;
    clear: both;
    cursor: default;
    color: #000;
    position: absolute; /* required for Safari & IE */
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    width: auto;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    overflow-x: hidden;
    border-top: 1px solid #909090;
    border-left: 1px solid #909090;
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    -moz-user-select: none;
    -khtml-user-select: none;
}
DIV#administrationModules
{ background: #CCDDEC; }

DIV#administrationModules UL LI
{
    cursor: pointer;
    line-height: 20px;
    height: 20px;
    padding-left: 0.5em;
    margin: 0px;
    width: auto;
    white-space: nowrap;
}

DIV#rightPanel
{
    position: absolute;
    top: 6em;
    left: 15em;
    margin-left: 5px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}

DIV#rightPanel > SPAN
{
    float: left;
}

DIV#rightPanel H1
{
    font-size: 14px;
    margin: 0.5em 0 5px 0;
}

DIV#filterPanel
{ 
    n0padding-top: 5px; 
    width: auto;
}

DIV#administrationContent
{
    position: absolute;
    left: 0;
    right: 1em;
    top: 3em;
    bottom: 2px;
    background-color: #fff;
    padding: .5em;
    overflow: auto;
    border-top: 1px solid #909090;
    border-left: 1px solid #909090;
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}
