.aptview_title {
  font-size:        10pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  color:            #000000;
  font-weight:      bold;
}

.aptview_text {
  font-size:        10pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  color:            #000000;
}

/* appointments */

.apt_organizer {
  color:            #0033cc ! important;
}
.apt_organizer a {
  color:            #0033cc ! important;
}
.apt_other {
  color:            #000000 ! important;
}
.apt_other a {
  color:            #000000 ! important;
}

.apt_nonparticipant {
  font-style:       italic ! important;
}
.apt_participant {
}

.apt_private {
}

.apt_prio0, .apt_prio5, .apt_prio6, .apt_prio7, .apt_prio8, .apt_prio9 {
  font-weight:      normal ! important;
}
.apt_prio1, .apt_prio2, .apt_prio3, .apt_prio4 {
  font-weight:      bold ! important;
}


.apt_other_print {
  font-style:       italic;
}

.aptprintview_apt_other {
  font-style:       italic;
}


/* Anais */

.anais_me {
  color:            #0000FF;
}

.anais_uids {
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        10pt;
}


/* schedule */

.schedoverview {
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  font-size:        10pt;
}

.titlefont {
  font-size:        12pt;
  font-weight:      bold;
}

.titleheader {
  background-color: #d8d8d0;
}

.buttonheader {
  text-align:       right;
}

th.schedoverview_title {
  font-size:        10pt;
  font-weight:      bold;
  text-align:       left;
  background-color: #e8e8e0;
  vertical-align:   top;
}

th.schedoverview {
  font-size:        10pt;
  font-weight:      bold;
  text-align:       left;
  vertical-align:   top;
}

td.schedoverview {
  font-size:        10pt;
  text-align:       left;
  vertical-align:   top;
}

.schedoverview a {
  color:            #000000;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        10pt;
  letter-spacing:   0pt;
  padding:          0px;
  text-decoration:  none;
}
.schedoverview a:hover {
  text-decoration:  underline;
}


/* day overview */

.dayoverview {
  font-size:        8pt;
}

.dayoverview_content {
  padding:          1px;
  margin:           0px 0px 0px 0px;
  vertical-align:   top;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
}

.dayoverview_content_time {
  background-color: #d2d2cc;
  text-align:       center;
  font-size:        9pt;
}

.dayoverview_content_time_link {
  font-size:        8pt;
}
.dayoverview_content_time_link a {
  color:            #0033cc;
  text-decoration:  none;
}
.dayoverview_content_time_link a:hover {
  color:            #ff0000;
  text-decoration:  underline;
}

.dayoverview_content_apts {
  color:            #0033cc;
  background-color: #e8e8e0;
  text-align:       left;
  vertical-align:   top;
}

.dayoverview_cal {
  color:            #000000;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        10pt;
  letter-spacing:   0pt;
  padding:          0px 0px 0px 0px;
  margin:           0px 0px 0px 0px;
}

.dayoverview_cal table {
  padding:          0px 0px 0px 0px;
  margin:           0px 0px 0px 0px;
}

.dayoverview_cal td {
  padding:          0px 0px 0px 0px;
  margin:           0px 0px 0px 0px;
}

.dayoverview_cal a {
  color:            #000000;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        10pt;
  letter-spacing:   0pt;
  padding:          0px;
  text-decoration:  none;
}
.dayoverview_cal a:hover {
  text-decoration:  underline;
}

.dayoverview_cal_title {
  background-color: #d2d2cc;
  text-align:       center;
  font-size:        10pt;
  font-weight:      bold;
  letter-spacing:   0pt;
}

.dayoverview_cal_day_header {
  background-color: #d2d2cc;
  text-align:       center;
  vertical-align:   top;
  font-size:        11pt;
/*   width:            24px;
  padding:          2px 2px 2px 2px;
  margin:           2px 2px 2px 2px;
 */}

.dayoverview_cal_content {
  color:            #0033cc;
  background-color: #e8e8e0;
  text-align:       center;
  vertical-align:   top;
}

.dayoverview_cal_content_hilite {
  color:            #0033cc;
  background-color: #fffff0;
  text-align:       center;
  vertical-align:   top;
}

.dayoverview_cal_content_selected {
  color:            #ff0000;
}
.dayoverview_cal_content_selected a {
  color:            #ff0000;
}
.dayoverview_cal_content_selected a:hover {
  color:            #ff0000;
}

.dayoverview_cal_content_dimmed {
  color:            #0033cc;
  background-color: #d2d2cc;
  text-align:       center;
  vertical-align:   top;
}
.dayoverview_cal_content_dimmed a {
  color:            #5a5a5a;
}
.dayoverview_cal_content_dimmed a:hover {
  color:            #5a5a5a;
}


/* day printview */

.dayprintview {
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  font-size:        10pt;
}

td.dayprintview_time {
  font-size:        10pt;
  font-weight:      bold;
  text-align:       center;
}

td.dayprintview_content {
  font-size:        10pt;
  text-align:       left;
}

h1.dayprintview, h2.dayprintview {
  font-size:        11pt;
  font-weight:      bold;
  margin:           0px;
  padding:          0px;
  text-align:       center;
}

h1.dayprintview {
  font-style:       italic;
}

.dayprintview_apt_other {
  font-style:       italic;
}


/* week overview */

.weekoverview_title {
  font-size:        10pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  color:            #000000;
  background-color: #d2d2cc;
}

.weekoverview_title a {
  color:            #0033cc;
  text-decoration: none;
}

.weekoverview_title_hilite {
  font-size:        10pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  color:            #000000;
  background-color: #d2d2cc;
  font-weight:      bold;
}

.weekoverview_title_hilite a {
  color:            #0033cc;
  text-decoration: none;
}

.weekoverview_title_daylink {
  font-size:        12pt;
  color:            #0033cc;
  font-weight:      bold;
}

.weekoverview_title_newlink {
  font-size:        8pt;
}

.weekoverview_holidayinfo {
  font-size:        8pt;
  font-weight:      bold;
}

.weekoverview_content {
  color:            #FFFFFF;
  background-color: #e8e8e0;
}

.weekoverview_content a {
  color:           #0000FF;
  font-family:     Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:  0pt;
  text-decoration: none;
}

.weekoverview_content_hilite {
  background-color: #fffff0;
}

.weekoverview_content_hilite a {
  color:           #0000FF;
  font-family:     Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:  0pt;
  text-decoration: none;
}


/* week columnsview */

.weekcolumnsview {
}

.weekcolumnsview_title {
  font-size:        10pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  color:            #000000;
  background-color: #d2d2cc;
  padding:          4px;
}

.weekcolumnsview_title a {
  color:            #0033cc;
  text-decoration: none;
}

.weekcolumnsview_title_hilite {
  font-size:        10pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  color:            #000000;
  background-color: #d2d2cc;
  font-weight:      bold;
  padding:          4px;
}

.weekcolumnsview_title_hilite a {
  color:            #0033cc;
  text-decoration: none;
}

.weekcolumnsview_title_daylink {
  font-size:        12pt;
  color:            #0033cc;
  font-weight:      bold;
}

.weekcolumnsview_title_newlink {
  font-size:        8pt;
}

.weekcolumnsview_holidayinfo {
  font-size:        8pt;
  font-weight:      bold;
}

.weekcolumnsview_content {
  color:            #FFFFFF;
  background-color: #e8e8e0;
}

.weekcolumnsview_content a {
  color:           #0000FF;
  font-family:     Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:  0pt;
  text-decoration: none;
}

.weekcolumnsview_content_hilite {
  background-color: #fffff0;
}

.weekcolumnsview_content_hilite a {
  color:           #0000FF;
  font-family:     Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:  0pt;
  text-decoration: none;
}

.weekcolumnsview_cal {
  color:            #000000;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        10pt;
  letter-spacing:   0pt;
  padding:          0px 0px 0px 0px;
  margin:           0px 0px 0px 0px;
}

.weekcolumnsview_cal table {
  padding:          0px 0px 0px 0px;
  margin:           0px 0px 0px 0px;
}

.weekcolumnsview_cal td {
  padding:          0px 0px 0px 0px;
  margin:           0px 0px 0px 0px;
}

.weekcolumnsview_cal a {
  color:            #000000;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        10pt;
  letter-spacing:   0pt;
  padding:          0px;
  text-decoration:  none;
}
.weekcolumnsview_cal a:hover {
  text-decoration:  underline;
}

.weekcolumnsview_cal_title {
  background-color: #d2d2cc;
  text-align:       center;
  font-size:        10pt;
  font-weight:      bold;
  letter-spacing:   0pt;
}

.weekcolumnsview_cal_day_header {
  background-color: #d2d2cc;
  text-align:       center;
  vertical-align:   middle;
  font-size:        11pt;
  width:            20px;
  padding:          2px 2px 2px 2px;
  margin:           2px 2px 2px 2px;
}

.weekcolumnsview_cal_content {
  color:            #000000;
  background-color: #e8e8e0;
  text-align:       center;
  vertical-align:   middle;
  font-size:        10pt;
  letter-spacing:   0pt;
}

.weekcolumnsview_cal_content_hilite {
  color:            #000000;
  background-color: #fffff0;
  text-align:       center;
  vertical-align:   middle;
  font-size:        10pt;
  letter-spacing:   0pt;
}

.weekcolumnsview_cal_content_dimmed {
  color:            #5a5a5a;
  background-color: #d2d2cc;
  text-align:       center;
  vertical-align:   middle;
  font-size:        10pt;
  letter-spacing:   0pt;
}

.weekcolumnsview_cal_week {
  background-color: #d2d2cc;
  width:            16pt;
  text-align:       center;
  vertical-align:   middle;
}


/* week printview */

td.weekprintview {
  border:           1px solid;
}

h1.weekprintview, h2.weekprintview {
  font-size:        10pt;
  font-weight:      bold;
  margin:           0px;
  padding:          0px;
  text-align:       center;
}

h1.weekprintview {
  font-size:        12pt;
  font-style:       italic;
}

.weekprintview_title {
  font-size:        11pt;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
}

.weekprintview_title_hilite a {
  color:            #0033cc;
  text-decoration: none;
}

.weekprintview_holidayinfo {
  font-size:        10pt;
  font-weight:      bold;
}

.weekprintview_content, .weekprintview_apt_time {
  font-size:        10pt;
}

.weekprintview_apt_time {
  font-weight:      bold;
  font-style:       italic;
}

.weekprintview_apt_time_other {
  font-style:       italic;
}

.weekprintview_apt_other {
  font-style:       italic;
}


/* month overview */

.monthoverview {
  color:            #000000;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        7pt;
  font-style:       normal;
  font-weight:      normal;
  letter-spacing:   0pt;
  text-decoration:  none;
  
  text-align:       left;
  vertical-align:   top;
}

.monthoverview a {
  color:            #0033cc;
}

.monthoverview a:hover {
  text-decoration:  underline;
}

.monthoverview_title {
  background-color: #d2d2cc;
  font-size:        10pt;
  text-align:       center;
}

.monthoverview_week {
  background-color: #d2d2cc;
  width:            16pt;
  text-align:       center;
  vertical-align:   middle;
}

.monthoverview_week a {
  color:            #000000;
  font-size:        10pt;
}

.monthoverview_week_hilite {
  background-color: #fffff0;
  width:            16pt;
  text-align:       center;
  vertical-align:   middle;
}

.monthoverview_week_hilite a {
  color:            #000000;
  font-size:        10pt;
}

.monthoverview_content {
  background-color: #e8e8e0;
  font-size:        7pt;
  height:           60;
  text-align:       left;
  vertical-align:   top;
}
.monthoverview_content a {
  font-style:       italic;
  font-weight:      bold;
}

.monthoverview_content_hilite {
  background-color: #fffff0;
  font-size:        7pt;
  height:           60;
  text-align:       left;
  vertical-align:   top;
}
.monthoverview_content_hilite a {
  font-style:       italic;
  font-weight:      bold;
}

.monthoverview_content_dimmed {
  background-color: #d2d2cc;
  font-size:        7pt;
  height:           60;
  text-align:       left;
  vertical-align:   top;
}
.monthoverview_content_dimmed a {
  font-style:       normal;
  font-weight:      normal;
}

/* .monthoverview_day {
  text-align:       left;
  vertical-align:   top;
}
 */
.monthoverview_day a {
  color:            #000000;
  font-size:        12pt;
}

.monthoverview_day_new a {
  font-style:       normal;
  font-weight:      normal;
}

.monthoverview_day_new a:hover {
  font-style:       normal;
  font-weight:      normal;
  color:            #ff0000;
}

.monthoverview_content_link {
  font-style:       normal;
  font-weight:      normal;
}


/* month printview */

.monthprintview {
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:   0pt;
  font-size:        9pt;
}

h1.monthprintview_header, h2.monthprintview_header {
  font-size:        10pt;
  font-weight:      bold;
  margin:           0px;
  padding:          0px;
  text-align:       center;
}

h1.monthprintview_header {
  font-size:        12pt;
  font-style:       italic;
}

.monthprintview_title {
  text-align:       center;
}

.monthprintview_week {
  width:            16pt;
  text-align:       center;
  vertical-align:   middle;
}

.monthprintview_apt, .monthprintview_apt_time {
  font-size:        7pt;
}

.monthprintview_apt_time {
  font-weight:      bold;
  font-style:       italic;
}

.monthprintview_apt_time_other {
  font-style:       italic;
}

.monthprintview_apt_other {
  font-style:       italic;
}

td.monthprintview_content {
  text-align:       left;
  vertical-align:   top;
  font-style:       italic;
  font-weight:      bold;
  font-size:        12pt;
  height:           60;
}

td.monthprintview_content_dimmed {
  text-align:       left;
  vertical-align:   top;
  font-size:        12pt;
  height:           60;
}


/* year overview */

.yearoverview {
  color:            #000000;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        10pt;
  letter-spacing:   0pt;
  padding:          0px 0px 0px 0px;
  margin:           0px 0px 0px 0px;
}

.yearoverview table {
  padding:          0px 0px 0px 0px;
  margin:           0px 0px 0px 0px;
}

.yearoverview td {
  padding:          0px 0px 0px 0px;
  margin:           0px 0px 0px 0px;
}

.yearoverview a {
  color:            #000000;
  font-family:      Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size:        10pt;
  letter-spacing:   0pt;
  padding:          0px;
  text-decoration:  none;
}
.yearoverview a:hover {
  text-decoration:  underline;
}

.yearoverview_title {
  background-color: #d2d2cc;
  text-align:       center;
  font-size:        10pt;
  font-weight:      bold;
  letter-spacing:   0pt;
}

.yearoverview_day_header {
  background-color: #d2d2cc;
  text-align:       center;
  vertical-align:   middle;
  font-size:        10pt;
  width:            18px; /* this delimits all td's! */
}

.yearoverview_content {
  color:            #0033cc;
  background-color: #e8e8e0;
  text-align:       center;
  vertical-align:   middle;
  font-weight:      bold;
  font-style:       italic;
}
.yearoverview_content a {
  color:            #0033cc;
}
.yearoverview_content a:hover {
  color:            #ff0000;
}

.yearoverview_content_hilite {
  color:            #0033cc;
  background-color: #fffff0;
  text-align:       center;
  vertical-align:   middle;
  font-weight:      bold;
  font-style:       italic;
}
.yearoverview_content_hilite a {
  color:            #0033cc;
}
.yearoverview_content_hilite a:hover {
  color:            #ff0000;
}

.yearoverview_content_dimmed {
  color:            #0033cc;
  background-color: #d2d2cc;
  text-align:       center;
  vertical-align:   middle;
}
.yearoverview_content_dimmed a {
  color:            #0033cc;
}
.yearoverview_content_dimmed a:hover {
  color:            #ff0000;
}

.yearoverview_week {
  background-color: #d2d2cc;
  width:            16pt;
  text-align:       center;
  vertical-align:   middle;
}

.yearoverview_week_hilite {
  background-color: #fffff0;
  width:            16pt;
  text-align:       center;
  vertical-align:   middle;
}
