/* SOGo UI Stylesheet */

/* common stuff */

/* Bitstream VeraSans, , Tahoma, FreeSans, Helvetica, sans-serif */
BODY
{ position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: #000000;
  font-family: Lucida Grande, Bitstream VeraSans, Tahoma;
  font-size: 8pt;
  background-color: #d4d0c8;
  border: 0px;
  margin: 0px;
  padding: 0px;
  overflow: hidden; }

HR
{ height: 0px; }

TABLE, DIV, IMG
{ font-family: inherit;
  font-size: inherit;
  border: 0px;
  margin: 0px;
  padding: 0px; }

IMG#progressIndicator
{ float: right;
  margin-top: 1.5em;
  margin-right: 1em; }

DIV#toolbar IMG#progressIndicator
{ margin-top: 0.75em; }

DIV#pageContent
{ clear: both; }

A
{ text-decoration: none;
  -moz-outline: 0px; }

LABEL
{ white-space: nowrap;
  margin-left: .5em; }

TABLE
{ table-layout: fixed;
  border-spacing: 0px; }

TABLE TD
{ padding-left: .25em;
  padding-right: .25em; }

a:link
{ color: #0033CC; }

a:visited
{ color: #660066; }

a:hover
{ color: #ff0000;
  text-decoration: underline; }

.linecolor
{ background-color: #06348B; }

.defaultfont
{ text-decoration: none;
  color: #000000; }

.window_label
{ color: #06348b;
  font-weight: bold; }

.homepagefont
{ text-decoration: none;
  color: #000000; }

/* header */

div#header
{ margin-left: 5px;
  margin-right: 5px;
  padding: 0;
  border-bottom: 1px solid #000; }

div#header img.headerlogo
{ float: right; 
  width: 182px; 
  height: 30px; }

div#header div#headerhistory
{ color: #000000;
  margin: 0px;
  padding-top: 18px;
  height: 12px; }

div#header a, div#header span
{ margin: 0px; }

div#header span#navtitle
{ font-weight: bold; }

div#header a:hover
{ text-decoration: none; }

/* the dock */

a.skydockfont
{ text-decoration: none;
  color: #06348B; }
font.skydockfont
{ text-decoration: none;
  color: #06348B; }
font.skydockfont_inactiveMail
{ text-decoration: none;
  color: #CCCCCC;
  font-weight: bold; }
font.skydockfont_newMail
{ text-decoration: none;
  color: #06348B;
  font-weight: bold; }

table.skytextdocktable
{ padding: 0px;
  table-layout: auto; }

DIV.linkbanner
{ background-color: #222;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  color: #aaa; }

DIV.linkbanner A,
DIV.linkbanner SPAN
{ cursor: default;
  color: #ddd;
  text-decoration: none;
  top: 0px;
  left: 0px;
  padding: 2px 5px; }

DIV.linkbanner SPAN
{ color: #afafff; }

DIV.linkbanner A:hover
{ color: #dd5; }

DIV.linkbanner A#logoff
{ float: right;
  margin: 0px;
  padding: 0px;
  padding-right: .5em; }

.linkbannerlinks
{ vertical-align: bottom;
  text-align: left; }

.linkbannerimage { 
  text-align: right; }

DIV.contactSelector
{ margin: .5em; }

DIV.contactSelector UL.contactList IMG
{ margin: 0px .5em; }

SELECT
{ border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 2px solid #222;
  border-left: 2px solid #222;
  vertical-align: middle;
  -moz-border-top-colors: #9c9a94 #000 transparent;
  -moz-border-left-colors: #9c9a94 #000 transparent;
  margin: 2px;
  padding-right: 1px; }

DIV.contactSelector DIV.contactList
{ font-size: smaller;
  white-space: nowrap;
  width: 40em;
  height: 3em;
  overflow: auto;
  border: 1px solid #444;
  background-color: #eee;
  text-align: left; }

TEXTAREA
{ vertical-align: top; }

DIV, TEXTAREA, INPUT, SELECT
{ font-family: inherit;
  font-size: 8pt;
  font-size: inherit; }

TEXTAREA, INPUT.textField
{ margin: 1px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 2px solid #222;
  border-left: 2px solid #222;
  -moz-border-top-colors: #9c9a94 #000 transparent;
  -moz-border-left-colors: #9c9a94 #000 transparent; }

TEXTAREA
{ padding: 0px;
  padding-left: 2px; }

INPUT.textField
{ padding: 2px;
  vertical-align: middle; }

DIV#toolbar
{ left: 0px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #848284;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  overflow: auto; }

BODY.popup DIV#toolbar
{ border-top: 0px; }

SPAN.toolbarSeparator
{ display: block;
  float: left;
  height: 3.8em;
  vertical-align: middle;
  border-right : 1px solid #fff;
  border-left : 1px solid #9c9a94;
  margin: 0px .25em;
  margin-top: 0.125em;
  width: 0px;
  padding: 0px; }

BUTTON.toolbarButton,
SPAN.toolbarButton,
SPAN.disabledToolbarButton
{ color: #000;
  font-family: Lucida Grande, Bitstream VeraSans, Tahoma;
  font-size: 8pt;
  text-decoration: none;
  cursor: default;
  display: inline;
  float: left;
  text-align: center;
  -moz-box-align: center;
  -moz-box-pack: center;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 1px 2px;
  background-color: transparent;
  color: -moz-DialogText;
  overflow: visible;
  margin: 0px; }

SPAN.disabledToolbarButton
{ -moz-opacity: 0.4;
  opacity: 0.4;
  padding-top: 2px; }

BUTTON.toolbarButton:hover,
SPAN.toolbarButton:hover
{ color: -moz-buttonhovertext;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #828482;
  border-right: 1px solid #828482; }

BUTTON.toolbarButton:active,
SPAN.toolbarButton:active
{ color: -moz-buttonhovertext;
  border-top: 1px solid #828482;
  border-left: 1px solid #828482;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff; }

.toolbarButton IMG.buttonImage
{ border: 0px;
  width: 24px;
  height: 24px;
  margin: auto; }

.toolbarButton .buttonLabel
{ margin: auto; }

/* popups */

.menu
{ visibility: hidden;
  position: absolute;
  z-index: 1000;
  top: -1000px;
  background-color: #d6cfc6;
  color: #000;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #d6cfc6;
  border-left: 1px solid #d6cfc6;
  border-right: 1px solid #424142;
  border-bottom: 1px solid #424142; }

.menu UL
{ cursor: default;
  list-style-type: none;
  list-style-image: none;
  margin: 0px;
  padding: 0px;
  padding-top: 1px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #9e9a92;
  border-bottom: 1px solid #9e9a92; }

.menu LI
{ padding-left: 1em;
  padding-right: 1em;
  padding-top: .15em;
  padding-bottom: .15em;
  margin: 0px;
  width: auto;
  white-space: nowrap; }

.menu LI.disabled,
.menu LI.disabled:hover
{ color: #999; }

.menu LI IMG
{ margin-left: -.8em;
  padding-right: .2em;
  vertical-align: middle; }

/* popup menu with check marks */
UL.choiceMenu LI
{ list-style-position: inside;
  list-style-image: url("menu-nocheck.gif");
  padding: 3px 3px;
  margin: 0px;
  padding-right: 10px; }

UL.choiceMenu LI._chosen
{ list-style-image: url("menu-check.gif"); }

UL.choiceMenu LI._chosen:hover
{ list-style-image: url("menu-check-hover.gif"); }

.menu LI:hover, .menu LI.submenu-selected
{ background-color: #4b6983;
  color: #fff; }

.menu LI.separator, .menu LI.separator:hover
{ padding: 0px;
  margin: 2px 0px;
  height: 0px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #fff; }

.menu LI.submenu, .menu LI.submenu-selected
{ padding-right: 2em;
  background-position: 98% 50%;
  background-repeat: no-repeat; }

.menu LI.submenu
{ background-image: url('submenu.gif'); }

.menu LI[class~="disabled"].submenu
{ background-image: url('submenu-disabled.gif') !important; }

.menu LI.submenu:hover, .menu LI.submenu-selected
{ background-image: url('submenu-active.gif') !important; }

DIV#logConsole
{ position: absolute;
  overflow: auto;
  display: none;
  z-index: 1000;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #999;
  border-bottom: 2px solid #999;
  -moz-border-top-colors: #000 #9c9a94 transparent;
  -moz-border-left-colors: #000 #9c9a94 transparent;
  font-family: monospace;
  font-size: 9pt;
  padding: .25em;
  background-color: #fff;
  overflow-y: scroll;
  color: #222;
  top: 1em;
  left: 0px;
  right: 0px;
  height: 15em; }

/* DIV#logConsole > DIV.highlighted
{ background-color: #ddf; }
 */
/* content lists */
td.tbtv_actcell
{ border-width: 1px;
  border-style: solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-bottom-color: #808080;
  border-right-color: #808080;
  padding-top: 4px;
  padding-bottom: 3px;
  padding-left: 4px;
  padding-right: 4px; }

TD.headerCell,
TD.tbtv_headercell,
TD.tbtv_navcell
{ vertical-align: middle;
  background-color: #d4d0c8; 
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 2px solid #222;
  border-bottom: 2px solid #222;
  -moz-border-bottom-colors: #000 #9c9a94 transparent;
  -moz-border-right-colors: #000 #9c9a94 transparent; }

TD.sortableTableHeader:active
{ background-color: #dcdad5;
  padding-top: 2px;
  border-top: 1px solid #9c9a94;
  border-left: 1px solid #9c9a94;
  border-right: 2px solid #9c9a94;
  border-bottom: 1px solid #9c9a94; }

TD.headerCell SPAN,
TD.tbtv_headercell SPAN
{ float: left; }

TD.tbtv_headercell A
{ cursor: default;
  margin: 0px auto;
  display: block;
  color: black; }

TD.tbtv_headercell A:hover
{ margin: 0px auto;
  display: block;
  color: black;
  text-decoration: none;
  /* background-color: #C4C0B8; */
}

IMG.sortImage,
TD.headerCell IMG.tbtv_sortcell,
TD.tbtv_headercell IMG.tbtv_sortcell
{ float: right;
  text-align: right;
  border: 0px;
  width: 12px;
  height: 12px; }

.tableview
{ cursor: default;
  vertical-align: top; }

TR.tableview TD
{ white-space: nowrap;
  padding-left: .3em;
  padding-right: .3em; }

TD.headerDateTime
{ min-width: 30em; }

TD.headerTitle
{ width: 30%; }

TD.headerLocation
{ min-width: 20em; }

td img.tbtv_sortcell
{ float: right;
  text-align: right;
  margin-top: .2em;
  border: 0px;
  width: 12px;
  height: 12px; }

TD.subjectCell,
td.tbtv_subject_headercell
{ overflow: hidden; }

/* drag handles */
DIV.dragHandle
{ position: absolute;
  z-index: 1;
  background-color: #d4d0c8; }

DIV.dragHandle:active
{ background-color: #99a; }

/* search fields */
DIV#filterPanel
{
  height: 2em;
  vertical-align: middle;
  width: 100%;
}

INPUT#searchValue
{ margin-right: 1em;
  width: 20em;
  padding-left: 24px;
  background-image: url('/SOGo.woa/WebServerResources/Search-bar.png');
  background-repeat: no-repeat;
  background-position: 2px 2px;
  color: #aaa; }

DIV#javascriptSafetyNet
{ position: absolute;
  background-color: transparent;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px; }

DIV.javascriptPopupBackground
{ position: absolute;
  background-color: #999;
  -moz-opacity: 0.6; 
  opacity: 0.6;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center; }

DIV.javascriptMessagePseudoWindow,
DIV.javascriptMessagePseudoTopWindow
{ position: absolute;
  z-index: 2;
  border-bottom: 2px solid #888;
  padding: 1em;
  margin: 0px auto;
  color: #000;
  background-color: #d4d0c8;
  -moz-border-bottom-colors: #000 #9c9a94 transparent;
  -moz-opacity: 1.0;
  opacity: 1.0; }

DIV.javascriptMessagePseudoTopWindow
{ border-top: 0px;
  border-left: 0px;
  border-right: 0px; }

DIV.javascriptMessagePseudoWindow
{ border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #888;
  -moz-border-top-colors: #efebe7 #fff;
  -moz-border-left-colors: #efebe7 #fff;
  -moz-border-right-colors: #000 #9c9a94 transparent; }

DIV.noJavascriptErrorMessage
{ top: 10em;
  left: 17em;
  width: 24em; }

DIV.noJavascriptErrorMessage A
{ float: right;
  margin: 0px auto; }

INPUT.button:active,
A.button:active
{ color: -moz-buttonhovertext;
  background-color: #c4c2bd;
  -moz-border-bottom-colors: #efebe7 #fff;
  -moz-border-right-colors: #efebe7 #fff;
  -moz-border-top-colors: #9c9a94 #000;
  -moz-border-left-colors: #9c9a94 #000; }

INPUT.button,
INPUT.button:disabled,
A.button,
A[class~="_disabled"].button:active
{ cursor: default;
  padding: 1px 0.5em;
  background-color: #d4d0c8;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #888;
  border-right: 2px solid #888;
  -moz-border-top-colors: #efebe7 #fff;
  -moz-border-left-colors: #efebe7 #fff;
  -moz-border-bottom-colors: #000 #9c9a94 transparent;
  -moz-border-right-colors: #000 #9c9a94 transparent;
  text-decoration: none;
  color: inherit; }

INPUT.button:disabled
{ color: #999; }

A.button
{ padding: 4px; }

A.button IMG
{ vertical-align: middle; }

A[class~="_disabled"].button,
A[class~="_disabled"].button:active
{ color: #999;
  background: inherit; }

LI.denied
{ background-color: #fefefe;
  font-style: italic;
  color: #f33; }

LI._selected,
TR._selected > TD,
TD._selected
{
  background-color: #4b6983;
  color: #fff;
}

LI[class~="_selected"].denied
{ 
  background-color: #f33;
}

/* folder tree (js) )*/
DIV.dTreeNode A SPAN.nodeName
{
  margin: 0px .2em;
  padding-left: .2em;
  padding-right: .2em;
}

DIV.dTreeNode A._selected SPAN.nodeName
{
  background-color: #4b6983;
  color: #fff;
}

DIV.dTreeNode SPAN._dragOver
{ 
  background-color: #4b6983;
  color: #fff;
}

/* tabs */
DIV.tabsContainer
{ position: relative;
  color: #000;
  background-color: #d4d0c8;
  margin-top: 1.5em;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #888;
  border-bottom: 2px solid #888;
  -moz-border-top-colors: #efebe7 #fff;
  -moz-border-left-colors: #efebe7 #fff;
  -moz-border-right-colors: #000 #9c9a94 transparent;
  -moz-border-bottom-colors: #000 #9c9a94 transparent; }

DIV.tabsContainer > UL
{ cursor: default;
  list-style-type: none;
  list-style-image: none;
  margin: 0px;
  margin-top: -17px;
  padding: 0px; }

DIV.tabsContainer > UL LI
{ z-index: 3;
  float: left;
  padding: 0px .5em;
  padding-top: 0px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top: 2px solid #fff;
  border-bottom: 0px solid #fff;
  border-right: 2px solid #888;
  padding-bottom: 1px;
  -moz-border-top-colors: #efebe7 #fff;
  -moz-border-right-colors: #000 #9c9a94 transparent;
  -moz-border-bottom-colors: #efebe7 #fff;
  color: #000; }

DIV.tabsContainer > UL LI.first,
DIV.tabsContainer > UL LI.active
{ border-left: 2px solid #fff;
  margin-left: -2px;
  -moz-border-left-colors: #efebe7 #fff; }

DIV.tabsContainer > UL LI.active
{ z-index: 5;
  background-color: #d4d0c8;
  border-bottom: 1px none #fff;
  padding-top: 2px;
  padding-bottom: 3px;
  margin-top: -3px; }

DIV.tabsContainer > DIV.tab
{ position: absolute;
  overflow: auto;
  top: .5em;
  left: .5em;
  right: .5em;
  bottom: .5em;
  display: none; }

DIV.tabsContainer DIV.active
{ display: block; }

DIV.tabsContainer > DIV[class~="active"].tab
{ display: block !important; }

INPUT.checkBox
{ vertical-align: middle;
  -moz-border-top-colors: #000 #fff;
  -moz-border-left-colors: #000 #fff; 
  -moz-border-bottom-colors: #000 #fff;
  -moz-border-right-colors: #000 #fff; }

/* tablekit resizable columns */

TABLE TD.resize-handle-active
{ cursor: e-resize; }

DIV.resize-handle
{ cursor: e-resize;
  width: 2px;
  border-right: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 2em; }

@media print
{
  BODY
  { position: static;
    font-size: 10pt;
    height: auto;
    overflow: visible; }

  DIV#logConsole,
  DIV#linkBanner,
  DIV#toolbar,
  DIV.menu,
  DIV.tabsContainer
  { display: none; }
}
