/* SOGo UI Stylesheet */

/* common stuff */

BODY
{ position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: #262B33;
  font-family: Lucida Grande, Bitstream VeraSans, Tahoma, sans-serif;
  font-size: 8pt;
  background-color: #E6E7E6;
  border: 0px;
  margin: 0px;
  padding: 0px;
  overflow: hidden; }

HR
{ height: 0px; }

TABLE, DIV, IMG
{ font-family: inherit;
  font-size: inherit;
  border: 0px;
  margin: 0px;
  padding: 0px; }

FIELDSET
{ border: 1px solid #999;
  margin-bottom: 2px; }

IMG#progressIndicator
{ float: right;
  margin-top: 1.5em;
  margin-right: 1em; }

DIV#toolbar IMG#progressIndicator
{ margin-top: 0.75em; }

DIV#pageContent
{ clear: both; }

.clear
{ clear: both;
  padding-top: 1em; }

A
{ text-decoration: none;
  -moz-outline: 0px; }

LABEL
{ color: #262B33;
  white-space: nowrap;
  margin-left: .5em; }

TABLE
{ table-layout: fixed;
  border-spacing: 0px; }

TABLE TD
{ padding-left: .25em;
  padding-right: .25em; }

a:link
{ color: #0033CC; }

a:visited
{ color: #660066; }

a:hover
{ color: #ff0000;
  text-decoration: underline; }

.linecolor
{ background-color: #06348B; }

.defaultfont
{ text-decoration: none;
  color: #262B33; }

.window_label
{ color: #06348b;
  font-weight: bold; }

.homepagefont
{ text-decoration: none;
  color: #262B33; }

/* header */

div#header
{ margin-left: 5px;
  margin-right: 5px;
  padding: 0px;
  border-bottom: 1px solid #000; }

div#header img.headerlogo
{ float: right; 
  width: 182px; 
  height: 30px; }

div#header div#headerhistory
{ color: #262B33;
  margin: 0px;
  padding-top: 18px;
  height: 12px; }

div#header a, div#header span
{ margin: 0px; }

div#header span#navtitle
{ font-weight: bold; }

div#header a:hover
{ text-decoration: none; }

DIV.linkbanner
{ background-color: #222;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 30px;
  z-index: 100;
  font-size: 12px;
  line-height: 26px;
  color: #aaa; }

DIV.linkbanner A,
DIV.linkbanner SPAN
{ float: left;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  color: #ddd;
  text-decoration: none;
  top: 0px;
  left: 0px;
  padding: 0px 0.5em; }

DIV.linkbanner A
{ cursor: pointer; }

DIV.linkbanner SPAN
{ border-top: 2px solid #afafff;
  border-bottom: 2px solid #000;
  color: #afafff;
  color: #fff;
  font-weight: bold; }

DIV.linkbanner A:hover
{ background-color: #666;
  border-top: 2px solid #666;
  border-bottom: 2px solid #666; }

DIV.linkbanner A#logoff, DIV.linkbanner SPAN#userIdentificationDisplay
{ float: right;
  margin: 0px;
  padding: 0px .5em; }

DIV.linkbanner SPAN#userIdentificationDisplay
{ border-top: 2px solid #000;
  color: #DDDDDD; }

DIV.linkbanner IMG
{ padding: 0px 4px; }

.linkbannerlinks
{ vertical-align: bottom;
  text-align: left; }

.linkbannerimage { 
  text-align: right; }

DIV.contactSelector
{ margin: .5em; }

DIV.contactSelector UL.contactList IMG
{ margin: 0px .5em; }

SELECT
{ vertical-align: middle;
  margin: 2px;
  padding-right: 1px;
  background-color: #CCDDEC;
  color: #262B33; }

DIV.contactSelector DIV.contactList
{ font-size: smaller;
  white-space: nowrap;
  width: 40em;
  height: 3em;
  overflow: auto;
  border: 1px solid #444;
  background-color: #eee;
  text-align: left; }

/* contextual menus & popups */

.menu,
.popupMenu
{ visibility: hidden;
  position: absolute;
  z-index: 1000;
  top: -1000px;
  background-color: #E6E7E6;
  color: #262B33;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-bottom: 1px solid #909090;
  border-right: 1px solid #909090;
  overflow: auto; 
  overflow-x: hidden; }

.popupMenu
{ background-color: #fff; }

.menu UL,
.popupMenu UL
{ cursor: default;
  list-style-type: none;
  list-style-image: none;
  margin: 0px;
  padding: 0px;
  padding-top: 1px; }

.menu LI,
.popupMenu LI
{ padding-left: 1em;
  padding-right: 1em;
  padding-top: .15em;
  padding-bottom: .15em;
  margin: 0px;
  width: auto;
  white-space: nowrap; }

.menu LI.disabled,
.popuMenu LI.disabled,
.menu LI.disabled:hover,
.popupMenu LI.disabled:hover
{ color: #999; }

.menu LI IMG
{ margin-left: -.8em;
  padding-right: .2em;
  vertical-align: middle; }

/* contact info for auto-completion */
.popupMenu LI STRONG
{ color: #b00; }

/* popup menu with check marks */
UL.choiceMenu LI
{ list-style-position: inside;
  list-style-image: url("menu-nocheck.gif");
  padding: 3px 3px;
  margin: 0px;
  padding-right: 10px; }

UL.choiceMenu LI._chosen
{ list-style-image: url("menu-check.gif"); }

UL.choiceMenu LI._chosen:hover
{ list-style-image: url("menu-check-hover.gif"); }

.menu LI:hover,
.menu LI.selected,
.menu LI.submenu-selected
{ background-color: #9ABCD8;
  color: #fff; }

.menu LI.disabled:hover
{ background-color: inherit; }

.menu LI.separator,
.menu LI.separator:hover
{ padding: 0px;
  margin: 2px 0px;
  height: 0px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #fff; }

.menu LI.submenu,
.menu LI.submenu-selected
{ padding-right: 2em;
  background-position: 98% 50%;
  background-repeat: no-repeat; }

.menu LI.submenu
{ background-image: url('arrow-right.png'); }

.menu LI.submenu:hover, .menu LI.submenu-selected
{ background-image: url('arrow-right.png') !important; }

.menu LI[class~="disabled"].submenu,
.menu LI[class~="disabled"].submenu:hover
{ background-image: url('submenu-disabled.gif') !important; }

DIV#logConsole
{ position: absolute;
  overflow: auto;
  display: none;
  z-index: 1000;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #999;
  border-bottom: 2px solid #999;
  -moz-border-top-colors: #000 #9c9a94 transparent;
  -moz-border-left-colors: #000 #9c9a94 transparent;
  font-family: monospace;
  font-size: 9pt;
  padding: .25em;
  background-color: #fff;
  overflow-y: scroll;
  color: #222;
  top: 30px;
  left: 0px;
  right: 0px;
  height: 15em; }

/* DIV#logConsole > DIV.highlighted
{ background-color: #ddf; }
 */

/* content lists */
td.tbtv_actcell
{ border-width: 1px;
  border-style: solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-bottom-color: #808080;
  border-right-color: #808080;
  padding-top: 4px;
  padding-bottom: 3px;
  padding-left: 4px;
  padding-right: 4px; }

TD.headerCell,
TH.headerCell,
TD.tbtv_headercell,
TH.tbtv_headercell,
TD.tbtv_navcell,
TH.tbtv_navcell
{ vertical-align: middle;
  background: transparent url('thead_bg.png') repeat-x top right;
  border: 1px solid #9B9B9B;
  border-left: none;
  text-align: left;
  font-weight: normal;
  background-color: #E7E7E7;
  height: 20px; }

TD.sortableTableHeader:active,
TH.sortableTableHeader:active
{ background-position: bottom left; }

TD.headerCell SPAN,
TH.headerCell SPAN,
TD.tbtv_headercell SPAN,
TH.tbtv_headercell SPAN
{ float: left; }

TD.tbtv_headercell A,
TH.tbtv_headercell A
{ cursor: default;
  margin: 0px auto;
  display: block;
  color: black; }

TD.tbtv_headercell A:hover,
TH.tbtv_headercell A:hover
{ margin: 0px auto;
  display: block;
  color: black;
  text-decoration: none;
  /* background-color: #C4C0B8; */
}

IMG.sortImage,
TD.headerCell IMG.tbtv_sortcell,
TD.tbtv_headercell IMG.tbtv_sortcell,
TH.tbtv_headercell IMG.tbtv_sortcell
{ float: right;
  text-align: right;
  border: 0px;
  width: 12px;
  height: 12px; }

.tableview
{ cursor: default;
  vertical-align: top; }

TR.tableview TD
{ white-space: nowrap;
  padding-left: .3em;
  padding-right: .3em; }

TD.headerDateTime
{ min-width: 30em; }

TD.headerTitle
{ width: 20%; }

TD.headerLocation,
TD.headerCalendarName
{ min-width: 15em;
  width: 15em; }

td img.tbtv_sortcell
{ float: right;
  text-align: right;
  margin-top: .2em;
  border: 0px;
  width: 12px;
  height: 12px; }

TD.subjectCell,
TD.tbtv_subject_headercell
{ overflow: hidden; }

/* drag handles */
DIV.dragHandle
{ position: absolute;
  z-index: 1;
  background: #E6E7E6 url("dragdot.png") no-repeat center center; }

DIV.dragHandle:active
{ background-color: #99a; }

/* search fields */
DIV#filterPanel
{ height: 2em;
  vertical-align: middle;
  width: 100%;
  padding-top: 3px;
}

DIV#javascriptSafetyNet
{ position: absolute;
  background-color: transparent;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px; }

DIV.javascriptPopupBackground
{ position: absolute;
  background-color: #999;
  -moz-opacity: 0.6; 
  opacity: 0.6;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center; }

DIV.javascriptMessagePseudoWindow,
DIV.javascriptMessagePseudoTopWindow
{ position: absolute;
  z-index: 2;
  border-bottom: 2px solid #888;
  padding: 1em;
  margin: 0px auto;
  color: #262B33;
  background-color: #E6E7E6;
  -moz-border-bottom-colors: #000 #9c9a94 transparent;
  -moz-opacity: 1.0;
  opacity: 1.0; }

DIV.javascriptMessagePseudoTopWindow
{ border-top: 0px;
  border-left: 0px;
  border-right: 0px; }

DIV.javascriptMessagePseudoWindow
{ border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #888;
  -moz-border-top-colors: #efebe7 #fff;
  -moz-border-left-colors: #efebe7 #fff;
  -moz-border-right-colors: #000 #9c9a94 transparent; }

DIV.noJavascriptErrorMessage
{ top: 10em;
  left: 17em;
  width: 24em; }

DIV.noJavascriptErrorMessage A
{ float: right;
  margin: 0px auto; }

LI.denied
{ background-color: #fefefe;
  font-style: italic;
  color: #f33; }

.popupMenu LI:hover,
.popupMenu LI.selected,
LI._selected,
TR._selected > TD,
TD._selected
{
  background-color: #9ABCD8 !important;
  color: #fff;
}

LI[class~="_selected"].denied
{ 
  background-color: #f33;
}

.hidden
{ visibility: hidden; }

/* folder tree (js) )*/
DIV.dTreeNode A SPAN.nodeName
{
  margin: 0px .2em;
  padding-left: .2em;
  padding-right: .2em;
}

DIV.dTreeNode A._selected SPAN.nodeName
{
  background-color: #9ABCD8;
  color: #fff;
}

DIV.dTreeNode SPAN._dragOver
{ 
  background-color: #9ABCD8;
  color: #fff;
}

INPUT.checkBox
{ vertical-align: middle; }

/* resizable columns */

TABLE TD.resize-handle-active,
TABLE TH.resize-handle-active
{ cursor: e-resize; }

DIV.resize-handle
{ cursor: e-resize;
  width: 2px;
  border-right: 1px solid #fff;
  position: absolute;
  top: 0px;
  left: 0px; }

.genericHoverClass
{
  background-color: #9ABCD8 !important;
  color: #fff !important;
}

DIV.dialog
{ position: absolute;
  width: 350px;
  z-index: 50; }

DIV.dialog > DIV
{ border: 1px solid #444;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.5);
  box-shadow: 0 5px 10px rgba(0,0,0,.5);
  background-color: #fff;
  padding: 5px;
  padding-bottom: 26px; }

DIV.dialog.left
{ background-image: url("dialog-left.png");
  background-repeat: no-repeat;
  background-position: top left; }

DIV.dialog.left DIV
{ border-left: 0px;
  margin-left: 19px;
  text-align: left; }

DIV.dialog.right
{ background-image: url("dialog-right.png");
  background-repeat: no-repeat;
  background-position: top right; }

DIV.dialog.right DIV
{ border-right: 0px;
  margin-right: 19px;
  text-align: right; }

DIV.dialog.none
{ position: relative;
  margin: 0px;
  padding: 0px;
  opacity: 1;
  margin: 100px auto; /* top margin could be dynamically set depending on window height */ }

DIV.dialog.none DIV
{ padding: 10px; }

DIV.dialog HR
{ clear: both;
  height: 0px;
  margin: 0px;
  padding: 0px;
  color: #fff;
  border: 0px; }

DIV.dialog.none H3
{ margin: 0; }

DIV.dialog.none P
{ margin: 0px;
  padding: 5px 0px; }

DIV.dialog.none P.prompt
{ text-align: right; }

DIV.dialog P.list
{ max-height: 200px;
  overflow-y: auto; }

DIV#bgFrameDiv
{ position: absolute;
  top: 0px; left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  background: -webkit-radial-gradient(ellipse cover,rgba(0, 0, 0, .1) 0,rgba(0, 0, 0, .1) 20%,rgba(0, 0, 0, .7) 80%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, .5),  rgba(0, 0, 0, .1)); }

DIV#bgDialogDiv
{ position: absolute;
  top: 0px; left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  background: -webkit-radial-gradient(ellipse cover,rgba(0, 0, 0, .1) 0,rgba(0, 0, 0, .1) 20%,rgba(0, 0, 0, .7) 80%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, .5),  rgba(0, 0, 0, .1)); }

DIV#uploadDialog,
DIV#uploadResults
{ border-width: 1px;
  width: 260px; }

DIV#uploadDialog DIV,
DIV#uploadResults DIV
{ width: 260px; }

DIV#uploadDialog H3,
DIV#uploadResults H3
{ margin-top: 0px;
  font-size: 1.2em; }

/* INPUT styles */
TEXTAREA
{ vertical-align: top; }

DIV, TEXTAREA, INPUT, SELECT
{ font-family: inherit;
  font-size: 8pt;
  font-size: inherit; }

INPUT[type="text"], INPUT[type="password"], INPUT[type="file"],
TEXTAREA
{ border-top: 1px solid #909090;
  border-left: 1px solid #909090;
  border-bottom: 1px solid #EFF0EF;
  border-right: 1px solid #EFF0EF;
  background-color: #CCDDEC;
  color: #262B33; }

INPUT[disabled], INPUT[readonly],
SELECT[disabled], SELECT[readonly],
TEXTAREA[disabled], TEXTAREA[readonly]
{ background: #E6E7E6;
  color: #9ABCD8; }

INPUT[type="text"], INPUT[type="password"], INPUT[type="file"]
{ background: url("input_bg.gif"); }

TEXTAREA
{ padding: 0px;
  padding-left: 2px; }

INPUT.textField, INPUT.comboBoxField
{ margin: 2px;
  padding: 2px;
  vertical-align: middle;
  width: 250px; }

INPUT.comboBoxField
{ margin-right: 0px; }

INPUT.textField._invalid, INPUT.comboBoxField._invalid
{ background-color: #f00 !important; }

BUTTON.comboBoxButton
{ background-image: url("arrow-down.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e6e7e6;
  width: 20px;
  height: 20px;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #909090;
  border-right: 1px solid #909090;
  border-left: 1px solid #eff0ef;
  border-top: 1px solid #eff0ef;
}

BUTTON.comboBoxButton:active
{
  border-bottom: 1px solid #eff0ef;
  border-right: 1px solid #eff0ef;
  border-top: 1px solid #909090;
  border-left: 1px solid #909090;
  background-color: #d6d7d6;
}

INPUT#searchValue
{ margin-right: 1em;
  width: 20em;
  padding-left: 24px;
  background-image: url('Search-bar.png');
  background-repeat: no-repeat;
  background-position: 2px 2px;
  background-color: #CCDDEC;
  color: #909090; }

/* Buttons 
 * Avoid using DIVS as buttons, they're only helpful when they have multiple
 * listeners for "onclick" 
 */
A.button {
  padding: 0px 0.5em;
  background: transparent url('btn_a_bg.png') no-repeat scroll top right;
  display: block;
  float: right;
  height: 23px;
  padding-right: 3px; /* sliding doors padding */
  text-decoration: none;  
  text-align: center;
  color: inherit;
  cursor: pointer;
}

A.button SPAN {
    background: transparent url('btn_span_bg.png') no-repeat;
    display: block;
    line-height: 13px;
    padding: 5px 2px 5px 5px;
    cursor: pointer;
    min-width: 70px;
}

A.button.actionButton SPAN 
{ font-weight: bold; }

A.button:active SPAN
{ background-position: bottom left;
  padding: 6px 2px 4px 5px; }

A.disabled.button,
A.disabled.button:active,
A.disabled.button SPAN
{ color: #999; }

A.disabled.button:active SPAN
{ background-position: top left;
  padding: 5px 2px 5px 5px; }

/* Frames */
TABLE.frame,
TABLE.framenocaption
{ border-top: 1px solid #909090;
  border-left: 1px solid #909090;
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  margin-top: -.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  padding: 1em;
  display: table;
  text-align: right;
  width: 100%; }

TABLE.nopadding
{ padding: 4px; }
TABLE.framenocaption
{ margin-top: 14px; }

TABLE.frame TD
{ padding: 0px; }

SPAN.caption
{ display: inline-block;
  position: relative;
  text-align: center;
  cursor: default;
  background-color: #E6E7E6;
  color: #262B33;
  width: auto;
  padding: .25em;
  margin-left: 7px;
  border: 0px; }

/* Tabs */

DIV.tabsContainer
{ overflow: hidden;
  padding: 0px 5px;
  -moz-user-select: none;
  -khtml-user-select: none; }

DIV.tabsContainer > DIV.scrollToolbar
{ position: absolute;
  background-color: #c6c7c6;
  border: 1px solid #9B9B9B;
  padding: 1px;
  top: 8px;
  right: 0px;
  height: 12px;
  vertical-align: bottom;
  text-align: center;
  width: 30px; }

DIV.tabsContainer > DIV.scrollToolbar > A > SPAN
{ border: 0px;
  text-align: center;
  width: 12px;
  padding: 0px !important;
  margin: 0px !important;
  margin-top: 5px;  }

DIV.tabsContainer > DIV.scrollToolbar > A,
DIV.tabsContainer > DIV.scrollToolbar > A > SPAN
{ height: 12px; }

DIV.tabsContainer > UL
{ cursor: default;
  width: 1000px;
  list-style-type: none;
  list-style-image: none;
  margin: 0px;
  padding: 0px; }

DIV.tabsContainer > UL LI
{ overflow: hidden;
  padding: 0px;
  margin-right: -1px;
  background: transparent url('tab_a_inactive_bg.png') no-repeat scroll top right;
  display: block;
  float: left;
  height: 24px;
  padding-right: 2px; /* sliding doors padding */
  text-decoration: none;  
  color: inherit; }

DIV.tabsContainer > UL LI SPAN
{ background: transparent url('tab_span_inactive_bg.png') no-repeat;
  display: block;
  line-height: 14px;
  padding: 5px 6px 5px 5px; }

DIV.tabsContainer > UL LI.active
{ background: transparent url('tab_a_active_bg.png') no-repeat scroll top right !important; }
DIV.tabsContainer > UL LI.active SPAN
{ background: transparent url('tab_span_active_bg.png') no-repeat !important; }
DIV.tabsContainer > UL LI SPAN:hover
{ cursor: pointer; }
DIV.tabsContainer > UL LI.first
{ margin-left: -1px;
  padding-left: -1px; } /* Firefox will complain */

DIV.tabsContainer > DIV.tabs
{ position: absolute;
  color: #262B33;
  background-color: #E6E7E6;
  border: 1px solid #9B9B9B;
  top: 23px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden; }

DIV.tabsContainer > DIV.tabs > DIV.tab
{ position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  overflow: hidden; }

IFRAME.hidden,
DIV.tab
{ display: none; }

DIV#popupFrame
{ position: absolute;
  top: 40px;
  bottom: 40px;
  left: 15%;
  right: 15%;
  padding: 4px;
  z-index: 2000;
  background-color: #E6E7E6;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.5);
  box-shadow: 0 5px 10px rgba(0,0,0,.5);
}

DIV#popupFrame.small
{ left: 30%;
  right: 30%;
}

DIV#popupFrame > IFRAME
{ margin: 0;
  padding: 0;
  color: #000;
  background-color: #E6E7E6;
  border: 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

DIV.tabsContainer DIV.active
{ display: block; }

DIV.tabsContainer > DIV.active.tab
{ display: block !important; }

/* Toolbar */
DIV#toolbar
{ left: 0px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #848284;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  overflow: hidden; }

BODY.popup DIV#toolbar
{ border-top: 0px; }

SPAN.toolbarSeparator
{ display: block;
  float: left;
  height: 3.8em;
  vertical-align: middle;
  border-right : 1px solid #fff;
  border-left : 1px solid #9c9a94;
  margin: 0px .25em;
  margin-top: 0.125em;
  width: 0px;
  padding: 0px; }

DIV.toolbar IMG.buttonImage
{ width: 24px;
  height: 24px; }

A.toolbarButton, 
A.toolbarButton:hover,
A.smallToolbarButton, 
A.smallToolbarButton:hover {
  display: inline;
  float: left;
  height: 49px;
  padding-right: 3px; /* sliding doors padding */
  text-decoration: none;  
  color: inherit;
  cursor: pointer;
}
A.smallToolbarButton,
A.smallToolbarButton:hover {
  height: 37px;
}
A.toolbarButton:hover {
  background: transparent url('toolbarbtn_a_bg.png') no-repeat scroll top right;
}
A.smallToolbarButton:hover {
  background: transparent url('smalltoolbarbtn_a_bg.png') no-repeat scroll top right;
}

A.toolbarButton SPAN,
A.toolbarButton:hover SPAN {
  text-align: center;
  display: block;
  line-height: 13px;
  padding: 5px 2px 5px 5px;
  cursor: pointer;
}

A.smallToolbarButton SPAN, 
A.smallToolbarButton:hover SPAN {
  text-align: center;
  display: block;
  line-height: 8px;
  padding: 5px 2px 5px 5px !important;
  cursor: pointer;
}

A.toolbarButton:hover SPAN {
  background: transparent url('toolbarbtn_span_bg.png') no-repeat;
}
A.smallToolbarButton:hover SPAN {
  background: transparent url('smalltoolbarbtn_span_bg.png') no-repeat;
}
A.toolbarButton:active SPAN {
  background-position: bottom left;
}
A.smallToolbarButton:active SPAN {
  background-position: bottom left;
}

A._disabled.toolbarButton,
A._disabled.toolbarButton:active
{ color: #999; }

P#mailerSelectionContainer
{ line-height: 25px;
  margin-top: 2px; }

DIV.bottomToolbar
{ vertical-align: middle;
  background-image: url("thead_bg.png");
  border: 1px solid #9B9B9B;
  background-color: #E6E7E6;
  height: 20px;
  margin-top: -4px;
  text-align: left;
  margin-left: 2px;
  margin-right: 2px; }

DIV.bottomToolbar A.bottomButton SPAN,
DIV.bottomToolbar A.bottomButton
{ margin: 0px;
  padding: 0px;
  width: 23px;
  text-align: center;
  text-decoration: none;  
  color: inherit;
  cursor: pointer;
  border-bottom: 1px solid #9B9B9B;
  border-right: 1px solid #9B9B9B;
  float: left;
  height: 20px; }

DIV.bottomToolbar A.bottomButton SPAN
{ background: transparent url('thead_bg.png') repeat-x top right; }
DIV.bottomToolbar A.bottomButton SPAN:active
{ background-position: bottom left; }

/* row editing */
.editing > INPUT[type="text"]
{ width: 98%; }

@media print
{
  BODY
  { position: static;
    font-size: 10pt;
    height: auto;
    overflow: visible; }

  DIV#logConsole,
  DIV#linkBanner,
  DIV#toolbar,
  DIV.menu,
  DIV.tabsContainer
  { display: none; }
}
