/* SOGo UI Stylesheet */
body > pre{
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0;
    padding: 5px;
    position: absolute;
    bottom: 0px;
    z-index: 9999;
}
/* common stuff */

BODY
{ position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: #333;
  font-family: Lucida Grande, Bitstream VeraSans, Tahoma, sans-serif;
  font-size: 12px;
  background-color: white;
  border: 0px;
  margin: 0px;
  padding: 0px;
  overflow: hidden; }

HR
{ height: 0;
border: 0;
border-top: 1px solid #ddd;
border-bottom: 1px solid #eee; }

TABLE, DIV, IMG
{ font-family: inherit;
  font-size: inherit;
  border: 0px;
  margin: 0px;
  padding: 0px; }

FIELDSET
{ background-color: #f6f6f6;
  padding:20px;
  margin-bottom: 15px;
border:0px;}

FIELDSET DIV
{ margin-bottom:10px}

FIELDSET LEGEND{
    background-color: #f6f6f6;
    font-size: 1.3em;
    margin: 0 -20px;
    padding: 10px 30px 10px 10px;
    width: 100%; 
  }

IMG#progressIndicator
{ float: right;
  margin-top: 1.5em;
  margin-right: 1em; }

DIV#toolbar IMG#progressIndicator
{ margin-top: 0.75em; }

DIV#pageContent
{ clear: both; }

.clear
{ clear: both;
  padding-top: 1em; }

A
{ text-decoration: none;
  -moz-outline: 0px; }


H6
{ font-size: 11px;
  text-transform: uppercase;
  margin: 10px 0px 5px 0px;
  padding-left: 5px; }

TABLE
{ table-layout: fixed;
  border-spacing: 0px; }

TABLE TD
{ padding-left: .25em;
  padding-right: .25em; }

a:link
{ color: #0033CC; }

a:visited
{ color: #660066; }

a:hover
{ color: #ff0000;
  text-decoration: underline; }

.linecolor
{ background-color: #06348B; }

.defaultfont
{ text-decoration: none;
  color: #262B33; }

.window_label
{ color: #06348b;
  font-weight: bold; }

.homepagefont
{ text-decoration: none;
  color: #262B33; }

/* header */

div#header
{ margin-left: 5px;
  margin-right: 5px;
  padding: 0px;
  border-bottom: 1px solid #000; }

div#header img.headerlogo
{ float: right; 
  width: 182px; 
  height: 30px; }

div#header div#headerhistory
{ color: #262B33;
  margin: 0px;
  padding-top: 18px;
  height: 12px; }

div#header a, div#header span
{ margin: 0px; }

div#header span#navtitle
{ font-weight: bold; }

div#header a:hover
{ text-decoration: none; }

DIV.linkbanner
{ background-color: #69BE28;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 40px;
  z-index: 100;
  font-size: 12px;
  line-height: 40px;
  color: #aaa; }

DIV.linkbanner A,
DIV.linkbanner SPAN
{ float: left;
  color: #ddd;
  text-decoration: none;
  top: 0px;
  left: 0px;
  padding: 0px 1em;
  transition: all 0.2s;
  -webkit-transition:  all 0.2s }

DIV.linkbanner A#logoff
{ color:transparent;
  overflow: hidden;
  width:25px;
  padding: 0px 5px;
  display: inline-block;
  background-image: url('logoff.gif');
  background-position:center center;
  background-repeat: no-repeat;
  height: 40px;
}
DIV.linkbanner A#preferencesBannerLink
{ padding: 0px 5px;
  width:25px;
  height: 40px;
  overflow: hidden;
  color:transparent;
  display: inline-block;
  background-image: url('preferences.gif');
  background-position:center center;
  background-repeat: no-repeat;
}
DIV.linkbanner A
{ cursor: pointer; }

DIV.linkbanner SPAN
{ color: #fff;
  font-weight: bold; }

DIV.linkbanner A:hover
{ background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  transition: all 0.2s;
  -webkit-transition:  all 0.2s }

DIV.linkbanner SPAN#userIdentificationDisplay
{ color: #ffffff;
  font-size: 0.9em;
  font-weight: normal
}

DIV.linkbanner IMG
{ padding: 0px 4px; }

.linkbannerlinks
{ vertical-align: bottom;
  text-align: left; }

.linkbannerimage { 
  text-align: right; }

DIV.appNav{
  font-size: 16px;
  font-weight: 100;
  float: left;
  margin-right: 30px;
  position: relative;
}

DIV.appNav DIV.appNavMenu {
    background-color: #46962D;
    position: absolute; 
    top: 40px;
    z-index: 100;
    display: none;
    width: 100%;
}
DIV.appNav DIV.appNavMenu > a {
    display: block;
    float: none;
}
DIV.linkbanner SPAN.active{
  font-weight: normal;
  padding: 0;
}
DIV.appNav .dropdown{
  padding: 0px;
  margin-left: 10px;
}
DIV.appNav .dropdown:hover,
DIV.appNav:hover{
  background-color: rgba(0, 0, 0, 0.1)
}

DIV.userMenu{
  float: right;
}

DIV.contactSelector
{ margin: .5em; }

DIV.contactSelector UL.contactList IMG
{ margin: 0px .5em; }

SELECT
{ vertical-align: middle;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 2px;
   }

DIV.contactSelector DIV.contactList
{ font-size: smaller;
  white-space: nowrap;
  width: 40em;
  height: 3em;
  overflow: auto;
  border: 1px solid #444;
  background-color: #eee;
  text-align: left; }

/* contextual menus & popups */

BODY.popup {
  background-color: #EEE;   
}
BODY.popup #toolbar + #pageContent{
  position: absolute;
  top: 40px;
  overflow: auto;
  bottom: 0px;
  width:100%;
}
#commentArea TEXTAREA{
  resize: none;
  width: 95%;
  height: 100px;
}
.menu,
.popupMenu
{ visibility: hidden;
  position: absolute;
  z-index: 1000;
  top: -1000px;
  background-color: #fff;
  color: #333;
  margin: 0px;
  padding: 0px;
  border: 1px solid #ccc;
  overflow: auto; 
  overflow-x: hidden;
  box-shadow:0px 5px 10px rgba(0,0,0,0.2)}

.popup .popupMenu,
.popup .menu
{ background-color: #fff; 
position: fixed;}

.menu UL,
.popupMenu UL
{ cursor: default;
  list-style-type: none;
  list-style-image: none;
  margin: 0px;
  padding: 0px;
}

.menu LI,
.popupMenu LI
{ padding: 8px 10px;
  margin: 0px;
  width: auto;
  white-space: nowrap; }

.menu LI.disabled,
.popuMenu LI.disabled,
.menu LI.disabled:hover,
.popupMenu LI.disabled:hover
{ color: #999; }

.menu LI IMG
{ margin: -6px 0;
  padding-right: 0.5em;
  vertical-align: middle;
}

/* contact info for auto-completion */
.popupMenu LI STRONG
{ color: #b00; }

/* popup menu with check marks */
UL.choiceMenu LI
{ list-style-position: inside;
  list-style-image: url("menu-nocheck.gif");
  margin: 0px;
  padding-right: 10px; }

UL.choiceMenu LI._chosen
{ list-style-image: url("menu-check.gif"); }

UL.choiceMenu LI._chosen:hover
{ list-style-image: url("menu-check-hover.gif"); }

.menu LI:hover,
.menu LI.selected,
.menu LI.submenu-selected
{ background-color: #7BC143;
  color: #fff; }

.menu LI.disabled:hover
{ background-color: inherit; }

.menu LI.separator,
.menu LI.separator:hover
{ padding: 0px;
  margin:0px;
  height: 0px;
  border-top: 1px solid #aaa;
}

.menu LI.submenu,
.menu LI.submenu-selected
{ padding-right: 2em;
  background-position: 98% 50%;
  background-repeat: no-repeat; }

.menu LI.submenu
{ background-image: url('arrow-right.png'); }

.menu LI.submenu:hover, .menu LI.submenu-selected
{ background-image: url('arrow-right.png') !important; }

.menu LI[class~="disabled"].submenu,
.menu LI[class~="disabled"].submenu:hover
{ background-image: url('submenu-disabled.gif') !important; }

DIV#logConsole
{ position: absolute;
  overflow: auto;
  display: none;
  z-index: 1000;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #999;
  border-bottom: 2px solid #999;
  -moz-border-top-colors: #000 #9c9a94 transparent;
  -moz-border-left-colors: #000 #9c9a94 transparent;
  font-family: monospace;
  font-size: 9pt;
  padding: .25em;
  background-color: #fff;
  overflow-y: scroll;
  color: #222;
  top: 30px;
  left: 0px;
  right: 0px;
  height: 15em; }

/* DIV#logConsole > DIV.highlighted
{ background-color: #ddf; }
 */

/* content lists */
td.tbtv_actcell
{ border-width: 1px;
  border-style: solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-bottom-color: #808080;
  border-right-color: #808080;
  padding-top: 4px;
  padding-bottom: 3px;
  padding-left: 4px;
  padding-right: 4px; }

TD.headerCell,
TH.headerCell,
TD.tbtv_headercell,
TH.tbtv_headercell,
TD.tbtv_navcell,
TH.tbtv_navcell
{ vertical-align: middle;
  border-left: none;
  text-align: left;
  font-weight: normal;
  height: 20px; }

TD.sortableTableHeader:active,
TH.sortableTableHeader:active
{ background-color: #ddd }

TD.headerCell SPAN,
TH.headerCell SPAN,
TD.tbtv_headercell SPAN,
TH.tbtv_headercell SPAN
{ float: left; }

TH.tbtv_headercell:hover{
    background-color: whitesmoke;
}
thead tr:last-child th {
    border-bottom: 1px solid #ccc;
    color: #999;
}

TD.tbtv_headercell A,
TH.tbtv_headercell A
{ cursor: default;
  margin: 0px auto;
  display: block;
  color: black; }

TD.tbtv_headercell A:hover,
TH.tbtv_headercell A:hover
{ margin: 0px auto;
  display: block;
  color: black;
  text-decoration: none;
  background-color: whitesmoke;
}

IMG.sortImage,
TD.headerCell IMG.tbtv_sortcell,
TD.tbtv_headercell IMG.tbtv_sortcell,
TH.tbtv_headercell IMG.tbtv_sortcell
{ float: right;
  text-align: right;
  border: 0px;
  width: 12px;
  height: 12px; }

.tableview
{ cursor: default;
  vertical-align: top; }

TR.tableview TD
{ white-space: nowrap;
  padding-left: .3em;
  padding-right: .3em; }

TD.headerDateTime
{ min-width: 30em; }

TD.headerTitle
{ width: 20%; }

TD.headerLocation,
TD.headerCalendarName
{ min-width: 15em;
  width: 15em; }

td img.tbtv_sortcell
{ float: right;
  text-align: right;
  margin-top: .2em;
  border: 0px;
  width: 12px;
  height: 12px; }

TD.subjectCell,
TD.tbtv_subject_headercell
{ overflow: hidden; }

#messageCountHeader {
    border-top: 1px solid #ccc;
    height: 25px;
}
#messageCountHeader > span {
    display: inline-block;
    font-size: 13px;
    height: 25px;
    line-height: 25px;
    margin-left: 10px;
}

/* drag handles */
DIV.dragHandle
{ position: absolute;
  z-index: 1;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center; }

DIV.dragHandle:active
{ background-color: #99a; }

/* search fields */
DIV.filterPanel
{ height: 40px;
  vertical-align: middle;
  width: 100%;
  position: relative;
}

DIV#javascriptSafetyNet
{ position: absolute;
  background-color: transparent;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px; }

DIV.javascriptPopupBackground
{ position: absolute;
  background-color: #999;
  -moz-opacity: 0.6; 
  opacity: 0.6;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center; }

DIV.javascriptMessagePseudoWindow,
DIV.javascriptMessagePseudoTopWindow
{ position: absolute;
  z-index: 2;
  border-bottom: 2px solid #888;
  padding: 1em;
  margin: 0px auto;
  color: #262B33;
  background-color: #E6E7E6;
  -moz-border-bottom-colors: #000 #9c9a94 transparent;
  -moz-opacity: 1.0;
  opacity: 1.0; }

DIV.javascriptMessagePseudoTopWindow
{ border-top: 0px;
  border-left: 0px;
  border-right: 0px; }

DIV.javascriptMessagePseudoWindow
{ border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #888;
  -moz-border-top-colors: #efebe7 #fff;
  -moz-border-left-colors: #efebe7 #fff;
  -moz-border-right-colors: #000 #9c9a94 transparent; }

DIV.noJavascriptErrorMessage
{ top: 10em;
  left: 17em;
  width: 24em; }

DIV.noJavascriptErrorMessage A
{ float: right;
  margin: 0px auto; }

LI.denied
{ color: #999; }

.popupMenu LI:hover,
.popupMenu LI.selected,
LI._selected,
TR._selected > TD,
TD._selected
{
  background-color: #999 !important;
  color: #fff;
}

LI._selected.denied
{ 
  background-color: #f33;
}

.hidden
{ display: none; }

/* folder tree (js) )*/
DIV.dTreeNode A SPAN.nodeName
{
  margin: 0 0 0 0.8em;
  padding: 0px;
  display: inline-block;
}

/* drag'n'drop */

DIV.dTreeNode SPAN._dragOver
{ 
  background-color: #7BC143;
  color: #fff;
}

.genericHoverClass
{
  background-color: #7BC143 !important;
  color: #fff !important;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* resizable columns */

TABLE TD.resize-handle-active,
TABLE TH.resize-handle-active
{ cursor: e-resize; }

DIV.resize-handle
{ cursor: e-resize;
  width: 2px;
  border-right: 1px solid #fff;
  position: absolute;
  top: 0px;
  left: 0px; }

DIV.dialog
{ position: absolute;
  width: 350px;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px; }

DIV.dialog > DIV
{ padding: 5px 10px; }

.dialog.left > DIV {
  padding-right: 5px;
}
.dialog.left > DIV:before {
  content: '';
  display: inline-block;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #ccc;
  border-right-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: -7px;
  top: 6px;
}
.dialog.left > DIV:after {
  content: '';
  display: inline-block;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #ffffff;
  position: absolute;
  left: -6px;
  top: 7px;
}

.dialog.right > DIV {
  padding-left: 5px;
}
.dialog.right > DIV:before {
  content: '';
  display: inline-block;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #ccc;
  border-left-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -7px;
  top: 6px;
}
.dialog.right > DIV:after {
  content: '';
  display: inline-block;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #ffffff;
  position: absolute;
  right: -6px;
  top: 7px;
}

DIV.dialog.none
{ position: relative;
  margin: 0px;
  padding: 0px;
  opacity: 1;
  margin: 100px auto; /* top margin could be dynamically set depending on window height */ }

DIV.dialog.none DIV
{ padding: 10px; }

DIV.dialog HR
{ clear: both;
  height: 0px;
  margin: 0px;
  padding: 0px;
  color: #fff;
  border: 0px; }

DIV.dialog H3
{ margin-top: 0;
  font-weight: normal;
  font-size: 1.5em;

}

DIV.dialog.none P
{ margin: 0px;
  padding: 5px 0px; }

DIV.dialog P.list
{ max-height: 200px;
  overflow-y: auto; }

DIV.dialog .button
{ margin-top: 10px; }

DIV#bgFrameDiv
{ position: absolute;
  top: 0px; left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  background: -webkit-radial-gradient(ellipse cover,rgba(0, 0, 0, .1) 0,rgba(0, 0, 0, .1) 20%,rgba(0, 0, 0, .7) 80%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, .5),  rgba(0, 0, 0, .1)); }

DIV#bgDialogDiv
{ position: absolute;
  top: 0px; left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  background: -webkit-radial-gradient(ellipse cover,rgba(0, 0, 0, .1) 0,rgba(0, 0, 0, .1) 20%,rgba(0, 0, 0, .7) 80%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, .5),  rgba(0, 0, 0, .1)); }

/* INPUT styles */


LABEL
{ color: #000;
  display: block;
  font-size: 0.9em;
}

.checkbox label,
.checkbox-list label{
  font-size: 1.1em;
  display: inline;
}
.checkbox-list label:first-child{
  display: block;
  font-size: 0.9em;
}

TEXTAREA
{ vertical-align: top; }

DIV, TEXTAREA, INPUT, SELECT
{ font-family: inherit;
  font-size: 8pt;
  font-size: inherit; }

INPUT[type="text"], 
INPUT[type="password"], 
TEXTAREA
{ border: 1px solid #CCC;
  background-color: #fff;
  color: #333; 
  padding: 8px 2.5%;
  font-size: 1.2em;
  margin:0px;
  display: block;
  max-width:600px;
  width: 95%;
}

INPUT[type="file"]
{ border: 1px solid #CCC;
  background-color: #fff;
  color: #333; 
  margin:0px;
  display: block;
  max-width:600px;
}

INPUT[disabled], INPUT[readonly],
SELECT[disabled], SELECT[readonly],
TEXTAREA[disabled], TEXTAREA[readonly]
{ background: #CCC;
  border-color: #CCC;
  color: #666; }

INPUT.inline-input[type="text"], INPUT.inline-input[type="password"], INPUT.inline-input[type="file"],
TEXTAREA.inline-input{
  display: inline-block;
  width: 43.9%;
}
.inline-field{
  display: inline-block;
  width: 49%;
}

INPUT.comboBoxField
{ margin-right: 0px; }

INPUT.textField._invalid, INPUT.comboBoxField._invalid
{ background-color: #f66 !important;
  border-color: #f00; }

BUTTON.comboBoxButton
{ background-image: url("arrow-down.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e6e7e6;
  width: 20px;
  height: 20px;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #909090;
  border-right: 1px solid #909090;
  border-left: 1px solid #eff0ef;
  border-top: 1px solid #eff0ef;
}

BUTTON.comboBoxButton:active
{
  border-bottom: 1px solid #eff0ef;
  border-right: 1px solid #eff0ef;
  border-top: 1px solid #909090;
  border-left: 1px solid #909090;
  background-color: #d6d7d6;
}
a.reload {
  background: url("reload.png") no-repeat center center;
  position: absolute;
  right: 10px;
  top: 0px;
  height: 20px;
  width: 20px;
  opacity: 0.8;
  overflow: hidden;
  color: transparent;
  font-size: 0px;
}
a.reload:hover{ opacity: 1; }
INPUT[name="search"]
{ background-image: url("Search-bar.png");
  background-position: 5px center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0 none;
  color: #333333;
  display: block;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0 0 0 30px;
  width: 85%;
}


/* Buttons 
 * Avoid using DIVS as buttons, they're only helpful when they have multiple
 * listeners for "onclick" 
 */
A.button {
  padding: 0px;
  background-color: #ccc;
  border:1px solid #ccc;
  border-radius: 3px;
  display: block;
  float: right;
  /*height: 23px;*/
  text-decoration: none;  
  text-align: center;
  color: inherit;
  font-weight: bold;
  cursor: pointer;
  margin: 0px 3px;
}
A.button:hover{
  background-color: #ddd
}

A.button SPAN {
    display: block;
    padding: 8px;
    cursor: pointer;
    min-width: 70px;
}

A.button.actionButton SPAN 
{ font-weight: bold; }

A.button:active SPAN
{ background-position: bottom left;
  }

A.disabled.button,
A.disabled.button:active,
A.disabled.button SPAN
{ color: #999; }

A.disabled.button:active SPAN
{ background-position: top left;}

dt, dd {
  line-height: 20px;
}
dd {
  margin-left: 9px;
}
.dl-horizontal dt {
  float: left;
  width: 225px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
fieldset .dl-horizontal dt {
  width: 150px;
}
.dl-horizontal dd {
  margin-left: 235px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
fieldset .dl-horizontal dd {
  margin-left: 160px;
}

.dl-horizontal ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
}
.dl-horizontal li {
  margin-left: 0;
}

/* Frames */
TABLE.frame,
TABLE.framenocaption
{ margin-top: -.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  padding: 1em;
  display: table;
  text-align: right;
  width: 100%; 
  background-color: #f6f6f6;}

TABLE.nopadding
{ padding: 4px; }
TABLE.framenocaption
{ margin-top: 14px; }

TABLE.frame TD
{ padding: 0px; }

SPAN.caption
{ display: inline-block;
  position: relative;
  text-align: left;
  cursor: default;
  background-color: #f6f6f6;
  color: #333;
  width: 95%;
  font-size: 1.3em;
  padding:10px 2.5%;
  border: 0px; }

/* Tabs */

DIV.tabsContainer
{ overflow: hidden;
  padding: 0px; }

DIV.tabsContainer > DIV.scrollToolbar
{ background-color: #eee;
  position: absolute;
  right: 0;
  top: 10px;
  vertical-align: bottom;}

DIV.tabsContainer > DIV.scrollToolbar > A > SPAN
{ border: 0 none;
  height: 35px;
    line-height: 35px;
    margin: 0 !important;
    padding: 0 !important;
    width: 25px;}

DIV.tabsContainer > UL
{ cursor: default;
  float: left;
  list-style-type: none;
  list-style-image: none;
  padding: 0px; 
  margin: 10px;
  width: 1000px;
}

DIV.tabsContainer > UL LI
{ overflow: hidden;
  padding: 0px;
  display: block;
  float: left;
  height: 35px;
  text-decoration: none; 
  background-color:#ddd; 
  color: inherit;
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.2)
}
DIV.tabsContainer > UL LI:first-child{
  border-radius: 3px 0px 0px 3px;
}
DIV.tabsContainer > UL LI:last-child{
  border-radius: 0px 3px 3px 0px;
}
DIV.tabsContainer > UL LI SPAN
{ display: block;
  line-height: 35px;
  padding: 0px 15px;
  font-size: 1.2em; }

DIV.tabsContainer > UL LI.active, 
DIV.tabsContainer > UL LI.active:hover
{ background-color: #ff7900;
  box-shadow: none;
  color: #FFFFFF;}
DIV.tabsContainer > UL LI:hover
{ cursor: pointer;
  background-color:#ddd;  }

DIV.tabsContainer > DIV.tabs
{ position: absolute;
  color: #333;
  top: 55px;
  bottom: 55px;
  left: 10px;
  right: 10px;
  overflow: hidden; }

DIV.tabsContainer > DIV.tabs > DIV.tab
{ position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
}

IFRAME.hidden,
DIV.tab
{ display: none; }

DIV#popupFrame
{ position: absolute;
  top: 40px;
  bottom: 40px;
  left: 15%;
  right: 15%;
  padding: 4px;
  z-index: 2000;
  background-color: #E6E7E6;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.5);
  box-shadow: 0 5px 10px rgba(0,0,0,.5);
}

DIV#popupFrame.small
{ left: 30%;
  right: 30%;
}

DIV#popupFrame > IFRAME
{ margin: 0;
  padding: 0;
  color: #000;
  background-color: #E6E7E6;
  border: 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

DIV.tabsContainer DIV.active
{ display: block; }

DIV.tabsContainer > DIV.active.tab
{ display: block !important; }

/* Toolbar */
DIV#toolbar
{ left: 0px;
  margin: 0px;
  padding: 0px; 
  white-space: nowrap;
  overflow: hidden;
  background-color: #69BE28}

BODY.popup DIV#toolbar
{ border-top: 0px; }

SPAN.toolbarSeparator
{ display: block;
  float: left;
  height: 40px;
  border-left: 3px solid #DDD;
  margin: 0;
  width: 0px;}

DIV.toolbar IMG.buttonImage
{ height: 24px;
  left: 4px;
  position: absolute;
  top: 8px;
  width: 24px;
  padding: 0px;
  display: none;
}

DIV.toolbar A.toolbarButton, 
DIV.toolbar A.toolbarButton:hover,
A.smallToolbarButton, 
A.smallToolbarButton:hover {
    color: #333333;
    cursor: pointer;
    float: left;
    padding: 0;
    text-decoration: none;
}
DIV.toolbar A.smallToolbarButton,
DIV.toolbar A.smallToolbarButton:hover {
  height: 35px;
}

DIV.toolbar A.toolbarButton SPAN,
DIV.toolbar A.toolbarButton:hover SPAN {
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  position: relative;
  text-align: center;
  font-weight: normal;
  color: white;
}

A.smallToolbarButton SPAN, 
A.smallToolbarButton:hover SPAN {
  text-align: center;
  display: block;
  line-height: 8px;
  padding: 5px 10px 0px !important;
  cursor: pointer;
  height: 30px;
  overflow: hidden;
}

DIV.toolbar A.toolbarButton:hover SPAN, A.smallToolbarButton:hover SPAN {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
}
DIV.toolbar A.toolbarButton:active SPAN {
  background-position: bottom left;
}
A.smallToolbarButton:active SPAN {
  background-position: bottom left;
}

DIV.toolbar A._disabled.toolbarButton,
DIV.toolbar A._disabled.toolbarButton:active
{ color: #999; }

P#mailerSelectionContainer {
    float: right;
    margin: 0;
    overflow: visible;
    padding: 0;
    width: 100%;
}

P#mailerSelectionContainer a.button {
    float: left;
    height: auto;
    padding: 8px 0;
    width: 31%;
    margin: 5px 1% 0px 0px;
}

DIV.bottomToolbar
{ vertical-align: middle;
  background-image: url("thead_bg.png");
  border: 1px solid #ccc;
  background-color: #ccc;
  height: 20px;
  margin-top: 0px;
  text-align: left;
  margin-left: 0px;
  margin-right: 0px; }

DIV.bottomToolbar A.bottomButton SPAN,
DIV.bottomToolbar A.bottomButton
{ margin: 0px;
  padding: 0px;
  width: 23px;
  text-align: center;
  text-decoration: none;  
  color: inherit;
  cursor: pointer;
  border-bottom: 1px solid #9B9B9B;
  border-right: 1px solid #9B9B9B;
  float: left;
  height: 20px; }

DIV.bottomToolbar A.bottomButton SPAN
{ background: transparent url('thead_bg.png') repeat-x top right; }
DIV.bottomToolbar A.bottomButton SPAN:active
{ background-position: bottom left; }

/* row editing */
.editing > INPUT[type="text"]
{ width: 98%; }

.safetyBlock
{ position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; }

/* ckeditor */
span.cke_skin_kama
{ padding: 0px !important; }

@media print
{
  BODY
  { position: static;
    font-size: 10pt;
    height: auto;
    overflow: visible; }

  DIV#logConsole,
  DIV#linkBanner,
  DIV#toolbar,
  DIV.menu,
  DIV.filterPanel,
  DIV.tabsContainer
  { display: none; }
}