/* SOGo UI Stylesheet */

/* common stuff */

/* Bitstream VeraSans, , Tahoma, FreeSans, Helvetica, sans-serif */
BODY
{ position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: #535D6D;
  font-family: Lucida Grande, Bitstream VeraSans, Tahoma;
  font-size: 8pt;
  background-color: #E6E7E6;
  border: 0px;
  margin: 0px;
  padding: 0px;
  overflow: hidden; }

HR
{ height: 0px; }

TABLE, DIV, IMG
{ font-family: inherit;
  font-size: inherit;
  border: 0px;
  margin: 0px;
  padding: 0px; }

IMG#progressIndicator
{ float: right;
  margin-top: 1.5em;
  margin-right: 1em; }

DIV#toolbar IMG#progressIndicator
{ margin-top: 0.75em; }

DIV#pageContent
{ clear: both; }

.clear
{ clear: both;
  padding-top: 1em; }

A
{ text-decoration: none;
  -moz-outline: 0px; }

LABEL
{ color: #535D6D;
  white-space: nowrap;
  margin-left: .5em; }

TABLE
{ table-layout: fixed;
  border-spacing: 0px; }

TABLE TD
{ padding-left: .25em;
  padding-right: .25em; }

a:link
{ color: #0033CC; }

a:visited
{ color: #660066; }

a:hover
{ color: #ff0000;
  text-decoration: underline; }

.linecolor
{ background-color: #06348B; }

.defaultfont
{ text-decoration: none;
  color: #535D6D; }

.window_label
{ color: #06348b;
  font-weight: bold; }

.homepagefont
{ text-decoration: none;
  color: #535D6D; }

/* header */

div#header
{ margin-left: 5px;
  margin-right: 5px;
  padding: 0;
  border-bottom: 1px solid #000; }

div#header img.headerlogo
{ float: right; 
  width: 182px; 
  height: 30px; }

div#header div#headerhistory
{ color: #535D6D;
  margin: 0px;
  padding-top: 18px;
  height: 12px; }

div#header a, div#header span
{ margin: 0px; }

div#header span#navtitle
{ font-weight: bold; }

div#header a:hover
{ text-decoration: none; }

/* the dock */

a.skydockfont
{ text-decoration: none;
  color: #06348B; }
font.skydockfont
{ text-decoration: none;
  color: #06348B; }
font.skydockfont_inactiveMail
{ text-decoration: none;
  color: #CCCCCC;
  font-weight: bold; }
font.skydockfont_newMail
{ text-decoration: none;
  color: #06348B;
  font-weight: bold; }

table.skytextdocktable
{ padding: 0px;
  table-layout: auto; }

DIV.linkbanner
{ background-color: #222;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  color: #aaa; }

DIV.linkbanner A,
DIV.linkbanner SPAN
{ cursor: default;
  color: #ddd;
  text-decoration: none;
  top: 0px;
  left: 0px;
  padding: 2px 5px; }

DIV.linkbanner SPAN
{ color: #afafff; }

DIV.linkbanner A:hover
{ color: #dd5; }

DIV.linkbanner A#logoff, DIV.linkbanner SPAN#userEmailDisplay
{ float: right;
  margin: 0px;
  padding: 0px;
  padding-right: .5em; }

DIV.linkbanner SPAN#userEmailDisplay
{ color: #DDDDDD; }

.linkbannerlinks
{ vertical-align: bottom;
  text-align: left; }

.linkbannerimage { 
  text-align: right; }

DIV.contactSelector
{ margin: .5em; }

DIV.contactSelector UL.contactList IMG
{ margin: 0px .5em; }

SELECT
{ vertical-align: middle;
  margin: 2px;
  padding-right: 1px; }

DIV.contactSelector DIV.contactList
{ font-size: smaller;
  white-space: nowrap;
  width: 40em;
  height: 3em;
  overflow: auto;
  border: 1px solid #444;
  background-color: #eee;
  text-align: left; }

/* contextual menus & popups */

.menu,
.popupMenu
{ visibility: hidden;
  position: absolute;
  z-index: 1000;
  top: -1000px;
  background-color: #E6E7E6;
  color: #535D6D;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-bottom: 1px solid #909090;
  border-right: 1px solid #909090;
  overflow: auto; 
  overflow-x: hidden; }

.popupMenu
{ background-color: #fff; }

.menu UL,
.popupMenu UL
{ cursor: default;
  list-style-type: none;
  list-style-image: none;
  margin: 0px;
  padding: 0px;
  padding-top: 1px; }

.menu LI,
.popupMenu LI
{ padding-left: 1em;
  padding-right: 1em;
  padding-top: .15em;
  padding-bottom: .15em;
  margin: 0px;
  width: auto;
  white-space: nowrap; }

.menu LI.disabled,
.popuMenu LI.disabled,
.menu LI.disabled:hover,
.popupMenu LI.disabled:hover
{ color: #999; }

.menu LI IMG
{ margin-left: -.8em;
  padding-right: .2em;
  vertical-align: middle; }

/* contact info for auto-completion */
.popupMenu LI STRONG
{ color: #b00; }

/* popup menu with check marks */
UL.choiceMenu LI
{ list-style-position: inside;
  list-style-image: url("menu-nocheck.gif");
  padding: 3px 3px;
  margin: 0px;
  padding-right: 10px; }

UL.choiceMenu LI._chosen
{ list-style-image: url("menu-check.gif"); }

UL.choiceMenu LI._chosen:hover
{ list-style-image: url("menu-check-hover.gif"); }

.menu LI:hover,
.menu LI.selected,
.menu LI.submenu-selected
{ background-color: #9ABCD8;
  color: #fff; }

.menu LI.separator,
.menu LI.separator:hover
{ padding: 0px;
  margin: 2px 0px;
  height: 0px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #fff; }

.menu LI.submenu, .menu LI.submenu-selected
{ padding-right: 2em;
  background-position: 98% 50%;
  background-repeat: no-repeat; }

.menu LI.submenu
{ background-image: url('arrow-right.png'); }

.menu LI[class~="disabled"].submenu
{ background-image: url('submenu-disabled.gif') !important; }

.menu LI.submenu:hover, .menu LI.submenu-selected
{ background-image: url('arrow-right.png') !important; }

DIV#logConsole
{ position: absolute;
  overflow: auto;
  display: none;
  z-index: 1000;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #999;
  border-bottom: 2px solid #999;
  -moz-border-top-colors: #000 #9c9a94 transparent;
  -moz-border-left-colors: #000 #9c9a94 transparent;
  font-family: monospace;
  font-size: 9pt;
  padding: .25em;
  background-color: #fff;
  overflow-y: scroll;
  color: #222;
  top: 1em;
  left: 0px;
  right: 0px;
  height: 15em; }

/* DIV#logConsole > DIV.highlighted
{ background-color: #ddf; }
 */

/* content lists */
td.tbtv_actcell
{ border-width: 1px;
  border-style: solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-bottom-color: #808080;
  border-right-color: #808080;
  padding-top: 4px;
  padding-bottom: 3px;
  padding-left: 4px;
  padding-right: 4px; }

TD.headerCell,
TD.tbtv_headercell,
TD.tbtv_navcell
{ vertical-align: middle;
  background: transparent url('thead_bg.png') repeat-x top right;
  border: 1px solid #9B9B9B;
  border-left: none;
  background-color: #E7E7E7;
  height: 20px; }

TD.sortableTableHeader:active
{ background-position: bottom left; }

TD.headerCell SPAN,
TD.tbtv_headercell SPAN
{ float: left; }

TD.tbtv_headercell A
{ cursor: default;
  margin: 0px auto;
  display: block;
  color: black; }

TD.tbtv_headercell A:hover
{ margin: 0px auto;
  display: block;
  color: black;
  text-decoration: none;
  /* background-color: #C4C0B8; */
}

IMG.sortImage,
TD.headerCell IMG.tbtv_sortcell,
TD.tbtv_headercell IMG.tbtv_sortcell
{ float: right;
  text-align: right;
  border: 0px;
  width: 12px;
  height: 12px; }

.tableview
{ cursor: default;
  vertical-align: top; }

TR.tableview TD
{ white-space: nowrap;
  padding-left: .3em;
  padding-right: .3em; }

TD.headerDateTime
{ min-width: 30em; }

TD.headerTitle
{ width: 30%; }

TD.headerLocation
{ min-width: 20em; }

td img.tbtv_sortcell
{ float: right;
  text-align: right;
  margin-top: .2em;
  border: 0px;
  width: 12px;
  height: 12px; }

TD.subjectCell,
td.tbtv_subject_headercell
{ overflow: hidden; }

/* drag handles */
DIV.dragHandle
{ position: absolute;
  z-index: 1;
  background-color: #E6E7E6; }

DIV.dragHandle:active
{ background-color: #99a; }

/* search fields */
DIV#filterPanel
{ height: 2em;
  vertical-align: middle;
  width: 100%;
  padding-top: 3px;
}

DIV#javascriptSafetyNet
{ position: absolute;
  background-color: transparent;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px; }

DIV.javascriptPopupBackground
{ position: absolute;
  background-color: #999;
  -moz-opacity: 0.6; 
  opacity: 0.6;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center; }

DIV.javascriptMessagePseudoWindow,
DIV.javascriptMessagePseudoTopWindow
{ position: absolute;
  z-index: 2;
  border-bottom: 2px solid #888;
  padding: 1em;
  margin: 0px auto;
  color: #535D6D;
  background-color: #E6E7E6;
  -moz-border-bottom-colors: #000 #9c9a94 transparent;
  -moz-opacity: 1.0;
  opacity: 1.0; }

DIV.javascriptMessagePseudoTopWindow
{ border-top: 0px;
  border-left: 0px;
  border-right: 0px; }

DIV.javascriptMessagePseudoWindow
{ border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #888;
  -moz-border-top-colors: #efebe7 #fff;
  -moz-border-left-colors: #efebe7 #fff;
  -moz-border-right-colors: #000 #9c9a94 transparent; }

DIV.noJavascriptErrorMessage
{ top: 10em;
  left: 17em;
  width: 24em; }

DIV.noJavascriptErrorMessage A
{ float: right;
  margin: 0px auto; }

LI.denied
{ background-color: #fefefe;
  font-style: italic;
  color: #f33; }

.popupMenu LI:hover,
.popupMenu LI.selected,
LI._selected,
TR._selected > TD,
TD._selected
{
  background: #9ABCD8;
  color: #fff;
}

LI[class~="_selected"].denied
{ 
  background-color: #f33;
}

/* folder tree (js) )*/
DIV.dTreeNode A SPAN.nodeName
{
  margin: 0px .2em;
  padding-left: .2em;
  padding-right: .2em;
}

DIV.dTreeNode A._selected SPAN.nodeName
{
  background-color: #9ABCD8;
  color: #fff;
}

DIV.dTreeNode SPAN._dragOver
{ 
  background-color: #9ABCD8;
  color: #fff;
}

INPUT.checkBox
{ vertical-align: middle; }

/* tablekit resizable columns */

TABLE TD.resize-handle-active
{ cursor: e-resize; }

DIV.resize-handle
{ cursor: e-resize;
  width: 2px;
  border-right: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 2em; } /* will be set in JavaScript when setting drag handles */

@media print
{
  BODY
  { position: static;
    font-size: 10pt;
    height: auto;
    overflow: visible; }

  DIV#logConsole,
  DIV#linkBanner,
  DIV#toolbar,
  DIV.menu,
  DIV.tabsContainer
  { display: none; }
}

.genericHoverClass
{
  background-color: #9ABCD8 !important;
  color: #fff !important;
}

DIV.dialog 
{ position: absolute;
  top: 100px;
  left: 75px;
  z-index: 50; }

DIV.dialog DIV
{ border: 1px solid #444;
  background-color: #fff;
  padding: 5px;
  padding-bottom: 26px; }

DIV.dialog.left
{ background-image: url("dialog-left.png");
  background-repeat: no-repeat;
  background-position: top left; }

DIV.dialog.left DIV
{ border-left: 0;
  margin-left: 19px;
  text-align: left; }

DIV.dialog.right
{ background-image: url("dialog-right.png");
  background-repeat: no-repeat;
  background-position: top right; }
  
DIV.dialog.right DIV
{ border-right: 0;
  margin-right: 19px;
  text-align: right; }

DIV#uploadDialog,
DIV#uploadResults
{ border-width: 1px;
  width: 260px; }

DIV#uploadDialog DIV,
DIV#uploadResults DIV
{ width: 260px; }

DIV#uploadDialog H3,
DIV#uploadResults H3
{ margin-top: 0;
  font-size: 1.2em; }

/* INPUT styles */
TEXTAREA
{ vertical-align: top; }

DIV, TEXTAREA, INPUT, SELECT
{ font-family: inherit;
  font-size: 8pt;
  font-size: inherit; }

INPUT[type="text"], INPUT[type="password"], INPUT[type="file"],
SELECT,
TEXTAREA
{ border-top: 1px solid #909090;
  border-left: 1px solid #909090;
  border-bottom: 1px solid #EFF0EF;
  border-right: 1px solid #EFF0EF;
  background-color: #CCDDEC;
  color: #535D6D; }

INPUT[disabled], INPUT[readonly],
SELECT[disabled], SELECT[readonly],
TEXTAREA[disabled], TEXTAREA[readonly]
{ background: #E6E7E6;
  color: #9ABCD8; }

INPUT[type="text"], INPUT[type="password"], INPUT[type="file"],
SELECT
{ background: url("input_bg.gif"); }

TEXTAREA
{ padding: 0px;
  padding-left: 2px; }

INPUT.textField
{ margin: 2px; padding: 2px;
  vertical-align: middle;
  width: 250px; }

INPUT#searchValue
{ margin-right: 1em;
  width: 20em;
  padding-left: 24px;
  background-image: url('Search-bar.png');
  background-repeat: no-repeat;
  background-position: 2px 2px;
  background-color: #CCDDEC;
  color: #909090; }

/* Buttons 
 * Avoid using DIVS as buttons, they're only helpful when they have multiple
 * listeners for "onclick" 
 */
A.button {
  padding: 0px 0.5em;
  background: transparent url('btn_a_bg.png') no-repeat scroll top right;
  display: block;
  float: right;
  height: 23px;
  padding-right: 3px; /* sliding doors padding */
  text-decoration: none;  
  color: inherit;
  cursor: pointer;
}

A.button SPAN {
    background: transparent url('btn_span_bg.png') no-repeat;
    display: block;
    line-height: 13px;
    padding: 5px 2px 5px 5px;
    cursor: pointer;
}

A.button.actionButton SPAN 
{ font-weight: bold; }

A.button:active SPAN
{ background-position: bottom left;
  padding: 6px 2px 4px 5px; }

A.disabled.button,
A.disabled.button:active,
A.disabled.button SPAN
{ color: #999; }

A.disabled.button:active SPAN
{ background-position: top left;
  padding: 5px 2px 5px 5px; }

/* Frames */
TABLE.frame,
TABLE.framenocaption
{ border-top: 1px solid #909090;
  border-left: 1px solid #909090;
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  margin-top: -.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  padding: 1em;
  display: table;
  text-align: right;
  width: 100%; }

TABLE.nopadding
{ padding: 4px; }
TABLE.framenocaption
{ margin-top: 14px; }

TABLE.frame TD
{ padding: 0; }

SPAN.caption
{ display: inline-block;
  position: relative;
  text-align: center;
  cursor: default;
  background-color: #E6E7E6;
  color: #535D6D;
  width: auto;
  padding: .25em;
  margin-left: 7px;
  border: 0px; }


/* Tabs */
DIV.tabsContainer
{ position: relative;
  color: #535D6D;
  background-color: #E6E7E6;
  margin-top: 0.5em; 
  border: 1px solid #9B9B9B;
  position: absolute;
  top: 2.5em;
  left: .5em;
  right: .5em;
  bottom: 2.5em;
  margin-bottom: 1em;
  padding: 0 5px; }

DIV.tabsContainer > UL
{ cursor: default;
  list-style-type: none;
  list-style-image: none;
  margin: 0px;
  margin-top: -24px;
  padding: 0px; }

DIV.tabsContainer > UL LI {
  padding: 0px;
  margin-right: -1px;
  background: transparent url('tab_a_inactive_bg.png') no-repeat scroll top right;
  display: block;
  float: left;
  height: 24px;
  padding-right: 2px; /* sliding doors padding */
  text-decoration: none;  
  color: inherit;
}
DIV.tabsContainer > UL LI SPAN {
    background: transparent url('tab_span_inactive_bg.png') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 6px 5px 5px;
}
DIV.tabsContainer > UL LI.active {
  background: transparent url('tab_a_active_bg.png') no-repeat scroll top right !important;
}
DIV.tabsContainer > UL LI.active SPAN {
    background: transparent url('tab_span_active_bg.png') no-repeat !important;
}
DIV.tabsContainer > UL LI.first
{ margin-left: -1px;
  padding-left: -1px; }

DIV.tabsContainer DIV.active
{ display: block; }

DIV.tabsContainer > DIV[class~="active"].tab
{ display: block !important; }

DIV.tab
{ padding: 2px;
  display: none;
  margin-top: 24px;
  overflow: hidden; }


/* Toolbar */
DIV#toolbar
{ left: 0px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #848284;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  overflow: auto; }

BODY.popup DIV#toolbar
{ border-top: 0px; }

SPAN.toolbarSeparator
{ display: block;
  float: left;
  height: 3.8em;
  vertical-align: middle;
  border-right : 1px solid #fff;
  border-left : 1px solid #9c9a94;
  margin: 0px .25em;
  margin-top: 0.125em;
  width: 0px;
  padding: 0px; }

A.toolbarButton, 
A.toolbarButton:hover, 
A.smallToolbarButton, 
A.smallToolbarButton:hover {
  display: inline;
  float: left;
  height: 49px;
  padding-right: 3px; /* sliding doors padding */
  text-decoration: none;  
  color: inherit;
  cursor: pointer;
}
A.smallToolbarButton,
A.smallToolbarButton:hover {
  height: 35px;
}
A.toolbarButton:hover {
  background: transparent url('toolbarbtn_a_bg.png') no-repeat scroll top right;
}
A.smallToolbarButton:hover {
  background: transparent url('smalltoolbarbtn_a_bg.png') no-repeat scroll top right;
}

A.toolbarButton SPAN, 
A.toolbarButton:hover SPAN {
  text-align: center;
  display: block;
  line-height: 13px;
  padding: 5px 2px 5px 5px;
  cursor: pointer;
}

A.smallToolbarButton SPAN, 
A.smallToolbarButton:hover SPAN {
  text-align: center;
  display: block;
  line-height: 8px;
  padding: 5px 2px 5px 5px !important;
  cursor: pointer;
}

A.toolbarButton:hover SPAN {
  background: transparent url('toolbarbtn_span_bg.png') no-repeat;
}
A.smallToolbarButton:hover SPAN {
  background: transparent url('smalltoolbarbtn_span_bg.png') no-repeat;
}
A.toolbarButton:active SPAN {
    background-position: bottom left;
}
A.smallToolbarButton:active SPAN {
    background-position: bottom left;
}

A[class~="_disabled"].toolbarButton,
A[class~="_disabled"].toolbarButton:active
{ color: #999; }

P#mailerSelectionContainer
{ line-height: 25px;
  margin-top: 2px; }

DIV.bottomToolbar {
  vertical-align: middle;
  background-image: url("thead_bg.png");
  border: 1px solid #9B9B9B;
  background-color: #E6E7E6;
  height: 20px;
  margin-top: -4px;
  text-align: left;
  margin-left: 2px;
  margin-right: 2px; }

DIV.bottomToolbar A.bottomButton SPAN, DIV.bottomToolbar A.bottomButton {
  margin: 0;
  padding: 0;
  width: 23px;
  text-align: center;
  text-decoration: none;  
  color: inherit;
  cursor: pointer;
  border-bottom: 1px solid #9B9B9B;
  border-right: 1px solid #9B9B9B;
  float: left;
  height: 20px;
}

DIV.bottomToolbar A.bottomButton SPAN
{ background: transparent url('thead_bg.png') repeat-x top right; }
DIV.bottomToolbar A.bottomButton SPAN:active
{ background-position: bottom left; }
