/* SOGo UI Stylesheet */

/* common stuff */

/* Bitstream VeraSans, , Tahoma, FreeSans, Helvetica, sans-serif */
BODY
{ position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: #000000;
  font-family: Bitstream VeraSans, Tahoma;
  font-size: 10pt;
  background-color: #dbdad5;
  border: 0px;
  margin: 0px;
  padding: 0px;
  overflow: hidden; }

HR
{ height: 0px; }

TABLE, DIV, IMG
{ font-family: inherit;
  font-size: inherit;
  border: 0px;
  margin: 0px;
  padding: 0px; }

IMG#progressIndicator
{ float: right;
  margin-top: 1.5em;
  margin-right: 1em; }

DIV.pageContent
{ /* position: absolute;
  background: #ffa;
  top: 3em;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
   */clear: both; }

A
{ text-decoration: none;
  -moz-outline: 0px; }

LABEL
{ white-space: nowrap;
  margin-left: .5em; }

TABLE
{ display: block;
  table-layout: fixed;
  border-spacing: 0px;
  padding: 0px;
  margin: 0px;
  border: 0px; }

a:link
{ color: #0033CC; }

a:visited
{ color: #660066; }

a:hover
{ color: #FF0000;
  text-decoration: underline; }

.linecolor
{ background-color: #06348B; }

.defaultfont
{ text-decoration: none;
  color: #000000; }

.window_label
{ color: #06348b;
  font-weight: bold; }

.homepagefont
{ text-decoration: none;
  color: #000000; }


/* tabs */

.oldtab
{ color: #000000;
  background-color: #e8e8e0;
  text-decoration: none;
  width: 100px; 
  height: 22px;
  border-top: 1px solid #06348b;
  border-right: 1px solid #06348b; }

.oldtab a
{ color: #000000;
  border: none;
  text-decoration: none; }

.oldtab_selected
{ color: #000000;
  background-color: #f5f5e9;
  text-decoration: none;
  font-weight: bold;
  width: 100px; 
  height: 22px;
  border-top: 1px solid #06348b;
  border-right: 1px solid #06348b; }

.oldtab_selected a
{ color: #000000;
  border: none;
  text-decoration: none; }

.oldtabview_body
{ background-color: #f5f5e9; }


/* buttons */

.button_auto_env
{ height: 16px;
  text-align: center;
  vertical-align: middle;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  overflow: hidden; }

.button_auto_env a
{ text-decoration: none;
  color: #000000; }

.button_auto_env a:hover
{ text-decoration: underline;
  color: #ff0000; }

.button_auto
{ height: 20px;
  border-style: outset;
  border-color: #DDDDDD;
  border-width: 2px;
  color: #000000;
  background-color: #e8e8e0;
  letter-spacing: 0pt;
  text-decoration: none;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  overflow: hidden; }

.button_submit_env
{ height: 24px;
  text-align: center;
  vertical-align: middle;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  overflow: hidden; }

.button_submit_env a
{ text-decoration: none;
  color: #000000; }

.button_submit_env a:hover
{ text-decoration: underline;
  color: #ff0000; }

.button_submit
{ height: 30px;
  border-style: outset;
  border-color: #DDDDDD;
  border-width: 2px;
  color: #000000;
  background-color: #e8e8e0;
  letter-spacing: 0pt;
  text-decoration: none;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 3px;
  overflow: hidden; }

/* header */

div#header
{ margin-left: 5px;
  margin-right: 5px;
  padding: 0;
  border-bottom: 1px solid #000000; }

div#header img.headerlogo
{ float: right; 
  width: 182px; 
  height: 30px; }

div#header div#headerhistory
{ color: #000000;
  margin: 0px;
  padding-top: 18px;
  height: 12px; }

div#header a, div#header span
{ margin: 0px; }

div#header span#navtitle
{ font-weight: bold; }

div#header a:hover
{ text-decoration: none; }

/* the dock */

a.skydockfont
{ text-decoration: none;
  color: #06348B; }
font.skydockfont
{ text-decoration: none;
  color: #06348B; }
font.skydockfont_inactiveMail
{ text-decoration: none;
  color: #CCCCCC;
  font-weight: bold; }
font.skydockfont_newMail
{ text-decoration: none;
  color: #06348B;
  font-weight: bold; }

table.skytextdocktable
{ padding: 0px;
  table-layout: auto; }


DIV.linkbanner
{ 
  background: #222;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  color: #aaa; }

DIV.linkbanner A
{ 
  top: 0px;
  left: 0px;
  color: #ddd;
  text-decoration: none;
  padding: .2em .5em; }

DIV.linkbanner A:hover
{ color: #dd5; }


.linkbannerlinks
{ vertical-align: bottom;
  text-align: left; }

.linkbannerimage { 
  text-align: right; }

DIV.contactSelector
{ margin: .5em; }

DIV.contactSelector UL.contactList IMG
{ margin: 0px .5em; }

SELECT
{ border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 2px solid #222;
  border-left: 2px solid #222;
  vertical-align: middle;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow transparent;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow transparent;
  margin: 2px;
  padding-right: 1px; }

DIV.contactSelector DIV.contactList
{ font-size: smaller;
  white-space: nowrap;
  width: 40em;
  height: 3em;
  overflow: auto;
  border: 1px solid #444;
  background: #eee;
  text-align: left; }

TEXTAREA
{ vertical-align: top; }

DIV, TEXTAREA, INPUT, SELECT
{ font-family: inherit;
  font-size: inherit; }

TEXTAREA, INPUT.textField
{ padding: .2em;
  margin: .15em;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 2px solid #222;
  border-left: 2px solid #222;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow transparent;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow transparent; }

INPUT.textField
{ line-height: 2em;
  vertical-align: middle; }

INPUT.button
{ margin: 0px;
  padding: 0px .5em;
  border-top: 2px solid #fffffb;
  border-left: 2px solid #fffffb;
  border-bottom: 2px solid #888;
  border-right: 2px solid #888;
  background-color: #dbdad5;
  -moz-border-top-colors: -moz-buttonhoverface ThreeDHighlight;
  -moz-border-left-colors: -moz-buttonhoverface ThreeDHighlight;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow transparent;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow transparent; }

INPUT.button:hover
{ color: inherit;
  background: -moz-buttonhoverface; }

INPUT.button:active
{ -moz-outline: none;
  margin: 0px;
  padding: 0px .5em;
  color: -moz-buttonhovertext;
  -moz-border-bottom-colors: -moz-buttonhoverface ThreeDHighlight;
  -moz-border-right-colors: -moz-buttonhoverface ThreeDHighlight;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow; }

DIV#toolbar
{ left: 0px;
  border-top: 1px solid #fffffb;
  border-left: 1px solid #fffffb;
  border-bottom: 2px solid #888;
  border-right: 2px solid #888;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow transparent;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow transparent;
  margin: 0px;
  padding: 0px;
/*   background: #f00;
 */  height: 4em;
  background-color: #dbdad5;
  white-space: nowrap;
  overflow: auto; }

SPAN.toolbarSeparator
{ display: block;
  float: left;
  height: 90%;
  vertical-align: middle;
  border-right : 1px solid ThreeDHighlight;
  border-left : 1px solid ThreeDShadow;
  margin: 0px .25em;
  margin-top: 0.125em;
  width: 0px;
  padding: 0px; }

A.toolbarButton
{ color: #000;
  text-decoration: none; }

SPAN.toolbarButton, SPAN.disabledToolbarButton
{ cursor: default;
  display: block;
  float: left;
  height: 80%;
  text-align: center;
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 0px;
  margin-top: 0.125em;
  border-left: 2px solid transparent;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  padding: 1px 2px;
  background-color: transparent;
  color: -moz-DialogText; }

SPAN.disabledToolbarButton
{ -moz-opacity: 0.4; }

SPAN.toolbarButton:hover
{ color: -moz-buttonhovertext;
  background-color: -moz-buttonhoverface;
  -moz-border-left-colors: ThreeDHighlight -moz-buttonhoverface;
  -moz-border-top-colors: ThreeDHighlight -moz-buttonhoverface;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow; }

SPAN.toolbarButton:active
{ color: -moz-buttonhovertext;
  background-color: #c4c2bd;
  -moz-border-bottom-colors: -moz-buttonhoverface ThreeDHighlight;
  -moz-border-right-colors: -moz-buttonhoverface ThreeDHighlight;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow; }

.toolbarButton IMG.buttonImage
{ border: 0px;
  width: 24px;
  height: 24px;
  margin: auto; }

.toolbarButton .buttonLabel
{ width: 100%;
  margin: auto; }

/* popups */
.menu
{ visibility: hidden;
  position: absolute;
  z-index: 1000;
  background-color: #dcdad5;
  color: #000;
  margin: 0px;
  padding: 0px;
  border: 1px solid #000; }

.menu UL
{ 
  cursor: default;
  list-style-type: none;
  list-style-image: none;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #9e9a92;
  border-bottom: 1px solid #9e9a92; }

.menu LI
{ padding-left: 1em;
  padding-right: 1em;
  padding-top: .2em;
  padding-bottom: .2em;
  margin: 0px;
  width: auto;
  white-space: nowrap; }

.menu LI IMG
{ margin-left: -.8em;
  padding-right: .2em;
  vertical-align: middle; }

.menu LI:hover, .menu LI.submenu-selected
{ background: #4b6983;
  color: #fff; }

.menu LI.separator, .menu LI.separator:hover
{ padding: 0px;
  margin: 2px 0px;
  height: 0px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #fff; }

.menu LI.submenu, .menu LI.submenu-selected
{ padding-right: 2em;
  background-position: 98% 50%;
  background-repeat: no-repeat; }

.menu LI.submenu
{ background-image: url('submenu.gif'); }

.menu LI.submenu:hover, .menu LI.submenu-selected
{ background-image: url('submenu-active.gif') !important; }

DIV#logConsole
{ position: absolute;
  overflow: auto;
  display: none;
  z-index: 1000;
  -moz-opacity: 0.7;
  border-top: 2px solid #fffffb;
  border-left: 2px solid #fffffb;
  border-right: 2px solid #999;
  border-bottom: 2px solid #999;
  -moz-border-top-colors: ThreeDDarkShadow ThreeDShadow transparent;
  -moz-border-left-colors: ThreeDDarkShadow ThreeDShadow transparent;
  font-family: monospace;
  font-weight: bold;
  background: #000;
  color: #ddd;
  top: 1em;
  left: 0px;
  right: 0px;
  height: 15em; }

/* content lists */
td.tbtv_actcell
{ border-width: 1px;
  border-style: solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-bottom-color: #808080;
  border-right-color: #808080;
  padding-top: 4px;
  padding-bottom: 3px;
  padding-left: 4px;
  padding-right: 4px;
  
  background-color: #DCDAD5; }

td.tbtv_headercell SPAN
{ float: left;
  width: 100%; }

td.tbtv_headercell a
{ cursor: default;
  margin: 0px auto;
  display: block;
  color: black;
  width: 100%; }

td.tbtv_headercell a:hover
{ margin: 0px auto;
  display: block;
  color: black;
  text-decoration: none;
  /* background-color: #C4C0B8; */
}

td.tbtv_headercell img.tbtv_sortcell
{ float: right;
  text-align: right;
  border: 0px;
  width: 12px;
  height: 12px; }

.tableview
{ cursor: default;
  vertical-align: top; }

TR.tableview TD
{ white-space: nowrap;
  padding-left: .3em;
  padding-right: .3em; }

TR.tableview TD.headerDateTime
{ width: 14em; }

TR.tableview TD.headerLocation
{ width: 10em; }

td.tbtv_actcell
{ border-width: 1px;
  border-style: solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-bottom-color: #808080;
  border-right-color: #808080;
  padding-top: 4px;
  padding-bottom: 3px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #DCDAD5; }

TD.tbtv_headercell,
TD.tbtv_navcell
{ background-color: #DCDAD5;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 2px solid #222;
  border-bottom: 2px solid #222;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow transparent;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow transparent; }

TD.tbtv_headercell:active
{ background-color: #DCDAD5;
  border: 1px solid #9c9a94;
  -moz-border-bottom-colors: #9c9a94;
  -moz-border-right-colors: #9c9a94; }

td.tbtv_headercell SPAN
{ float: left;
  width: 100%; }

td.tbtv_headercell a
{ cursor: default;
  margin: 0px auto;
  color: black;
  width: 100%; }

td.tbtv_headercell a:hover
{ margin: 0px auto;
  display: block;
  color: black;
  text-decoration: none;
  /* background-color: #C4C0B8; */
}

td img.tbtv_sortcell
{ float: right;
  text-align: right;
  margin-top: .2em;
  border: 0px;
  width: 12px;
  height: 12px; }

TD.subjectCell,
td.tbtv_subject_headercell
{ overflow: hidden;
  width: auto; }

/* drag handles */
DIV.dragHandle
{ position: absolute;
  z-index: 1;
  background: #dbdad5; }

DIV.dragHandle:active
{ background: #99a; }

/* search fields */
DIV#filterPanel
{
  height: 2em;
  vertical-align: middle;
  width: 100%;
}

INPUT#searchValue
{ margin-right: 1em;
  width: 20em;
  padding-left: 24px;
  background-image: url('/SOGo.woa/WebServerResources/Search-bar.png');
  background-repeat: no-repeat;
  background-position: 2px 2px;
  color: #aaa; }

DIV.javascriptPopupBackground
{ position: absolute;
  background: #999;
  -moz-opacity: 0.6; 
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center; }

DIV.javascriptMessagePseudoWindow
{ position: absolute;
  z-index: 2;
  border-top: 2px solid #fffffb;
  border-left: 2px solid #fffffb;
  border-bottom: 2px solid #888;
  border-right: 2px solid #888;
  -moz-border-top-colors: -moz-buttonhoverface ThreeDHighlight;
  -moz-border-left-colors: -moz-buttonhoverface ThreeDHighlight;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow transparent;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow transparent;
  padding: 1em;
  margin: 0px auto;
  -moz-opacity: 1.0;
  color: #000;
  background: #dedede; }

DIV.noJavascriptErrorMessage
{ top: 10em;
  left: 17em;
  width: 24em; }

DIV.noJavascriptErrorMessage A
{ float: right;
  margin: 0px auto; }

A.button:hover
{ color: inherit;
  background: -moz-buttonhoverface; }

A.button:active
{ color: -moz-buttonhovertext;
  background-color: #c4c2bd;
  -moz-border-bottom-colors: -moz-buttonhoverface ThreeDHighlight;
  -moz-border-right-colors: -moz-buttonhoverface ThreeDHighlight;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow; }

A.button,
A[class~="_disabled"].button:hover,
A[class~="_disabled"].button:active
{ cursor: default;
  padding: 1px .5em;
  border-top: 2px solid #fffffb;
  border-left: 2px solid #fffffb;
  border-bottom: 2px solid #888;
  border-right: 2px solid #888;
  -moz-border-top-colors: -moz-buttonhoverface ThreeDHighlight;
  -moz-border-left-colors: -moz-buttonhoverface ThreeDHighlight;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow transparent;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow transparent;
  text-decoration: none;
  color: inherit; }

A.button IMG
{ vertical-align: middle; }

A[class~="_disabled"].button,
A[class~="_disabled"].button:hover,
A[class~="_disabled"].button:active
{ color: #999;
  background: inherit; }

/* folder tree (js) )*/
DIV.dTreeNode A SPAN.nodeName
{
  margin: 0px .2em;
  padding-left: .2em;
  padding-right: .2em;
}

DIV.dTreeNode A._selected SPAN.nodeName
{
  background: #4b6983;
  color: #fff;
}

DIV.dTreeNode SPAN._dragOver
{ 
  background: #4b6983;
  color: #fff;
}

/* tabs */
DIV.tabsContainer
{ 
  position: relative;
  color: #000;
  background: #dbdad5;
  margin-top: 1.5em;
  border-top: 2px solid #fffffb;
  border-left: 2px solid #fffffb;
  border-right: 2px solid #888;
  border-bottom: 2px solid #888;
  -moz-border-top-colors: -moz-buttonhoverface ThreeDHighlight;
  -moz-border-left-colors: -moz-buttonhoverface ThreeDHighlight;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow transparent;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow transparent; }

DIV.tabsContainer > UL
{ cursor: default;
  list-style-type: none;
  list-style-image: none;
  margin: 0px;
  margin-top: -1.5em;
  padding: 0px; }

DIV.tabsContainer > UL LI
{ z-index: 3;
  float: left;
  padding: 0px .5em;
  padding-top: 2px;
  border-top: 2px solid #fffffb;
  border-bottom: 0px solid #fffffb;
  border-right: 2px solid #888;
  -moz-border-top-colors: -moz-buttonhoverface ThreeDHighlight;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow transparent;
  -moz-border-bottom-colors: -moz-buttonhoverface ThreeDHighlight;
  color: #000;
  background: #fff;
  background: #c4c2bd; }

DIV.tabsContainer > UL LI.first,
DIV.tabsContainer > UL LI.active
{ border-left: 2px solid #fffffb;
  margin-left: -2px;
  -moz-border-left-colors: -moz-buttonhoverface ThreeDHighlight; }

DIV.tabsContainer > UL LI.active
{ z-index: 5;
  background: #dbdad5;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: -2px; }

DIV.tabsContainer > DIV.tab
{ position: absolute;
  overflow: auto;
  top: .5em;
  left: .5em;
  right: .5em;
  bottom: .5em;
  display: none; }

DIV.tabsContainer > DIV[class~="active"].tab
{ display: block !important; }

INPUT.checkBox
{ border: 2px solid #000;
  vertical-align: middle;
  -moz-border-top-colors: #000 #fff;
  -moz-border-left-colors: #000 #fff; 
  -moz-border-bottom-colors: #000 #fff;
  -moz-border-right-colors: #000 #fff; }
