/* SOGoRootPage */
HTML
{ overflow: hidden; }

FORM
{ padding: 0px;
  margin: 0px; }

DIV#loginScreen A.button SPAN
{ padding: 0; }

/* generic */

SPAN.disabledToolbarButton
{ filter: alpha(opacity=40); }

DIV.javascriptPopupBackground
{ filter: alpha(opacity=60); }

DIV.javascriptMessagePseudoWindow,
DIV.javascriptMessagePseudoTopWindow
{ filter: alpha(opacity=100); }

DIV#windowButtons
{ height: 3em; }

INPUT.button
{ border: 1px solid #fff;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666; }

.menu LI.disabled:hover
{ background-color: #E6E7E6; }

UL#userList
{ top: 35px; }

DIV.tabsContainer > DIV.scrollToolbar > A > SPAN
{ line-height: 12px; }

DIV.dialog.none DIV
{ padding-bottom: 0px; }

DIV#popupFrame IFRAME
{ height: expression(document.body.clientHeight - 88 + "px") }

DIV#bgFrameDiv,
DIV#bgDialogDiv
{ background-color: #555;
  filter: alpha(opacity=40); }

/* MailerUI */

IMG.dragMessage
{ filter: alpha(opacity=70); }

TD.mailer_fieldname
{ width: 8em; }

TABLE.messageList TD
{ white-space: pre; }

TABLE.messageList TR._selected TD
{ border-right: 1px solid #9ABCD8 !important; }

TABLE.messageList TR.openedThread TD,
TABLE.messageList TR.closedThread TD,
TABLE.messageList TR.thread .messageThreadColumn
{ border-right: 1px solid #DDD; }

TABLE.messageList TR.thread TD
{ border-right: 1px solid #EEE; }

/* ContactsUI */

/*DIV#contactFoldersList SPAN.toolbarButton
{ padding: 2px; } */

/* UIxContactEditor */

DIV#editorTabs TABLE.frame INPUT.textField
{ margin: 0px; }

INPUT.textField._invalid, INPUT.comboBoxField._invalid
{ background: #f00 !important; }

/* SchedulerUI */

DIV.eventInside.tentative,
DIV.eventInside.needs-action
{ filter: alpha(opacity=70); }

DIV.eventInside.delegated,
DIV.eventInside.declined
{ filter: alpha(opacity=40); }

/* UIxAppointmentEditor */

DIV#attendeesMenu LI.separator
{ padding-left: 0px; }

#eventView SPAN.content A
{ line-height: 2.5em; }

#eventView SPAN.content > INPUT.textField
{ width: 99%; }

/* UIxAttendeesEditor */

DIV#attendeesView
{ left: 0.5em; }

TABLE#freeBusyAttendees TD.attendeeStatus,
TABLE#freeBusyAttendees TD.attendeeStatus DIV
{ width: 24px; }

TABLE#freeBusyData TD.noFreeBusy
{ height: 25px }

TABLE
{ empty-cells: show; /* no impact? */ }

/* UIxCalendarProperties */

BUTTON#colorButton
{ margin-top: 2px; }

DIV#propertiesTabs FIELDSET
{ padding: 5px; }

DIV#propertiesTabs LEGEND
{ margin-bottom: 5px; }

/* UIxMailPartICalViewer */

#iCalAttendees SPAN
{ display: block;
  height: 18px;
  border: 0px;
  margin: 0px;
  padding: 0px; }

#iCalAttendees DIV.status-icon
{ margin-top: 2px;
  border: 0px;
  padding: 0px; }

.clear
{ padding-top: 0; }

#messageContent FIELDSET
{ padding: 0.5em 1.0em; }

#messageContent FIELDSET DIV,
#messageContent FIELDSET P
{ margin: 1.0em; }

/* UIxMailEditor */
DIV#headerArea
{ padding-bottom: 0px; }

TABLE#categoriesList
{ width: auto; }

DIV#windowButtons
{ bottom: 11px; }

TABLE.frame
{ margin-top: -4px; }

TABLE.framenocaption
{ margin-top: 17px; }

TABLE.frame TBODY
{ padding: 20px; }

UL#calendarList
{ margin-top: 2px; }

A.toolbarButton SPAN,
A.toolbarButton:hover SPAN {
  height: 50px;
  padding: 5px 2px 6px 5px;
}
A.smallToolbarButton, A.smallToolbarButton:hover,
A.smallToolbarButton SPAN, A.smallToolbarButton:hover SPAN
{ height: 33px; }

A.toolbarButton:active SPAN {
  background-position: auto; /*broken*/
}

A.toolbarButton, A.toolbarButton SPAN, A.button, A.button SPAN
{ color: #262B33; }

DIV#toolbar
{ overflow: hidden; }

INPUT#statusPercent
{ width: 2em !important; }

DIV#referencesListWrapper
{ margin-bottom: 0px; }

DIV#listEditor TABLE TBODY TR TD:first-child
{ margin-bottom: 0px;
  padding-bottom: 0px; }

A#aboutClose
{ top: 25px;}

DIV#uploadDialog P,
DIV#uploadResults P
{ margin: 5px;
  padding: 0; }

/* UIxPreferences */

DIV#filtersListWrapper
{ overflow-x: hidden; }

TABLE#filtersList
{ width: auto; }

/* UIxComponentEditor */

.SOGoTimePickerMenu > DIV
{ width: 310px; }

/* UIx*UserRights */
BODY.popup DIV.dialog.none
{ left: 50%;
  width: 350px;
  margin-left: -175px; }

/* SOGoDragHandles */
.safetyBlock
{  background-color: #fff;
   filter: alpha(opacity=0); }