/* SOGoRootPage */
HTML
{ overflow: hidden; }

FORM
{ padding: 0px;
  margin: 0px; }

/* generic */
SPAN.disabledToolbarButton
{ filter: alpha(opacity=40); }

DIV.javascriptPopupBackground
{ filter: alpha(opacity=60); }

DIV.javascriptMessagePseudoWindow,
DIV.javascriptMessagePseudoTopWindow
{ filter: alpha(opacity=100); }

TD.headerCell,
TD.tbtv_headercell,
TD.tbtv_navcell
{ border: 1px solid #fff;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666; }

DIV#windowButtons
{ height: 3em; }

INPUT.button
{ border: 1px solid #fff;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666; }

DIV#userRoles
{  }

UL#userList
{ top: 3em; }

DIV.tabsContainer > DIV.scrollToolbar > A > SPAN
{ line-height: 12px; }

/* UIxCalUserRightsEditor */

DIV.calendarUserRights HR
{ display: none; }

/* MailerUI */

IMG.dragMessage
{ filter: alpha(opacity=70); }

TD.mailer_fieldname
{ width: 8em; }

/* ContactsUI */

/*DIV#contactFoldersList SPAN.toolbarButton
{ padding: 2px; } */

/* SchedulerUI */

DIV.event > DIV.eventInside
{ filter: alpha(opacity=100); }

DIV.event._selected DIV.eventInside
{ filter: alpha(opacity=70); }

/* UIxAppointmentEditor */

DIV#attendeesMenu LI.separator
{ padding-left: 0px; }

#eventView SPAN.content A
{ line-height: 2.5em; }

#eventView SPAN.content > INPUT.textField
{ width: 99%; }

/* UIxAttendeesEditor */

DIV#attendeesView
{ left: 0.5em; }

TABLE#freeBusyAttendees TD.attendeeStatus,
TABLE#freeBusyAttendees TD.attendeeStatus DIV
{ width: 24px; }

TABLE
{ empty-cells: show; }

/* UIxCalendarProperties */

BUTTON#colorButton
{ margin-top: 2px; }

DIV#propertiesView FIELDSET
{ margin: 0.5em;
  padding: 5px; }

DIV#propertiesView LEGEND
{ margin-bottom: 5px; }

/* UIxMailPartICalViewer */

#iCalAttendees SPAN
{ display: block;
  height: 18px;
  border: 0px;
  margin: 0px;
  padding: 0px; }

#iCalAttendees DIV.status-icon
{ margin-top: 2px;
  border: 0px;
  padding: 0px; }

.clear
{ padding-top: 0; }

#messageContent FIELDSET
{ padding: 0.5em 1.0em; }

#messageContent FIELDSET DIV,
#messageContent FIELDSET P
{ margin: 1.0em; }

/* UIxMailEditor */
DIV#headerArea
{ padding-bottom: 0px; }

TABLE#categoriesList
{ width: auto; }

DIV#windowButtons
{ bottom: 11px; }

TABLE.frame
{ margin-top: -4px; }

TABLE.framenocaption
{ margin-top: 17px; }

TABLE.frame TBODY
{ padding: 20px; }

UL#calendarList
{ margin-top: 2px; }

A.toolbarButton SPAN,
A.toolbarButton:hover SPAN {
  height: 50px;
  padding: 5px 2px 6px 5px;
}
A.smallToolbarButton, A.smallToolbarButton:hover,
A.smallToolbarButton SPAN, A.smallToolbarButton:hover SPAN
{ height: 33px; }

A.toolbarButton:active SPAN {
  background-position: auto; /*broken*/
}
A.toolbarButton, A.toolbarButton SPAN, A.button, A.button SPAN
{ color: #535D6D; }

DIV#toolbar
{ overflow: hidden; }

INPUT#statusPercent
{ width: 2em !important; }

DIV#referencesListWrapper
{ margin-bottom: 0px; }

DIV#listEditor TABLE TBODY TR TD:first-child
{ margin-bottom: 0px;
  padding-bottom: 0px; }

A#aboutClose
{ top: 25px;}

DIV#uploadDialog P,
DIV#uploadResults P
{ margin: 5px;
  padding: 0; }

