/* SOGoRootPage */
DIV#loginScreen
{ border: 2px solid #fff;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
}

/* generic */
SPAN.disabledToolbarButton
{ filter: alpha(opacity=40); }

DIV.javascriptPopupBackground
{ filter: alpha(opacity=60); }

DIV.javascriptMessagePseudoWindow,
DIV.javascriptMessagePseudoTopWindow
{ filter: alpha(opacity=100); }

/* MailerUI */
IMG.dragMessage
{ filter: alpha(opacity=70); }

/* SchedulerUI */
DIV[class~="event"]._selected > DIV.eventInside
{ filter: alpha(opacity=70); }

DIV.shadow1.css,
DIV.shadow2.css,
DIV.shadow3.css,
{ filter: alpha(opacity=10); }

DIV.shadow4.css
{ filter: alpha(opacity=40); }
