/* CSS for compose panel */

div#compose_panel div table {
  padding: 2px;
}
table#compose_table {
  border-bottom-color: #808080;
  border-bottom-width: 1;
  border-bottom-style: solid;
}

td#compose_leftside {
  vertical-align:   top;
}

td#compose_rightside {
  vertical-align: top;
}

div#compose_fromline {
}
div#compose_toselection { 
}
div#compose_internetmarker { 
  padding:          8px;
  text-align:       center;
  background-color: white;
  border-color:     red;
  border-width:     2px;
  border-style:     solid;
}
div#compose_attachments {
    padding-top: 4px;
  padding-right: 10px;
}
div#compose_attachments_list  {
  width:            100%;
  height:           100px;
  background-color: #FFFFFF;
  margin-left:      0px;
  padding:          2px;
  border-color:     #c3c3c3;
  border-width:     1px;
  border-style:     solid;
}

div#compose_subject { 
/*   border-bottom-color: #808080;
  border-bottom-width: 1;
  border-bottom-style: solid;
 */}
div#compose_text { 
  border-top-color:    white;
  border-top-width:    1;
  border-top-style:    solid;
}

input#compose_subject_input {
  width:     100%;
}

.compose_label { 
  text-align: left;
}

div#compose_text textarea { 
  width:  100%;
  height: 280px;
}
