/* toolbar for mailer application */

table.tb_maintable { 
  width: 100%;
  top: 0px;  /* this is patched when the linkbar is on */
  height: 40px; /* 48px;  */
  z-index: 100;
}
td.tb_logocell { 
  width: 24px; /* 36px; */
  padding-right: 8px;
}
div.tb_consumer { /* consumes the spaces taken by the toolbar */
  height: 52px; /* 58px; */ /* this is patched when the linkbar is on */
  clear: both;
}

.tb_toolbar {
  height: 22px; /* was 30 */
}
.tb_toolbar_group { /* not used currently? */
  height: 22px; /* was 30 */
  padding-right: 16px;
}

.tb_icon {
  text-align: center;
}
.tb_label {
  color: #000000;
  text-align: center;
  padding-left: .5em;
  padding-right: .5em;
}

.tb_label a:link, .tb_label a:hover { 
  color: #000000;
  text-align: center;
}

.tb_spacer { 
  width: 16px;
}

.tb_icon a {
  width: 24px;
  height: 24px;
  margin: 0px auto;
  display: block;
}

.tbicon_logo {
  background-image: url(lori_32x32.png);
  width: 32px;
  height: 32px;
}

/* TODO: hover, doesn't work this way
         as soon as I add ".tbicon_getmail" it stops working
   TODO: we also need to draw a border around the full cell (not too easy))
   => probably we need to move to real icons

.tb_icon a:hover .tbicon_getmail {
  background-image: url(tb-mail-write-off-24x24.png);
}
*/

.tbicon_getmail {
  background-image: url(tb-mail-getmail-flat-24x24.png);     
}
.tbicon_compose {
  background-image: url(tb-mail-write-flat-24x24.png);     
}
.tbicon_addressbook {
  background-image: url(tb-mail-addressbook-flat-24x24.png); 
}
.tbicon_anais {
  background-image: url(tbtb_anais.png); 
}
.tbicon_reply {
  background-image: url(tb-mail-reply-flat-24x24.png);       
}
.tbicon_replyall {
  background-image: url(tb-mail-replyall-flat-24x24.png);    
}
.tbicon_forward {
  background-image: url(tb-mail-forward-flat-24x24.png);     
}
.tbicon_delete {
  background-image: url(tb-mail-delete-flat-24x24.png);      
}
.tbicon_trash {
  background-image: url(tb-mail-junk-flat-24x24.png);       
}
.tbicon_junk {
  background-image: url(tb-mail-junk-flat-24x24.png);       
}
.tbicon_print {
  background-image: url(tb-mail-print-flat-24x24.png);       
}
.tbicon_stop {
  background-image: url(tb-mail-stop-flat-24x24.png);   
}

.tbicon_send {
  background-image: url(tb-compose-send-flat-24x24.png);   
}
.tbicon_attach {
  background-image: url(tb-compose-attach-flat-24x24.png); 
}
.tbicon_save {
  background-image: url(tb-mail-file-flat-24x24.png); 
}
.tbicon_folderadd {
  background-image: url(tbtb_folderadd.png);   
}
.tbicon_folderdel {
  background-image: url(tbtb_folderdel.png);   
}
