DIV#leftPanel
{ position: absolute;
  top: 65px;
  left: 0px;
  width: 19.25em;
  bottom: 0px;
  overflow: hidden; }

DIV#schedulerTabs
{ position: absolute;
  top: 0.5em;
  left: .2em;
  right: .2em;
  height: 14em; }

DIV#tasksListView
{ position: absolute;
  top: 17em;
  bottom: 0px;
  left: .2em;
  right: 0px;
  padding: 0px;
  overflow: hidden; }

DIV#tasksListView H2
{ font-size: 10pt;
  margin: 0px;
  margin-left: .25em;
  padding: 0px; }

DIV#tasksListView LABEL
{ margin: .25em; }

DIV#calendarSelectorView
{ top: 0px; }

DIV#calendarSelectorView
{ overflow: hidden; }

DIV#calendarsList
{ height: 100%;
  padding: 0px;
  margin: 0px; }

DIV.colorBox
{ display: inline;
  border: 1px solid #333;
  font-weight: normal; 
  margin: 0px;
  margin-right: 3px;
  font-size: 80%;
  width: 1em;
  height: .75em; }

UL#tasksList, UL#calendarList
{ cursor: default;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 2px solid #222;
  border-left: 2px solid #222;
  background-color: #fff;
  -khtml-user-select: none;
  -moz-border-top-colors: #9c9a94 #000 transparent;
  -moz-border-left-colors: #9c9a94 #000 transparent;
  list-style-type: none;
  list-style-image: none;
  overflow: auto;
  overflow-x: hidden; }

UL#calendarList
{ clear: left;
  width: 100%;
  height: 10.5em;
  margin: 0px; }

UL#calendarList LI
{ white-space: nowrap; }

UL#tasksList
{ position: absolute;
  top: 2em;
  left: 0px;
  right: 0px;
  bottom: .25em; }

UL#tasksList LI
{ width: 100%;
  white-space: nowrap; }

UL#tasksList LI.overdue
{ color: #f00; }

UL#tasksList LI.duetoday
{ color: #00f; }

UL#tasksList LI.completed
{ text-decoration: line-through;
  color: #000; }

UL#tasksList LI.duelater
{ color: #999; }

UL#tasksList LI[class~="_selected"].overdue
{ color: #fff !important;
  background-color: #f00 !important; }

UL#tasksList LI[class~="_selected"].duetoday
{ color: #fff !important;
  background-color: #00f !important; }

UL#tasksList LI[class~="_selected"].duelater,
UL#tasksList LI[class~="_selected"].completed
{ color: #fff !important;
  background-color: #999 !important; }

DIV#rightPanel
{ position: absolute;
  top: 65px;
  left: 19.25em;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  margin-left: 5px;
  padding: 0px;
  overflow: hidden; }

/* top list */
DIV#eventsListView
{ cursor: default;
  position: absolute;
  background-color: #fff;
  top: 2.5em;
  left: 0px;
  right: 0px;
  height: 15.5em;
  overflow: hidden;
  overflow-y: auto; }

DIV#calendarView
{ position: absolute;
  background-color: #fff;
  top: 18em;
  margin-top: 5px;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa; }

DIV#calendarView A
{ text-decoration: none;
  font: inherit;
  color: inherit; }

#verticalDragHandle
{ cursor: e-resize;
  top: 7.5em;
  left: 19.25em;
  width: 5px;
  bottom: 0px; }

#rightDragHandle
{ cursor: n-resize;
  top: 18em;
  left: 0px;
  right: 0px;
  height: 5px; }

#filterPanel
{ padding-right: .5em; }

DIV#dateSelectorView
{ overflow: hidden; }

#dateSelector
{ margin: 0px auto;
  background-color: #fff;
  border-top: 1px solid #fff; 
  border-left: 1px solid #fff;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa; }

#dateSelector > .header
{ background-color: #efefef;
  width: 100%;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  padding: .2em 0px;
  margin: 0px;
  border: 0px; }

#dateSelector > .header #leftArrow
{ float: left; }

#dateSelector > .header #rightArrow
{ float: right;
  margin-right: 2px; }

#dateSelector > .header SPAN
{ cursor: default;
  font-size: medium;
  vertical-align: middle;
  font-weight: bold;
  border: 1px solid transparent; }

#dateSelector > .header SPAN:hover
{ border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

#dateSelector .dayOfWeek
{ color: #00f; }

TABLE#dateSelectorTable
{ padding: 2px; }

#dateSelector TABLE,
#dateSelector TABLE TABLE
{ border-collapse: collapse;
  margin: 0px auto;
  width: 100%; }

#dateSelector TABLE#dateSelectorTable TD TABLE TD
{ width: 0px; /* temp hack */ }

#dateSelector TABLE#dateSelectorTable TD TABLE TD.activeDay,
#dateSelector TABLE#dateSelectorTable TD TABLE TD.inactiveDay,
#dateSelector TABLE#dateSelectorTable TD TABLE TD.dayOfToday
{ width: 1em; }

#dateSelector TABLE TABLE TD
{ cursor: pointer;
  margin: 0px;
  padding: 0px;
  border: 1px solid #fff; 
  text-align: center; }

#dateSelector TABLE TABLE TD:hover
{ border: 1px solid #deebf7; }

#dateSelector TD SPAN
{ text-align: center;
  display: block; }

#dateSelector TD SPAN A
{ color: #000;
  background: inherit;
  text-decoration: none; }

#dateSelector TD:active
{ background-color: #ddd;
  border: 1px solid #deebf7; }

#dateSelector TD.inactiveDay A
{ color: #dedfde; }

#dateSelector TD.dayOfToday
{ background-color: #deebf7;
  border: 1px solid #deebf7; }

#dateSelector TD.dayOfToday._selected
{ background-color: #4b6983; }

#dateSelector TD._selected A
{ color: #fff; }

TABLE#eventsList
{ width: 100%; }

TABLE#eventsList TD.headerTitle,
TABLE#eventsList TD.headerDateTime
{ width: 30%; }

TABLE#eventsList TD,
TABLE#eventsList TH
{ overflow: hidden;
  white-space: nowrap; } /* pre, normal, nowrap */

TABLE#eventsList TH
{ white-space: pre; }

DIV#eventDialog 
{ position: absolute;
  top: 100px;
  left: 75px;
  width: 200px;
  z-index: 50; }

DIV#eventDialog DIV
{ border: 1px solid #444;
  /*height: 100px;*/
  background-color: #fff;
  padding: 5px; }

DIV#eventDialog.left
{ background-image: url("dialog-left.png");
  background-repeat: no-repeat;
  background-position: top left; }

DIV#eventDialog.left DIV
{ border-left: 0;
  margin-left: 19px;
  text-align: left; }

DIV#eventDialog.right
{ background-image: url("dialog-right.png");
  background-repeat: no-repeat;
  background-position: top right; }
  
DIV#eventDialog.right DIV
{ border-right: 0;
  margin-right: 19px;
  text-align: right; }

DIV#eventDialog H1,
DIV#eventDialog P
{ font-size: 10px;
  margin: 0;
  padding: 0; }

DIV#eventDialog SPAN.label
{ color: #444; }

DIV#eventDialog p#description
{ margin-top: 1em; }

._unfocused#dateSelector TD._selected,
UL._unfocused > LI._selected,
TABLE._unfocused#eventsList TR._selected TD
{ background-color: #d4d0c8 !important;
  color: #fff !important; }

SPAN.dayCellLabel
{ color: #77a;
  font-weight: bold; }

SPAN.daysHeader,
SPAN.weeksHeader,
SPAN.monthsHeader
{ display: block;
  white-space: nowrap;
  background-color: #d4d0c8;
  overflow: hidden;
  width: 100%;
  margin: 0px;
  height: 3em;
  padding: 2px 1.5em;
/* HERE  border: 0px; */
  border-bottom: 1px solid #ccc; }

SPAN.daysHeader SPAN,
SPAN.weeksHeader SPAN,
SPAN.monthsHeader SPAN
{ display: block;
  margin: .1em;
  float: left;
  width: 18%;
  padding: 0px;
  text-align: center;
  border: 1px solid transparent;
  vertical-align: top; }

SPAN.daysHeader A,
SPAN.weeksHeader A,
SPAN.monthsHeader A
{ border: 1px solid transparent;
  color: #000;
  line-height: 1.5em;
  padding: 0px .5em; }

A.leftNavigationArrow,
A.rightNavigationArrow
{ border: 1px solid transparent;
  padding: .5em;
  text-align: center;
  vertical-align: bottom; }

A.leftNavigationArrow:hover,
A.rightNavigationArrow:hover,
SPAN.daysHeader A:hover,
SPAN.weeksHeader A:hover,
SPAN.monthsHeader A:hover
{ border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #828482;
  border-right: 1px solid #828482; }

A.leftNavigationArrow:active,
A.rightNavigationArrow:active,
SPAN.daysHeader A:active,
SPAN.weeksHeader A:active,
SPAN.monthsHeader A:active
{ border-top: 1px solid #828482;
  border-left: 1px solid #828482;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff; }

SPAN.week2, SPAN.month2
{ font-size: small; }

SPAN.day2, SPAN.week1, SPAN.month1
{ font-size: medium; }

SPAN.day1, SPAN.week0, SPAN.month0
{ font-size: large; }

SPAN.day0
{ font-size: x-large; }

SPAN.day0, SPAN.week0, SPAN.month0
{ border-top: 1px solid #828482 !important;
  border-left: 1px solid #828482 !important;
  border-bottom: 1px solid #fff !important;
  border-right: 1px solid #fff !important;
  background-color: #ddd; }

A.leftNavigationArrow
{ position: absolute;
  display: block;
  top: .5em;
  left: .5em; }

A.rightNavigationArrow
{ position: absolute;
  display: block;
  top: .5em;
  right: .5em; }

DIV#calendarHeader,
DIV#daysView
{ position: absolute;
  left: 0px;
  right: 0px;
  padding: 0px;
  margin: 0px; }

DIV#daysView
{ top: 11em;
  bottom: 0px;
  margin-left: 1px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  overflow: auto;
  overflow-x: hidden;
  right: 0px;}

DIV#calendarHeader
{ top: 3.5em;
  border: 0px;
  height: 7.5em; }

DIV#calendarHeader DIV.dayLabels,
DIV#calendarHeader DIV.days
{ position: absolute;
  margin: 0px;
  padding: 0px;
/* HERE  border: 0px; */
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  left: 5em;
  margin-left: 2px;
  margin-right: 16px; /* scrollbar width */
  right: 1px;
  overflow: hidden; }

DIV#calendarHeader DIV.dayLabels
{ bottom: 4em;
  height: 3em; }

DIV#calendarHeader DIV.dayLabels DIV.day
{ text-align: center;
  color: #666;
  background-color: #f0f0f0; }

DIV#calendarHeader SPAN.dayOfWeek
{ font-size: medium; }

DIV#calendarHeader DIV.dayLabels
{ cursor: default; }

DIV#calendarHeader DIV.days
{ cursor: pointer;
  bottom: 0px;
  height: 4em; }

DIV#calendarHeader DIV.day
{ height: 100%;
  margin: 0px;
  padding: 0px;
  margin-right: 1px; }

DIV#calendarHeader DIV.days DIV.day
{ overflow: hidden;
  overflow-y: auto; }

/* DIV#daysView
/*   background-position: top center;
  background-repeat: no-repeat;
  background-image: url("/SOGo.woa/WebServerResources/background.jpg");
 } */

.menu LI.currentMonth,
.menu LI.currentYear
{ border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  background-color: #ccc;
  color: #222; }

DIV.eventView
{ display: block;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid #000; }

/* new draggable presentation */

DIV#daysView DIV.days
{ position: absolute;
  margin: 0px;
  height: 96em;
  top: 0px;
  left: 5em;
  right: 2px;
  /* width is specified dynamically through JavaScript */
}

DIV.multicolumnDayView DIV.lastDayUser
{ border-right: 1px solid #ccc; }

DIV.monthView
{ position: absolute;
  left: .5em;
  top: 4em;
  right: 1em;
  bottom: 1em;
/*  border: 0px; HERE */
  margin: 0px;
  padding: 0px;
  min-width: 20em;
  min-height: 25em; }

DIV.monthView > DIV,
DIV.monthView > DIV.days > DIV
{ position: absolute;
  padding: 0px;
  margin: 0px; }

DIV.monthView > DIV.headerDay
{ text-align: center;
  cursor: default;
  padding-top: .5em;
  border-left: 2px solid #ccc !important;
  border-top: 2px solid #ccc !important;
  top: 0px;
  color: #666;
  height: 1.5em;
  font-weight: bold;
  background-color: #f0f0f0; }

DIV.dayOfToday
{ background-color: #deebf7; }

DIV.dayOfToday DIV.outOfDay
{ background-color: #d6dfe9; }

DIV.outOfDay, DIV.weekEndDay,
DIV.weekEndDay DIV.outOfDay
{ background-color: #f4f4f4; }

DIV.dayOfAnotherMonth
{ background-color: #e7efef; }

DIV.monthView DIV.dayHeader
{ background-color: #f0f0f0;
  margin-right: 2px;
  text-align: right;
  cursor: pointer;
  color: #666;
  -moz-user-select: none; }

DIV.monthView DIV.days
{ top: 2em;
  cursor: pointer;
  bottom: 0px;
  left: 0px;
  right: 0px; }

DIV.monthView DIV.day
{ position: absolute;
  border-left: 2px solid #ccc;
  border-top: 2px solid #ccc;
  min-height: 4em;
  overflow: auto;
  overflow-x: hidden; }

DIV.selectedDay,
DIV.selectedDay DIV.dayHeader
{ background-color: #ffe79c; }

DIV.selectedDay.weekEndDay,
DIV.selectedDay DIV.outOfDay
{ background-color: #f5dd92; }

DIV.weekOf4
{ height: 25%; }

DIV.weekOf5
{ height: 20%; }

DIV.weekOf6
{ height: 16.666667%; }

DIV.monthView DIV.week0of4,
DIV.monthView DIV.week0of5,
DIV.monthView DIV.week0of6
{ top: 0px; }

DIV.monthView DIV.week1of4
{ top: 25%; }

DIV.monthView DIV.week2of4
{ top: 50%; }

DIV.monthView DIV.week3of4
{ top: 75%;
  border-bottom: 2px solid #ccc !important; }

DIV.monthView DIV.week1of5
{ top: 20%; }

DIV.monthView DIV.week2of5
{ top: 40%; }

DIV.monthView DIV.week3of5
{ top: 60%; }

DIV.monthView DIV.week4of5
{ top: 80%;
  border-bottom: 2px solid #ccc !important; }

DIV.monthView DIV.week1of6
{ top: 16.666667%; }

DIV.monthView DIV.week2of6
{ top: 33.333333%; }

DIV.monthView DIV.week3of6
{ top: 50%; }

DIV.monthView DIV.week4of6
{ top: 66.666667%; }

DIV.monthView DIV.week5of6
{ top: 83.333333%;
  border-bottom: 2px solid #ccc !important; }

DIV.monthView DIV.week3
{ top: 45%; }

DIV.monthView DIV.week4
{ top: 60%; }

DIV.monthView DIV.week5
{ top: 75%; }

DIV.monthView DIV.week6
{ top: 90%; }

DIV#calendarHeader DIV.day,
DIV#daysView DIV.day
{ position: absolute;
  border-left: 1px solid #ccc;
  margin: 0px;
  padding: 0px;
  top: 0px; }

/* DIV#calendarHeader DIV.day1
{ border-left: 0px; }
 */

/* DIV#daysView > DIV.days > DIV.day > DIV.header
{ position: fixed;
  top: ;
  height: 3.5em;
  padding-top: .5em;
  border: 0px;
  border-top: 1px solid #397d94;
  font-weight: bold;
  text-align: center;
  background-color: #e7efef;
  color: #397d94; } */

DIV.daysViewFor1Days DIV.day
{ border-right: 1px solid #ccc;
  width: 100%; }

/* DIV#daysView DIV.day
{ margin-right: 3px; } */

DIV.monthView DIV.headerDay,
DIV.monthView DIV.day,
DIV.daysViewFor7Days DIV.day
{ width: 14.2857%;
  width: 14.1%; }

DIV.monthView DIV.day0,
DIV.daysViewFor7Days DIV.day0
{ left: 0px; }

DIV.monthView DIV.day1,
DIV.daysViewFor7Days DIV.day1
{ left: 14.2857%; }

DIV.monthView DIV.day2,
DIV.daysViewFor7Days DIV.day2
{ left: 28.5714%; }

DIV.monthView DIV.day3,
DIV.daysViewFor7Days DIV.day3
{ left: 42.8571%; }

DIV.monthView DIV.day4,
DIV.daysViewFor7Days DIV.day4
{ left: 57.1428%; }

DIV.monthView DIV.day5,
DIV.daysViewFor7Days DIV.day5
{ left: 71.4285%; }

DIV.monthView DIV.day6
{ left: 85.7142%;
  border-right: 2px solid #ccc; }

DIV.daysViewFor7Days DIV.day6
{ left: 85.7142%;
  border-right: 1px solid #ccc; }

DIV#daysView > DIV.hours
{ position: absolute;
  left: 0px;
  top: 0px;
  width: 4.5em;
  height: 95.5em;
  font-weight: bold;
  margin: 0px;
  padding-top: .5em;
  padding-right: .5em;
  color: #666;
  text-align: right; }

DIV#daysView > DIV.hours > DIV.hour
{ height: 4em; }

DIV#daysView > DIV.hourLines > DIV.hourLine
{ position: absolute;
  height: 1px;
  left: 0px;
  right: 0px;
  padding-left: 1em;
  margin-right: 2px;
  border-bottom: 1px solid #ccc; }

DIV.clickableHourCell
{ cursor: pointer;
  width: 100%;
  height: 4em; }

DIV.clickableHourCell0
{ top: 0px; }

DIV.clickableHourCell1,
DIV#daysView > DIV.hourLines > DIV.hourLine0
{ top: 4em; }

DIV.clickableHourCell2,
DIV#daysView > DIV.hourLines > DIV.hourLine1
{ top: 8em; }

DIV.clickableHourCell3,
DIV#daysView > DIV.hourLines > DIV.hourLine2
{ top: 12em; }

DIV.clickableHourCell4,
DIV#daysView > DIV.hourLines > DIV.hourLine3
{ top: 16em; }

DIV.clickableHourCell5,
DIV#daysView > DIV.hourLines > DIV.hourLine4
{ top: 20em; }

DIV.clickableHourCell6,
DIV#daysView > DIV.hourLines > DIV.hourLine5
{ top: 24em; }

DIV.clickableHourCell7,
DIV#daysView > DIV.hourLines > DIV.hourLine6
{ top: 28em; }

DIV.clickableHourCell8,
DIV#daysView > DIV.hourLines > DIV.hourLine7
{ top: 32em; }

DIV.clickableHourCell9,
DIV#daysView > DIV.hourLines > DIV.hourLine8
{ top: 36em; }

DIV.clickableHourCell10,
DIV#daysView > DIV.hourLines > DIV.hourLine9
{ top: 40em; }

DIV.clickableHourCell11,
DIV#daysView > DIV.hourLines > DIV.hourLine10
{ top: 44em; }

DIV.clickableHourCell12,
DIV#daysView > DIV.hourLines > DIV.hourLine11
{ top: 48em; }

DIV.clickableHourCell13,
DIV#daysView > DIV.hourLines > DIV.hourLine12
{ top: 52em; }

DIV.clickableHourCell14,
DIV#daysView > DIV.hourLines > DIV.hourLine13
{ top: 56em; }

DIV.clickableHourCell15,
DIV#daysView > DIV.hourLines > DIV.hourLine14
{ top: 60em; }

DIV.clickableHourCell16,
DIV#daysView > DIV.hourLines > DIV.hourLine15
{ top: 64em; }

DIV.clickableHourCell17,
DIV#daysView > DIV.hourLines > DIV.hourLine16
{ top: 68em; }

DIV.clickableHourCell18,
DIV#daysView > DIV.hourLines > DIV.hourLine17
{ top: 72em; }

DIV.clickableHourCell19,
DIV#daysView > DIV.hourLines > DIV.hourLine18
{ top: 76em; }

DIV.clickableHourCell20,
DIV#daysView > DIV.hourLines > DIV.hourLine19
{ top: 80em; }

DIV.clickableHourCell21,
DIV#daysView > DIV.hourLines > DIV.hourLine20
{ top: 84em; }

DIV.clickableHourCell22,
DIV#daysView > DIV.hourLines > DIV.hourLine21
{ top: 88em; }

DIV.clickableHourCell23,
DIV#daysView > DIV.hourLines > DIV.hourLine22
{ top: 92em; }

DIV#daysView > DIV.hourLines > DIV.hourLine23
{ top: 96em; }

DIV#daysView DIV.events
{ z-index: 2;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px; }

DIV.events > DIV.event
{ cursor: default;
  z-index: 1;
  position: absolute;
  left: 0px;
  right: 2px;
  margin-top: 0px;
  padding: 1px; }

DIV.event > DIV.eventInside
{ position: absolute;
  overflow: hidden;
  top: 2px;
  bottom: 2px;
  left: 1px;
  right: 2px; }

DIV.event._selected > DIV.eventInside
{ -moz-opacity: 0.7;
  opacity: 0.7; }

DIV.monthView DIV.event,
DIV.monthView DIV.event > DIV.eventInside
{ bottom: 0px;
  top: 0px; }

DIV.monthView DIV.event > DIV.eventInside
{ bottom: 0px; }

DIV.shadow
{ position: absolute;
  background-color: #000; }

DIV.gradient, DIV.text
{ position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 2px;
  height: 100%;
  overflow: hidden; }

DIV.gradient > IMG
{ height: 100%;
  width: 100%; }

DIV#calendarHeader DIV.event,
DIV.monthView DIV.event
{ position: relative;
  cursor: default;
  white-space: nowrap;
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 1px;
  padding: 1px;
  height: 1.2em; }

DIV#calendarHeader DIV.event
{ height: 1.5em; }

DIV.event DIV.text
{ font-size: 92%; }

DIV.event.alarm DIV.text
{ background-image: url("alarm.png");
  background-repeat: no-repeat;
  background-position: top right; }

DIV.eventInside.needs-action
{ border: 2px dotted #666;
  -moz-opacity: 0.6;
  opacity: 0.6; }

DIV.eventInside.declined
{ -moz-opacity: 0.3;
  opacity: 0.3; }

DIV#daysView DIV[class~="event"].starts0
{ top: 0.000000%; }

DIV#daysView DIV[class~="event"].starts1
{ top: 1.041667%; }

DIV#daysView DIV[class~="event"].starts2
{ top: 2.083333%; }

DIV#daysView DIV[class~="event"].starts3
{ top: 3.125000%; }

DIV#daysView DIV[class~="event"].starts4
{ top: 4.166667%; }

DIV#daysView DIV[class~="event"].starts5
{ top: 5.208333%; }

DIV#daysView DIV[class~="event"].starts6
{ top: 6.250000%; }

DIV#daysView DIV[class~="event"].starts7
{ top: 7.291667%; }

DIV#daysView DIV[class~="event"].starts8
{ top: 8.333333%; }

DIV#daysView DIV[class~="event"].starts9
{ top: 9.375000%; }

DIV#daysView DIV[class~="event"].starts10
{ top: 10.416667%; }

DIV#daysView DIV[class~="event"].starts11
{ top: 11.458333%; }

DIV#daysView DIV[class~="event"].starts12
{ top: 12.500000%; }

DIV#daysView DIV[class~="event"].starts13
{ top: 13.541667%; }

DIV#daysView DIV[class~="event"].starts14
{ top: 14.583333%; }

DIV#daysView DIV[class~="event"].starts15
{ top: 15.625000%; }

DIV#daysView DIV[class~="event"].starts16
{ top: 16.666667%; }

DIV#daysView DIV[class~="event"].starts17
{ top: 17.708333%; }

DIV#daysView DIV[class~="event"].starts18
{ top: 18.750000%; }

DIV#daysView DIV[class~="event"].starts19
{ top: 19.791667%; }

DIV#daysView DIV[class~="event"].starts20
{ top: 20.833333%; }

DIV#daysView DIV[class~="event"].starts21
{ top: 21.875000%; }

DIV#daysView DIV[class~="event"].starts22
{ top: 22.916667%; }

DIV#daysView DIV[class~="event"].starts23
{ top: 23.958333%; }

DIV#daysView DIV[class~="event"].starts24
{ top: 25.000000%; }

DIV#daysView DIV[class~="event"].starts25
{ top: 26.041667%; }

DIV#daysView DIV[class~="event"].starts26
{ top: 27.083333%; }

DIV#daysView DIV[class~="event"].starts27
{ top: 28.125000%; }

DIV#daysView DIV[class~="event"].starts28
{ top: 29.166667%; }

DIV#daysView DIV[class~="event"].starts29
{ top: 30.208333%; }

DIV#daysView DIV[class~="event"].starts30
{ top: 31.250000%; }

DIV#daysView DIV[class~="event"].starts31
{ top: 32.291667%; }

DIV#daysView DIV[class~="event"].starts32
{ top: 33.333333%; }

DIV#daysView DIV[class~="event"].starts33
{ top: 34.375000%; }

DIV#daysView DIV[class~="event"].starts34
{ top: 35.416667%; }

DIV#daysView DIV[class~="event"].starts35
{ top: 36.458333%; }

DIV#daysView DIV[class~="event"].starts36
{ top: 37.500000%; }

DIV#daysView DIV[class~="event"].starts37
{ top: 38.541667%; }

DIV#daysView DIV[class~="event"].starts38
{ top: 39.583333%; }

DIV#daysView DIV[class~="event"].starts39
{ top: 40.625000%; }

DIV#daysView DIV[class~="event"].starts40
{ top: 41.666667%; }

DIV#daysView DIV[class~="event"].starts41
{ top: 42.708333%; }

DIV#daysView DIV[class~="event"].starts42
{ top: 43.750000%; }

DIV#daysView DIV[class~="event"].starts43
{ top: 44.791667%; }

DIV#daysView DIV[class~="event"].starts44
{ top: 45.833333%; }

DIV#daysView DIV[class~="event"].starts45
{ top: 46.875000%; }

DIV#daysView DIV[class~="event"].starts46
{ top: 47.916667%; }

DIV#daysView DIV[class~="event"].starts47
{ top: 48.958333%; }

DIV#daysView DIV[class~="event"].starts48
{ top: 50.000000%; }

DIV#daysView DIV[class~="event"].starts49
{ top: 51.041667%; }

DIV#daysView DIV[class~="event"].starts50
{ top: 52.083333%; }

DIV#daysView DIV[class~="event"].starts51
{ top: 53.125000%; }

DIV#daysView DIV[class~="event"].starts52
{ top: 54.166667%; }

DIV#daysView DIV[class~="event"].starts53
{ top: 55.208333%; }

DIV#daysView DIV[class~="event"].starts54
{ top: 56.250000%; }

DIV#daysView DIV[class~="event"].starts55
{ top: 57.291667%; }

DIV#daysView DIV[class~="event"].starts56
{ top: 58.333333%; }

DIV#daysView DIV[class~="event"].starts57
{ top: 59.375000%; }

DIV#daysView DIV[class~="event"].starts58
{ top: 60.416667%; }

DIV#daysView DIV[class~="event"].starts59
{ top: 61.458333%; }

DIV#daysView DIV[class~="event"].starts60
{ top: 62.500000%; }

DIV#daysView DIV[class~="event"].starts61
{ top: 63.541667%; }

DIV#daysView DIV[class~="event"].starts62
{ top: 64.583333%; }

DIV#daysView DIV[class~="event"].starts63
{ top: 65.625000%; }

DIV#daysView DIV[class~="event"].starts64
{ top: 66.666667%; }

DIV#daysView DIV[class~="event"].starts65
{ top: 67.708333%; }

DIV#daysView DIV[class~="event"].starts66
{ top: 68.750000%; }

DIV#daysView DIV[class~="event"].starts67
{ top: 69.791667%; }

DIV#daysView DIV[class~="event"].starts68
{ top: 70.833333%; }

DIV#daysView DIV[class~="event"].starts69
{ top: 71.875000%; }

DIV#daysView DIV[class~="event"].starts70
{ top: 72.916667%; }

DIV#daysView DIV[class~="event"].starts71
{ top: 73.958333%; }

DIV#daysView DIV[class~="event"].starts72
{ top: 75.000000%; }

DIV#daysView DIV[class~="event"].starts73
{ top: 76.041667%; }

DIV#daysView DIV[class~="event"].starts74
{ top: 77.083333%; }

DIV#daysView DIV[class~="event"].starts75
{ top: 78.125000%; }

DIV#daysView DIV[class~="event"].starts76
{ top: 79.166667%; }

DIV#daysView DIV[class~="event"].starts77
{ top: 80.208333%; }

DIV#daysView DIV[class~="event"].starts78
{ top: 81.250000%; }

DIV#daysView DIV[class~="event"].starts79
{ top: 82.291667%; }

DIV#daysView DIV[class~="event"].starts80
{ top: 83.333333%; }

DIV#daysView DIV[class~="event"].starts81
{ top: 84.375000%; }

DIV#daysView DIV[class~="event"].starts82
{ top: 85.416667%; }

DIV#daysView DIV[class~="event"].starts83
{ top: 86.458333%; }

DIV#daysView DIV[class~="event"].starts84
{ top: 87.500000%; }

DIV#daysView DIV[class~="event"].starts85
{ top: 88.541667%; }

DIV#daysView DIV[class~="event"].starts86
{ top: 89.583333%; }

DIV#daysView DIV[class~="event"].starts87
{ top: 90.625000%; }

DIV#daysView DIV[class~="event"].starts88
{ top: 91.666667%; }

DIV#daysView DIV[class~="event"].starts89
{ top: 92.708333%; }

DIV#daysView DIV[class~="event"].starts90
{ top: 93.750000%; }

DIV#daysView DIV[class~="event"].starts91
{ top: 94.791667%; }

DIV#daysView DIV[class~="event"].starts92
{ top: 95.833333%; }

DIV#daysView DIV[class~="event"].starts93
{ top: 96.875000%; }

DIV#daysView DIV[class~="event"].starts94
{ top: 97.916667%; }

DIV#daysView DIV[class~="event"].starts95
{ top: 98.958333%; }

DIV#daysView DIV[class~="event"].starts96
{ top: 100.000000%; }

DIV#daysView DIV[class~="event"].lasts0
{ height: 0px; }

DIV#daysView DIV[class~="event"].lasts1
{ height: 1.041667%; }

DIV#daysView DIV[class~="event"].lasts2
{ height: 2.083333%; }

DIV#daysView DIV[class~="event"].lasts3
{ height: 3.125000%; }

DIV#daysView DIV[class~="event"].lasts4
{ height: 4.166667%; }

DIV#daysView DIV[class~="event"].lasts5
{ height: 5.208333%; }

DIV#daysView DIV[class~="event"].lasts6
{ height: 6.250000%; }

DIV#daysView DIV[class~="event"].lasts7
{ height: 7.291667%; }

DIV#daysView DIV[class~="event"].lasts8
{ height: 8.333333%; }

DIV#daysView DIV[class~="event"].lasts9
{ height: 9.375000%; }

DIV#daysView DIV[class~="event"].lasts10
{ height: 10.416667%; }

DIV#daysView DIV[class~="event"].lasts11
{ height: 11.458333%; }

DIV#daysView DIV[class~="event"].lasts12
{ height: 12.500000%; }

DIV#daysView DIV[class~="event"].lasts13
{ height: 13.541667%; }

DIV#daysView DIV[class~="event"].lasts14
{ height: 14.583333%; }

DIV#daysView DIV[class~="event"].lasts15
{ height: 15.625000%; }

DIV#daysView DIV[class~="event"].lasts16
{ height: 16.666667%; }

DIV#daysView DIV[class~="event"].lasts17
{ height: 17.708333%; }

DIV#daysView DIV[class~="event"].lasts18
{ height: 18.750000%; }

DIV#daysView DIV[class~="event"].lasts19
{ height: 19.791667%; }

DIV#daysView DIV[class~="event"].lasts20
{ height: 20.833333%; }

DIV#daysView DIV[class~="event"].lasts21
{ height: 21.875000%; }

DIV#daysView DIV[class~="event"].lasts22
{ height: 22.916667%; }

DIV#daysView DIV[class~="event"].lasts23
{ height: 23.958333%; }

DIV#daysView DIV[class~="event"].lasts24
{ height: 25.000000%; }

DIV#daysView DIV[class~="event"].lasts25
{ height: 26.041667%; }

DIV#daysView DIV[class~="event"].lasts26
{ height: 27.083333%; }

DIV#daysView DIV[class~="event"].lasts27
{ height: 28.125000%; }

DIV#daysView DIV[class~="event"].lasts28
{ height: 29.166667%; }

DIV#daysView DIV[class~="event"].lasts29
{ height: 30.208333%; }

DIV#daysView DIV[class~="event"].lasts30
{ height: 31.250000%; }

DIV#daysView DIV[class~="event"].lasts31
{ height: 32.291667%; }

DIV#daysView DIV[class~="event"].lasts32
{ height: 33.333333%; }

DIV#daysView DIV[class~="event"].lasts33
{ height: 34.375000%; }

DIV#daysView DIV[class~="event"].lasts34
{ height: 35.416667%; }

DIV#daysView DIV[class~="event"].lasts35
{ height: 36.458333%; }

DIV#daysView DIV[class~="event"].lasts36
{ height: 37.500000%; }

DIV#daysView DIV[class~="event"].lasts37
{ height: 38.541667%; }

DIV#daysView DIV[class~="event"].lasts38
{ height: 39.583333%; }

DIV#daysView DIV[class~="event"].lasts39
{ height: 40.625000%; }

DIV#daysView DIV[class~="event"].lasts40
{ height: 41.666667%; }

DIV#daysView DIV[class~="event"].lasts41
{ height: 42.708333%; }

DIV#daysView DIV[class~="event"].lasts42
{ height: 43.750000%; }

DIV#daysView DIV[class~="event"].lasts43
{ height: 44.791667%; }

DIV#daysView DIV[class~="event"].lasts44
{ height: 45.833333%; }

DIV#daysView DIV[class~="event"].lasts45
{ height: 46.875000%; }

DIV#daysView DIV[class~="event"].lasts46
{ height: 47.916667%; }

DIV#daysView DIV[class~="event"].lasts47
{ height: 48.958333%; }

DIV#daysView DIV[class~="event"].lasts48
{ height: 50.000000%; }

DIV#daysView DIV[class~="event"].lasts49
{ height: 51.041667%; }

DIV#daysView DIV[class~="event"].lasts50
{ height: 52.083333%; }

DIV#daysView DIV[class~="event"].lasts51
{ height: 53.125000%; }

DIV#daysView DIV[class~="event"].lasts52
{ height: 54.166667%; }

DIV#daysView DIV[class~="event"].lasts53
{ height: 55.208333%; }

DIV#daysView DIV[class~="event"].lasts54
{ height: 56.250000%; }

DIV#daysView DIV[class~="event"].lasts55
{ height: 57.291667%; }

DIV#daysView DIV[class~="event"].lasts56
{ height: 58.333333%; }

DIV#daysView DIV[class~="event"].lasts57
{ height: 59.375000%; }

DIV#daysView DIV[class~="event"].lasts58
{ height: 60.416667%; }

DIV#daysView DIV[class~="event"].lasts59
{ height: 61.458333%; }

DIV#daysView DIV[class~="event"].lasts60
{ height: 62.500000%; }

DIV#daysView DIV[class~="event"].lasts61
{ height: 63.541667%; }

DIV#daysView DIV[class~="event"].lasts62
{ height: 64.583333%; }

DIV#daysView DIV[class~="event"].lasts63
{ height: 65.625000%; }

DIV#daysView DIV[class~="event"].lasts64
{ height: 66.666667%; }

DIV#daysView DIV[class~="event"].lasts65
{ height: 67.708333%; }

DIV#daysView DIV[class~="event"].lasts66
{ height: 68.750000%; }

DIV#daysView DIV[class~="event"].lasts67
{ height: 69.791667%; }

DIV#daysView DIV[class~="event"].lasts68
{ height: 70.833333%; }

DIV#daysView DIV[class~="event"].lasts69
{ height: 71.875000%; }

DIV#daysView DIV[class~="event"].lasts70
{ height: 72.916667%; }

DIV#daysView DIV[class~="event"].lasts71
{ height: 73.958333%; }

DIV#daysView DIV[class~="event"].lasts72
{ height: 75.000000%; }

DIV#daysView DIV[class~="event"].lasts73
{ height: 76.041667%; }

DIV#daysView DIV[class~="event"].lasts74
{ height: 77.083333%; }

DIV#daysView DIV[class~="event"].lasts75
{ height: 78.125000%; }

DIV#daysView DIV[class~="event"].lasts76
{ height: 79.166667%; }

DIV#daysView DIV[class~="event"].lasts77
{ height: 80.208333%; }

DIV#daysView DIV[class~="event"].lasts78
{ height: 81.250000%; }

DIV#daysView DIV[class~="event"].lasts79
{ height: 82.291667%; }

DIV#daysView DIV[class~="event"].lasts80
{ height: 83.333333%; }

DIV#daysView DIV[class~="event"].lasts81
{ height: 84.375000%; }

DIV#daysView DIV[class~="event"].lasts82
{ height: 85.416667%; }

DIV#daysView DIV[class~="event"].lasts83
{ height: 86.458333%; }

DIV#daysView DIV[class~="event"].lasts84
{ height: 87.500000%; }

DIV#daysView DIV[class~="event"].lasts85
{ height: 88.541667%; }

DIV#daysView DIV[class~="event"].lasts86
{ height: 89.583333%; }

DIV#daysView DIV[class~="event"].lasts87
{ height: 90.625000%; }

DIV#daysView DIV[class~="event"].lasts88
{ height: 91.666667%; }

DIV#daysView DIV[class~="event"].lasts89
{ height: 92.708333%; }

DIV#daysView DIV[class~="event"].lasts90
{ height: 93.750000%; }

DIV#daysView DIV[class~="event"].lasts91
{ height: 94.791667%; }

DIV#daysView DIV[class~="event"].lasts92
{ height: 95.833333%; }

DIV#daysView DIV[class~="event"].lasts93
{ height: 96.875000%; }

DIV#daysView DIV[class~="event"].lasts94
{ height: 97.916667%; }

DIV#daysView DIV[class~="event"].lasts95
{ height: 98.958333%; }

DIV#daysView DIV[class~="event"].lasts96
{ height: 100.000000%; }

DIV#nowLineDisplay
{
  position: relative;
  width: 100%;
  height: 2px;
  background: red;
  z-index: 100;
}
