/* SOGo UI Stylesheet */

/* common stuff */

body
{
  color: #000000;
  font-family: Bitstream Vera Sans, Verdana, Tahoma, Arial, Helvetica, Geneva, sans-serif;
  font-size: small;
  background-color: #dbdad5;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

table
{ font-size: small; }

a:link {
  color: #0033CC;
  text-decoration: none;
}
a:visited {
  color: #660066;
  text-decoration: none;
}
a:hover {
  color: #FF0000;
  text-decoration: underline;
}

.linecolor {
  background-color: #06348B;
}

.defaultfont {
  text-decoration: none;
  color: #000000;
}

.window_label {
  color: #06348b;
  font-weight: bold;
}

.homepagefont {
  text-decoration: none;
  color: #000000;
}


/* tabs */

.tab {
  color: #000000;
  background-color: #e8e8e0;
  text-decoration: none;
  width: 100px; 
  height: 22px;
  border-top: 1px solid #06348b;
  border-right: 1px solid #06348b;
}

.tab a {
  color: #000000;
  border: none;
  text-decoration: none;
}

.tab_selected {
  color: #000000;
  background-color: #f5f5e9;
  text-decoration: none;
  font-weight: bold;
  width: 100px; 
  height: 22px;
  border-top: 1px solid #06348b;
  border-right: 1px solid #06348b;
}

.tab_selected a {
  color: #000000;
  border: none;
  text-decoration: none;
}

.tabview_body {
  background-color: #f5f5e9;
}


/* buttons */

.button_auto_env {
  height: 16px;
  text-align: center;
  vertical-align: middle;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  overflow: hidden;
}

.button_auto_env a {
  text-decoration: none;
  color: #000000;
}

.button_auto_env a:hover {
  text-decoration: underline;
  color: #ff0000;
}

.button_auto {
  height: 20px;
  border-style: outset;
  border-color: #DDDDDD;
  border-width: 2px;
  color: #000000;
  background-color: #e8e8e0;
  letter-spacing: 0pt;
  text-decoration: none;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  overflow: hidden;
}

.button_submit_env {
  height: 24px;
  text-align: center;
  vertical-align: middle;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  overflow: hidden;
}

.button_submit_env a {
  text-decoration: none;
  color: #000000;
}

.button_submit_env a:hover {
  text-decoration: underline;
  color: #ff0000;
}

.button_submit {
  height: 30px;
  border-style: outset;
  border-color: #DDDDDD;
  border-width: 2px;
  color: #000000;
  background-color: #e8e8e0;
  letter-spacing: 0pt;
  text-decoration: none;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 3px;
  overflow: hidden;
}

/* header */

div#header {
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
  border-bottom: 1px solid #000000;
}
div#header img.headerlogo {
  float: right; 
  width: 182px; 
  height: 30px;
}

div#header div#headerhistory {
  color: #000000;
  margin: 0px;
  padding-top: 18px;
  height: 12px;
}
div#header a, div#header span {
  margin: 0px;
}
div#header span#navtitle {
  font-weight: bold;
}
div#header a:hover {
  text-decoration: none;
}

/* the dock */

a.skydockfont {
  text-decoration: none;
  color: #06348B;
}
font.skydockfont {
  text-decoration: none;
  color: #06348B;
}
font.skydockfont_inactiveMail {
  text-decoration: none;
  color: #CCCCCC;
  font-weight: bold;
}
font.skydockfont_newMail {
  text-decoration: none;
  color: #06348B;
  font-weight: bold;
}

table.skytextdocktable {
  padding: 0px;
  table-layout: auto;
}


DIV.linkbanner
{ 
  background: #222;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  color: #aaa;
}

DIV.linkbanner A
{ 
  top: 0px;
  left: 0px;
  color: #ddd;
  text-decoration: none;
  padding: .2em .5em;
}

DIV.linkbanner A:hover
{ color: #dd5; }


.linkbannerlinks {
  vertical-align: bottom;
  text-align: left;
}

.linkbannerimage { 
  text-align: right;
}

.toolbar
{
  left: 0px;
  border-top: 1px solid #fffffb;
  border-left: 1px solid #fffffb;
  border-bottom: 2px solid #888;
  border-right: 2px solid #888;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow transparent;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow transparent;
  margin: 0px;
  padding: 1px 0px;
  height: 3.6em;
  -moz-appearance: toolbar !important;
}

SPAN.toolbarSeparator
{ display: block;
  float: left;
  height: 90%;
  border-right : 1px solid ThreeDHighlight;
  border-left : 1px solid ThreeDShadow;
  margin : 2px 0.2em;
  width: 0px;
  padding: 0px; }

A.toolbarButton
{
  color: #000;
  cursor: default;
  text-decoration: none;
}

SPAN.toolbarButton
{
  display: block;
  float: left; 
  text-align: center;
  -moz-appearance: toolbarbutton;
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 0px 1px;
  border-left: 2px solid transparent;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  padding: .2em;
  background-color: transparent;
  color: -moz-DialogText;
/* 
 display: block;
  text-align: center;
  height: 2.5em;
  float: left; 
  padding: .5em;
  border: 2px solid transparent;
 */ 
 }

SPAN.toolbarButton:hover
{
  color: -moz-buttonhovertext;
  background-color: -moz-buttonhoverface;
  -moz-border-left-colors: ThreeDHighlight -moz-buttonhoverface;
  -moz-border-top-colors: ThreeDHighlight -moz-buttonhoverface;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
}

SPAN.toolbarButton:active
{
  color: -moz-buttonhovertext;
  background-color: #c4c2bd;
  -moz-border-bottom-colors: -moz-buttonhoverface ThreeDHighlight;
  -moz-border-right-colors: -moz-buttonhoverface ThreeDHighlight;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
}

.toolbarButton IMG.buttonImage
{ border: 0px;
  width: 24px;
  height: 24px;
  margin: auto; }

.toolbarButton .buttonLabel
{ width: 100%;
  margin: auto; }

/* popups */
.menu
{
  visibility: hidden;
  position: fixed;
  z-index: 1;
  background-color: #dcdad5;
  color: #000;
  margin: 0px;
  padding: 0px;
  border: 1px solid #000;
}

.menu UL
{ 
  cursor: default;
  list-style-type: none;
  list-style-image: none;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #9e9a92;
  border-bottom: 1px solid #9e9a92;
}

.menu LI
{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .2em;
  padding-bottom: .2em;
  margin: 0px;
  width: auto;
}

.menu LI:hover
{
  background: #4b6983;
  color: #fff;
}

.menu LI.separator
{
  padding: 0px;
  margin: 2px 0px;
  height: 0px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #fff;
}
