DIV.appointmentLabel
{ display: block;
  position: relative;
  line-height: 1.8em;
  text-align: right;
  width: 3em; }

DIV#eventView
{ overflow: hidden;
  padding: .5em; }

DIV.appointmentRightLabel
{ display: inline;
  vertical-align: middle; }

UL.contactList
{ display: block;
  cursor: default;
  list-style-type: none;
  list-style-image: none;
  margin: 0px;
  padding: 0px;
  background: #fff;
  border: 1px solid #000;
  width: 15em;
  height: 5em;
  overflow: auto; }

UL.contactList LI IMG
{ vertical-align: middle; }

UL.contactList LI
{ width: 100%;
  white-space: nowrap;
  vertical-align: middle; }

UL.contactList LI._selected
{ background: #4b6983;
  color: #fff; }

DIV.contactSelector
{ margin: 0px; }

LABEL, SPAN.checkBoxList
{ display: block;
  position: relative;
  line-height: 1.5em;
  height: 1.5em;
  margin-left: 0px;
  margin-bottom: .5em;
  width: 100%; }

SELECT
{ margin-left: 1px; }

n0LABEL#commentArea
{ height: 17em; }

LABEL#commentArea textarea
{ height: 15.5em; }

SPAN.checkBoxList#participantsCB
{ height: 7em; }

SPAN.checkBoxList#categoriesCB
{ height: 3em; }

DIV#participants UL.contactList
{ height: 4.5em; }

SPAN.checkBoxList SPAN.content LABEL
{ display: inline; }

SPAN.content A
{ line-height: 2em; }

A#detailsButton
{ position: absolute;
  right: 1em;
  z-index: 1; }

SPAN.contactSelectorButtons
{ vertical-align: top;
  line-height: 2em; }

SPAN#cycleSelectionFirstLevel,
SPAN#cycleSelectionSecondLevel
{ visibility: hidden;
  margin-left: 1em; }

SPAN#cycleSelectionSecondLevel SPAN.timeDateControl
{ position: static;
  margin: 0px; }

SPAN#categoriesCB INPUT
{ border: 2px solid #000;
  vertical-align: middle;
  -moz-border-top-colors: #000 #fff;
  -moz-border-left-colors: #000 #fff;
  -moz-border-bottom-colors: #000 #fff;
  -moz-border-right-colors: #000 #fff; }

SPAN#categoriesCB LABEL
{ margin-left: 0px;
  margin-right: 1em; }

SPAN.content > INPUT.textField
{ n0width: 380px;
  width: 97%; }

LABEL#urlArea INPUT
{ position: static; }

DIV#attendeesMenu LI
{ padding-left: 10px;
  width: auto; }

DIV#attendeesMenu .attendeeUser
{ font-weight: bold; }

DIV#attendeesMenu .opt-participant
{ font-style: italic; }

DIV#attendeesMenu .non-participant A
{ color: #888; }

#attendeesLabel DIV#attendeesMenu > DIV
{ margin-left: 4px; }

#attendeesLabel DIV#attendeesMenu > DIV,
DIV#attendeesMenu .attendee
{ height: 18px; }

#attendeesLabel DIV#attendeesMenu .statusIcon
{ margin-top: 4px; }

DIV#attendeesMenu .statusIcon
{ background-repeat: no-repeat;
  float: left;
  width: 12px;
  height: 14px;
  margin-right: 4px;
  background-image: url("attendee-partstats.png"); }

DIV#attendeesMenu .accepted .statusIcon
{ background-position: 0px 0px; }

DIV#attendeesMenu .declined .statusIcon
{ background-position: -12px 0px; }

DIV#attendeesMenu .needs-action .statusIcon
{ background-position: -24px 0px; }

DIV#attendeesMenu .tentative .statusIcon
{ background-position: -36px 0px; }

DIV#attendeesMenu .delegated .statusIcon
{ background-position: -48px 0px; }

DIV#attendeesMenu .no-partstat .statusIcon
{ background-position: -60px 0px; }

DIV#attendeesMenu .delegate
{ padding-left: 16px !important; }
