/* test */

DIV.acls
{ position: absolute;
  top: 4em;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0px;
  border: 0px;
  margin: 0px; }

DIV.acls LABEL
{ white-space: nowrap;
  width: 100%; }

DIV#userSelectorHeader
{ margin: 1em; }

DIV#userSelector SPAN
{ display: block; }

INPUT#defaultRolesBtn
{ margin-left: 1em;
  margin-top: 1em;
  left: 1em; }

DIV#userRoles
{ position: absolute;
  left: 1em;
  top: 7.6em;
  right: 1em;
  bottom: 0px; }

UL#userList
{ position: absolute;
  top: 2.5em;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  cursor: default;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  overflow: auto;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 2px solid #222;
  border-left: 2px solid #222;
  background: #fff;
  -moz-border-top-colors: #9c9a94 #000 transparent;
  -moz-border-left-colors: #9c9a94 #000 transparent;
  list-style-type: none;
  list-style-image: none; }

UL#userList > LI._selected
{ background: #4b6983 !important;
  color: #fff !important; }
