DIV#attendeesMenu
{ overflow: auto;
  overflow-x: hidden; }

DIV#attendeesView
{ position: absolute;
  left: 1em;
  right: 1em;
  top: 1em;
  bottom: 1em; }

DIV#freeBusyView
{ background-color: #fff;
  position: absolute;
  top: 30px;
  bottom: 135px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  border-top: 1px solid #909090;
  border-left: 1px solid #909090;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff; }

SPAN.timeDateControl A:hover
{ text-decoration: none; }

TABLE
{ border-collapse: separate;
  table-layout: auto;
  border-spacing: 0px 0px; }

TABLE#freeBusyHeader TH
{ white-space: nowrap; }

TABLE#freeBusy TD,
TABLE#freeBusy TH
{ padding: 0px;
  margin: 0px;
  border: 0px;
  vertical-align: top; }

TABLE#freeBusy TD.freeBusyHeader DIV,
TABLE#freeBusy TD.freeBusyAttendees DIV
{ overflow: hidden; }

TABLE#freeBusy TD.freeBusyData DIV
{ overflow: scroll; }

TABLE#freeBusyAttendees TD.attendeeStatus
{ width: 24px;
  min-width: 24px;
  max-width: 24px; }

TABLE#freeBusyAttendees TD.attendeeStatus DIV
{ width: 12px;
  min-width: 12px;
  max-width: 24px;
  background-image: none; }

UL.roles-legend SPAN.role-icon
{ display: block;
  float: left; }

UL.roles-legend SPAN.role-icon,
TABLE#freeBusyAttendees TR.attendee-row TD.attendeeStatus DIV
{ background-repeat: no-repeat;
  width: 24px;
  height: 20px;
  background-image: url("attendee-roles.png"); }

LI[role="req-participant"] > SPAN.role-icon,
TABLE#freeBusyAttendees TR[role="req-participant"].attendee-row TD.attendeeStatus DIV
{ background-position: 0px 4px; }

LI[role="opt-participant"] > SPAN.role-icon,
TABLE#freeBusyAttendees TR[role="opt-participant"].attendee-row TD.attendeeStatus DIV
{ background-position: -24px 4px; }

LI[role="non-participant"] > SPAN.role-icon,
TABLE#freeBusyAttendees TR[role="non-participant"].attendee-row TD.attendeeStatus DIV
{ background-position: -72px 4px; }

LI[role="chair"] > SPAN.role-icon,
TABLE#freeBusyAttendees TR[role="chair"].attendee-row TD.attendeeStatus DIV
{ background-position: -48px 4px; }

TABLE#freeBusyAttendees TR.organizer-row TD.attendeeStatus DIV
{ background-repeat: no-repeat;
  width: 12px;
  height: 18px;
  margin-left: 6px;
  background-image: url("attendee-partstats.png"); }

TABLE#freeBusyAttendees TR[partstat="accepted"].organizer-row TD.attendeeStatus DIV
{ background-position: 0px 4px; }

TABLE#freeBusyAttendees TR[partstat="declined"].organizer-row TD.attendeeStatus DIV
{ background-position: -12px 4px; }

TABLE#freeBusyAttendees TR[partstat="needs-action"].organizer-row TD.attendeeStatus DIV
{ background-position: -24px 4px; }

TABLE#freeBusyAttendees TR[partstat="tentative"].organizer-row TD.attendeeStatus DIV
{ background-position: -36px 4px; }

TABLE#freeBusyHeader TR.freeBusyHeader2 TH
{ font-weight: normal; }

TABLE#freeBusyHeader TR.freeBusyHeader1 TH,
TABLE#freeBusyHeader TR.freeBusyHeader2 TH,
TABLE#freeBusyHeader TR.freeBusyHeader3 TH
{ text-align: left;
  color: #777;
  background: #fff; }

TABLE#freeBusyHeader TR.freeBusyHeader2 TH
{ padding-right: 2em; }

TABLE#freeBusyHeader TR.freeBusyHeader3 TH
{ border-left: 1px solid #fff;
  border-bottom: 1px solid #cecbff; }

TABLE#freeBusyAttendees TR.attendeeModel,
TABLE#freeBusyData TR.dataModel
{ display: none; }

TABLE#freeBusy TD.freeBusyHeader,
TABLE#freeBusy TD.freeBusyData
{ border-left: 2px solid #bbb; }

TABLE#freeBusyAttendees TD,
TABLE#freeBusyData TD
{ border-bottom: 1px solid #cecbff;
  border-left: 1px solid #cecbff;
  border-top: 0px;
  border-right: 0px;
  height: 24px;
  background-color: #fff; }

TABLE#freeBusyAttendees TD
{ border-left: 1px solid #fff; }

TABLE#freeBusyData TR.futureData TD
{ border-left: none; }

TABLE#freeBusy TD.freeBusyAttendees DIV
{ width: 16em; }

TABLE#freeBusyAttendees TD.attendees INPUT
{ background-image: url("abcard.png");
  background-repeat: no-repeat;
  background-position: 4px center;
  border: 0px;
  width: 12em;
  padding-left: 24px; }

TABLE#freeBusyAttendees TR.futureAttendee INPUT
{ background-image: none;
  color: #aaa; }

TABLE#freeBusyAttendees TR.futureAttendee TD,
TABLE#freeBusyData TR.futureData TD
{ border: 0px;
  height: 3em;
  line-height: 3em; }

SPAN.freeBusyZoneElement
{ display: block;
  float: left;
  clear: right;
  width: 25%;
  margin: 0px;
  padding: 0px;
  border: 0px; }

TABLE#freeBusyHeader TR.freeBusyHeader3 SPAN.freeBusyZoneElement
{ height: 2px; }

TABLE#freeBusyHeader TR.freeBusyHeader3 SPAN.freeBusyZoneElement.busy
{ background-color: #f03 !important; }

TABLE#freeBusyData TD SPAN.freeBusyZoneElement
{ height: 24px; }

SPAN.colorBox.free,
TABLE#freeBusyData TD SPAN.freeBusyZoneElement
{ background-color: #ebebe4; }

DIV#freeBusyFooter
{ position: absolute;
  height: 130px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  line-height: 2em;
  text-align: right; }

DIV#legend
{ margin-left: 1em;
  text-align: left; }

DIV#legend UL
{ cursor: default;
  float: left;
  margin: 0px;
  margin-right: 10px;
  padding: 0px;
  list-style-type: none;
  list-style-image: none; }

DIV#legend LI
{ height: 20px;
  white-space: nowrap;
  margin: 0px;
  padding: 0px; }

UL.freebusy-legend SPAN.colorBox
{ float: left;
  margin-top: 5px;
  margin-right: 2px;
  display: block;
  border: 1px solid #999;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #eee;
  width: 32px;
  height: 10px; }

SPAN.colorBox.busy,
SPAN.freeBusyZoneElement.busy
{ background-color: #35556b !important; }

SPAN.colorBox.maybe-busy,
SPAN.freeBusyZoneElement.maybe-busy
{ background-color: #adc0d0 !important; }

SPAN.colorBox.noFreeBusy,
TABLE#freeBusyData TD.noFreeBusy
{ background-color: #e09ebd; }

#freeBusyViewButtons
{ margin: 0px;
  text-align: left; }

SPAN#freeBusyViewOptions
{ float: left; }

#freeBusyViewButtons SELECT
{ width: 50px; }

SPAN.hidden
{ display: none; }

DIV#freeBusyReplicas
{ position: absolute;
  top: 2px;
  right: 0px;
  width: 30em;
  height: 4em; }

DIV#freeBusyReplicas LABEL
{ line-height: 1.5em; }

DIV#windowButtons
{ position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 24px;
  text-align: right; }

.officeHour
{ color: #666 !important;
  font-weight: bold !important; }

SPAN.content INPUT,
SPAN.content SELECT,
SPAN.content SPAN,
SPAN.timeDateControl INPUT,
SPAN.timeDateControl SELECT,
SPAN.timeDateControl SPAN,
DIV#freeBusyReplicas SPAN
{ vertical-align: top; }
