DIV.appointmentLabel
{ display: block;
  position: relative;
  line-height: 1.8em;
  text-align: right;
  width: 3em; }

DIV#editorTabs
{
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 38em;
}

DIV#editorTabs > DIV.tab
{ overflow: hidden;
  padding: .5em; }

DIV.appointmentRightLabel
{ display: inline;
  vertical-align: middle; }

UL.contactList
{ 
  display: block;
  cursor: default;
  list-style-type: none;
  list-style-image: none;
  margin: 0px;
  padding: 0px;
  background: #fff;
  border: 1px solid #000;
  width: 15em;
  height: 5em;
  overflow: auto;
}

UL.contactList LI IMG
{ vertical-align: middle; }

UL.contactList LI
{ width: 100%;
  white-space: nowrap;
  vertical-align: middle; }

UL.contactList LI._selected
{ background: #4b6983;
  color: #fff; }

DIV.contactSelector
{ margin: 0px; }

LABEL, SPAN.checkBoxList
{ display: block;
  position: relative;
  height: 1.5em;
  margin-left: .5em;
  margin-bottom: .5em;
  width: 100%; }

LABEL#commentArea
{ height: 11.5em; }

SPAN.checkBoxList#participantsCB
{ height: 7em; }

SPAN.checkBoxList#categoriesCB
{ height: 3em; }

DIV#participants UL.contactList
{ height: 4.5em; }

SPAN.checkBoxList SPAN.content LABEL
{ display: inline; }

SPAN.content
{ position: absolute;
  top: -.25em;
  left: 8em;
  right: 1em; }

TEXTAREA
{ position: absolute;
  top: 0px;
  left: 8em;
  vertical-align: bottom;
  height: 10em;
  right: 1em;
  padding-bottom: 1em; }

A#detailsButton
{ position: absolute;
  right: 1em;
  z-index: 1; }

SPAN.contactSelectorButtons
{ vertical-align: top;
  line-height: 2em; }

SPAN#cycleSelectionFirstLevel,
SPAN#cycleSelectionSecondLevel
{ visibility: hidden;
  margin-left: 1em; }

SPAN#cycleSelectionSecondLevel SPAN.timeDateControl
{ position: static;
  margin: 0px; }

SPAN#categoriesCB INPUT
{ border: 2px solid #000;
  vertical-align: middle;
  -moz-border-top-colors: #000 #fff;
  -moz-border-left-colors: #000 #fff; 
  -moz-border-bottom-colors: #000 #fff;
  -moz-border-right-colors: #000 #fff; }

SPAN#categoriesCB LABEL
{ margin-left: 0px;
  margin-right: 1em; }

SPAN.content > INPUT
{ position: absolute;
  top: 0px;
  left: 0px;
  right: 0px; }

LABEL#urlArea INPUT
{ position: static; }

DIV.freeBusyView
{ height: 22em;
  overflow: auto; }

DIV#freeBusyFooter
{ position: absolute;
  left: .5em;
  right: .5em;
  height: 6em;
  line-height: 2em;
  text-align: right;
  bottom: 0px; }

DIV#freeBusyButtons
{ float: left;
  text-align: center; }

DIV#freeBusyButtons A.button
{ width: 5em; }

DIV#freeBusyReplicas LABEL
{ line-height: 1.5em; }

DIV.elvis UL
{ cursor: default;
  float: left;
  width: 30%;
  margin: 0px;
  padding: 0px;
  line-height: 1.4em;
  list-style-type: none;
  list-style-image: none; }

DIV.elvis UL LI
{ white-space: nowrap;
  margin: 0px;
  padding: 0px; }

DIV.elvis UL IMG
{ margin-right: .5em; }

DIV.elvis UL LI SPAN.colorBox
{ float: left;
  margin-right: .5em; }
