DIV.acls
{ position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0px;
  border: 0px;
  margin: 0px; }

DIV.acls LABEL
{ white-space: nowrap;
  width: 100%; }

#userRoles
{ position: absolute;
  top: 5px;
  left: 0px;
  right: 0px;
  bottom: 0px; }

#userSelectorButtons
{ margin-left: 5px;
  padding-bottom: 2px; }

UL#userList
{ position: absolute;
  left: 0px;
  right: 0px;
  top: 40px;
  bottom: 0px;
  padding: 0px;
  margin: 0px;
  white-space: nowrap;
  overflow: auto;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #909090;
  border-left: 1px solid #909090;
  background-color: #CCDDEC;
  list-style-type: none;
  list-style-image: none; }

UL#userList LI
{ clear: both;
  cursor: pointer;
  height: 20px;
  text-align: right;
  margin-left: 0px;
  padding-left: 24px;
  background-repeat: no-repeat;
  background-position: 4px center; }

UL#userList LI.normal-user
{ background-image: url("abcard.png"); }

UL#userList LI.any-user
{ background-image: url("abcard-anyone.png");
  border-top: 1px solid #555; }

UL#userList LI.anonymous-user
{ background-image: url("abcard-anonymous.png"); }

DIV#userSelectorButtons A.smallToolbarButton
{ float: left; }

SPAN.userFullName
{ float: left;
  margin-top: 2px; }

LABEL.subscriptionArea
{ padding-right: 5px; }
