/* test */

DIV.acls
{ padding: 1em; }

DIV.acls LABEL
{ white-space: nowrap;
  width: 100%; }

DIV.acls UL
{ height: 100%;
  width: 100%; }

DIV#userRoles
{ height: 8em;
  padding-bottom: 2em; }

UL#userList
{ cursor: default;
  margin: .25em;
  padding: 0px;
  white-space: nowrap;
  overflow: auto;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 2px solid #222;
  border-left: 2px solid #222;
  background: #fff;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow transparent;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow transparent;
  list-style-type: none;
  list-style-image: none; }

UL#userList > LI._selected
{ background: #4b6983 !important;
  color: #fff !important; }

SELECT#userRoleDropDown
{ visibility: hidden;
  margin-top: 1em;
  margin-left: 2em; }

SPAN.legend
{ margin-left: 1em;
  font-size: smaller; }
