DIV.acls
{ position: absolute;
  top: 4em;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0px;
  border: 0px;
  margin: 0px; }

DIV.acls LABEL
{ white-space: nowrap;
  width: 100%; }

DIV.userSelector
{ position: absolute;
  top: 3em;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100px; }

DIV#userSelectorHeader
{ margin: 1em 0 0.5em 1em; }

DIV#userSelector SPAN
{ display: block; }

A#defaultRolesBtn
{ float: right;
  margin-right: 1em;
  margin-top: 5px;}

DIV#userRoles
{ height: 100%; }

#userSelectorButtons
{ margin-left: 1em;
  padding-bottom: 2px; }

UL#userList
{ position: absolute;
  left: 0px;
  right: 0px;
  top: 40px;
  bottom: 33px;
  padding: 0px;
  margin: 0px;
  white-space: nowrap;
  overflow: auto;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #909090;
  border-left: 1px solid #909090;
  background-color: #CCDDEC;
  list-style-type: none;
  list-style-image: none; }

UL#userList LI
{ clear: both;
  cursor: pointer;
  height: 2em;
  text-align: right;
  padding-left: 3px; }

DIV#userSelectorButtons A.smallToolbarButton
{ float: left; }

SPAN.userFullName
{ float: left; }

LABEL.subscriptionArea
{ padding-right: 5px; }
