DIV.appointmentLabel
{ display: block;
  position: relative;
  line-height: 1.8em;
  text-align: right;
  width: 3em; }

DIV#eventView
{ overflow: hidden;
  padding: .5em; }

DIV.appointmentRightLabel
{ display: inline;
  vertical-align: middle; }

UL.contactList
{ display: block;
  cursor: default;
  list-style-type: none;
  list-style-image: none;
  margin: 0px;
  padding: 0px;
  background: #fff;
  border: 1px solid #000;
  width: 15em;
  height: 5em;
  overflow: auto; }

UL.contactList LI IMG
{ vertical-align: middle; }

UL.contactList LI
{ width: 100%;
  white-space: nowrap;
  vertical-align: middle; }

UL.contactList LI._selected
{ background: #4b6983;
  color: #fff; }

DIV.contactSelector
{ margin: 0px; }

LABEL, SPAN.checkBoxList
{ display: block;
  position: relative;
  line-height: 1.5em;
  height: 1.5em;
  margin-left: 0px;
  margin-bottom: .5em;
  width: 100%; }

SELECT
{ margin-left: 1px; }

LABEL#commentArea
{ height: 15em; }

LABEL#commentArea textarea
{ padding-bottom: 0em;
  top: 0px;
  left: 8em;
  width: 380px;
  height: 15em;
  vertical-align: bottom;
  position: absolute;
  padding: 0px;
  margin: 0px;
  margin-left: 1px; }

SPAN.checkBoxList#participantsCB
{ height: 7em; }

SPAN.checkBoxList#categoriesCB
{ height: 3em; }

DIV#participants UL.contactList
{ height: 4.5em; }

SPAN.checkBoxList SPAN.content LABEL
{ display: inline; }

SPAN.content
{ position: absolute;
  top: -.25em;
  left: 8em;
  right: 1em; }

SPAN.content
{ line-height: 2em; }

SPAN.content A
{ line-height: 2em; }

A#changeUrlButton
{ margin-left: 1em; }

A#detailsButton
{ position: absolute;
  right: 1em;
  z-index: 1; }

SPAN.contactSelectorButtons
{ vertical-align: top;
  line-height: 2em; }

SPAN#cycleSelectionFirstLevel,
SPAN#cycleSelectionSecondLevel
{ visibility: hidden;
  margin-left: 1em; }

SPAN#cycleSelectionSecondLevel SPAN.timeDateControl
{ position: static;
  margin: 0px; }

SPAN#categoriesCB INPUT
{ border: 2px solid #000;
  vertical-align: middle;
  -moz-border-top-colors: #000 #fff;
  -moz-border-left-colors: #000 #fff;
  -moz-border-bottom-colors: #000 #fff;
  -moz-border-right-colors: #000 #fff; }

SPAN#categoriesCB LABEL
{ margin-left: 0px;
  margin-right: 1em; }

SPAN.content > INPUT
{ width: 380px; }

SPAN#allDay > INPUT
{ position: static;
  width: auto; }

LABEL#urlArea INPUT
{ position: static; }

A#attendeesHref
{ color: #00f;
  text-decoration: underline; }

DIV#attendeesMenu LI
{ padding-left: 20px; }

DIV#attendeesMenu LI.accepted
{ background-image: url("accepted.png");
  background-repeat: no-repeat;
  background-position: 5px center; }

DIV#attendeesMenu LI.needs-action
{ background-image: url("needs-action.png");
  background-repeat: no-repeat;
  background-position: 5px center; }

DIV#attendeesMenu LI.declined
{ background-image: url("declined.png");
  background-repeat: no-repeat;
  background-position: 5px center; }
