DIV#filterPanel
{ position: absolute;
  text-align: center;
  width: auto;
  top: 0;
  left: 0;
  padding: 3px 1em 0; }

SPAN.searchBox
{ float: none !important; }

IMG#progressIndicator
{ float: none;
  position: absolute;
  right: 1em;
  margin: 7px 5px; }}

INPUT#searchValue
{ margin: 0px; }

DIV#folders
{ position: absolute;
  left: 1em;
  right: 1em;
  top: 3em;
  bottom: 3em;
  background-color: #CCDDEC;
  padding: .5em;
  padding-top: 0px;
  overflow: auto;
  border-top: 1px solid #909090;
  border-left: 1px solid #909090;
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF; }

DIV#folders DIV
{ width: auto; }

DIV#buttons
{ position: absolute;
  text-align: center;
  height: 1.5em;
  left: 1em;
  right: 1em;
  bottom: 1em;  }
