DIV#filterPanel
{ position: absolute; n0border: 1px dotted blue;
  text-align: center;
  width: auto;
  n0line-height: 3em;
  top: 0;
  left: 0;
  padding: 3px 1em 0; }

SPAN.searchBox
{ float: none !important; }

IMG#progressIndicator
{ float: right;
  margin: 0;
  padding: 1em; }

INPUT#searchValue
{ margin: 0px; }

DIV#folders
{ position: absolute;
  left: 1em;
  right: 1em;
  top: 3em;
  bottom: 3em;
  background-color: #fff;
  padding: .5em;
  padding-top: 0px;
  overflow: auto;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 2px solid #222;
  border-left: 2px solid #222;
  -moz-border-top-colors: #9c9a94 #000 transparent;
  -moz-border-left-colors: #9c9a94 #000 transparent; }

DIV#folders DIV
{ width: auto; }

DIV#buttons
{ position: absolute;
  text-align: center;
  height: 1.5em;
  left: 1em;
  right: 1em;
  bottom: 1em;  }
