DIV#propertiesView
{ overflow: hidden;
  padding: 5px 5px 0 5px; }

DIV
{ clear: both; }

FIELDSET
{ margin-bottom: 5px;
  border: 1px solid #FFFFFF;
  border-top: 1px solid #909090;
  border-left: 1px solid #909090; }


SPAN.label
{ cursor: default;
  width: 10em;
  text-align: right;
  padding-right: 1em;
  line-height: 2em;
  float: left;
  display: block; }

SPAN.content
{ display: block;
  line-height: 1.5em;
  vertical-align: middle; }

SPAN.content INPUT.textField
{ width: 50%; }

BUTTON#colorButton
{ display: none;
  border: 1px solid #FFFFFF;
  border-top: 1px solid #909090;
  border-left: 1px solid #909090;
  width: 3em;
  height: 18px; }

DIV#buttons
{ padding: 10px;
  padding-top: 5px;
  text-align: right; }

INPUT#calendarSyncTag
{ width: 7em; }

#webCalendarUrl SPAN.content
{ white-space: nowrap;
  overflow: hidden; }
