SELECT#calendarList
{ width: 16em; }

#attendeesLabel
{ display: none; }

A#changeAttachButton
{ margin-left: 1em; }

SPAN.datePicker INPUT.textField
{ width: 7em; }

SPAN.timeDateControl A.button
{ border: 0; }

SPAN.content
{ position: absolute;
  line-height: 2em;
  top: -.25em;
  left: 8em;
  right: 1em; }

SPAN.content > INPUT.textField,
LABEL#commentArea textarea
{ width: 380px; }

LABEL, SPAN.checkBoxList
{ display: block;
  position: relative;
  line-height: 1.5em;
  height: 1.5em;
  margin-left: 0px;
  margin-bottom: .5em;
  width: 100%; }

LABEL#commentArea textarea
{ padding-bottom: 0em;
  top: 0px;
  left: 8em;
  position: absolute;
  padding: 0px;
  margin: 0px;
  margin-left: 1px; }

SPAN.headerContent
{
  width: 80%;
  height: 1px;
  background: #aaaaaa;
  top: 0.9em;
}
LABEL.title
{
  margin-top: 20px;
  font-weight: bold;
}
LABEL.titleNoSpace
{
  margin-top: 0px;
}

DIV#windowButtons
{
  width: 100%;
  position: absolute;
  bottom: 4em;
}

LABEL.calendarName
{ text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 97%;
} 

DIV#attendeesMenu
{ overflow: auto; }

DIV.fakeTextArea
{ overflow: auto;
  background: white;
  border-width: 2px;
  border-style: inset; 
  padding: 2px;
  height: 100%;
}

DIV#descriptionDiv {
  height: 80px;
}
SPAN.fixedHeight {
  height: 60px;
}
