SELECT#calendarList,
SELECT#categoryList,
SELECT#priorityList,
SELECT#repeatList,
SELECT#reminderList
{ width: 13em; }

#attendeesLabel
{ display: none; }

A#changeAttachButton
{ margin-left: 1em;
  position: absolute;
  right: 0;
  display: inline; }

SPAN.datePicker INPUT.textField,
SPAN.timeDateControl INPUT.textField
{ width: 7em; } 

SPAN.timeDateControl A.button
{ border: 0; }

SPAN.timeDateControl A:hover
{ text-decoration: none; }

SPAN.content
{ position: absolute;
  white-space: nowrap;
  line-height: 2em;
  top: -.25em;
  left: 8em;
  right: 1em; }

SPAN.content > INPUT.textField,
LABEL#commentArea textarea
{ max-width: 380px; }

LABEL, SPAN.checkBoxList
{ display: block;
  position: relative;
  line-height: 1.5em;
  height: 1.5em;
  margin-left: 0px;
  margin-bottom: .5em;
  width: 100%; }

LABEL#commentArea textarea
{ position: absolute;
  top: 0;
  width: 100%;
  left: 8em;
  right: 1em;
  margin: 0px;
  margin: auto;
  margin-left: 1px; }

SPAN.headerContent
{
  width: 80%;
  height: 1px;
  background: #aaaaaa;
  top: 0.9em;
}
LABEL.title
{
  margin-top: 1em;
  font-weight: bold;
}
LABEL.titleNoSpace
{
  margin-top: 0px;
}

DIV#windowButtons
{ position: absolute;
  bottom: 2em;
  left: auto;
  right: 2em; }

LABEL.calendarName
{ background-color: #fff;
  border-bottom: 1px solid #555;
  font-weight: bold;
  text-align: right;
  margin: 0;
  padding: 10px;
  width: auto;
}

DIV#attendeesMenu
{ overflow: auto; }

DIV.fakeTextArea
{ overflow: auto;
  background: white;
  border-width: 2px;
  border-style: inset; 
  padding: 2px;
  height: 100px; }

DIV#descriptionDiv,
DIV#attendeesDiv
{ height: 120px; }

DIV#descriptionDiv DIV.fakeTextArea
{ line-height: 1.5em;
  padding: 2px 4px;
  white-space: pre-wrap; }

/* #delegateEditor
{ padding-bottom: 1em; } */

#delegatedTo
{ background-image: url("abcard.png");
  background-repeat: no-repeat;
  background-position: 4px center;
  background-color: #CCDDEC;
  padding: 2px 2px 2px 24px;
  width: 260px; }

IMG#progressIndicator
{ float: none;
  position: absolute;
  right: 1em;
  margin: 0 5px; }

SPAN.content INPUT,
SPAN.content SELECT,
SPAN.content SPAN,
SPAN.timeDateControl INPUT,
SPAN.timeDateControl SELECT,
SPAN.timeDateControl SPAN
{ vertical-align: top; }

/* SOGoTimePicker */

.SOGoTimePickerMenu
{ position: absolute;
  z-index: 1000;
  background-image: url("dialog-top.png");
  background-repeat: no-repeat;
  color: #000;
  font-family: sans-serif;
  font-size: 11px;
  text-align: center; }

.SOGoTimePickerMenu > DIV
{ background-color: #fff;
  border: 1px solid #444;
  border-top: 0px;
  margin-top: 19px;
  padding: 5px; }

.SOGoTimePickerMenu .hours,
.SOGoTimePickerMenu .minutes,
.SOGoTimePickerMenu .button
{ clear: both; /* Opera fix */ }

.SOGoTimePickerMenu SPAN DIV
{ padding: 2px; }

.SOGoTimePickerMenu DIV.hours SPAN
{ float: left;
  width: 25px; }

.SOGoTimePickerMenu DIV.hours SPAN DIV
{ background-color: #ddd;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

.SOGoTimePickerMenu DIV.min5 SPAN
{ float: left; 
  width: 50px; }

.SOGoTimePickerMenu DIV.min1 SPAN
{ float: left; 
  width: 60px; }

.SOGoTimePickerMenu DIV.minutes SPAN DIV
{ border-right: 1px solid #fff;
  border-bottom: 1px solid #fff; }

.SOGoTimePickerMenu DIV.hours SPAN DIV:hover,
.SOGoTimePickerMenu DIV.minutes SPAN DIV:hover
{ background-color: #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  color: #333;
  cursor: pointer; }

.SOGoTimePickerMenu DIV.hours SPAN DIV.selected,
.SOGoTimePickerMenu DIV.minutes SPAN DIV.selected
{ background-color: #9ABCD8;
  border-right: 1px solid #9ABCD8;
  border-bottom: 1px solid #9ABCD8;
  color: #fff; }

.SOGoTimePickerMenu HR
{ clear: both;
  height: 0px;
  margin: 0px;
  padding: 0px;
  color: #fff;
  border: 0px; }