DIV.title
{ color: #000;
  vertical-align: bottom;
  padding-top: 8px;
  padding-left: 1em;
  padding: 5px;
  background-color: #fff;
  border-bottom: 1px solid #555; }

DIV.title SPAN
{ float: left;
  line-height: 14px;
  text-align: right;
  width: 120px; }

DIV.title SPAN.value
{ float: none;
  margin-left: 1em;
  font-size: 14px;
  font-weight: bold; }

DIV.title LABEL
{ display: block;
  clear: both; }

DIV.calendarUserRights,
DIV.basicUserRights
{ margin: 1em;}

DIV.calendarUserRights SPAN
{ float: left;
  clear: right;
  line-height: 2em;
  margin-right: 1em;
  text-align: right;
  width: 220px; }

DIV.buttons
{ text-align: right;
  margin: 1em;
  margin-top: 0px; }

DIV.dialog.none
{ position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 25px auto; }