
/******  Window & layouts ******/
BODY
{ 
  top: 1em;
  bottom: 1em;
  right: 1em;
  left: 1em;
  overflow:scroll;
}

.toolbar
{ display:none;}

DIV#rightSide
{
  position: absolute;
  left:230px;
  height:370px;
  width:330px;
}
  DIV#rightFrame
  {
    min-height:350px;
    max-height:350px;
    background-color:#FFFFFF;
    border-radius:8px;
    border-top: 1px solid #909090;
    border-left: 1px solid #909090;
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    padding-left:10px;
    padding-right:10px;
    overflow-y:scroll;
    overflow-x:hidden;
  }

DIV#leftSide
{
  position: absolute;
  height:370px;
  width:220px;
}

DIV.colorBox
{ display: inline-block; }

TD DIV.colorBox, TD DIV.colorBox:hover
{ border-color: #fff; }

TABLE#eventsList .colorBox
{ margin-right: 4px; }


/******************************/
/******  Print settings *******/

#title
{
  width:120px;
}

/******************************/
/******  What to print ********/

#dateRangeFrom, #dateRangeTo
{
  text-align: right;
}

#startingDate, #endingDate
{
  width:auto;
  vertical-align:8px;
}

#labelFrom, #labelTo
{
  vertical-align:8px;
}

/************************/
/******  Buttons ********/

#printButton
{
  font-weight:bold;
}

/**************************/
/******  RightSide ********/

.divEventsPreview
{
  border:solid black 2px;
  border-radius:5px;
  margin-top:4px;
  margin-bottom:4px;
}
.eventsPreview
{

}

#rightFrameEvents{

}


/*******************************************/
/******  Overriding the general.css ********/

TABLE.frame{
  width:97%;
  text-align: left;
  background:#dddddd;
  border-radius:8px;
  display:table;
}

SPAN.caption 
{
  background: -webkit-linear-gradient(bottom, #E6E7E6, #dddddd); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #E6E7E6, #dddddd); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #E6E7E6, #dddddd); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #E6E7E6, #dddddd); /* Standard syntax (must be last) */
}

/**************************************************/
/******  Calling print(); from the browser ********/

@media print
{
  .no-print, SPAN.caption
  {
    display:none;
  }
  DIV#rightSide
  {
    position:absolute;
    top:5px;
    left:5px;
    width:100%;
    height:100%;
  }
  DIV#rightFrame
  {
    border: none;
    overflow:visible;
  }
}
