DIV#addressBookSelector
{ margin: .5em; }

DIV#addressBookSelector SELECT
{ width: 32em; }

SELECT
{ width: 8em; }

DIV#buttons
{ color: #535D6D;
  visibility: visible;
  position: absolute;
  right: 1em;
  bottom: 1em; }

TR
{ width: 100% !important;
  border: 2px solid #0ff; }

DIV#editorTabs
{ position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 40px; }

DIV#editorTabs DIV.tab TD.titleCell
{ text-align: left;
  font-weight: bold; }

INPUT.textField
{ width: 60%; }

TD#htmlMailFormat
{ text-align: left !important; }

TABLE#emailInfos TD
{ width: 90%; }

TABLE#emailInfos TD.preferred
{ width: 10% !important;
  overflow: visible;
  text-align: center; }

DIV.tab TD.firstColumn INPUT.textField,
DIV.tab TD.secondColumn INPUT.textField
{ width: 35%; }

#categoryContainer
{ max-height: 400px;
  overflow: auto;
  padding: 0px;
  overflow-y: auto; }

#categoryContainer > DIV
{ margin: 0px;
  padding: 0px;
  border: 0px;
  height: 22px; }

INPUT.comboBoxField, #emptyCategory
{ width: 370px;
  height: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px; }

#otherInfos TEXTAREA
{ width: 70%; }

#birthday, #birthmonth
{ width: 18px; }

#birthyear
{ width: 36px; }
