
/**********  Window & layouts **********/
BODY {
  top: 1em;
  bottom: 1em;
  right: 1em;
  left: 1em;
  overflow:auto;
}

.toolbar {
  display:none;
}

DIV#leftSide {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  max-width:220px;
  overflow-y:auto;
}

DIV.colorBox {
  display: inline-block; 
}

TD DIV.colorBox, TD DIV.colorBox:hover {
  border-color: #fff; 
}

TABLE#eventsList .colorBox {
  margin-right: 4px; 
}

/********** Print settings **********/

INPUT#inputFieldTitle {
  width:120px;
}

DIV#rightFrameTitle {
  font-size:20px;
  text-decoration:underline;
}

/********** What to print **********/

/********** Buttons **********/

#printButtons {
  position:absolute;
  bottom:0;
  right:0;
}

#printButton {
  font-weight:bold;
}

/********** RightSide **********/

.divEventsPreview, .divTasksPreview {
  border:solid black 2px;
  border-radius:5px;
  margin-top:3px;
  overflow:hidden;
}

.eventsTitle, .tasksTitle {
  text-align:center;
}

.overdueTasks {
  color:red;
}
.completedTasks {
  font-style:italic;
}

DIV#rightSide {
  position: absolute;
  left:230px;
  top:0;
  bottom:0;
  right:0;
}
  DIV#rightFrame {
    position:absolute;
    right:0;
    left:0;
    top:12px;
    bottom:30px;
    background-color:#FFFFFF;
    border-radius:5px;
    border-top: 1px solid #909090;
    border-left: 1px solid #909090;
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding-left:5px;
    padding-right:5px;
    overflow-y:auto;
  }
    #rightFrameEvents {
      width:49.5%;
      float:left;
    }

    #rightFrameTasks {
      width:49.5%;
      float:right;
    }

    DIV#rightFrame TH {
        text-align: left;
    }

    DIV#rightFrame TD.cellFormat {
        color: #666;
        text-align: right;
        min-width:52px;
        vertical-align:top;
    }

/********** Overriding SchedulerUI.css **********/

DIV#calendarHeader {
  position:relative;
  top:0;
  height:38px;
  right: 0px;
}

DIV#calendarHeader DIV.calendarLabels
{ top: 1px;
  height: 20px; 
  border-left: 1px solid #ccc;
  text-align: center;
  font-style:italic;
  font-size:150%;
}

DIV#calendarHeader DIV.calendarLabels,
DIV#calendarHeader DIV.dayLabels,
DIV#calendarHeader DIV.days {
  position:relative;
  left: 0;
  margin-left:50px;
}

DIV#calendarHeader DIV.dayLabels
{ top: 1px; }

DIV#calendarHeader DIV.days {
  top: 0;
  height: 1px;
  left: 0;
  right: 0;
  cursor:initial;
}

DIV#daysView {
  position: relative;
  top: 0;
  right: 8px;
  border-right: 1px solid #ccc;
}

DIV#daysView DIV.hours {
    height: auto;
}

DIV#daysView DIV.day DIV.clickableHourCell {
 height: 29px;
 cursor:initial;
}

DIV#daysView DIV.hour {
 height: 27px;
}
.minutes15, .minutes30, .minutes45 {
  height: 25%;
}

DIV.event {
  z-index:1;
  background-color: white;
  border-radius:5px;
  border:1px solid black;

}
DIV.event > DIV.eventInside {
  width:100%;
  cursor:initial;
}

DIV#daysView DIV.event.starts0
{ top: 0px; }
DIV#daysView DIV.event.lasts0
{ height: 0px; }
DIV#daysView DIV.event.starts1
{ top: 7.5px; }
DIV#daysView DIV.event.lasts1
{ height: 7.25px; }
DIV#daysView DIV.event.starts2
{ top: 15.0px; }
DIV#daysView DIV.event.lasts2
{ height: 14.5px; }
DIV#daysView DIV.event.starts3
{ top: 22.5px; }
DIV#daysView DIV.event.lasts3
{ height: 21.75px; }
DIV#daysView DIV.event.starts4
{ top: 30.0px; }
DIV#daysView DIV.event.lasts4
{ height: 29.0px; }
DIV#daysView DIV.event.starts5
{ top: 37.5px; }
DIV#daysView DIV.event.lasts5
{ height: 36.25px; }
DIV#daysView DIV.event.starts6
{ top: 45.0px; }
DIV#daysView DIV.event.lasts6
{ height: 43.5px; }
DIV#daysView DIV.event.starts7
{ top: 52.5px; }
DIV#daysView DIV.event.lasts7
{ height: 50.75px; }
DIV#daysView DIV.event.starts8
{ top: 60.0px; }
DIV#daysView DIV.event.lasts8
{ height: 58.0px; }
DIV#daysView DIV.event.starts9
{ top: 67.5px; }
DIV#daysView DIV.event.lasts9
{ height: 65.25px; }
DIV#daysView DIV.event.starts10
{ top: 75.0px; }
DIV#daysView DIV.event.lasts10
{ height: 72.5px; }
DIV#daysView DIV.event.starts11
{ top: 82.5px; }
DIV#daysView DIV.event.lasts11
{ height: 79.75px; }
DIV#daysView DIV.event.starts12
{ top: 90.0px; }
DIV#daysView DIV.event.lasts12
{ height: 87.0px; }
DIV#daysView DIV.event.starts13
{ top: 97.5px; }
DIV#daysView DIV.event.lasts13
{ height: 94.25px; }
DIV#daysView DIV.event.starts14
{ top: 105.0px; }
DIV#daysView DIV.event.lasts14
{ height: 101.5px; }
DIV#daysView DIV.event.starts15
{ top: 112.5px; }
DIV#daysView DIV.event.lasts15
{ height: 108.75px; }
DIV#daysView DIV.event.starts16
{ top: 120.0px; }
DIV#daysView DIV.event.lasts16
{ height: 116.0px; }
DIV#daysView DIV.event.starts17
{ top: 127.5px; }
DIV#daysView DIV.event.lasts17
{ height: 123.25px; }
DIV#daysView DIV.event.starts18
{ top: 135.0px; }
DIV#daysView DIV.event.lasts18
{ height: 130.5px; }
DIV#daysView DIV.event.starts19
{ top: 142.5px; }
DIV#daysView DIV.event.lasts19
{ height: 137.75px; }
DIV#daysView DIV.event.starts20
{ top: 150.0px; }
DIV#daysView DIV.event.lasts20
{ height: 145.0px; }
DIV#daysView DIV.event.starts21
{ top: 157.5px; }
DIV#daysView DIV.event.lasts21
{ height: 152.25px; }
DIV#daysView DIV.event.starts22
{ top: 165.0px; }
DIV#daysView DIV.event.lasts22
{ height: 159.5px; }
DIV#daysView DIV.event.starts23
{ top: 172.5px; }
DIV#daysView DIV.event.lasts23
{ height: 166.75px; }
DIV#daysView DIV.event.starts24
{ top: 180.0px; }
DIV#daysView DIV.event.lasts24
{ height: 174.0px; }
DIV#daysView DIV.event.starts25
{ top: 187.5px; }
DIV#daysView DIV.event.lasts25
{ height: 181.25px; }
DIV#daysView DIV.event.starts26
{ top: 195.0px; }
DIV#daysView DIV.event.lasts26
{ height: 188.5px; }
DIV#daysView DIV.event.starts27
{ top: 202.5px; }
DIV#daysView DIV.event.lasts27
{ height: 195.75px; }
DIV#daysView DIV.event.starts28
{ top: 210.0px; }
DIV#daysView DIV.event.lasts28
{ height: 203.0px; }
DIV#daysView DIV.event.starts29
{ top: 217.5px; }
DIV#daysView DIV.event.lasts29
{ height: 210.25px; }
DIV#daysView DIV.event.starts30
{ top: 225.0px; }
DIV#daysView DIV.event.lasts30
{ height: 217.5px; }
DIV#daysView DIV.event.starts31
{ top: 232.5px; }
DIV#daysView DIV.event.lasts31
{ height: 224.75px; }
DIV#daysView DIV.event.starts32
{ top: 240.0px; }
DIV#daysView DIV.event.lasts32
{ height: 232.0px; }
DIV#daysView DIV.event.starts33
{ top: 247.5px; }
DIV#daysView DIV.event.lasts33
{ height: 239.25px; }
DIV#daysView DIV.event.starts34
{ top: 255.0px; }
DIV#daysView DIV.event.lasts34
{ height: 246.5px; }
DIV#daysView DIV.event.starts35
{ top: 262.5px; }
DIV#daysView DIV.event.lasts35
{ height: 253.75px; }
DIV#daysView DIV.event.starts36
{ top: 270.0px; }
DIV#daysView DIV.event.lasts36
{ height: 261.0px; }
DIV#daysView DIV.event.starts37
{ top: 277.5px; }
DIV#daysView DIV.event.lasts37
{ height: 268.25px; }
DIV#daysView DIV.event.starts38
{ top: 285.0px; }
DIV#daysView DIV.event.lasts38
{ height: 275.5px; }
DIV#daysView DIV.event.starts39
{ top: 292.5px; }
DIV#daysView DIV.event.lasts39
{ height: 282.75px; }
DIV#daysView DIV.event.starts40
{ top: 300.0px; }
DIV#daysView DIV.event.lasts40
{ height: 290.0px; }
DIV#daysView DIV.event.starts41
{ top: 307.5px; }
DIV#daysView DIV.event.lasts41
{ height: 297.25px; }
DIV#daysView DIV.event.starts42
{ top: 315.0px; }
DIV#daysView DIV.event.lasts42
{ height: 304.5px; }
DIV#daysView DIV.event.starts43
{ top: 322.5px; }
DIV#daysView DIV.event.lasts43
{ height: 311.75px; }
DIV#daysView DIV.event.starts44
{ top: 330.0px; }
DIV#daysView DIV.event.lasts44
{ height: 319.0px; }
DIV#daysView DIV.event.starts45
{ top: 337.5px; }
DIV#daysView DIV.event.lasts45
{ height: 326.25px; }
DIV#daysView DIV.event.starts46
{ top: 345.0px; }
DIV#daysView DIV.event.lasts46
{ height: 333.5px; }
DIV#daysView DIV.event.starts47
{ top: 352.5px; }
DIV#daysView DIV.event.lasts47
{ height: 340.75px; }
DIV#daysView DIV.event.starts48
{ top: 360.0px; }
DIV#daysView DIV.event.lasts48
{ height: 348.0px; }
DIV#daysView DIV.event.starts49
{ top: 367.5px; }
DIV#daysView DIV.event.lasts49
{ height: 355.25px; }
DIV#daysView DIV.event.starts50
{ top: 375.0px; }
DIV#daysView DIV.event.lasts50
{ height: 362.5px; }
DIV#daysView DIV.event.starts51
{ top: 382.5px; }
DIV#daysView DIV.event.lasts51
{ height: 369.75px; }
DIV#daysView DIV.event.starts52
{ top: 390.0px; }
DIV#daysView DIV.event.lasts52
{ height: 377.0px; }
DIV#daysView DIV.event.starts53
{ top: 397.5px; }
DIV#daysView DIV.event.lasts53
{ height: 384.25px; }
DIV#daysView DIV.event.starts54
{ top: 405.0px; }
DIV#daysView DIV.event.lasts54
{ height: 391.5px; }
DIV#daysView DIV.event.starts55
{ top: 412.5px; }
DIV#daysView DIV.event.lasts55
{ height: 398.75px; }
DIV#daysView DIV.event.starts56
{ top: 420.0px; }
DIV#daysView DIV.event.lasts56
{ height: 406.0px; }
DIV#daysView DIV.event.starts57
{ top: 427.5px; }
DIV#daysView DIV.event.lasts57
{ height: 413.25px; }
DIV#daysView DIV.event.starts58
{ top: 435.0px; }
DIV#daysView DIV.event.lasts58
{ height: 420.5px; }
DIV#daysView DIV.event.starts59
{ top: 442.5px; }
DIV#daysView DIV.event.lasts59
{ height: 427.75px; }
DIV#daysView DIV.event.starts60
{ top: 450.0px; }
DIV#daysView DIV.event.lasts60
{ height: 435.0px; }
DIV#daysView DIV.event.starts61
{ top: 457.5px; }
DIV#daysView DIV.event.lasts61
{ height: 442.25px; }
DIV#daysView DIV.event.starts62
{ top: 465.0px; }
DIV#daysView DIV.event.lasts62
{ height: 449.5px; }
DIV#daysView DIV.event.starts63
{ top: 472.5px; }
DIV#daysView DIV.event.lasts63
{ height: 456.75px; }
DIV#daysView DIV.event.starts64
{ top: 480.0px; }
DIV#daysView DIV.event.lasts64
{ height: 464.0px; }
DIV#daysView DIV.event.starts65
{ top: 487.5px; }
DIV#daysView DIV.event.lasts65
{ height: 471.25px; }
DIV#daysView DIV.event.starts66
{ top: 495.0px; }
DIV#daysView DIV.event.lasts66
{ height: 478.5px; }
DIV#daysView DIV.event.starts67
{ top: 502.5px; }
DIV#daysView DIV.event.lasts67
{ height: 485.75px; }
DIV#daysView DIV.event.starts68
{ top: 510.0px; }
DIV#daysView DIV.event.lasts68
{ height: 493.0px; }
DIV#daysView DIV.event.starts69
{ top: 517.5px; }
DIV#daysView DIV.event.lasts69
{ height: 500.25px; }
DIV#daysView DIV.event.starts70
{ top: 525.0px; }
DIV#daysView DIV.event.lasts70
{ height: 507.5px; }
DIV#daysView DIV.event.starts71
{ top: 532.5px; }
DIV#daysView DIV.event.lasts71
{ height: 514.75px; }
DIV#daysView DIV.event.starts72
{ top: 540.0px; }
DIV#daysView DIV.event.lasts72
{ height: 522.0px; }
DIV#daysView DIV.event.starts73
{ top: 547.5px; }
DIV#daysView DIV.event.lasts73
{ height: 529.25px; }
DIV#daysView DIV.event.starts74
{ top: 555.0px; }
DIV#daysView DIV.event.lasts74
{ height: 536.5px; }
DIV#daysView DIV.event.starts75
{ top: 562.5px; }
DIV#daysView DIV.event.lasts75
{ height: 543.75px; }
DIV#daysView DIV.event.starts76
{ top: 570.0px; }
DIV#daysView DIV.event.lasts76
{ height: 551.0px; }
DIV#daysView DIV.event.starts77
{ top: 577.5px; }
DIV#daysView DIV.event.lasts77
{ height: 558.25px; }
DIV#daysView DIV.event.starts78
{ top: 585.0px; }
DIV#daysView DIV.event.lasts78
{ height: 565.5px; }
DIV#daysView DIV.event.starts79
{ top: 592.5px; }
DIV#daysView DIV.event.lasts79
{ height: 572.75px; }
DIV#daysView DIV.event.starts80
{ top: 600.0px; }
DIV#daysView DIV.event.lasts80
{ height: 580.0px; }
DIV#daysView DIV.event.starts81
{ top: 607.5px; }
DIV#daysView DIV.event.lasts81
{ height: 587.25px; }
DIV#daysView DIV.event.starts82
{ top: 615.0px; }
DIV#daysView DIV.event.lasts82
{ height: 594.5px; }
DIV#daysView DIV.event.starts83
{ top: 622.5px; }
DIV#daysView DIV.event.lasts83
{ height: 601.75px; }
DIV#daysView DIV.event.starts84
{ top: 630.0px; }
DIV#daysView DIV.event.lasts84
{ height: 609.0px; }
DIV#daysView DIV.event.starts85
{ top: 637.5px; }
DIV#daysView DIV.event.lasts85
{ height: 616.25px; }
DIV#daysView DIV.event.starts86
{ top: 645.0px; }
DIV#daysView DIV.event.lasts86
{ height: 623.5px; }
DIV#daysView DIV.event.starts87
{ top: 652.5px; }
DIV#daysView DIV.event.lasts87
{ height: 630.75px; }
DIV#daysView DIV.event.starts88
{ top: 660.0px; }
DIV#daysView DIV.event.lasts88
{ height: 638.0px; }
DIV#daysView DIV.event.starts89
{ top: 667.5px; }
DIV#daysView DIV.event.lasts89
{ height: 645.25px; }
DIV#daysView DIV.event.starts90
{ top: 675.0px; }
DIV#daysView DIV.event.lasts90
{ height: 652.5px; }
DIV#daysView DIV.event.starts91
{ top: 682.5px; }
DIV#daysView DIV.event.lasts91
{ height: 659.75px; }
DIV#daysView DIV.event.starts92
{ top: 690.0px; }
DIV#daysView DIV.event.lasts92
{ height: 667.0px; }
DIV#daysView DIV.event.starts93
{ top: 697.5px; }
DIV#daysView DIV.event.lasts93
{ height: 674.25px; }
DIV#daysView DIV.event.starts94
{ top: 705.0px; }
DIV#daysView DIV.event.lasts94
{ height: 681.5px; }
DIV#daysView DIV.event.starts95
{ top: 712.5px; }
DIV#daysView DIV.event.lasts95
{ height: 688.75px; }
DIV#daysView DIV.event.starts96
{ top: 720.0px; }
DIV#daysView DIV.event.lasts96
{ height: 696.0px; }

/********** Overriding generic.css **********/

TABLE.frame {
  width:97%;
  text-align: left;
  background:#dddddd;
  border-radius:8px;
  display:table;
}

SPAN.caption {
  background: -webkit-linear-gradient(bottom, #E6E7E6, #dddddd); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #E6E7E6, #dddddd); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #E6E7E6, #dddddd); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #E6E7E6, #dddddd); /* Standard syntax (must be last) */
}

LABEL {
  margin-left:0;
}

/********** Calling print(); from the browser **********/

@media print{
  .no-print, SPAN.caption, SPAN.weeksHeader, SPAN.daysHeader {
    display:none;
  }
  BODY, DIV#calendarHeader DIV.dayLabels DIV.day, DIV#calendarHeader DIV.days DIV.weekEndDay, DIV#daysView DIV.day DIV.clickableHourCell.outOfDay,
  DIV#daysView DIV.weekEndDay DIV.clickableHourCell, DIV#daysView DIV.weekEndDay DIV.clickableHourCell.outOfDay,DIV#monthDaysView DIV.dayOfToday, 
  DIV.daysViewFor7Days#calendarHeader DIV.days DIV.dayOfToday, DIV.daysViewFor7Days#daysView DIV.dayOfToday DIV.clickableHourCell {
    background-color:white;
  }

  DIV#rightSide {
    position:static;
    top:5px;
    left:5px;
  }

  DIV#rightFrame {
    border:none;
    overflow:visible;
  }
  
  DIV#calendarHeader DIV.calendarLabels {
    font-size:120%;
  }
}
