LABEL
{ display: block;
  position: relative;
  line-height: 18px;
  height: 20px;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 100%; }

DIV#propertiesView
{ overflow: hidden;
  padding: 10px; }

SPAN.content
{ position: absolute;
  top: -.25em;
  left: 4em;
  right: 1em; }

BUTTON#colorButton
{ display: none;
  margin: 1px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 2px solid #222;
  border-left: 2px solid #222;
  -moz-border-top-colors: #9c9a94 #000 transparent;
  -moz-border-left-colors: #9c9a94 #000 transparent;
  width: 3em;
  height: 2em; }

DIV#buttons
{ padding: 10px;
  padding-top: 0px;
  text-align: right; }
