DIV.title
{ color: #000;
  vertical-align: bottom;
  padding-top: 8px;
  padding-left: 1em;
  height: 33px;
  background-color: #fff;
  border-bottom: 1px solid #555; }

DIV.title SPAN.value
{ margin-left: 1em;
  font-size: 14px;
  font-weight: bold; }

DIV.calendarUserRights
{ margin: 1em;}

DIV.calendarUserRights > TABLE
{ background-color: #fff;
  width: 45em;
  color: #999;
  border-collapse: collapse;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 2px solid #222;
  border-left: 2px solid #222;
  -moz-border-top-colors: #9c9a94 #000 transparent;
  -moz-border-left-colors: #9c9a94 #000 transparent; }

DIV.calendarUserRights > TABLE TR.permissions TH
{ color: #00f;
/*   background-color: #ddd;
 */  border-bottom: 1px solid #999; }

DIV.calendarUserRights > TABLE TH
{ width: 15em; }

DIV.calendarUserRights > TABLE TD.eventType
{ width: 5em;
  text-align: right;
  border-right: 1px solid #999; }

DIV.calendarUserRights > TABLE TD
{ text-align: center;
  border-top: 1px solid #cecbff; }

DIV.buttons
{ text-align: right;
  margin: 1em; }
