DIV#editorTabs
{ position: absolute;
  top: .5em;
  left: .5em;
  right: .5em;
  bottom: 2.5em;
  margin-bottom: 1em; }

DIV#editorTabs DIV.tab
{ padding: .5em;
  overflow: hidden; }

SELECT
{ width: 8em; }

DIV.tab TABLE
{ border: 1px solid #aaa;
  margin-top: -.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  padding: 1em;
  -moz-border-radius: 6px;
  display: table;
  text-align: right;
  width: 100%; }

SPAN.caption
{ text-align: center;
  cursor: default;
  background: #999;
  width: auto;
  padding: .25em;
  margin-left: 7px;
  border-top: 2px solid #fffffb;
  border-left: 2px solid #fffffb;
  border-bottom: 2px solid #888;
  border-right: 2px solid #888;
  background-color: #dbdad5;
  -moz-border-top-colors: -moz-buttonhoverface ThreeDHighlight;
  -moz-border-left-colors: -moz-buttonhoverface ThreeDHighlight;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow transparent;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow transparent; }

DIV#buttons
{ visibility: visible;
  position: absolute;
  right: 1em;
  bottom: 1em; }

TR
{ width: 100% !important;
  border: 2px solid #0ff; }

DIV#editorTabs DIV.tab TD.titleCell
{ text-align: left;
  font-weight: bold; }

/* DIV#contactInfos INPUT.textField,
DIV#contactInfos TABLE
{ width: 100%; }
 */

DIV#contactInfos INPUT.textField
{ width: 60%; }

TD#htmlMailFormat
{ text-align: left !important; }

TABLE#emailInfos TD
{ width: 90%; }

TABLE#emailInfos TD.preferred
{ width: 10% !important;
  overflow: visible;
  text-align: center; }

DIV.tab TD INPUT.textField
{ width: 60%;
  margin-left: .5em; }

DIV.tab TD.firstColumn INPUT.textField,
DIV.tab TD.secondColumn INPUT.textField
{ width: 35%; }

#otherInfos TEXTAREA
{ width: 70%; }
