DIV.title
{ color: #000;
  vertical-align: bottom;
  padding-top: 8px;
  padding-left: 1em;
  height: 33px;
  background-color: #fff;
  border-bottom: 1px solid #555; }

DIV.title SPAN.value
{ margin-left: 1em;
  font-size: 14px;
  font-weight: bold; }

DIV.calendarUserRights
{ margin: 1em; }

DIV.calendarUserRights SPAN
{ float: left;
  clear: right;
  line-height: 2em;
  margin-right: 1em;
  text-align: right;
  width: 200px; }

DIV.calendarUserRights HR
{ border: 0; }
DIV.buttons
{ text-align: right;
  margin: 1em;
  margin-top: 0px; }
