DIV.filterPanel
{ position: absolute;
  width: auto;
  top: 5px;
  left: 5px;
  right: 5px;}

.searchBox{
  background: white;
  margin:10px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 1px;
}

IMG#progressIndicator
{ float: none;
  position: absolute;
  right: 15px;
  margin: 7px 5px; }}

INPUT[name="search"]
{ margin: 0px; }

INPUT[name="search"].notfound
{ color: #f00 !important; }


DIV#folders
{ position: absolute;
  left: 15px;
  right: 15px;
  top: 55px;
  bottom: 55px;
  background-color: #fff;
  padding: .5em;
  overflow: auto;
  border: 1px solid #CCC; }

DIV#folders DIV
{ width: auto; }

DIV#buttons
{ position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;  }