SELECT#calendarList
{ width: 16em; }

#attendeesLabel
{ display: none; }

A#changeAttachButton
{ margin-left: 1em; }

SPAN.datePicker INPUT.textField
{ width: 7em; }

SPAN.timeDateControl A.button
{ border: 0; }

SPAN.content
{ position: absolute;
  line-height: 2em;
  top: -.25em;
  left: 8em;
  right: 1em; }

SPAN.content > INPUT.textField,
LABEL#commentArea textarea
{ max-width: 380px; }

LABEL, SPAN.checkBoxList
{ display: block;
  position: relative;
  line-height: 1.5em;
  height: 1.5em;
  margin-left: 0px;
  margin-bottom: .5em;
  width: 100%; }

LABEL#commentArea textarea
{ position: absolute;
  top: 0;
  width: 100%;
  left: 8em;
  right: 1em;
  margin: 0px;
  margin: auto;
  margin-left: 1px; }

SPAN.headerContent
{
  width: 80%;
  height: 1px;
  background: #aaaaaa;
  top: 0.9em;
}
LABEL.title
{
  margin-top: 1em;
  font-weight: bold;
}
LABEL.titleNoSpace
{
  margin-top: 0px;
}

DIV#windowButtons
{ position: absolute;
  bottom: 2em;
  left: auto;
  right: 2em; }

LABEL.calendarName
{ background-color: #fff;
  border-bottom: 1px solid #555;
  font-weight: bold;
  text-align: right;
  margin: 0;
  padding: 10px;
  width: auto;
}

DIV#attendeesMenu
{ overflow: auto; }

DIV.fakeTextArea
{ overflow: auto;
  background: white;
  border-width: 2px;
  border-style: inset; 
  padding: 2px;
  height: 100px;
  white-space: pre-wrap; }

DIV#descriptionDiv,
DIV#attendeesDiv
{ height: 120px; }
