SELECT#calendarList,
SELECT#categoryList,
SELECT#priorityList,
SELECT#repeatList,
SELECT#reminderList
{ width: 13em; }

#attendeesLabel
{ display: none; }

A#changeAttachButton
{ margin-left: 1em;
  position: absolute;
  right: 0;
  display: inline; }

SPAN.datePicker INPUT.textField,
SPAN.timeDateControl INPUT.textField
{ width: 7em; } 

SPAN.timeDateControl A.button
{ border: 0; }

SPAN.timeDateControl A:hover
{ text-decoration: none; }

SPAN.content
{ position: absolute;
  white-space: nowrap;
  line-height: 2em;
  top: -.25em;
  left: 8em;
  right: 0em;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 22px; }

LABEL, SPAN.checkBoxList
{ display: block;
  position: relative;
  line-height: 1.5em;
  height: 1.5em;
  margin-left: 0px;
  margin-bottom: .5em;
  width: 100%; }

LABEL#commentArea textarea
{ width: 97%; }

SPAN.headerContent
{
  width: 80%;
  height: 1px;
  top: 0.9em;
}
LABEL.title
{
  margin-top: 1em;
  font-weight: bold;
}
LABEL.titleNoSpace
{
  margin-top: 0px;
}

DIV#windowButtons
{ position: absolute;
  bottom: 2em;
  left: auto;
  right: 2em; }

LABEL.calendarName
{ background-color: #fff;
  border-bottom: 1px solid #555;
  font-weight: bold;
  text-align: right;
  margin: 0;
  padding: 10px;
  width: auto;
}

DIV#attendeesMenu
{ overflow: auto; }

DIV.fakeTextArea
{ overflow: auto;
  background: white;
  border-width: 2px;
  border-style: inset; 
  padding: 2px;
  height: 100px; }

DIV#descriptionDiv,
DIV#attendeesDiv
{ height: 120px; }

DIV#descriptionDiv DIV.fakeTextArea
{ line-height: 1.5em;
  padding: 2px 4px;
  white-space: pre-wrap; }

/* #delegateEditor
{ padding-bottom: 1em; } */

#delegatedTo
{ background-image: url("abcard.png");
  background-repeat: no-repeat;
  background-position: 4px center;
  background-color: #CCDDEC;
  padding: 2px 2px 2px 24px;
  width: 260px; }

IMG#progressIndicator
{ float: none;
  position: absolute;
  right: 1em;
  margin: 0 5px; }

SPAN.content INPUT,
SPAN.content SELECT,
SPAN.content SPAN,
SPAN.timeDateControl INPUT,
SPAN.timeDateControl SELECT,
SPAN.timeDateControl SPAN
{ vertical-align: top; }
