DIV#propertiesView
{ overflow: hidden;
  padding: 5px 5px 0 0; }

DIV
{ clear: both; }

SPAN.label
{ cursor: default;
  width: 10em;
  text-align: right;
  padding-right: 1em;
  line-height: 2em;
  float: left;
  display: block; }

SPAN.content
{ display: block;
  height: 2em;
  line-height: 1.5em;
  vertical-align: middle; }

SPAN.content INPUT
{ margin-top: 0; }

BUTTON#colorButton
{ display: none;
  margin: 1px 0 0 1px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 2px solid #222;
  border-left: 2px solid #222;
  -moz-border-top-colors: #9c9a94 #000 transparent;
  -moz-border-left-colors: #9c9a94 #000 transparent;
  width: 3em;
  height: 18px; }

DIV#buttons
{ padding: 10px;
  padding-top: 5px;
  text-align: right; }

INPUT#calendarSyncTag
{ width: 7em; }
