DIV#pageContent
{ padding: 10px;
  padding-top: 15px; }

#splitter
{ cursor: n-resize;
  top: 230px;
  left: 0px;
  right: 0px;
  height: 5px; }

LABEL
{ margin: 0px;
  padding: 0px; }

#pageContent INPUT,
#pageContent SELECT
{ background-color: #ccddec;
  padding: 1px;
  margin: 1px;
  border-width: 1px; }

#pageContent INPUT
{ padding-left: 2px; }

DIV.container
{ margin-bottom: 14px; }

DIV#filterRulesContainer,
DIV#filterActionsContainer
{ position: absolute;
  margin: 0px;
  border: 0px;
  padding: 0px;
  left: 10px;
  right: 10px; }

DIV#filterRulesContainer
{ top: 128px;
  height: 102px; }

DIV#filterActionsContainer
{ top: 235px;
  bottom: 0px; }

DIV#filterRules, DIV#filterActions
{ position: absolute;
  cursor: default;
  left: 0px;
  right: 0px;
  bottom: 21px;
  border-top: 1px solid #909090;
  border-left: 1px solid #909090;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  background: #ccddec;
  overflow: hidden;
  overflow-y: auto; }

DIV#filterRules
{ top: 0px; }

DIV#filterActions
{ top: 20px; }

DIV.bottomToolbar
{ position: absolute;
  left: 0px;
  right: 0px;
  margin: 0px;
  padding: 0px;
  bottom: 0px; }

DIV.rule,
DIV.action
{ overflow: hidden;
  padding-left: 2px;
  padding-right: 2px;
  width: 100%;
  border-bottom: 1px solid #9b9b9b; }

DIV.rule._selected,
DIV.action._selected
{ background-color: #9abcd8;
  color: #fff; }

SPAN.fieldContainer
{ width: 100px; }

SPAN.operatorContainer
{ width: 300px; }

SPAN.valueContainer INPUT
{ width: 160px; }

SPAN.fileintoArgument SELECT
{ max-width: 250px; }

SPAN.rejectArgument TEXTAREA
{ height: 54px;
  width: 90%;
  margin-left: 5%;
  padding-right: -50px; }
