TABLE.details
{ float: right;
  margin-right: 14px;
  text-align: right; }

TABLE.details TD
{ padding: 0; }

TABLE#referenceList
{ width: 100%; }

TABLE#referenceList THEAD TD
{ padding-right: 2px; }

TABLE#referenceList TBODY TD TR
{ background: #CCDDEC;
  text-align: left;}

TD.referenceListCell
{ padding-left: 2em;
  background: #CCDDEC;
  text-align: left;}

TABLE#referenceList TD INPUT
{ width: 97%; }

DIV#referenceListWrapper
{ background: #CCDDEC;
  overflow: auto;
  position: relative;
  right: 0;
  top: 0;
  left: 0;
  height: 300px;
  border-left: 1px solid #9B9B9B;
  margin: 2px; }

DIV#referenceListWrapper TR,
TR.referenceListRow
{ background: #CCDDEC;
  line-height: 2em; }

TD.referenceListCell
{ -moz-user-select: none; }

TD.referenceListCell SPAN,
TD.referenceListCell INPUT
{ margin-left: 3px; }

DIV#windowButtons
{ position: fixed;
  top: auto;
  bottom: 5em;
  left: 0px;
  right: 25px;
  height: 3.5em;
  line-height: 2em;
  vertical-align: middle;
  text-align: right; }


DIV#buttons
{ position: fixed;
  top: auto;
  bottom: 0px;
  left: 0px;
  right: 25px;
  height: 3.5em;
  line-height: 2em;
  color: #535D6D;
  vertical-align: middle;
  text-align: right; }

td {color: #535D6D;}

DIV#listEditor
{ padding: 5px; }

TD.editing
{ text-align: left; }
