TABLE.details
{ float: right;
  margin-right: 14px;
  text-align: right; }

TABLE.details TD
{ padding: 0; }

TABLE#referenceList
{ width: 100%; }

TABLE#referenceList THEAD TD
{ padding-right: 2px; }

TABLE#referenceList TBODY TD TR
{ background: #CCDDEC;
  text-align: left;}

TD.referenceListCell
{ padding-left: 2em;
  background: #CCDDEC;
  text-align: left;}

DIV#referenceListWrapper
{ background: #CCDDEC;
  overflow: auto;
  position: relative;
  right: 0;
  top: 0;
  left: 0;
  height: 300px;
  border-left: 1px solid #9B9B9B;
  margin: 2px; }

DIV#referenceListWrapper TR,
TR.referenceListRow
{ background: #CCDDEC;
  line-height: 2em; }

TD.referenceListCell,
TD.editing
{ background-repeat: no-repeat;
  background-position: 4px 50%;
  background-image: url('abcard.png');
  text-align: left;
  -moz-user-select: none; }

TD.referenceListCell SPAN,
TD.editing INPUT
{ margin-left: 24px; }

TD.editing INPUT,
TABLE#referenceList TD INPUT
{ width: 90%; }

TR.notfound TD.referenceListCell
{ color: #f00 !important; }

DIV#windowButtons
{ position: fixed;
  top: auto;
  bottom: 5em;
  left: 0px;
  right: 25px;
  height: 3.5em;
  line-height: 2em;
  vertical-align: middle;
  text-align: right; }

INPUT.textField
{ width: 100%; }

DIV#buttons
{ position: fixed;
  top: auto;
  bottom: 0px;
  left: 0px;
  right: 25px;
  height: 3.5em;
  line-height: 2em;
  color: #535D6D;
  vertical-align: middle;
  text-align: right; }

TD
{ color: #535D6D; }

DIV#listEditor
{ padding: 5px; }

