/* CSS for compose panel */

DIV#leftPanel
{ top: 0px;
  }

DIV#rightPanel
{ top: 0px;
  left: 0em;
  background-color: white; }

DIV#hiddenDragHandle
{ cursor: e-resize;
  border: 0px;
  top: 0px;
  left: 15em;
  width: 5px;
  bottom: 0; }

div#compose_panel div table
{ padding: 2px; }

TABLE#compose_table, TABLE#compose_table DIV
{ width: 100%; }

TABLE#compose_label
{ text-align: right; }

DIV#addressList
{ clear: left;
  height: 8em;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

TABLE#addressList
{ border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%; }

TABLE#addressList TD
{ background-color: #fff;
  border-top: 4px solid #f5f5f5;
  margin: 2px 0px;
  padding: 1px; }

TABLE#addressList TD.headerField
{ width: 120px; }

TABLE#addressList TD.headerField SELECT
{ background-color: #FAFAFA;
  border: 0 none;
  border-radius: 0;
  margin: 0;
  padding: 5px;
  width: 100%; }

TABLE#addressList TD.headerInput
{ background-image: url('abcard.png');
  background-repeat: no-repeat;
  background-position: 2px center;
  padding-left: 24px;
  padding-right: 4px; }

TABLE#addressList TD.headerInput INPUT
{ background: #fff !important;
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%; }

TABLE#addressList TR#lastRow SELECT
{ visibility: hidden; }

DIV#subjectRow {
  background-color: #FFFFFF;
  padding: 10px 0px;
  margin: 0px 10px;
  vertical-align: bottom;
  border-bottom: 1px solid #999999;}

DIV#subjectRow SPAN.headerField,
DIV#attachmentsArea SPAN.headerField
{ color: #999999;
  display: inline-block;
  padding: 0;
  vertical-align: bottom;
  margin-right: 10px;
  line-height: 2em;
}

DIV#subjectRow INPUT
{ background: none repeat scroll 0 0 #FFFFFF;
  border: 0 none;
  font-size: 2em;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  display: inline-block; }

div#compose_internetmarker
{ padding:          8px;
  text-align:       center;
  background-color: white;
  border-color:     red;
  border-width:     2px;
  border-style:     solid; }

div#headerArea
{ padding: 10px;
background-color: #f5f5f5;}

div#headerArea div.addressList
{ max-height: 10em;
  overflow: auto;
  overflow-x: hidden; }

div#attachmentsArea
{ display: none;
  position: relative;
  margin: 0 10px 10px 10px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc; }

hr.fieldSeparator
{ background-color: #848284;
  border: 0;
  clear: both;
  color: #848284;
  height: 1px;
  margin: 0px;
  padding: 0px;
  width: 100%; }

input.currentAttachment
{ background: #FFFFFF;
  border: medium none;
  height: 2em;
  position: absolute;
  right: 0;
  top: 10px;}

input.attachment
{ position: absolute;
  left: -1000px; }

div#compose_attachments_list
{ background-color: #ffffff;
  margin-left: 0px;
  padding: 2px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 2px solid #222;
  border-left: 2px solid #222;
  -moz-border-top-colors: #9c9a94 #000 transparent;
  -moz-border-left-colors: #9c9a94 #000 transparent; }

UL#attachments
{ cursor: default;
  margin: 5px 0px 0px;
  padding: 0px;
  height: 100%;
  display: block;
  list-style-type: none;
  list-style-image: none;
  overflow: auto;
  overflow-x: hidden;
  -moz-user-select: none;
  -khtml-user-select: none; }

UL#attachments LI
{ background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  white-space: nowrap;
}

UL#attachments LI IMG
{ vertical-align: bottom; }

#pageContent TEXTAREA
{ /*width: 95%;*/ }

TEXTAREA#text
{ display: none;
  background: #fff;
border:0px;
max-width: none;}

/* Contacts search pane */

DIV#contactsSearch
{ padding-top: 10px;
  margin-left: 0px; }

SELECT#contactFolder
{ font-size: 1.2em;
  margin: 0 10px;
  padding: 5px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
}

DIV#contactsListContent
{ position: absolute;
  top: 95px;
  left: 0px;
  right: 1px;
  bottom: 110px;
  margin: 0;
  overflow-y: auto; }

TABLE#contactsList
{ width: 100%; }

TABLE#contactsList TD,
TABLE#contactsList TH
{ overflow: hidden;
  line-height: 16px;
  height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 0px 5px 10px;
}
TABLE#contactsList THEAD TD {
    color: #999999;
}
TABLE#contactsList TD#nameHeader,
TABLE#contactsList TD#mailHeader
{ width: 50%;
  max-width: 50%; }

DIV.contactSelection
{
 z-index: 1;
 position: absolute;
 bottom: 10px;
 padding: 0em;
 left: 10px;
 right: 10px;
 border: 0px;
}
#contactSelectionButtons > span{
  color: #999
}
