/* CSS for compose panel */

DIV#leftPanel
{ top: 52px; }

DIV#rightPanel
{ top: 48px;
  left: 0em; }

DIV#hiddenDragHandle
{ cursor: e-resize;
  border: 0px;
  top: 52px;
  left: 15em;
  width: 5px;
  bottom: 0; }

div#compose_panel div table
{ padding: 2px; }

TABLE#compose_table, TABLE#compose_table DIV
{ width: 100%; }

TABLE#compose_label
{ text-align: right; }

DIV#addressList
{ clear: left;
  height: 8em;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

DIV.addressList
{ margin: 5px; }

TABLE#addressList
{ border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #909090;
  border-left: 1px solid #909090;
  border-spacing: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%; }

TABLE#addressList TD
{ background-color: #fff;
  border: 0px;
  border-bottom: 1px solid #C4C8FF;
  margin: 0px;
  padding: 1px; }

TABLE#addressList TD.headerField
{ border-right: 1px solid #C4C8FF; 
  width: 120px; }

TABLE#addressList TD.headerField SELECT
{ border: 1px solid #eee; }

TABLE#addressList TD.headerInput
{ background-image: url('abcard.png');
  background-repeat: no-repeat;
  background-position: 2px center;
  padding-left: 24px;
  padding-right: 4px; }

TABLE#addressList TD.headerInput INPUT
{ background: #fff !important;
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%; }

SPAN.headerField
{ line-height: 2.0em;
  padding-left: 0.5em; }

TABLE#addressList TR#lastRow SELECT
{ visibility: hidden; }

DIV#subjectRow SPAN.headerField
{ float: left; }

DIV#subjectRow INPUT
{ background: #fff;
  margin-left: 2px;
  padding: 0px 2px 0px 2px; }

div#compose_internetmarker
{ padding:          8px;
  text-align:       center;
  background-color: white;
  border-color:     red;
  border-width:     2px;
  border-style:     solid; }

div#headerArea
{ padding: 5px 0px; }

div#headerArea div.addressList
{ max-height: 10em;
  overflow: auto;
  overflow-x: hidden; }

input.currentAttachment
{ position: fixed;
  top: 1em;
  right: 1em; }

input.attachment
{ position: absolute;
  left: -1000px; }

#dropZone
{ position: absolute;
  background: #000 url('upload_document.png') no-repeat center center;
  opacity: 0.6;
  border: 4px dashed #fff;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 999; }

#dropZone div
{ position: absolute;
  color: #fff;
  font-size: 18px;
  height: 100px;
  width: 300px;
  margin: 60px 0 0 -150px;
  left: 50%;
  top: 50%;
  text-align: center;
}

#fileupload {
  margin-top: 5px;
  clear: both;
}

.button.fileinput-button
{ display: inline-block;
  float: none; }

UL#attachments
{ cursor: default;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  list-style-image: none;
  overflow: auto;
  overflow-x: hidden; 
  -moz-user-select: none;
  -khtml-user-select: none; }

UL#attachments LI
{ float: left; }

UL#attachments LI[data-filename]
{ white-space: nowrap;
  line-height: 18px;
  margin: 3px 6px; }

UL#attachments LI[data-filename] SPAN
{ margin-left: 5px; }

UL#attachments LI[data-filename] A,
UL#attachments LI[data-filename] SPAN
{ padding-left: 2px;
  vertical-align: top; }

UL#attachments LI IMG
{ vertical-align: top; }

UL#attachments .icon-attachment
{ background: url('attachment.png') no-repeat top left;
  display: inline-block;
  width: 16px;
  height: 16px; }
UL#attachments .progress0 .icon-attachment
{ background-position: 0px 0px; }
UL#attachments .progress1 .icon-attachment
{ background-position: -16px 0px; }
UL#attachments .progress2 .icon-attachment
{ background-position: -32px 0px; }
UL#attachments .progress3 .icon-attachment
{ background-position: -48px 0px; }
UL#attachments .progress4 .icon-attachment
{ background-position: -64px 0px; }
UL#attachments .progressDone .icon-attachment
{ background-position: -80px 0px; }
UL#attachments .progressDone .icon-attachment:hover
{ background-position: -96px 0px;
  cursor: pointer; }

#pageContent TEXTAREA
{ width: 99%; }

TEXTAREA#text
{ background: #fff; }

#cke_text
{ clear: both; }

/* Contacts search pane */

DIV#contactsSearch
{ border-right: 1px solid #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px; }

DIV#contactsSearch LABEL
{ display: block;
  margin: 0 0 5px 0; }

SELECT#contactFolder
{ margin-bottom: 5px; }

INPUT[name="search"]
{ position: absolute;
  top: 6.2em;
  left: 5px;
  right: 0px; /* doesn't work in FF */
  display: block;
  width: auto; }

DIV#contactsListContent
{ position: absolute;
  top: 9em;
  left: 0px;
  right: 0px;
  bottom: 110px;
  margin: 0;
  border-right: 1px solid #fff;
  background-color: #fff;
  overflow-y: auto; }

TABLE#contactsList
{ width: 100%; }

TABLE#contactsList TD,
TABLE#contactsList TH
{ overflow: hidden;
  line-height: 16px;
  height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap; }

TABLE#contactsList TD#nameHeader,
TABLE#contactsList TD#mailHeader
{ width: 50%;
  max-width: 50%; }

DIV.contactSelection
{
  z-index: 1;
  background: inherit;
  position: absolute;
  bottom: 0em;
  padding: 1em;
  left: 0px;
  right: 0px;
  height: 90px;
  text-align: right;
  background: #E6E7E6;
  border-top: 1px solid #fff;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}
