
/*************** Table adjustment *****************/

TABLE#searchMailHeader
{ width: 100%; }

TABLE#searchFiltersList
{
  border: 1px solid #909090;
  padding-top:2px;
  border-radius: 3px;
  display:inline-block;
  max-height:105px;
  height:105px;
  overflow:auto;
  width:100%;
  margin-top: 1em;
}

TABLE#searchMailFooter
{
   position:absolute;
   border: 1px solid #909090;
   border-radius: 3px;
   left:10px;
   width:680px;
   top:240px;
   height:194px;
}

.buttonsCell
{
  width:1%;
}

.inputsCell
{
  width:45%;
}

.scrollbar 
{
  overflow-y:auto;
  height:171px;
  position:absolute;
  top:21px;
  left:0;
  right:0;
}

.td_table_1, .td_table_2, .td_table_3, .td_table_4 {
 width:25%;
}

TD.sortasc {
  background:#bfc2bf;
  background-image: url(/SOGo.woa/WebServerResources/arrow-up.png);
  background-repeat: no-repeat;
  background-position:right center;
}

TD.sortdesc {
  background:#bfc2bf;
  background-image: url(/SOGo.woa/WebServerResources/arrow-down.png);
  background-repeat: no-repeat;
  background-position:right center;
}

.td_header {
  border-bottom: solid #909090 1px;
  border-right: solid #909090 1px;
  height:18px;
  width:20%;
  cursor:pointer;
  background: -webkit-linear-gradient(left top, #f0f1f0 , #e6e7e6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #f0f1f0, #e6e7e6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #f0f1f0, #e6e7e6); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #f0f1f0 , #e6e7e6); /* Standard syntax */
}

.td_header:hover
{text-decoration: underline; }

#buttonExpandHeader {
  width:3%;
  border-right:0;
}

@-moz-document url-prefix() {
  #buttonExpandHeader {
    width:1.5%;
    border-right:0;
  }

}

/*************** Button adjustment *****************/

#headerButtons
{
  width:27%;
}

#searchButton, #cancelButton
{
  margin-top:0;
}

.searchByList, .searchArgumentsList, .searchInput
{
  width:100%;
}

DIV#optionsButtons
{ 
  position:absolute;
  bottom:10px;
}

.button
{
  font-style:normal;
}

#resizeFrame
{
  text-align: -webkit-right;
  margin-top:1em;
}

#resizeButton
{
  display:inline-block;
  text-align: -webkit-center;
}

#resultsFound {
  position:absolute;
  bottom:25px;
  right:10px;
}

#imgPosition
{ z-index: 1; }

#listCollapse img
{ position: absolute; }

#listCollapse img.collapse
{ clip: rect(0 18px 18px 0);
  top: 1px;
  right: -16px; }

#listCollapse img.collapse:hover
{ clip: rect(0 36px 18px 18px);
  top: 1px;
  right: 2px; }

#listCollapse img.rise
{ clip: rect(18px 18px 36px 0);
  top: -17px;
  right:-16px;
  }

#listCollapse img.rise:hover
{ clip: rect(18px 36px 36px 18px);
  top: -17px;
  right:2px; }

@-moz-document url-prefix() {
  #listCollapse img
  { position: absolute; }

  #listCollapse img.collapse
  { clip: rect(0 18px 18px 0);
    top: 2px;
    right: -16px; }

  #listCollapse img.collapse:hover
  { clip: rect(0 36px 18px 18px);
    top: 2px;
    right: 2px; }

  #listCollapse img.rise
  { clip: rect(18px 18px 36px 0);
    top: -16px;
    right:-16px;
    }

  #listCollapse img.rise:hover
  { clip: rect(18px 36px 36px 18px);
    top: -16px;
    right:2px; }
}
  
#filterButtons 
{
  width:40px;
  cursor:pointer;
}

/* Glow */
.glow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.glow:hover, .glow:focus, .glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/*************** Lists *****************/
.hidden 
{ display:none; }



