/* CSS for compose panel */

div#compose_panel div table {
  padding: 2px;
}

TABLE#compose_table, TABLE#compose_table DIV
{ 
  width: 100%;
}

TABLE#compose_label
{
  text-align: right;
}

DIV#addressList
{
  height: 8em;
  margin-bottom: .25em;
  overflow-y: auto;
  overflow-x: hidden;
}

DIV.addressListElement
{ margin: 0px;
  margin-right: 8em;
  padding: 0px; }

SPAN.headerField
{ display: block;
  float: left;
  line-height: 1.8em;
  width: 5em;
  text-align: right; }

SPAN.headerInput > INPUT
{ width: 100%;
  padding-left: 24px;
  background-image: url('/SOGo.woa/WebServerResources/abcard.gif');
  background-repeat: no-repeat;
  background-position: 2px center;
  margin-right: -9em; }

DIV#subjectRow INPUT
{ background-image: none;
  width: 38em;
  padding-left: .5em; }

div#compose_internetmarker { 
  padding:          8px;
  text-align:       center;
  background-color: white;
  border-color:     red;
  border-width:     2px;
  border-style:     solid;
}

div#headerArea
{ border-top: 1px solid #fff;
  border-bottom: 1px solid #848284; }

div#attachmentsArea
{ display: none;
  float: right;
  width: 12em;
  height: 100%;
  margin: 0px;
  padding-right: 1em;
  padding-left: 5px;
  border-left: 1px solid #888; }

div#compose_attachments_list
{
  width: 100%;
  height: 10em;
  background-color: #ffffff;
  margin-left: 0px;
  padding: 2px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 2px solid #222;
  border-left: 2px solid #222;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow transparent;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow transparent;
}

TEXTAREA
{ position: absolute;
  left: 0em;
  right: 0em;
  bottom: 0em;
  top: 17em; }
