/* CSS for compose panel */

div#compose_panel div table
{ padding: 2px; }

TABLE#compose_table, TABLE#compose_table DIV
{ width: 100%; }

TABLE#compose_label
{ text-align: right; }

DIV#addressList
{ clear: left;
  height: 8em;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

SPAN.headerField
{ line-height: 1.8em;
  float: left;
  clear: left;
  text-align: right;
  min-width: 7em;
  padding-left: 0.5em; }

SPAN.headerInput INPUT
{ padding-left: 24px; /* offset text input */
  padding-right: 4px;
  background-image: url('/SOGo.woa/WebServerResources/abcard.gif');
  background-repeat: no-repeat;
  background-position: 2px center; }

DIV#subjectRow INPUT
{ background-image: none;
  padding-left: 4px; /* offset text input */
  padding-right: 4px; }

div#compose_internetmarker
{ padding:          8px;
  text-align:       center;
  background-color: white;
  border-color:     red;
  border-width:     2px;
  border-style:     solid; }

div#headerArea
{ border-top: 1px solid #fff; }

div#attachmentsArea
{ display: none;
  float: right;
  width: 12em;
  height: 100%;
  margin: 0px;
  padding-right: 1em;
  padding-left: 5px;
  border-left: 1px solid #888; }

hr
{ background-color: #848284;
  border: 0;
  clear: both;
  color: #848284;
  float: left;
  height: 1px;
  margin: 0px;
  padding: 0px;
  width: 100%; }

input.currentAttachment
{ position: absolute;
  top: 1em;
  right: 1em; }

input.attachment
{ position: absolute;
  left: -1000px; }

div#compose_attachments_list
{ background-color: #ffffff;
  margin-left: 0px;
  padding: 2px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 2px solid #222;
  border-left: 2px solid #222;
  -moz-border-top-colors: #9c9a94 #000 transparent;
  -moz-border-left-colors: #9c9a94 #000 transparent; }

UL#attachments
{ cursor: default;
  margin: 0px;
  padding: 0px;
  height: 9em;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 2px solid #222;
  border-left: 2px solid #222;
  background-color: #fff;
  -moz-border-top-colors: #9c9a94 #000 transparent;
  -moz-border-left-colors: #9c9a94 #000 transparent;
  list-style-type: none;
  list-style-image: none;
  overflow: auto;
  overflow-x: hidden; }

UL#attachments LI
{ white-space: nowrap;
  padding-bottom: 1px; }

UL#attachments LI IMG
{ vertical-align: bottom; }

#pageContent TEXTAREA
{ position: absolute;
  left: 0em;
  right: 0em;
  bottom: 0em;
  top: 13em;
  width: 100%; }
