/* CSS for compose panel */

DIV#leftPanel
{ position: absolute;
  top: 52px;
  left: 0px;
  width: 15em;
  bottom: 0px;
  overflow: hidden; }

DIV#rightPanel
{ position: absolute;
  top: 48px;
  left: 0em;
  right: 0px;
  bottom: 0px;
  margin-left: 5px;
  overflow: hidden; }

DIV#hiddenDragHandle
{ cursor: e-resize;
  border: 0px;
  top: 52px;
  left: 15em;
  width: 5px;
  bottom: 0; }

div#compose_panel div table
{ padding: 2px; }

TABLE#compose_table, TABLE#compose_table DIV
{ width: 100%; }

TABLE#compose_label
{ text-align: right; }

DIV#addressList
{ clear: left;
  height: 8em;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

DIV.addressList
{ margin: 5px; }

TABLE#addressList
{ border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #909090;
  border-left: 1px solid #909090;
  border-spacing: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%; }

TABLE#addressList TD
{ background-color: #fff;
  border: 0px;
  border-bottom: 1px solid #C4C8FF;
  margin: 0px;
  padding: 1px; }

TABLE#addressList TD.headerField
{ border-right: 1px solid #C4C8FF; 
  width: 120px; }

TABLE#addressList TD.headerField SELECT
{ border: 1px solid #eee; }

TABLE#addressList TD.headerInput
{ background-image: url('abcard.png');
  background-repeat: no-repeat;
  background-position: 2px center;
  padding-left: 24px;
  padding-right: 4px; }

TABLE#addressList TD.headerInput INPUT
{ background: #fff !important;
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%; }

SPAN.headerField
{ line-height: 2.0em;
  padding-left: 0.5em; }

TABLE#addressList TR#lastRow SELECT
{ visibility: hidden; }

DIV#subjectRow SPAN.headerField
{ float: left; }

DIV#subjectRow INPUT
{ background: #fff;
  margin-left: 2px;
  padding: 0px 2px 0px 2px; }

div#compose_internetmarker
{ padding:          8px;
  text-align:       center;
  background-color: white;
  border-color:     red;
  border-width:     2px;
  border-style:     solid; }

div#headerArea
{ padding: 5px 0px; }

div#headerArea div.addressList
{ max-height: 10em;
  overflow: auto;
  overflow-x: hidden; }

div#attachmentsArea
{ display: none;
  float: right;
  width: 200px;
  padding: 2px 5px 0;
  margin: auto;
  border-left: 1px solid #888; }

hr.fieldSeparator
{ background-color: #848284;
  border: 0;
  clear: both;
  color: #848284;
  height: 1px;
  margin: 0px;
  padding: 0px;
  width: 100%; }

input.currentAttachment
{ position: fixed;
  top: 1em;
  right: 1em; }

input.attachment
{ position: absolute;
  left: -1000px; }

div#compose_attachments_list
{ background-color: #ffffff;
  margin-left: 0px;
  padding: 2px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 2px solid #222;
  border-left: 2px solid #222;
  -moz-border-top-colors: #9c9a94 #000 transparent;
  -moz-border-left-colors: #9c9a94 #000 transparent; }

UL#attachments
{ cursor: default;
  margin: 0px;
  padding: 0px;
  height: 100%;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 2px solid #222;
  border-left: 2px solid #222;
  background-color: #fff;
  -moz-border-top-colors: #9c9a94 #000 transparent;
  -moz-border-left-colors: #9c9a94 #000 transparent;
  list-style-type: none;
  list-style-image: none;
  overflow: auto;
  overflow-x: hidden; 
  -moz-user-select: none;
  -khtml-user-select: none; }

UL#attachments LI
{ white-space: nowrap;
  padding-bottom: 1px; }

UL#attachments LI IMG
{ vertical-align: bottom; }

#pageContent TEXTAREA
{ width: 99%; }

TEXTAREA#text
{ display: none;
  background: #fff; }

/* Contacts search pane */

DIV#contactsSearch
{ border-right: 1px solid #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px; }

DIV#contactsSearch LABEL
{ display: block;
  margin: 0 0 5px 0; }

SELECT#contactFolder
{ margin-bottom: 5px; }

INPUT#searchValue
{ position: absolute;
  top: 6.2em;
  left: 5px;
  right: 0px; /* doesn't work in FF */
  display: block;
  width: auto; }

DIV#contactsListContent
{ position: absolute;
  top: 9em;
  left: 0px;
  right: 0px;
  bottom: 110px;
  margin: 0;
  border-right: 1px solid #fff;
  background-color: #fff;
  overflow-y: auto; }

TABLE#contactsList
{ width: 100%; }

TABLE#contactsList TD,
TABLE#contactsList TH
{ overflow: hidden;
  line-height: 16px;
  height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap; }

TABLE#contactsList TD#nameHeader,
TABLE#contactsList TD#mailHeader
{ width: 50%;
  max-width: 50%; }

DIV.contactSelection
{
  z-index: 10;
  background: inherit;
  position: absolute;
  bottom: 0em;
  padding: 1em;
  left: 0px;
  right: 0px;
  height: 90px;
  text-align: right;
  background: #E6E7E6;
  border-top: 1px solid #fff;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}
