DIV#preferencesTabs
{ position: absolute;
  top: 70px;
  left: 5px;
  right: 5px;
  bottom: 5px; }

DIV#passwordView
{ padding-top: 3em;
  padding-right: 10em; }

TEXTAREA#signature
{ position: absolute;
  width: 100%;
  height: 100%; }

DIV#categoriesListWrapper
{ overflow: auto;
  position: absolute;
  bottom: 30px;
  right: 2em;
  top: 88px;
  left: 2em;
  padding: 0px;
  margin-top: 2px;
  border-left: 1px solid #9b9b9b;
  background: #ccddec; }

TABLE#categoriesList
{ width: 100%; }

#colorTableHeader
{ width: 50px; }

TR.categoryListRow
{ background: #ccddec;
  cursor: pointer; }

TD.categoryListCell
{ -moz-user-select: none; }

DIV.colorBox
{ border: 1px solid #333333;
  font-size: 80%;
  font-weight: normal;
  height: 0.75em;
  margin: 0 3px 0 0;
  width: 1em; }

DIV#windowButtons
{ position: fixed;
  bottom: 20px;
  left: 0px;
  right: 25px;
  vertical-align: middle;
  text-align: right; }

#vacation, #forward
{ padding-left: 2.5em; }
#vacation LABEL
{ margin-left: 0; }
#vacation TEXTAREA
{ width: 100%; }
#vacation TEXTAREA#autoReplyText
{ height: 100px; }
#vacation TEXTAREA#autoReplyEmailAddresses
{ height: 50px; }
#vacation SPAN
{ float: right; }
#vacation BR
{ clear: both; }

DIV.bottomToolbar
{ position: absolute;
  bottom: 9px;
  left: 2em;
  right: 2em; 
  margin: 0px; }
