DIV#preferencesTabs
{ position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px; }

DIV.tabsContainer > DIV.tabs{
  bottom: 0px;
}

DIV.bottomToolbar
{ padding: 0px;
  margin: 0px;
}

#mailAccountsToolbar
{ left: 5px;
  bottom: 9px;
  width: 130px; }

TABLE.categoriesList
{ width: 100%; }

#colorTableHeader
{ width: 50px; }

TR.categoryListRow
{ background: #ccddec;
  cursor: pointer; }

TD.categoryListCell
{ -moz-user-select: none; }

.inline-field{
  width: auto;
  margin-right: 10px;
}
.inline-field select{
  width: 100%;
}
DIV.colorBox
{ border: 1px solid #333333;
  font-size: 80%;
  font-weight: normal;
  height: 0.75em;
  margin: 0 3px 0 0;
  width: 1em; }

DIV.listWrapper
{ overflow: auto;
  height: 150px;
  padding: 0px;
  margin-top: 2px;
  border: 1px solid #ccc;
  background: #fff;
  margin-bottom: 0;}

#contactsCategoriesListWrapper
{ overflow: auto;
  padding: 0px;
  border: 1px solid #ccc;
  background: #fff;
  height: 200px;}

/* time date control */
SPAN.timeDateControl INPUT.textField
{ width: 7em;
  vertical-align: text-bottom; }

/* vacation, forward */
#vacation TEXTAREA#autoReplyText
{ height: 100px; }
#vacation TEXTAREA#autoReplyEmailAddresses,
#forward TEXTAREA
{ height: 50px; }
#vacation SPAN.timeDateControl,
#vacation SPAN.timeDateControl SPAN
{ float: none;
  vertical-align: middle; }
#vacation BR,
#passwordView BR
{ clear: both; }

/* mail filters */
DIV#filtersListWrapper
{ bottom: 30px;
  right: 2em;
  top: 208px;
  left: 2em; }

DIV#filtersListWrapper TD,
DIV.bottomToolbar
{ -khtml-user-select: none;
  -moz-user-select: none; }

TABLE#filtersList
{ width: 100%;
  cursor: default; }

TH#activeTableHeader
{ width: 50px;
  text-align: center; }

TD.activeColumn
{ text-align: center; }

P#passwordFields,
P#passwordError
{ width: 410px; 
  text-align: right; }

P.errorMessage#passwordError
{ color: #f00; }

P.infoMessage#passwordError
{ color: #00f; }

/* mail accounts */
#mailAccountsListWrapper, #mailAccountEditor
{ bottom: 30px;
  top: 5px;
  left: 0px;
  margin: 0px; }

#mailAccountEditor
{ position: absolute;
  overflow: auto;
  bottom: 30px;
  left: 140px;
  padding: 0px;
  right: 5px; }

#mailAccountEditor dl
{ margin: 5px; }

#mailAccountsListWrapper
{ overflow-x: hidden;
  left: 5px;
  width: 130px;
  border-top: 1px solid #9b9b9b;
position: relative;}

#mailAccountsList
{ position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px;
  padding: 0px; }

#mailAccountsList LI
{ cursor: pointer;
  white-space: nowrap;
  padding-left: 5px;
  height: 22px;
  line-height: 22px; }

#mailAccountsList LI.readonly
{ cursor: default;
  font-style: italic; }

#serverName
{ width: 150px; }

#port
{ width: 50px; }

#userName, #password
{ width: 200px; }

#fullName, #email, #replyTo
{ width: 200px; }

#actSignature
{ color: #55f;
  cursor: pointer;
  text-decoration: underline; }

#actSignature.disabled
{ color: #999;
  cursor: default;
  text-decoration: none; }

#signatureDialog
{ position: absolute;
  left: 10px;
  width: auto !important;
  right: 10px;
  top: 50px; }

#cke_signature, #cke_signature div
{ padding: 0px; }

#signature
{ width: 100%;
  height: 90px;
  margin: 0px auto;
  margin-bottom: 10px; }

#receiptOptions
{ text-align: right; }

#colorPickerDialog
{ width: 146px;
  height: 191px; }

#colorPickerDialog.dialog.right > DIV
{ padding-left: 10px; }

.dialog.bottom > DIV:before {
  top: auto;
  bottom: 12px;
}
.dialog.bottom > DIV:after {
  top: auto;
  bottom: 13px;
}

