DIV#preferencesTabs
{ position: absolute;
  top: 6.5em;
  left: .5em;
  right: .5em;
  bottom: .5em; }

DIV#general
{ padding-top: 2em;
  padding-left: 2em;
  padding-right: 5em; }

DIV#general LABEL
{ text-align: left;
  margin-left: 0px;
  white-space: normal; }

DIV#passwordView
{ padding-top: 3em;
  padding-right: 10em; }

DIV#identitiesView,
DIV#vacationView
{ padding: 5px 5px 5px 0px;
  overflow: hidden; }

TEXTAREA#signature
{ position: absolute;
  top: 5px;
  bottom: 5px;
  right: 5px;
  left: 5px;
  display: block;
  height: 345px;
  width: 415px;}

TABLE#categoriesList
{ width: 100%; }

DIV#categoriesListWrapper
{ overflow: auto;
  position: absolute;
  bottom: 30px;
  right: 2em;
  top: 88px;
  left: 2em;
  padding: 0px;
  margin-top: 2px;
  border-left: 1px solid #9B9B9B;
  background: #CCDDEC; }

DIV.colorBox
{ border: 1px solid #333333;
  font-size: 80%;
  font-weight: normal;
  height: 0.75em;
  margin: 0 3px 0 0;
  width: 1em; }

TR.categoryListRow
{ background: #CCDDEC; }

TD.categoryListCell
{ -moz-user-select: none; }

DIV#windowButtons
{ position: fixed;
  bottom: 20px;
  left: 0px;
  right: 25px;
  vertical-align: middle;
  text-align: right; }

#vacation, #forward
{ padding-left: 2.5em; }
#vacation LABEL
{ margin-left: 0; }
#vacation TEXTAREA
{ width: 100%; }
#vacation TEXTAREA#autoReplyText
{ height: 100px; }
#vacation TEXTAREA#autoReplyEmailAddresses
{ height: 50px; }
#vacation SPAN
{ float: right; }
#vacation BR
{ clear: both; }

DIV.bottomToolbar
{ position: absolute;
  bottom: 9px;
  left: 2em;
  right: 2em; 
  margin: 0px; }
