DIV#preferencesTabs
{ position: absolute;
  top: 5em;
  left: .5em;
  right: .5em;
  bottom: .5em; }

DIV#general
{ padding-top: 2em;
  padding-left: 2em;
  padding-right: 5em; }

DIV#general LABEL
{ text-align: left;
  margin-left: 0px;
  white-space: normal; }

DIV#mailOptionsView TEXTAREA
{ width: 420px;
  height: 4em; }

DIV#passwordView
{ padding-top: 3em;
  padding-right: 10em; }

DIV#identitiesView
{ padding-top: 5px;
  padding-left: 5px; }

#signature
{ width: 380px;
  height: 125px; }
