DIV#preferencesTabs
{ position: absolute;
  top: 5em;
  left: .5em;
  right: .5em;
  bottom: .5em; }

DIV#general
{ padding-top: 2em;
  padding-left: 2em;
  padding-right: 5em; }

DIV#general LABEL
{ text-align: left;
  margin-left: 0px;
  white-space: normal; }

DIV#passwordView
{ padding-top: 3em;
  padding-right: 10em; }

DIV#identitiesView
{ padding: 5px 5px 5px 0px;
  overflow: hidden; }

TEXTAREA#signature
{ height: 100%;
  width: 100%; }

TABLE#categoriesList
{ width: 100%; }

DIV#categoriesListWrapper
{ overflow: auto;
  position: absolute;
  bottom: 30px;
  right: 0;
  top: 8em;
  left: 0;
  padding: 2px; }

DIV.colorBox
{ border: 1px solid #333333;
  font-size: 80%;
  font-weight: normal;
  height: 0.75em;
  margin: 0 3px 0 0;
  width: 1em; }

TR.categoryListRow
{ background: #FFFFFF; }
TR._selected
{ background: #333333; }

TD.categoryListCell
{ -moz-user-select: none; }

DIV#windowButtons
{ position: fixed;
  top: auto;
  bottom: 0px;
  left: 0px;
  right: 25px;
  height: 3.5em;
  line-height: 2em;
  vertical-align: middle;
  text-align: right; }
