
DIV#windowButtons
{ position: absolute;
  bottom: 15px;
  left: 0px;
  right: 15px;
  text-align: right; }

DIV#pageContent
{ padding: 1em; }

TABLE.frame TH
{ font-weight: normal;
  text-align: right;
  width: 5em; }

TABLE.frame TD
{ text-align: left; 
padding: 3px 0px;}

TABLE TD.label
{ width: 11em; }

INPUT.textField
{ margin: 0px 0.7em;
  width: 2em; }

SPAN.datePicker INPUT.textField
{ width: 6em; }

SPAN.datePicker SPAN IMG
{ vertical-align: top; }

/* Days selectors */
#recurrence_form input,
#recurrence_form select {
    display: inline-block;
    margin: 0px 3px
}


DIV#week, DIV#month
{ display: inline-block; vertical-align: middle;}

SPAN.week
{ clear: both;
  display: block; }

SPAN.week DIV
{ background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 27px;
  cursor: pointer;
  display: block;
  float: left;
  margin: 2px; }

SPAN.week DIV._selected
{ background-color: #ff7900;
  border-color: #ff7900;
  color: #fff; }

SPAN.week DIV P
{ display: block; 
  margin: 10px 0px;
  padding: 0px;
  text-align: center; }

DIV#week SPAN.week DIV P,
DIV#month SPAN.week DIV P
{ width: 36px; }

SPAN.week DIV:hover
{ border: 1px solid #c35f00; }

A.calendarButton
{ right: 240px; }

