DIV.appointmentLabel
{ display: block;
  position: relative;
  line-height: 1.8em;
  text-align: right;
  width: 3em; }

DIV#eventView
{ overflow: hidden;
  padding: .5em; }

DIV.appointmentRightLabel
{ display: inline;
  vertical-align: middle; }

LABEL, SPAN.checkBoxList
{ display: block;
  position: relative;
  height: 1.5em;
  margin-left: .5em;
  margin-bottom: .5em;
  width: 100%; }

LABEL#commentArea
{ height: 15em; }

LABEL#commentArea textarea
{ padding: 0;
  margin: 0;
  width: 380px;
  height: 15em; }

SPAN.checkBoxList#participantsCB
{ height: 7em; }

SPAN.checkBoxList#categoriesCB
{ height: 3em; }

DIV#participants UL.contactList
{ height: 4.5em; }

SPAN.checkBoxList SPAN.content LABEL
{ display: inline; }

SPAN.content
{ position: absolute;
  top: -.25em;
  left: 6em;
  right: 1em; }

TEXTAREA
{ position: absolute;
  top: 0px;
  left: 6em;
  vertical-align: bottom;
  bottom: 1em;
  right: 1em;
  padding-bottom: 0em; }

A#changeUrlButton
{ margin-left: 1em; }

A#detailsButton
{ position: absolute;
  right: 1em;
  z-index: 1; }

SPAN.contactSelectorButtons
{ vertical-align: top;
  line-height: 2em; }

SPAN#cycleSelectionFirstLevel,
SPAN#cycleSelectionSecondLevel
{ visibility: hidden;
  margin-left: 1em; }

SPAN#cycleSelectionSecondLevel SPAN.timeDateControl
{ position: static;
  margin: 0px; }

SPAN#categoriesCB INPUT
{ border: 2px solid #000;
  vertical-align: middle;
  -moz-border-top-colors: #000 #fff;
  -moz-border-left-colors: #000 #fff;
  -moz-border-bottom-colors: #000 #fff;
  -moz-border-right-colors: #000 #fff; }

SPAN#categoriesCB LABEL
{ margin-left: 0px;
  margin-right: 1em; }

SPAN#allDay > INPUT
{ position: static; }

SPAN.content > INPUT
{ width: 390px; }

INPUT#startDateCB,
INPUT#dueDateCB,
INPUT#statusPercent,
LABEL#urlArea INPUT
{ position: static; }

INPUT#statusPercent
{ width: 2em; }

INPUT#statusTime_date
{ width: 5em; }
