{
  requires = ( MAIN, Mailer );

  publicResources = (
  );

  factories = {
  };
  
  classes = {
    SOGoSieveBaseObject = {
      superclass = "SOGoObject";
    };

    SOGoSieveScriptsFolder = {
      superclass = "SOGoSieveBaseObject";
    };
    
    SOGoSieveScriptObject = {
      superclass = "SOGoSieveBaseObject";
    };
  };
}
