# Created by .ignore support plugin (hsz.mobi)
WebServerResources/css
WebServerResources/scss/.sass-cache
WebServerResources/css/styles.css
WebServerResources/css/styles.css.map
WebServerResources/.sass-cache