/// checkbox.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-

$checkbox-min-height: 40px !default;

@import 'extends';

// Checkbox for the sidenav folders list
// -------------------------------------
md-sidenav md-checkbox {
  min-height: $checkbox-width;
  .md-container {
    top: 50%;
    margin: 0;
  }
}

// Dense mode
md-sidenav .md-dense :not(.md-dense-disabled) md-checkbox:not(.md-dense-disabled) {
  min-height: $checkbox-width;
}

//Checkbox with input container
md-checkbox.sg-checkbox--input-container {
  margin: auto;
  margin-left: 16px;
}

// Checkbox in an inline form beside a select element
.md-inline-form md-checkbox.sg-checkbox--with-select {
  margin: 2.5*$baseline-grid $baseline-grid*0.5 3*$baseline-grid + 2 0;
}

// Checkbox for the sg-checkmark directive
// ---------------------------------------
.sg-checkmark {
  md-icon {
    opacity: 0;
  }
  &.sg-checked md-icon {
    opacity: 1;
  }
  span[ng-transclude] {
    display: inline-block;
  }
}
