/// checkbox.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-
@import 'extends';

// Checkbox for the sidenav folders list
// -------------------------------------
md-sidenav md-checkbox {
    margin: 0;
}

// Checkbox in an inline form beside a select element
.md-inline-form md-checkbox.sg-checkbox--with-select {
  margin: 2.5*$baseline-grid $baseline-grid/2 3*$baseline-grid + 2 0;
}

// Checkbox for the sg-checkmark directive
// ---------------------------------------
.sg-checkmark {
  md-icon {
    opacity: 0;
  }
  &.sg-checked md-icon {
    opacity: 1;
  }
}
